/*
Syntax error: File to import not found or unreadable: animate/animate.
              Load path: /Users/allan/Documents/Work/Muckrock/local-server (DEPRECATED)
        on line 9 of patterns/scss/style.scss

4: // Do not appear in compiled CSS
5: 
6: @import                 'lib/normalize';
7: @import                 'bourbon/bourbon';
8: @import                 'neat/neat';
9: @import                 'animate/animate';
10: 
11: $large-breakpoint:      769px;
12: $medium-breakpoint:     321px;
13: $large-layout:          new-breakpoint(min-width $large-breakpoint 12);
14: $medium-layout:         new-breakpoint(min-width $medium-breakpoint 6);

Backtrace:
patterns/scss/style.scss:9
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:45:in `import'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:250:in `block in watch'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/allan/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: animate/animate.\A               Load path: /Users/allan/Documents/Work/Muckrock/local-server (DEPRECATED)\A         on line 9 of patterns/scss/style.scss\A \A 4: // Do not appear in compiled CSS\A 5: \A 6: @import                 'lib/normalize';\A 7: @import                 'bourbon/bourbon';\A 8: @import                 'neat/neat';\A 9: @import                 'animate/animate';\A 10: \A 11: $large-breakpoint:      769px;\A 12: $medium-breakpoint:     321px;\A 13: $large-layout:          new-breakpoint(min-width $large-breakpoint 12);\A 14: $medium-layout:         new-breakpoint(min-width $medium-breakpoint 6);"; }
