{% load hosts %}
{% load tags %}

{% if communication.received %}
<div class="received communication">
{% else %}
<div class="sent communication">
{% endif %}
    <header class="space-between align-top">
        <table>
            {% if communication.receiver %}
            <tr>
                <td class="bold">To</td>
                <td>{{communication.receiver}}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="bold">From</td>
                <td>{{communication.sender}}</td>
            </tr>
            <tr>
                <td class="bold">Date</td>
                <td>{{communication.date|date:"F d, Y"}}</td>
            </tr>
            {% if communication.subject %}
            <tr>
                <td class="bold">Subject</td>
                <td>{{communication.subject}}</td>
            </tr>
            {% endif %}
        </table>
        <div>
            {% if request.user == object.user %}
            <p class="nomargin"><a href="{% host_url 'comm-update' foi_slug=communication.request.slug foi_pk=communication.request.pk pk=communication.pk host 'foiamachine' %}">Edit</a> &bull; <a href="{% host_url 'comm-delete' foi_slug=communication.request.slug foi_pk=communication.request.pk pk=communication.pk host 'foiamachine' %}">Delete</a></p>
            {% endif %}
        </div>
    </header>
    <div class="communication__message">
        {{communication.message|markdown}}
    </div>
    {% if communication.files.exists %}
    <div class="communication__files">
        {% for file in communication.files.all %}
        {% include 'foiamachine/patterns/file.html' %}
        {% endfor %}
    </div>
    {% endif %}
</div>
