
{% extends "foia/base.html" %}

{% block media %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/wizard_where.js"></script>
{% endblock %}

{% block content %}
<h1>New FOIA Request</h1>
<h2>What?</h2>
{% if form.errors %}
<div class="error">{{ form.errors }}</div>
{% endif %}
	<div class="form">
  <form action="" method="post">
		<fieldset>
			{% csrf_token %}
			<table class="form">
				{% for cat_tuple in extra_context.template_choices %}
					{% if cat_tuple.0 != "none" %}
					<tr><td colspan="2"><h3>{{cat_tuple.0}}</h3></tr></td>
						{% for template in cat_tuple.1 %}
						<tr><td width="10px">&nbsp;</td><td>
								<input type="radio" name="{{form_step}}-template" id="{{template.0}}" value="{{template.0}}" />
								<label for="{{template.0}}">
									{{template.1}}
								</label>
						</tr></td>
						{% endfor %}
					{% else %}
						<tr><td colspan="2">
								<input type="radio" name="{{form_step}}-template" id="{{cat_tuple.0}}" value="{{cat_tuple.0}}" />
								<label for="{{cat_tuple.0}}">
									{{cat_tuple.1}}
								</label>
						</tr></td>
					{% endif %}
				{% endfor %}
			</table>
			<input type="submit" name="submit" value="Next" class="button" />
		</fieldset>
  </form>
	</div>
{% endblock %}
