
{% extends "foia/base.html" %}

{% load tags %}

{% block content %}
	<h1 class="left">My FOI Requests</h1>
	<div class="clear">&nbsp;</div>

	{% include "foia/pagination.html" %}

	<table class="data-table">
		<tr class="odd">
			{% table_header request.GET 5 "" 40 "title" 20 "status" 20 "jurisdiction" 15 "date" %}
		</tr>
		{% for foia in object_list %}
		<tr class="{% if foia.updated %}updated{% else %}{% cycle 'even' 'odd' %}{% endif %}">
			<td><input type="checkbox" name="foia" value="{{foia.id}}" /></td>
			<td><a href="{% url foia-detail jurisdiction=foia.jurisdiction.slug,idx=foia.id,slug=foia.slug %}">{{ foia.title }}</a></td>
			<td><span class="request-{{foia.color_code}}">{{ foia.get_status_display }}</span></td>
			<td>{{ foia.jurisdiction }}</td>
			<td>{% if foia.date_submitted %}
						{{ foia.date_submitted|date:"SHORT_DATE_FORMAT" }}
					{% else %}
						{{ foia.communications.all.0.date|date:"SHORT_DATE_FORMAT" }}
					{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>

	{% include "foia/per_page.html" %}
	{% include "foia/pagination.html" %}

{% endblock %}

{% block sidebar %}
	{% with request.GET.order as ord %}
	{% with request.GET.field as field %}
	{% with request.GET.per_page as pp %}
	<ul>
		<li class="{% active request "^/foi/mylist/all/" %}"><a href="{% url foia-mylist view="all" %}?page=1{%if ord%}&amp;order={{ord}}{%endif%}{%if field%}&amp;field={{field}}{%endif%}{%if pp%}&amp;per_page={{pp}}{%endif%}">All</a></li>
		<li class="{% active request "^/foi/mylist/drafts/" %}"><a href="{% url foia-mylist view="drafts" %}?page=1{%if ord%}&amp;order={{ord}}{%endif%}{%if field%}&amp;field={{field}}{%endif%}{%if pp%}&amp;per_page={{pp}}{%endif%}">Drafts</a></li>
		<li class="{% active request "^/foi/mylist/action/" %}"><a href="{% url foia-mylist view="action" %}?page=1{%if ord%}&amp;order={{ord}}{%endif%}{%if field%}&amp;field={{field}}{%endif%}{%if pp%}&amp;per_page={{pp}}{%endif%}">Action Required</a></li>
		<li class="{% active request "^/foi/mylist/waiting/" %}"><a href="{% url foia-mylist view="waiting" %}?page=1{%if ord%}&amp;order={{ord}}{%endif%}{%if field%}&amp;field={{field}}{%endif%}{%if pp%}&amp;per_page={{pp}}{%endif%}">Waiting</a></li>
		<li class="{% active request "^/foi/mylist/completed/" %}"><a href="{% url foia-mylist view="completed" %}?page=1{%if ord%}&amp;order={{ord}}{%endif%}{%if field%}&amp;field={{field}}{%endif%}{%if pp%}&amp;per_page={{pp}}{%endif%}">Completed</a></li>
	</ul>
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% if tags %}
		<div class="content-separator"></div>
		<ul>
		{% for tag in tags %}
			<li><a href="?tag={{tag.slug}}">{{tag.name}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
