
{% extends "foia/base-submit.html" %}

{% block media %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/wizard_where.js"></script>
{% endblock %}

{% block content %}
<h1>Write and File a New Information Request</h1>
<h2>Which level of government do you want to file to?</h2>
<h3><em>Different levels of government have different information, but we suggest starting as local as makes sense and working your way up.</em></h3>
{% if form.errors %}
<div class="error">{{ form.errors }}</div>
{% endif %}
	<div class="form">
  <form action="" method="post">
		<fieldset>
			{% csrf_token %}
			<table class="form">
				<tr>
					<td>
						<input type="radio" name="{{form_step}}-level" value="federal" id="federal" />
						<label for="federal">
							Federal
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="{{form_step}}-level" value="state" id="state" />
						<label for="state">
							State
						</label>
					</td>
				</tr>
				<tr>
					<td>
						{{form.state}}
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="{{form_step}}-level" value="local" id="local" />
						<label for="local">
							Local
						</label>
					</td>
				</tr>
				<tr>
					<td>
						{{form.local}}
					</td>
				</tr>
			</table>
			<input type="submit" name="submit" value="Next" class="button" />
		</fieldset>
  </form>
	</div>
{% endblock %}
