
{% extends "foia/base.html" %}

{% block content %}
	<h1>FOIA Requests</h1>
	<table class="data-table">
		<tr class="odd">
			<th>Title</th>
			<th>User</th>
			<th>Status</th>
			<th>Jurisdiction</th>
		</tr>
		{% for foia in object_list %}
		<tr class="{% cycle 'even' 'odd' %}">
			<td><a href="/foia/view/{{ foia.user.username }}/{{ foia.slug }}/">{{ foia.title }}</a></td>
			<td>{{ foia.user }}</td>
			<td>{{ foia.get_status_display }}</td>
			<td>{{ foia.get_jurisdiction_display }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

