
{% extends "foia/base.html" %}
{% load pingback_tags %}

{% block content %}
	<h1>FOI Request</h1>
	<h2>{{object.title}}</h2>
	<p>Requested by <a href="{% url acct-profile object.user.username %}">{{object.user.username}}</a>
	{% if object.date_submitted %} on {{object.date_submitted|date}}{%endif%}
	for the {{object.agency}} of {{object.jurisdiction}}
	{% if object.date_done %} and fufilled on {{object.date_done|date}}{%endif%}
	</p>
	<div id="progressbar" title="{{object.percent_complete}}% Complete"></div>
	<p>Status: <span class="request-{{object.color_code}}">
		{{object.get_status_display}}{% if object.date_due and object.status == "processed" %},
		{% if past_due %}
			past due by {{ object.date_due|timesince }}
		{% else %}
			due in {{ object.date_due|timeuntil }}
		{% endif %}
		{%endif%}
	</span></p>

	{% if object.files.all %}
	<h4>Attached Files:</h4>
	<ul>
		{% for file in object.files.all %}
		<li><a href="/static/{{file.ffile.name}}">{{file.name}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if object.public_documents %}
	<div id="tabs">
		<ul>
			<li><a href="#tabs-documents">Documents</a></li>
			<li><a href="#tabs-request">Request</a></li>
		</ul>
		<div id="tabs-documents">
			<div id="viewer"></div>
			<script src="http://s3.documentcloud.org/viewer/loader.js" type="text/javascript"></script>
			<script type="text/javascript">
				function display_doc(doc_id)
				{
					DV.load('http://www.documentcloud.org/documents/' + doc_id + '.js', {
						width: 627,
						height: 600,
						sidebar: false,
						container: "#viewer"
					});

					var embed_code = '<div id="viewer-' + doc_id + '"></div>\n<script src="http://s3.documentcloud.org/viewer/loader.js"><\/script>\n<script>\nDV.load("http://www.documentcloud.org/documents/' + doc_id + '.js", {\ncontainer : "#viewer-' + doc_id + '"});\n<\/script>';
					$('textarea#embed').val(embed_code);
				}

				$(function() {
					var doc_id = window.location.hash.substring(1);
					var default_doc_id = "{{object.public_documents.0.doc_id}}"
					var documents = [ {%for doc in object.public_documents%}"{{doc.doc_id}}", {%endfor%} ]
					if (!doc_id || ($.inArray(doc_id, documents) == -1)) doc_id = default_doc_id;

					display_doc(doc_id);
				});

			</script>
			<div class="dc-thumbnails">

				<ul class="dc-thumbnails">
				{% if object.public_documents|length > 1 %}
					{% for document in object.public_documents %}
						<li><a href="#{{document.doc_id}}" onclick="display_doc('{{document.doc_id}}'); return true"><img src="{{document.get_thumbnail}}" alt="{{document.title}}" /></a></li>
					{% endfor %}
				{% endif %}
				</ul>
			</div>
		</div>
		{% endif %}
		<div id="tabs-request">
			{% if object.is_embargo and not object.date_done %}
			<p>
			This request is embargoed and will not be visible to others until 30 days after a response is received.
			</p>
			{% endif %}
			{% if object.is_embargo and object.date_done %}
			<p>
			This request is embargoed and will not be visible until {{ object.embargo_date }}.
			</p>
			{% endif %}

			{% for comm in object.communications.all %}
			<div class="{% if comm.response %}response{% else %}request{% endif %}">
				<strong>From {{comm.from_who}} on {{comm.date|date}}:</strong><br />
				{% if comm.full_html %}
					{% autoescape off %}{{comm.communication}}{% endautoescape %}
				{% else %}
					{{comm.communication|urlize|linebreaks}}
				{% endif %}
			</div>
			{% endfor %}
		</div>
	{% if object.public_documents %}
	</div>
	{% endif %}

{% endblock %}

{% block sidebar %}
	{% if user == object.user and object.is_editable %}
		<h2>Actions</h2>
			<a class="jqbutton" href="{% url foia-update jurisdiction=object.jurisdiction.slug,idx=object.id,slug=object.slug %}">Update</a>
		{% if object.is_deletable %}
			<br />
			<br />
			<a class="jqbutton" href="{% url foia-delete jurisdiction=object.jurisdiction.slug,idx=object.id,slug=object.slug %}">Delete</a>
		{% endif %}
		<div class="content-separator"></div>
	{% endif %}

	{% if object.public_documents %}
		<h2>Embed Code</h2>
		<p>Copy and paste this code into your site to embed this document<p>
		<textarea id="embed" style="width: 240px; height: 170px">
		</textarea>
		<div class="content-separator"></div>
	{% endif %}

	{% get_pingback_list for object as pingbacks %}
	{% if pingbacks %}
	    <h2>News & Opinions:</h2>
	    {% for pingback in pingbacks %}
	        <div class="b-pingback">
						<strong><a href="{{pingback.url}}">{{ pingback.title}}</a></strong><br />
						<em>{{ pingback.date|date }}</em><br />
	
						<p>{{ pingback.content }}</p>
	        </div>
	    {% endfor %}
		<div class="content-separator"></div>
	{% endif %}

{% endblock %}
