
{% extends "foia/base.html" %}

{% block content %}
	<h1>{{action}} FOIA Request</h1>
	<div class="form">
  <form action="" method="post">
		<fieldset>
			{% include "form.html" %}
			<input type="submit" name="submit" value="Save" class="button" />
			<input type="submit" name="submit" value="Submit" class="button" />
		</fieldset>
  </form>
	</div>
{% endblock %}

{% block sidebar %}

<div class="post">
	<h2>Help</a></h2>
	<dl>
		<dt>Title</dt>
		<dd>Be short, sweet, and descriptive here: It will help you and
		others identify your request once it's been completed.</dd>
		<dt>Jurisdiction</dt>
		<dd>State government doesn't have access to local records,
		and vice versa, so it's important to know the scope of your request.</dd>
		<dt>Agency</dt>
		<dd>Pick the agency you think has the documents are information
you are looking for. If you don't see the agency listed in this drop
down, pick "Not Listed" and leave the agency's name in the first line
of the request. We'll look into it and direct it properly for you.</dd>
		<dt>Request</dt>
		<dd>Ideally, describe the document that has the data you want.
For example, 'Police reports filed on 3/13/2010 mentioning John Doe.'
If your request is broad or poorly phrased, government agencies will
likely give unhelpful responses.</dd>
</div>
<div class="content-separator"></div>

{% endblock %}
