
{% extends "foia/base-submit.html" %}

{% block content %}
<h1>What are the details of your request?</h1>
{% if extra_context.heading %}
<h2>{{extra_context.heading}}</h2>
{% endif %}
	<div class="form">
  <form action="" method="post">
		<fieldset>
			{% include "form.html" %}
			<input type="submit" name="submit" value="Next" class="button" />
		</fieldset>
  </form>
	</div>
{% endblock %}

{% block sidebar %}
{% if form.long_desc %}
<h2>About this Template:</h2>
<p>
{{form.long_desc}}
</p>
{% endif %}
{% endblock %}
