
{% extends "foia/base.html" %}

{% block content %}
	<h1>{{doc.foia.title}} Document - Page {{doc.page}}/{{doc.total_pages}}</h1>

	<p><a href="/static/{{doc.image.name}}"><img src="/static/{{doc.image.name}}" width={{width}} height={{height}} /></a></p>

	{% if doc.previous or doc.next %}
	<div class="post-meta archive-pagination">
		
		{% if doc.previous %}
		<div class="left">
			<a href="{{doc.previous.get_absolute_url}}">&#171; Previous page</a>
		</div>
		{% endif %}

		{% if doc.next %}
		<div class="right">
			<a href="{{doc.next.get_absolute_url}}">Next page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>
		
	</div>
	{% endif %}

{% endblock %}

{% block sidebar %}
	<h2>Actions</h2>
	<ul><li><a href="{{doc.foia.get_absolute_url}}">Back to FOI Request</a></li></ul>
	<div class="content-separator"></div>
<div>
	Code for embedding:
	<form>
		<textarea style="width:240px; height:80px">
<a href="http://www.muckrock.com{{doc.get_absolute_url}}"><img src="http://www.muckrock.com/static/{{doc.image.name}}" width={{width}} height={{height}} /></a>
		</textarea>
	</form>
</div>
<div class="content-separator"></div>

{% endblock %}
