
{% extends "base.html" %}

{% block content %}
	<h1>FOIA Request</h1>
	{% ifequal user object.user %}
	  {% if object.is_editable %}
		<p><a href='/foia/update/{{object.user.username}}/{{object.slug}}/'>Update</a></p>
		{% endif %}
	{% endifequal %}
	<table>
		<tr> <th width="30%">Title</th><td>{{ object.title }}</td> </tr>
		<tr> <th>User</th><td>{{ object.user }}</td> </tr>
		<tr> <th>Status</th><td>{{ object.get_status_display }}</td> </tr>
		<tr> <th>Jurisdiction</th><td>{{ object.get_jurisdiction_display }}</td> </tr>
		<tr> <th>Agency</th><td>{{ object.agency }}</td> </tr>
		<tr> <th>Date submitted</th><td>
				{% if object.date_submitted %}
					{{ object.date_submitted }}
			  {% endif %}</td> </tr>
		<tr> <th>Request</th><td>{{ object.request }}</td> </tr>
		<tr> <th>Date response received</th><td>
				{% if object.date_done %}
					{{ object.date_done }}
			  {% endif %}</td> </tr>
		<tr> <th>Response</th><td>{{ object.response }}</td> </tr>
	</table>
{% endblock %}

