{% extends 'lists/base_list.html' %}

{% block title %}MuckRock &bull; Agencies{% endblock title %}
{% block list-title %}<h1>Agencies</h1>{% endblock list-title %}
{% block type %}agency{% endblock type %}

{% block list-head %}
<tr>
    <th>Name</th>
    <th>Jurisdiction</th>
</tr>
{% endblock list-head %}

{% block list-item %}
{% if item.approved %}
<tr>
	<td><a href="{% url 'agency-detail' jurisdiction=item.jurisdiction.slug jidx=item.jurisdiction.pk idx=item.pk slug=item.slug %}">{{ item }}</a></td>
	<td>{{ item.jurisdiction }}</td>
</tr>
{% endif %}
{% endblock list-item %}