{% extends 'base.html' %}
{% comment %}

This is the parent style for a collection of objects: a collection of blog posts, FOI requests, questions, agencies, jurisdictions, users, etc.

{% endcomment %}

{% block content %}
    <section class="{% block type %}item{% endblock type %} collection">

        <header>
            <div class="hgroup">
                {% block list-title %}{% endblock list-title %}
                {% block list-subtitle %}{% endblock list-subtitle %}
            </div>
            {% block actions %}
            {% endblock actions %}
        </header>

        <section class="filters">
            {% block filters %}
            {% endblock filters %}
        </section>
        
    {% include 'lib/pagination.html' %}
        
    {% block list %}
        <table class="list">
            {% block list-head %}
            {% endblock list-head %}
        {% for item in object_list %}
            {% block list-item %}
            <tr>
                <td>
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </td>
            </tr>
            {% endblock list-item %}
        {% empty %}
            <tr class="empty">Hmm&hellip; looks like there&rsquo;s nothing here.</tr>
        {% endfor %}
        </table>
    {% endblock list %}
        
    {% if object_list|length > 3 %}
        {% include 'lib/pagination.html' %}
    {% endif %}
    </section>
{% endblock %}
