{% extends 'base.html' %}
{% load static from staticfiles %}
{% load mathfilters %}
{% comment %}

This is the parent style for a collection of objects: a collection of blog posts, FOI requests, questions, agencies, jurisdictions, users, etc.

{% endcomment %}

{% block content %}

    <section class="{% block list-type %}object{% endblock %} list">
    {% block list %}
    {% if object_list %}
        <nav class="list-navigation">
        {% block list-navigation %}
            <header class="list-head">
            {% block list-head %}
                <h1 class="list-title">
                {% block list-title %}
                {% endblock list-title %}
                </h1>
                {% block list-subtitle %}
                {% endblock list-subtitle %}

            {% endblock list-head %}
            </header>
            <form method="GET" class="list-filters">
            {% block list-filters %}
                <dfn>Filters</dfn>
                {% for filter in object_filters %}
                    <!-- Filter -->
                {% endfor %}
                <div class="list-filters-buttons">
                    <button action="apply-filters">Apply Filters</button>
                    <button action="clear-filters">Clear Filters</button>
                </div>
            {% endblock list-filters %}
            </form>
            {% block list-actions %}
            {% endblock list-actions %}
        {% endblock list-navigation %}
        </nav>
        <div class="list-content">
        {% block list-content %}
            {% include 'lib/pagination.html' %}
            <table class="list-table tablesaw tablesaw-stack" data-tablesaw-mode="stack"">
            {% block list-table %}
        
                <thead class="list-table-head">
                {% block list-table-head %}
                    <tr>
                        <th>Title</th>
                    </tr>
                {% endblock list-table-head %}
                </thead>
                <tbody class="list-table-body">
                {% block list-table-body %}
                    {% for item in object_list %}
                    <tr class="list-table-item">
                    {% block list-table-item %}
                        <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
                    {% endblock list-table-item %}
                    </tr>
                    {% endfor %}
                {% endblock list-table-body %}
                </tbody>
            {% endblock list-table %}
            </table>
            {% if object_list|length > per_page|div:2 %}{% include 'lib/pagination.html' %}{% endif %}
        {% endblock list-content %}
        </div>
    {% else %}
        <p class="list-empty">Hmm&hellip; looks like there&rsquo;s nothing here.</p>
    {% endif %}
    {% endblock list %}
    </section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/tablesaw.stackonly.js' %}" type="text/javascript"></script>
{% endblock scripts %}
