{% extends 'lists/base_list.html' %}
{% block title %}MuckRock &bull; Jurisdictions{% endblock title %}
{% block list-type %}jurisidiction{% endblock list-type %}

{% block list-table-head %}
<th data-sort="name">Name</th>
<th data-sort="level">Level</th>
{% endblock list-table-head %}

{% block list-table-item %}
{% with item as jurisdiction %}
<td><a href="{{ jurisdiction.get_absolute_url }}">{{ jurisdiction }}</a></td>
{% if jurisdiction.level == 'f' %}
<td>Federal</td>
{% else %}
    {% if jurisdiction.level == 's' %}
<td>State</td>
    {% else %}
<td>Local</td>
    {% endif %}
{% endif %}
{% endwith %}
{% endblock list-table-item %}
