{% extends 'lists/base_list.html' %}
{% block title %}MuckRock &bull; Organizations{% endblock title %}
{% block list-title %}Organizations{% endblock list-title %}
{% block list-type %}organization{% endblock list-type %}

{% block list-actions %}
<a href="{% url 'org-create' %}" class="primary button">Create Org</a>
{% endblock list-actions %}

{% block list-table-head %}
<th data-sort="name">Name</th>
<th data-sort="owner">Owner</th>
{% endblock list-table-head %}

{% block list-table-item %}
{% with item as organization %}
<td><a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a></td>
<td>{{ organization.owner }}</td>
{% endwith %}
{% endblock list-table-item %}