{% extends 'base_list.html' %}
{% load tags %}
{% block title %}MuckRock &bull; Q&A Forum{% endblock title %}
{% block list-type %}question{% endblock list-type %}

{% block list-sections %}
<section class="list-sections">
    <ul>
        <li class="{% active request '^/questions/$' %}"><a href="{% url 'question-index' %}">All</a></li>
        <li class="{% active request '^/questions/unanswered/$' %}"><a href="{% url 'question-unanswered' %}">Unanswered</a></li>
    </ul>
</section>
{% endblock list-sections %}

{% block list-filters %}
{{ filter_form.user }}
{% endblock list-filters %}

{% block list-actions %}
<a href="{% url 'question-create' %}" class="primary button">Ask a Question</a>
{% if request.user.profile %}
{% if request.user.profile.new_question_notifications %}
<a href="{% url 'question-follow-new' %}" class="button">Unsubscribe from new questions</a>
{% else %}
<a href="{% url 'question-follow-new' %}" class="button">Subscribe to new questions</a>
{% endif %}
{% endif %}
{% endblock list-actions %}

{% block list-table-head %}
<th data-sort="title">Question</th>
<th data-sort="user">Asked by</th>
<th data-sort="date">Date</th>
<th>Answers</th>
{% endblock list-table-head %}

{% block list-table-item %}
{% with item as question %}
<td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
<td><a href="{% url "acct-profile" question.user.username %}">{{ question.user.get_full_name }}</a></td>
<td>{{ question.date | date:"F j, Y"}}</td>
<td>{{ question.answers.all | length }}</td>
{% endwith %}
{% endblock list-table-item %}
