{% extends 'lists/base_list.html' %}
{% load tags %}
{% block title %}MuckRock &bull; Questions{% endblock title %}
{% block list-title %}Questions&ensp;&amp;&ensp;Answers{% endblock list-title %}
{% block list-type %}question{% endblock list-type %}

{% block list-actions %}
<a href="{% url 'question-create' %}">Ask a Question</a>
{% endblock list-actions %}

{% block list-table-head %}
<th>Question</th>
<th>Asked by</th>
<th>Answers</th>
<th>Date</th>
{% endblock list-table-head %}

{% block list-table-item %}
{% with item as question %}
<td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
<td>{{ question.user.get_full_name }}</td>
<td>{{ question.date | date:"F j, Y"}}</td>
<td>{{ question.answers.all | length }}</td>
{% endwith %}
{% endblock list-table-item %}

{% block list-subtitle %}
<ul>
    <li><a href="{% url 'question-index' %}" class="{% active request "^/questions/$" %}">All</a></li>
    <li><a href="{% url 'question-unanswered' %}" class="{% active request "^/questions/unanswered/$" %}">Unanswered</a></li>
    <li><a href="{% url 'question-recent' %}" class="{% active request "^/questions/recent/$" %}">Recently Answered</a></li>
</ul>
{% endblock list-subtitle %}
