{% extends 'lists/base_list.html' %}
{% load tags %}
{% load mathfilters %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; Requests{% endblock title %}
{% block list-title %}Requests{% endblock list-title %}
{% block list-type %}request{% endblock list-type %}

{% block list-filters %}
{{ filter_form.status }}
{{ filter_form.user }}
{{ filter_form.agency }}
{{ filter_form.jurisdiction }}
{% endblock list-filters %}

{% block list-table-head %}
<th>Title</th>
<th width="20%">Status</th>
<th width="20%">Date Created</th>
<th width="20%">Date Updated</th>
{% endblock list-table-head %}

{% block list-table-item %}
{% with item as foia %}

<td><a href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></td>
<td class="{{ foia.color_code }}">{{ foia.get_status_display }}</td>
    <!--<div class="request-status">{{ foia.get_status_display }}</div>
    <div class="request-title">{{ foia.title }}</div>
    <div class="request-from-to">From <a href="{{ foia.user.get_profile.get_absolute_url }}">{{ foia.user.get_full_name }}</a> to <a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a></div>-->

<td>{{ foia.communications.all.0.date|date:"m/d/Y" }}</td>
<td>{{ foia.last_comm_date|date:"m/d/Y" }}</td>

<!--<td><a href="{% url 'acct-profile' foia.user.username %}">{{ foia.user.get_full_name }}</a></td>
<td><a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a></td>
<td><a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a></td>-->
{% endwith %}
{% endblock list-table-item %}

{% block list-subtitle %}
{% if user.is_authenticated %}
<ul>
    <li class="{% active request '^/foi/list/$' %}"><a href="{% url 'foia-list' %}">All</a></li>
    <li class="{% active request '^/foi/mylist/$' %}"><a href="{% url 'foia-mylist' %}">Mine</a></li>
    <li class="{% active request '^/foi/list/following/$' %}"><a href="{% url 'foia-list-following' %}">Following</a></li>
</ul>
{% endif %}
{% endblock list-subtitle %}

{% block scripts %}
<script src="{% static 'js/tablesaw.stackonly.js' %}" type="text/javascript"></script>
{% include 'autocomplete_light/static.html' %}
<script>
    $.urlParam = function(name){
        console.log(name);
        var urlString = '[\\?&amp;]' + name + '=([^&amp;#]*)'
        var results = new RegExp(urlString).exec(window.location.href);
        if (results) {
            return results[1] || 0;
        } else {
            return 0;
        }
    }

    $(document).ready(function() {
        if ($.urlParam('status') !== 0) {
            $('#id_status').prepend('<option value>None</option>');
        } else {
            $('#id_status').prepend('<option disabled selected class="title-option">Status</option>');
        }   
        if ($.urlParam('order') !== 0) {
            $('#id_order').prepend('<option value>Default</option>');
        } else {
            $('#id_order').prepend('<option disabled selected class="title-option">Order by...</option>');
        }
        if ($.urlParam('sort') !== 0) {
            $('#id_sort').prepend('<option value>Default</option>');
        } else {
            $('#id_sort').prepend('<option disabled selected class="title-option">Sort by...</option>');
        }
        $('#filter-checkbox').change(function() {
            if ($(this).is(':checked')) {
                $('#filter-checkbox-label').text('Hide Filters');
            } else {
                $('#filter-checkbox-label').text('Show Filters');
            }
        });
    });
</script>
{% endblock scripts %}