{% extends 'lists/request_list.html' %}
{% load tags %}

{% block title %}MuckRock &bull; My Requests{% endblock title %}
{% block list-title %}<h1>{{ title }}</h1>{% endblock list-title %}
{% block type %}my request{% endblock type %}

{% block list %}
<form action="" method="post">
    {% csrf_token %}
    <div class="controls">
        <button name="submit" value="Mark as Read">Mark as Read</button>
	    <button name="submit" value="Mark as Unread">Mark as Unread</button>
	    <button name="submit" value="Mark All as Read">Mark All as Read</button>
	</div>
    <ul class="list">
        {% for foia in object_list %}      
        <li {% if foia.updated %}class="unread"{% endif %}>
            <div class="foia-info title">
                <input type="checkbox" name="{{foia.foia_type}}" value="{{foia.pk}}" />
                <div class="hgroup">
                    <h3 class="{{ foia.color_code }}" id="request-status">{{foia.get_status_display}}</h3>
                    <h2><a href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></h2>
                </div>
            </div>
            <dl class="foia-info">
                <dt>First Created</dt>
                <dd>{{ foia.communications.all.0.date|date:"m/d/Y" }}</dd>
                <dt>Last Updated</dt>
                <dd>{{ foia.last_comm_date|date:"m/d/Y" }}</dd>
            </dl>
            <dl class="foia-info">
                <dt>From</dt>
                <dd><a href="{% url 'acct-profile' foia.user.username %}">Me</a></dd>
                {% if foia.agency %}
                <dt>To</dt>
                <dd><a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a> of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a></dd>
                {% endif %}
            </dl>
        </li>
        {% empty %}
        <li class="empty">Hmm&hellip; looks like there&rsquo;s nothing here.</li>
        {% endfor %}
    </ul>
</form>
{% endblock list %}