{% extends 'lists/base_list.html' %}
{% load tags %}
{% load mathfilters %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; Requests{% endblock title %}
{% block list-title %}Requests{% endblock list-title %}
{% block list-type %}request{% endblock list-type %}

{% block list-filters %}
{{ filter_form.status }}
{{ filter_form.user }}
{{ filter_form.agency }}
{{ filter_form.jurisdiction }}
{{ filter_form.tags }}
{% endblock list-filters %}

{% block list-table-head %}
<th data-sort="title">Title</th>
<th width="15%" data-sort="status">Status</th>
<th width="10%" data-sort="date_submitted">Created</th>
<th width="10%">Updated</th>
{% endblock list-table-head %}

{% block list-table-item %}
{% with item as foia %}
<td><a href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></td>
<td class="{{ foia.color_code }}">{{ foia.get_status_display }}</td>
<td>{{ foia.date_submitted|date:"m/d/Y" }}</td>
<td>{{ foia.last_comm.date|date:"m/d/Y" }}</td>
{% endwith %}
{% endblock list-table-item %}

{% block list-sections %}
{% if user.is_authenticated %}
<section class="list-sections">
    <ul>
        <li class="{% active request '^/foi/list/$' %}"><a href="{% url 'foia-list' %}">All</a></li>
        <li class="{% active request '^/foi/mylist/$' %}"><a href="{% url 'foia-mylist' %}">Yours</a></li>
        <li class="{% active request '^/foi/list/following/$' %}"><a href="{% url 'foia-list-following' %}">Following</a></li>
        {% if user.is_staff %}
        <li class="{% active request '^/foi/list/processing/$' %}"><a href="{% url 'foia-list-processing' %}">Processing</a></li>
        {% endif %}
    </ul>
</section>
{% endif %}
{% endblock list-sections %}

{% block list-scripts %}
<script type="text/javascript">
    if (urlParam('status') !== 0) {
        $('#id_status').prepend('<option value="">All Status</option>');
    } else {
        $('#id_status').prepend('<option value="" selected class="title-option">All Status</option>');
    }
</script>
{% endblock list-scripts %}
