{% extends 'lists/request_list.html' %}
{% load tags %}
{% load foia_tags %}

{% block title %}Your Requests{% endblock title %}
{% block list-type %}my request{% endblock list-type %}

{% block list-actions %}
<form method="POST" id="my-request-actions">
    {% csrf_token %}
    <button name="submit" value="Mark as Read">Mark as Read</button>
    <button name="submit" value="Mark as Unread">Mark as Unread</button>
    <button name="submit" value="Mark All as Read">Mark All as Read</button>
</form>
{% endblock list-actions %}

{% block list-filters %}
{{ filter_form.status }}
{{ filter_form.agency }}
{{ filter_form.jurisdiction }}
{{ filter_form.tags }}
{% endblock list-filters %}

{% block list-table-head %}
<th width="3%" class="list-table-checkbox"><input type="checkbox" class="select-all" data-name="foia" /></th>
<th data-sort="title">Title</th>
<th width="20%" data-sort="status">Status</th>
<th width="20%" data-sort="date_submitted">Created</th>
<th width="20%" data-sort="date_updated">Updated</th>
{% endblock list-table-head %}

{% block list-table-body %}
{% for foia in object_list %}
<tr class="list-table-item{% if foia.updated %} unread{% endif %}">
    <td class="list-table-checkbox">
        <input type="checkbox"
               name="{{foia.foia_type}}"
              value="{{foia.pk}}"
               form="my-request-actions">
    </td>
    <td><a href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></td>
    <td class="{{ foia.status|classify_status }}">{{ foia.get_status_display }}</td>
    <td>{{ foia.communications.all.0.date|date:"m/d/Y" }}</td>
    <td>{{ foia.date_updated|date:"m/d/Y" }}</td>
</tr>
{% endfor %}
{% endblock list-table-body %}
