{% extends 'lists/request_list.html' %}
{% load tags %}

{% block title %}Processing Requests{% endblock title %}
{% block list-type %}processing request{% endblock list-type %}

{% block list-filters %}
{{ filter_form.agency }}
{{ filter_form.jurisdiction }}
{{ filter_form.tags }}
{% endblock list-filters %}

{% block list-table-head %}
<th data-sort="title">Title</th>
<th width="20%" data-sort="date_submitted">Created</th>
<th width="20%" data-sort="date_processing">Processing</th>
{% endblock list-table-head %}

{% block list-table-body %}
{% for foia in object_list %}
<tr class="list-table-item">
    <td><a href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></td>
    <td>{{ foia.communications.all.0.date|date:"m/d/Y" }}</td>
    <td>{{ foia.date_processing|timesince }}</td>
</tr>
{% endfor %}
{% endblock list-table-body %}
