{% extends 'lists/base_list.html' %}

{% load tags %}
{% load tasks %}

{% block title %}MuckRock &bull; Tasks{% endblock title %}
{% block type %}task{% endblock type %}

{% block list-sections %}
<section class="list-sections">
    <ul>
        <li class="{% active request '^/task/$' %}"><a href="{% url 'task-list' %}">All</a></li>
        <li class="{% active request '^/task/inbox/$' %}"><a href="{% url 'task-list-inbox' %}">
            <span class="counter">{{ inbox_count }}</span>
            Inbox
        </a></li>
        <li class="{% active request '^/task/unassigned/$' %}"><a href="{% url 'task-list-unassigned' %}">
            <span class="counter">{{ unassigned_count }}</span>
            Unassigned
        </a></li>
        <li class="{% active request '^/task/resolved/$' %}"><a href="{% url 'task-list-resolved' %}">Resolved</a></li>
    </ul>
</section>
{% endblock %}

{% block list-filters %}
<label for="id_assigned">Assigned To</label>
{{ filter_form.assigned }}
{% endblock %}

{% block list-content %}
    <section class="list-actions">
        <div>
            <input type="checkbox" id="toggle-all" />
            <label for="toggle_all">Select/Unselect All</label>
        </div>
        <form method="POST" id="batched">
            {% csrf_token %}
            <button type="submit" name="resolve" value="true">Resolve</button>
            <button type="submit" name="assign" value="true">Assign</button>
            <button id="collapse-all">Collapse All</button>
        </form>
    </section>
{% if object_list %}
    {% include 'lib/pagination.html' %}
	{% for task in object_list %}
		{% if task.orphantask %}
			{% orphan task %}
		{% elif task.snailmailtask %}
			{% snail_mail task %}
		{% elif task.rejectedemailtask %}
			{% rejected_email task %}
		{% elif task.staleagencytask %}
			{% stale_agency task %}
		{% elif task.flaggedtask %}
			{% flagged task %}
		{% elif task.newagencytask %}
			{% new_agency task %}
		{% elif task.responsetask %}
			{% response task %}
		{% else %}
			{% default task %}
		{% endif %}
	{% endfor %}
	{% include 'lib/pagination.html' %}
{% endif %}
{% endblock list-content %}

{% block list-scripts %}
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

var tasks = $('.task');
var resolved = $('.resolved.task');
resolved.find(':input').attr('disabled', true).addClass('disabled');
resolved.addClass('collapsed');
tasks.find('header').click(function() {
    $(this).parent().toggleClass('collapsed');
});

$('.task .permalink').click(function(e) {
    e.stopPropagation();
});

$('.task .checkbox').click(function(e) {
    e.stopPropagation();
});

var checkboxes = $('.task header').find(':checkbox');
var batchedButtons = $('#batched button').not('#collapse-all');
batchedButtons.attr('disabled', true);
checkboxes.click(function(){
    if ($('.task header').find(':checkbox:checked').length > 0) {
        batchedButtons.attr('disabled', false);
    } else {
        batchedButtons.attr('disabled', true);
    }
});

$('#collapse-all').click(function(e){
    e.preventDefault();
    if ($(this).text() == "Collapse All") {
        $(this).text("Reveal All");
        $('.task').addClass('collapsed');
    } else {
        $(this).text("Collapse All");
        $('.task').removeClass('collapsed');
    }
});

{% endblock list-scripts %}
