{% extends 'lists/base_list.html' %}

{% load tags %}
{% load tasks %}

{% block title %}MuckRock &bull; Tasks{% endblock title %}
{% block type %}task{% endblock type %}

{% block list-sections %}
<section class="list-sections">
    <ul>
        <li class="{% active request '^/task/$' %}"><a href="{% url 'task-list' %}">All</a></li>
        <li class="{% active request '^/task/orphan/$' %}"><a href="{% url 'orphan-task-list' %}">Orphan</a></li>
        <li class="{% active request '^/task/snail-mail/$' %}"><a href="{% url 'snail-mail-task-list' %}">Snail Mail</a></li>
        <li class="{% active request '^/task/rejected-email/$' %}"><a href="{% url 'rejected-email-task-list' %}">Rejected Email</a></li>
        <li class="{% active request '^/task/stale-agency/$' %}"><a href="{% url 'stale-agency-task-list' %}">Stale Agency</a></li>
        <li class="{% active request '^/task/flagged/$' %}"><a href="{% url 'flagged-task-list' %}">Flagged</a></li>
        <li class="{% active request '^/task/new-agency/$' %}"><a href="{% url 'new-agency-task-list' %}">New Agency</a></li>
        <li class="{% active request '^/task/response/$' %}"><a href="{% url 'response-task-list' %}">Response</a></li>
    </ul>
</section>
{% endblock %}

{% block list-filters %}
{{ filter_form.show_resolved }}
{{ filter_form.show_resolved.label }}
{% endblock %}

{% block list-content %}
    <section class="list-actions">
        <div>
            <input type="checkbox" id="toggle-all" />
            <label for="toggle_all">Select/Unselect All</label>
        </div>
        <form method="POST" id="batched">
            {% csrf_token %}
            <button type="submit" name="resolve" value="true">Resolve</button>
            <button type="submit" name="assign" value="true">Assign</button>
            <button id="collapse-all">Collapse All</button>
        </form>
    </section>
{% if object_list %}
    {% include 'lib/pagination.html' %}
	{% for task in object_list %}
		{% if task.orphantask %}
			{% orphan task %}
		{% elif task.snailmailtask %}
			{% snail_mail task %}
		{% elif task.rejectedemailtask %}
			{% rejected_email task %}
		{% elif task.staleagencytask %}
			{% stale_agency task %}
		{% elif task.flaggedtask %}
			{% flagged task %}
		{% elif task.newagencytask %}
			{% new_agency task %}
		{% elif task.responsetask %}
			{% response task %}
		{% else %}
			{% default task %}
		{% endif %}
	{% endfor %}
	{% include 'lib/pagination.html' %}
{% endif %}
{% endblock list-content %}

{% block list-scripts %}
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

var tasks = $('.task');
var resolved = $('.resolved.task');
resolved.find(':input').attr('disabled', true).addClass('disabled');
resolved.addClass('collapsed');
tasks.find('header').click(function() {
    $(this).parent().toggleClass('collapsed');
});

$('.task .permalink').click(function(e) {
    e.stopPropagation();
});

$('.task .checkbox').click(function(e) {
    e.stopPropagation();
});

var checkboxes = $('.task header').find(':checkbox');
var batchedButtons = $('#batched button').not('#collapse-all');
batchedButtons.attr('disabled', true);
checkboxes.click(function(){
    if ($('.task header').find(':checkbox:checked').length > 0) {
        batchedButtons.attr('disabled', false);
    } else {
        batchedButtons.attr('disabled', true);
    }
});

$('#collapse-all').click(function(e){
    e.preventDefault();
    if ($(this).text() == "Collapse All") {
        $(this).text("Reveal All");
        $('.task').addClass('collapsed');
    } else {
        $(this).text("Collapse All");
        $('.task').removeClass('collapsed');
    }
});

{% endblock list-scripts %}
