// A sidebar is full width on mobile, otherwise takes up 1/3 of the parent
%sidebar {
    @include fill-parent();
    @include media($medium-layout) {
        @include span-columns(2);
        @include pad(0 0 0 default);
    }
    @include media($large-layout) {
        @include span-columns(4);
    }
}

// A sidebar-adjacent section is full width on mobile,
// otherwise takes up 2/3 of parent
%sidebar-adjacent {
    @include fill-parent();
    @include media($medium-layout) { @include span-columns(4); }
    @include media($large-layout) { @include span-columns(8); }
}

// Class Prototype
article%article {
    @include outer-container;
    margin: 1em;
    > header {
        margin: $base-vertical-rhythm/2 0;
        h1, h2 {
            font-weight: 400;
            margin-bottom: $base-vertical-rhythm/4;
        }
        h1 { @include font-sizing(1.25, 1); }
        h2 { @include font-sizing(0.75, 0.875); }
        @include fill-parent();
        @include media($medium-layout) {
            h1 { @include font-sizing(1.5, 1.25); }
            h2 { @include font-sizing(0.875, 1); }
        }
        @include media($large-layout) {
            h1 { @include font-sizing(1.875, 1.5); }
            h2 { @include font-sizing(1, 1); }
        }
    }
    > section { @extend %sidebar-adjacent; }
    > aside { @extend %sidebar;
        summary { 
            margin: $base-vertical-rhythm 0 $base-vertical-rhythm/2;
            font-weight: 300;
            display: none;
            @include media($medium-layout) {
                display: block;
                margin: $base-vertical-rhythm/2 0;
                @include font-sizing(1.25, 1.2);
            }
            @include media($large-layout) { @include font-sizing(1.375, 1.25); }
        }
    }
    @include media($large-layout) { margin: 2em; }
}

.post { @extend %article;
    p:first-of-type {
        @include media($medium-layout) { @include font-sizing(1.2, 1.25); }
        // @include media($large-layout) { @include font-sizing(1.3, 1.3); }
    } 
}
.question { @extend %article; }
.request { @extend %article; }