// Subatomic Elements
// Standalone Libraries & Variables
//
// Do not appear in compiled CSS

@import                 'normalize';
@import                 'bourbon/bourbon';
@import                 'neat/neat';

$large-breakpoint:      769px;
$medium-breakpoint:     321px;
$large-layout:          new-breakpoint(min-width $large-breakpoint 12);
$medium-layout:         new-breakpoint(min-width $medium-breakpoint 6);

$color-white:           #FDFEFE;
$color-black:           #162023;
$color-grey:            #acbecc;
$color-primary:         #0084DC;
$color-success:         #3CD173;
$color-failure:         #DC4A00;
$color-default:         #50828e;
$color-disabled:        #acbecc;

$base-font-weight:      400;
$base-border-width:     1px;
$base-border-radius:    9px;
$base-vertical-rhythm:  1.5em;

$base-gradient-darken:  8%;

// Atomic Elements
// Combine Foundational Elements

@import 'typography';
@import 'objects';

// Molecular Elements
// Combine Atomic Elements

@import 'layouts';

// Temporary Imports
// Provides layout for index.html only
@import 'grid';