---
title: Archive
---
{% include header.html page="blog" %}
<article class="blog archive">
    <ul class="post-list">
{% for post in site.posts %}
    {% if post.layout == "essay" %}
        {% if post.feature_image %}
        <li class="post-item essay bg-color" style="background-image: url('{{ site.url }}/images/{{ post.feature_image }}');">
        {% else %}
        <li class="post-item essay bg-color">
        {% endif %}
            <h2 class="date">{{ post.date | date_to_string }}</h2>
            <h1 class="title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
            <summary>{{ post.excerpt }}</summary>
            <a class="permalink" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Read this essay</a>
    {% else %}
        <li class="post-item note {{ post.categories }} ">
            <h2 class="date"><a class="permalink" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.date | date_to_string }}</a></h2>
            <h1 class="title">{{ post.title }}</h1>
            {{ post.content }}
    {% endif %}
        </li>
{% endfor %}
    </ul>
</article>
{% include footer.html %}