{% extends "base.html" %}
{% load pingback_tags %}
{% load tags %}
{% load staticfiles %}
{% load humanize %}
{% load markdown_deux_tags %}

{% block title %}MuckRock &bull; Orphaned Communications {% endblock %}

{% block content %}
	<h1>Orphaned Communications</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="" />
        <input type="hidden" name="comm_pk" value="" />
        <input type="submit" name="submit" value="Delete Selected" class="button" 
                     onclick="$('input[name=action]').val('delete_selected'); return confirm('Are you sure?');" />
        <br \>
        <input type="checkbox" onclick="$('input[name=comm_pks]').attr('checked', this.checked)" id="toggle_all" />
        <label for="toggle_all">Select/Unselect All</label>

    {% for comm in communications %}
        <div class="orphan">
            {% if comm.likely_foia %}
            <p><a href="{% url "admin:foia_foiarequest_change" comm.likely_foia.pk %}">Likely FOIA for this comm</a></p>
            {% endif %}
            {% if comm.priv_to_who %}
            <p><strong>To {{comm.priv_to_who}}</strong></p>
            {% endif %}
            {% if comm.full_html %}
                {% include 'lib/message.html' with user=comm.priv_from_who response=comm.response date=comm.date uid=comm.anchor files=comm.files.all body=comm.communication|redact_emails|safe %}
            {% else %}
                {% include 'lib/message.html' with user=comm.priv_from_who response=comm.response date=comm.date uid=comm.anchor files=comm.files.all body=comm.communication|redact_emails|urlize|linebreaks %}
            {% endif %}
            <span style="display:none" id="move-{{comm.pk}}-span">
                <label for="new_foia_pk">FOIA:</label>
                <input type="text" name="new_foia_pk_{{comm.pk}}" value="{{comm.likely_foia.pk}}" />
                <input type="submit" name="submit" value="Submit" class="button" 
             onclick="$('input[name=action]').val('move_comm'); $('input[name=comm_pk]').val({{comm.pk}}); return true" />
            </span>
            <span style="display:none" id="delete-{{comm.pk}}-span">
                <input type="hidden" name="action" value="delete_comm" />
                <input type="hidden" name="comm_pk" value="{{comm.pk}}" />
                <input type="submit" name="submit" value="Delete - Are you sure?" class="button"
             onclick="$('input[name=action]').val('delete_comm'); $('input[name=comm_pk]').val({{comm.pk}}); return true" />
            </span>
            <span class="smaller right">
                <span onclick="$('#move-{{comm.pk}}-span').show(400); return false" class="button">Move</a>
                <span onclick="$('#delete-{{comm.pk}}-span').show(400); return false" class="button">Delete</a>
                <input name="comm_pks" type="checkbox" value="{{comm.pk}}" />
            </span>
        </div>
    {% endfor %}
    </form>
    {% with communications as page_obj %}
        {% include 'lib/pagination.html' %}
    {% endwith %}
{% endblock %}
