{% extends "base.html" %}
{% load tags %}
{% load staticfiles %}
{% load humanize %}
{% load markdown_deux_tags %}

{% block title %}MuckRock &bull; Orphaned Communications {% endblock %}

{% block content %}
<article class="orphans">
    {% if communications %}
    <form method="post" id="selected-orphans">
        {% csrf_token %}
        <h1>Orphaned Communications</h1>
        <input type="hidden" name="action" value="" />
        <input type="hidden" name="comm_pk" value="" />
        <div class="top controls">
            <fieldset>
                <input type="checkbox" id="toggle-all" />
                <label for="toggle_all">Select/Unselect All</label>
            </fieldset>
            <span class="default button" id="collapse-all">Collapse All</span>
            <input type="submit" name="submit" value="Delete Selected" class="button"
                         onclick="$('input[name=action]').val('delete_selected'); return confirm('Are you sure?');" />
        </div>
    </form>
    {% endif %}
    {% for communication in communications %}
        {% include 'lib/foia/communication.html' %}
    {% empty %}
    <h2>There&rsquo;s no orphans. Nice!</h2>
    {% endfor %}
</article>
    {% with communications as page_obj %}
        {% include 'lib/pagination.html' %}
    {% endwith %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('#collapse-all').on('click', function(){
    $('.message .visibility').each(function(){
        $(this).trigger('click');
    });
    if ($(this).text() == "Collapse All") {
        $(this).text("Reveal All");
    } else {
        $(this).text("Collapse All");
    }
});
</script>
{% endblock scripts %}
