{% extends 'base.html' %}

{% block content %}
<article class="account signup">
    <header>
        <h1>Sign up for a Basic account</h1>
    </header>
    <form method="post" class="signup__form--basic">
        {% csrf_token %}
        {% include 'lib/pattern/form.html' %}
        <footer>
            <a href="{% url 'accounts' %}" class="cancel">Go Pro for embargo, multirequest, and other features.</a>
            <button type="submit" class="primary button" onclick="ga('send', 'event', 'Account', 'Registration', window.location.pathname)">Sign Up</button>
        </footer>
    </form>
</article>
{% endblock %}
