{% extends 'base.html' %}

{% block content %}
<article class="account signup">
    <header>
        <h1>Create an Organization account</h1>
        <p>Looking to join an existing organization? <a href="mailto:info@muckrock.com">Contact us.</a></p>
    </header>
    <form method="post" class="signup__form--org">
        {% csrf_token %}
        {% include 'lib/pattern/form.html' %}
        <footer>
            <a href="{% url 'accounts' %}" class="cancel">Pick a different plan</a>
            <button type="submit" class="primary" onclick="ga('send', 'event', 'Account', 'Registration', window.location.pathname)">Create</button>
        </footer>
    </form>
</article>
{% endblock %}
