{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<article class="account signup form">
    <header>
        <h1>Subscribe to a Professional account</h1>
    </header>
    <form method="post" class="signup--pro stripe-checkout" id="subscribe">
        {% csrf_token %}
        <input type="hidden" name="stripe_token" value="" />
        <input type="hidden" name="stripe_pk" value="{{ stripe_pk }}" />
        <input type="hidden" name="stripe_image" value="{% static 'icons/logo.png' %}" />
        <input type="hidden" name="stripe_email" value="" />
        <input type="hidden" name="stripe_label" value="Subscribe" />
        <input type="hidden" name="stripe_description" value="Subscription ($40.00/month)" />
        <input type="hidden" name="stripe_bitcoin" value="false" />
        <input type="hidden" name="stripe_fee" value="0" />
        <input type="hidden" name="stripe_amount" value="0" />
        {% include 'lib/pattern/form.html' %}
        <footer>
            <a href="{% url 'accounts' %}" class="cancel">Pick a different plan</a>
            <button type="submit" class="primary button" onclick="ga('send', 'event', 'Account', 'Registration', window.location.pathname)">Subscribe</button>
        </footer>
    </form>
</article>
{% endblock %}
