
{% extends "registration/base.html" %}

{% block media %}
{% include "registration/cc_media.html" %}
{% endblock %}

{% block content %}
  <h1>{{heading}}</h1>
	{% if foia %}
		<h2>{{foia.title}}</h2>
	{% endif %}
	{% if desc %}
		<p class="largest">{{desc}}</p>
	{% endif %}
	<div class="form">
		<form action="" method="post" id="stripe-form" style="display: none;">
			<fieldset>
				
				{% include "form.html" %}

				<input type="submit" name="submit-button" value="Submit" class="button" />
				<div class="payment-errors"></div>
			</fieldset>
		</form>
	</div>

	<!--
		The easiest way to indicate that the form requires JavaScript is to show
		the form with JavaScript (otherwise it will not render). You can add a
		helpful message in a noscript to indicate that users should enable JS.
	-->
	<script>if (window.Stripe) $("#stripe-form").show()</script>
	<noscript><p>JavaScript is required for the registration form.</p></noscript>

{% endblock %}

