
{% extends "news/base.html" %}

{% block title %} {{object.title}} {% endblock %}

{% block content %}

			<div class="post">
				<div class="post-title">
					<h2><a href="{{object.get_absolute_url}}">{{object.title}}</a></h2>
				</div>
				<div class="post-date">{{object.pub_date|date:"g:i A, l, F j, Y"}} by
					{{object.author.first_name}} {{object.author.last_name}}</div>
				{% if object.foia %}
				<div>
					<p>FOI Request: <a href="{{object.foia.get_absolute_url}}">{{object.foia.title}}</a></p>
				</div>
				{% endif %}
				<div class="post-body">
					{% autoescape off %}
					{{object.body}}
					{% endautoescape %}
				</div>
			</div>

{% endblock %}

