
{% extends "news/base.html" %}

{% block content %}

<h2>Archives for {{day|date}}</h2>

<div class="post-meta archive-pagination">
	
	<div class="left"><a href="{% url news-archive-day year=previous_day|date:"Y",month=previous_day|date:"b",day=previous_day|date:"d" %}">
			&#171; Previous page</a></div>
	{% if next_day %}
	<div class="right"><a href="{% url news-archive-day year=next_day|date:"Y",month=next_day|date:"b",day=next_day|date:"d" %}">
			Next page &#187;</a></div>
	{% endif %}

	<div class="clearer">&nbsp;</div>
	
</div>

{% if object_list %}

    {% for article in object_list %}
		  {% include "news/archive_post.html" %}
    {% endfor %}

{% else %}
<p>No articles were found.</p>
{% endif %}

<div class="post-meta archive-pagination">
	
	<div class="left"><a href="{% url news-archive-day year=previous_day|date:"Y",month=previous_day|date:"b",day=previous_day|date:"d" %}">
			&#171; Previous page</a></div>
	{% if next_day %}
	<div class="right"><a href="{% url news-archive-day year=next_day|date:"Y",month=next_day|date:"b",day=next_day|date:"d" %}">
			Next page &#187;</a></div>
	{% endif %}

	<div class="clearer">&nbsp;</div>
	
</div>

{% endblock %}
