
{% extends "news/base.html" %}

{% block content %}

<h2>Archives</h2>

{% if object_list %}

	<div class="post-meta archive-pagination">
		
		{% if page_obj.has_previous %}
		<div class="left">
			<a href="{% url news-archive %}?page={{page_obj.previous_page_number}}">&#171; Previous page</a>
		</div>
		{% endif %}
		{% if page_obj.has_next %}
		<div class="right">
			<a href="{% url news-archive %}?page={{page_obj.next_page_number}}">Next page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>
		
	</div>

	{% for article in object_list %}
		{% include "news/archive_post.html" %}
	{% endfor %}

	<div class="post-meta archive-pagination">

		{% if page_obj.has_previous %}
		<div class="left">
			<a href="{% url news-archive %}?page={{page_obj.previous_page_number}}">&#171; Previous page</a>
		</div>
		{% endif %}
		{% if page_obj.has_next %}
		<div class="right">
			<a href="{% url news-archive %}?page={{page_obj.next_page_number}}">Next page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>

	</div>

{% else %}
<p>No articles were found.</p>
{% endif %}

{% endblock %}
