.crowdfund.form {

    @include row;
    margin-bottom: $vertical-rhythm;

    .form-head h1 {
        margin-bottom: 0;
    }

    form {
        @include row;
        @include full;
    }

    fieldset > p {
        margin-top: 0;
        color: $color-black;
    }

    fieldset.name, fieldset.description {
        @include full;
    }

    fieldset.amount {
        margin-bottom: 0;
    }
}
