.request.detail {
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(column);
    @media all and (min-width: 768px) {
        @include flex-direction(row);
        .request.main {
            margin-left: $vertical-rhythm * 2;
        }
    }
    .request.properties {
        @include flex(1);
    }
    .request.main {
        @include flex(3);
    }
}

.request.properties {
    @include display(flex);
    @include flex-direction(column);
    margin-bottom: 0;
    h1 {
        font-size: $font-size-6;
        font-weight: $font-weight-bold;
    }
    .synopsis {
        font-size: $font-size-4;
        line-height: $font-line-height*1.2;
        a {
            border-bottom: 1px dotted $color-blue;
            &:hover {
                border-bottom: 1px solid $color-blue-dark;
                text-decoration: none;
            }
        }
    }
}

.request.main {
    .tabs {
        list-style-type: none;
        padding-left: 0;
        border-bottom: 1px solid $color-grey;
        .tab {
            display: inline-block;
            margin-bottom: -1px;
            padding: $vertical-rhythm/2 $vertical-rhythm;
            border: 1px solid transparent;
            border-bottom: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: $color-grey-3;
            cursor: pointer;
            &.active {
                color: $color-black;
                border-color: $color-grey;
                border-bottom: 1px solid $color-white;
            }
        }
    }
    .tab-section {
        display: none;
        &.visible { display: block; }
        margin-bottom: 0;
    }
    .filter {
        margin-bottom: 0;
    }
}

.request .overview {
    .dates {
        tr {
            background-color: $color-white;
        }
    }
    .signup-prompt {
        @include border;
        padding: $vertical-rhythm/2;
        .button {
            float: left;
        }
    }
    .task-link {
        display: block;
        margin-bottom: $vertical-rhythm;
        padding: $vertical-rhythm/2;
        @include border;
        @include border-radius;
        border-color: $color-blue-dark;
        background-color: lighten($color-blue, 25%);
        color: $color-blue-dark;
        font-weight: $font-weight-bold;
        @include transition(all .25s linear);
        &:hover {
            background-color: lighten($color-blue, 5%);
            border-color: $color-black;
            color: $color-black;
            text-decoration: none;
        }
    }
}

.request .communications {
    .communications-controls {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
    }
    .communications-actions {
        margin-bottom: 0;
        @include media($medium-layout) {
            text-align: right;
        }
    }
    .communications.filter, .communications-actions {
        @include flex(1 100%);
        @include media($medium-layout) {
            @include flex(1 50%);
        }
    }
    .communications-settings {
        margin-bottom: 0;
        margin-top: $vertical-rhythm;
        p {
            margin-bottom: 0;
        }
    }
    .communications-list {
        @include display(flex);
        @include flex-direction(column);
    }
    .auto-follow-up {
        @include display(flex);
        @include justify-content(space-between);
        padding: $vertical-rhythm/2;
        border: 1px solid $color-blue;
        color: $color-blue;
        p {
            margin-bottom: 0;
        }
        a {
            color: $color-blue-dark;
            border-bottom: 1px dotted;
            &:hover {
                color: $color-black;
                border-bottom: 1px solid;
                text-decoration: none;
            }
        }
    }
    .communications-composer {
        @include display(flex);
        @include align-items(stretch);
        .composer-actions {
            @include display(flex);
            @include flex-direction(column);
        }
        .composer-input {
            @include flex(1);
            display: none;
            &.visible {
                display: block;
            }
            margin-left: $vertical-rhythm;
            margin-bottom: 0;
            @include border;
            textarea {
                display: block;
                height: 15em;
                margin-bottom: 0;
                border: none;
                border-radius: 0;
            }
            label {
                display: block;
                padding: $vertical-rhythm/2;
                border-bottom: 1px solid $color-grey;
            }
            .buttons {
                padding: $vertical-rhythm/2;
                border-top: 1px solid $color-grey;
                @include display(flex);
                @include justify-content(space-between);
            }
            &.inactive {
                p {
                    height: 15em;
                    padding: $vertical-rhythm/2;
                    background-color: #FFF;
                    color: $color-grey;
                }
                span {
                    border-bottom: 1px dotted;
                    cursor: pointer;
                    &:hover {
                        color: $color-blue;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
    }
}
.request .files {
    ul {
        list-style-type: none;
        padding-left: 0;
        @include row;
        li {
            @include half;
            margin-bottom: $vertical-rhythm/2;
            border: $base-border-width solid $color-blue;
            @include border-radius;
            padding: $vertical-rhythm/2 $vertical-rhythm;
            &.active {
                background-color: $color-blue;
                color: $color-white;
                a { color: $color-white; }
                .embed.modal { color: $color-black; }
            }
        }
    }
    .viewer {
        position: relative;
        width: 100%;
        height: 66em;
        margin: $vertical-rhythm auto;
    }
}
.request .notes {
    .notes-controls {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        p {
            margin-bottom: 0;
        }
    }
    .note {
        @include border;
        border-color: $color-yellow;
        .note-date {
            margin-bottom: 0;
            padding: $vertical-rhythm/2;
            background-color: $color-yellow;
            text-align: right;
        }
        .note-body {
            padding: $vertical-rhythm/2;
        }
    }
}
