.profile {
    @include row;
    .metadata {
        @include third;
        dfn {
            margin-bottom: $vertical-rhythm;
            font-weight: $font-weight-bold;
            font-size: $font-size-3;
        }
        h1 {
            font-weight: $font-weight-bold;
        }
    }
    .activity {
        @include two-thirds;
    }
}

.account.profile {
    .metadata h1 small {
        font-weight: $font-weight-normal;
        font-size: $font-size-3;
    }
}
