.create.project {
    max-width: 40em;
    margin: 0 auto $vertical-rhythm;
}
.update.project {
    header {
        @include display(flex);
        @include justify-content(flex-start);
    }
}
.project .field {
    header {
        margin-bottom: 0;
    }
    .error input {
        border-color: $color-red;
    }
    .required, .errorlist {
        color: $color-red;
        font-size: $font-size-2;
    }
    .errorlist {
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }
    label {
        margin-right: $vertical-rhythm/2;
        font-weight: $font-weight-bold;
    }
    input {
        display: block;
        width: 100%;
    }
    input[type="checkbox"], input[type="radio"] {
        width: auto;
        margin-top: $vertical-rhythm/4;
        margin-right: $vertical-rhythm/2;
        float: left;
    }
    textarea {
        display: block;
        height: 5em;
        margin-bottom: 0;
    }
    .help-text {
        margin-top: $vertical-rhythm/4;
    }
    &.image {
        .preview {
            display: block;
            margin-bottom: $vertical-rhythm/2;
            max-width: 20em;
        }
        input {
            display: inline-block;
            float: none;
            width: auto;
            margin-right: 0;
        }
        label[for*="clear_id"] {
            font-weight: $font-weight-normal;
        }
        input[id*="clear_id"] {
            margin-left: $vertical-rhythm;
        }
    }
}

.project {
    .inline {
        margin-bottom: 0;
    }
    .inline li {
        display: inline-block;
        vertical-align: top;
        margin: 0 $vertical-rhythm/2 $vertical-rhythm/2 0;
        @include media($medium-layout) {
            margin: 0 $vertical-rhythm $vertical-rhythm 0;
        }
    }
    .stats {
        .stat {
            font-size: $font-size-2;
            line-height: $font-line-height;
        }
        .value {
            display: block;
            font-weight: $font-weight-bold;
            font-size: $font-size-4;
            line-height: $font-line-height;
        }
    }
    .autocomplete-light-widget {
        width: 100%;
        input {
            width: 100%;
        }
        .deck {
            display: block;
            .choice {
                display: inline-flex;
                align-items: center;
                width: auto;
                margin-bottom: $vertical-rhythm/2;
                border: 1px solid $color-grey;
                background: $color-white-pure;
                @include border-radius;
                overflow: hidden;
                .remove {
                    order: 1;
                }
            }
        }
    }
}

.project.detail {
    .project-header {
        @include edge-to-edge($vertical-rhythm);
        .image, .title {
            margin-bottom: 0;
        }
        .image {
            min-height: 45vh;
            background-size: cover;
            background-position: center;
            background-color: $color-grey-5;
        }
        .toolbar {
            // @include flex(0 1 100%);
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(center);
            background: $color-grey-2;
            color: $color-white;
            border-top: 1px solid $color-grey-3;
            border-bottom: 1px solid $color-black;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            font-weight: $font-weight-bold;
        }
    }

    .overview {
        @include display(flex);
        @include flex-flow(wrap);
        max-width: 60em;
        margin: 0 auto $vertical-rhythm;
        main {
            @include flex(2 1 20em);
            min-width: 0;
        }
        aside {
            @include flex(1 1 10em);
            min-width: 0;
            @media (min-width: 33.25em) {
                padding: 0 $vertical-rhythm;
            }
        }
        .title {
            @include media($medium-layout){
                font-size: $font-size-9;
                line-height: $font-line-height;
            }
        }
        summary {
            font-size: $font-size-4;
            line-height: $font-line-height;
        }
        .contributor {
            @include display(flex);
            margin-bottom: $vertical-rhythm/2;
            .avatar {
                display: block;
                @include border-radius;
            }
            .info {
                padding: $vertical-rhythm/4 $vertical-rhythm/2;
                p {
                    margin-bottom: 0;

                }
                a {
                    color: $color-black;
                }
                a:hover {
                    color: $color-blue;
                    path { fill: $color-blue; }
                }
                .name {
                    font-weight: $font-weight-bold;
                }
                .icon {
                    margin-left: $vertical-rhythm/2;
                }
            }
        }
        .stat a {
            color: $color-black;
            &:hover {
                color: $color-blue;
            }
        }
    }

    .objects {
        @include display(flex);
        @include flex-flow(wrap row);
        max-width: 60em;
        margin: 0 auto $vertical-rhythm;
        .articles, .requests {
            @include flex(1 1 20em);
        }
        .articles {
            margin-right: $vertical-rhythm;
        }
    }

    .articles .article {
        @include display(flex);
        @include align-items(center);
        margin-bottom: $vertical-rhythm/2;
        color: $color-black;
        font-weight: $font-weight-bold;
        line-height: $font-line-height;
        &:hover {
            color: $color-blue;
        }
        img {
            display: block;
            width: auto;
            margin-bottom: 0;
            margin-right: $vertical-rhythm/2;
        }
        .text {
            @include flex(1);
        }
        .text > * {
            margin-bottom: 0;
        }
        .date {
            color: $color-grey;
        }
    }
}


.project.frontpage {
    @include edge-to-edge;
    .frontpage-header {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-items(center);
        margin-bottom: 0;
        padding: $vertical-rhythm 0 0;
        background: $color-blue-light;
        border-bottom: 1px solid $color-blue;
        & > * {
            margin-bottom: 0;
            padding: 0 $vertical-rhythm $vertical-rhythm;
            @include flex(1 1 18rem);
        }
        h1, ul {
            text-align: center;
        }
        p {
            font-size: $font-size-2;
            line-height: $font-line-height;
        }
        li {
            margin-bottom: 0;
        }
    }
    .projects {
        @include display(flex);
        @include flex-wrap(wrap);
    }
    .project {
        @include flex(1 1 30em);
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        margin: $vertical-rhythm;
        background: $color-white-pure;
        border: 1px solid $color-grey;
        @include border-radius;
        overflow: hidden;
    }
    h1 {
        font-size: $font-size-7;
        line-height: $font-line-height;
        @include media($medium-layout) {
            font-size: $font-size-9;
            line-height: $font-line-height;
        }
    }
    .more {
        font-weight: $font-weight-bold;
    }
    .frontpage-header .inline li {
        vertical-align: middle;
    }
    .project-header {
        @include flex(0 1 100%);
        @include display(flex);
        min-height: 15em;
        margin-bottom: 0;
        background-position: center;
        background-size: cover;
        background-color: $color-blue-dark;
        .project-header-wrapper {
            @include display(inline-flex);
            @include flex-direction(column);
            @include justify-content(flex-end);
            min-height: 100%;
            width: 100%;
            padding: $vertical-rhythm;
            background: rgb(52, 61, 71);
            background: rgba(52, 61, 71, .8);
            &:hover {
                background: rgba(52, 61, 71, .6);
            }
            transition: background .25s linear;
        }
        h2 {
            max-width: 20em;
            font-size: $font-size-6;
            line-height: $font-line-height;
            @include media($medium-layout) {
                font-size: $font-size-8;
                line-height: $font-line-height;
            }
        }
        a {
            color: $color-white;
        }
    }
    .overview, .details {
        padding: $vertical-rhythm/2;
        @include media($medium-layout) {
            padding: $vertical-rhythm;
        }
    }
    .overview {
        @include flex(1 1 20em);
        margin-bottom: 0;
        h2 a, .stat a {
            color: $color-black;
            &:hover {
                color: $color-blue;
            }
        }
    }
    .details {
        @include flex(1 1 10em);
    }
    .create-project {
        p {
            font-size: $font-size-2;
            line-height: $font-line-height;
        }
    }
    .crowdfund {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-items(flex-start);
        .progress {
            @include flex(0 1 100%);
        }
        .stats, .button {
            @include flex(1 1 auto);
        }
    }
}
