.project-create.form {
    fieldset {
        &.title, &.description {
            @include full;
        }
    }
    .social.preview {
        @include row;
        margin: 0 0 $vertical-rhythm;
        padding: .5em;
        border: 1px solid $color-grey;
        section {
            @include half;
        }
        .image {
            height: 15em;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    // We style the social previews like they would appear on their respective
    // social networks.

    .social.preview .facebook {
        border: 1px solid $color-grey;
        background: #FFF;
        p { margin-top: 0; }
        .textarea {
            padding: .5em;
        }
        .title {
            font-family: 'Georgia', serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
        }
        .description, .attribution {
            font-family: 'Helvetica', sans-serif;
        }
        .description {
            font-size: 12px;
            line-height: 16px;
        }
        .attribution {
            margin-bottom: 0;
            font-size: 11px;
            line-height: 11px;
            text-transform: uppercase;
            color: #9197a3;
        }
    }

    .social.preview .twitter {
        padding: 1em;
        padding-top: 0;
        background-color: #FFF;
        border: 1px solid #666;
        border-radius: 6px;
        .title {
            font-family: 'Helvetica', sans-serif;
            font-size: 16px;
        }
        .attribution {
            font-family: 'Helvetica', sans-serif;
            font-size: 13px;
            color: #666;
        }
        .image {
            border-radius: 6px;
        }
    }
}

.project.detail {
    .project-header {
        @include edge-to-edge($vertical-rhythm);
        // @include display(flex);
        // @include flex-flow(wrap row-reverse);

        .image, .text {
            // @include flex(1 1 20em);
            margin-bottom: 0;
        }
        .image {
            min-height: 40vh;
            background-size: cover;
            background-position: center;
            background-color: $color-grey-5;
        }
        .text {
            padding: $vertical-rhythm;
            text-align: center;
        }
        @include media($medium-layout){
            .title {
                font-size: $font-size-9;
                line-height: $font-line-height;
            }
        }
        .toolbar {
            // @include flex(0 1 100%);
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(center);
            background: $color-grey-2;
            color: $color-white;
            border-top: 1px solid $color-grey-3;
            border-bottom: 1px solid $color-black;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            font-weight: $font-weight-bold;
        }
    }

    .project-intro {
        @include display(flex);
        @include flex-flow(wrap);
        .project-metadata {
            @include flex(1 1 10em);
            @media (min-width: 33.25em) {
                padding: 0 $vertical-rhythm;
            }
        }
        .project-summary {
            @include flex(2 1 20em);
        }
    }

    .overview {
        @include display(flex);
        @include flex-flow(wrap);
        .project-description {
            @include flex(2 1 20em);
        }
        .project-objects {
            @include flex(1 1 10em);
            @media (min-width: 33.25em) {
                padding: 0 $vertical-rhythm;
            }
        }
    }

    .articles .article {
        @include display(flex);
        @include align-items(center);
        margin-bottom: $vertical-rhythm/2;
        color: $color-black;
        font-weight: $font-weight-bold;
        font-size: $font-size-2;
        line-height: $font-line-height;
        &:hover {
            color: $color-blue;
            img {
                opacity: 1;
            }
        }
        img {
            display: block;
            width: auto;
            margin-bottom: 0;
            margin-right: $vertical-rhythm/2;
            opacity: .5;
        }
        .text > * {
            margin-bottom: 0;
        }
        .date {
            color: $color-grey;
        }
    }
}


.project.frontpage {
    @include edge-to-edge;
    h1 {
        font-size: $font-size-7;
        line-height: $font-line-height;
        @include media($medium-layout) {
            font-size: $font-size-9;
            line-height: $font-line-height;
        }
    }
    .inline {
        margin-bottom: 0;
    }
    .inline li {
        display: inline-block;
        vertical-align: top;
        margin: 0 $vertical-rhythm/2 $vertical-rhythm/2 0;
        @include media($medium-layout) {
            margin: 0 $vertical-rhythm $vertical-rhythm 0;
        }
    }
    .stats {
        .stat {
            font-size: $font-size-2;
            line-height: $font-line-height;
        }
        .value {
            display: block;
            font-weight: $font-weight-bold;
            font-size: $font-size-4;
            line-height: $font-line-height;
        }
    }
    .more {
        font-weight: $font-weight-bold;
    }
    .frontpage-header .inline li {
        vertical-align: middle;
    }
    .frontpage-header, .featured .project {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        min-height: 15em;
        margin-bottom: 0;
    }
    .project-header {
        @include flex(0 1 100%);
        margin-bottom: 0;
        background-position: center;
        background-size: cover;
        .project-header-wrapper {
            display: block;
            height: 100%;
            width: 100%;
            padding: $vertical-rhythm;
            padding-top: 10*$vertical-rhythm;
            background: rgb(43, 69, 104);
            background: rgba(43, 69, 104, .8);
        }
        h2 {
            max-width: 20em;
            font-size: $font-size-6;
            line-height: $font-line-height;
            @include media($medium-layout) {
                font-size: $font-size-8;
                line-height: $font-line-height;
            }
        }
        a {
            color: $color-white;
        }
    }
    .overview, .details {
        padding: $vertical-rhythm/2;
        @include media($medium-layout) {
            padding: $vertical-rhythm;
        }
    }
    .overview {
        max-width: 40em;
        @include flex(1 1 20em);
        margin-bottom: 0;
        h2 a, .stat a {
            color: $color-black;
            &:hover {
                color: $color-blue;
            }
        }
    }
    .details {
        @include flex(1 1 10em);
        max-width: 20em;

    }
    .create-project {
        p {
            font-size: $font-size-2;
            line-height: $font-line-height;
        }
    }
    .crowdfund {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-items(flex-start);
        /*
        padding: $vertical-rhythm/2;
        background: $color-white-pure;
        border: 1px solid $color-grey;
        */
        .progress {
            @include flex(0 1 100%);
        }
        .stats, .button {
            @include flex(1 1 auto);
        }
    }
}
