.profile {
    @include row;
    .metadata {
        @include third;
        dfn {
            margin-bottom: $vertical-rhythm;
            font-weight: $font-weight-bold;
            font-size: $font-size-3;
        }
        h1 {
            font-size: $font-size-6;
            font-weight: $font-weight-bold;
        }
        h2 {
            font-size: $font-size-5;
        }
    }
    .activity {
        @include two-thirds;
    }
}

.profile .flag {
    form {
        display: none;
        &.visible {
            display: block;
        }
        @include border;
        header, footer, textarea {
            margin: 0;
            padding: $vertical-rhythm/2;
        }
        textarea {
            display: block;
            border-radius: 0;
            border-left: none;
            border-right: none;
        }
        footer {
            @include display(flex);
            @include justify-content(space-between);
        }
    }
}

.account.profile {
    .metadata h1 small {
        font-weight: $font-weight-normal;
        font-size: $font-size-3;
    }
}

.agency.profile {

}
