.master-detail {
    @include row;
    .master {
        @include grid-columns(4, 2, 3);
        input.search {
            width: 100%;
            display: block;
            margin-bottom: $vertical-rhythm;
            border-radius: 0;
            outline: none;
        }
        .tag-table {
            max-height: 25em;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .list {
                display: table-row-group;
            }
            tr {
                background-color: $color-white;
            }
            td {
                padding: 0;
                a {
                    display: block;
                    padding: $vertical-rhythm/2 $vertical-rhythm;
                    background-color: $color-white;
                    &.active, &:hover {
                        text-decoration: none;
                        color: $color-white;
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
    .detail {
        @include grid-columns(4, 4, 9);
    }
}
