{% extends "base.html" %}
{% load tags %}

{% block title %}Search{% endblock %}
{% block headline %}Search{% endblock %}

{% block sub-nav %}
<ul class="tabbed">
	<li>&nbsp;</li>
</ul>
{% endblock %}

{% block content %}
    <h2>Search</h2>

	<div class="form">
  <form action="" method="get">
		<fieldset>
			<input type="text" name="q" value="test" id="id_q" style="width: 300px;" /> &nbsp; <input type="submit" name="submit" value="Search" class="button" />
			<br />
			<a href="#" id="advanced-link" class="small">Advanced</a>
			<div id="advanced-search">
				<ul> 
					<li><label for="id_models_0"><input type="checkbox" name="models" value="news.article" id="id_models_0" /> Articles</label></li> 
					<li><label for="id_models_1"><input type="checkbox" name="models" value="foia.foiarequest" id="id_models_1" /> FOIA Requests</label></li> 
				</ul> 
			</div>
		</fieldset>
  </form>
	</div>
        {% if query %}
            <h3>Results</h3>

						<table class="data-table">
							<tr class="odd">
								<th width="40%">Title</th>
								<th width="30%">User</th>
								<th width="30%">Date</th>
							</tr>
            {% for result in page.object_list %}
								{% if result.model_name == "foiarequest" %}
									{% if result.object|foia_is_viewable:user %}
										<tr class="{% cycle 'even' 'odd' %}">
											<td><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></td>
											<td><a href="{% url acct-profile result.object.user.username %}">{{result.object.user.username}}</a></td>
											<td>{% if result.object.date_submitted %}
														{{ result.object.date_submitted|date }}
													{% else %}
														{{ result.object.communications.all.0.date|date }}
													{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endif %}
								{% if result.model_name == "article" %}
									<tr class="{% cycle 'even' 'odd' %}">
										<td><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></td>
										<td><a href="{% url acct-profile result.object.author.username %}">{{result.object.author.username}}</a></td>
										<td>{{ result.object.pub_date|date }}</td>
									</tr>
								{% endif %}
            {% empty %}
						{# <p>No results found.</p> this leaks information if left in #}
            {% endfor %}
						</table>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
		<script type="text/javascript">
		$(function() {
			$("#advanced-search").hide();
			});
		$("#advanced-link").click(function() {
			$("#advanced-search").slideToggle("fast");
			});
		</script>
{% endblock %}
