
{% if user.is_authenticated or is_agency_user %}
  <section class="actions">

    {% if can_revoke %}
      <div class="confirmation prompt">
        <p>
          {% with contact_info=foia.get_contact_info %}
            Thank you for submitting your request! You have
            {{ revoke_deadline|timeuntil }} to make changes before we
            {% if contact_info.0 %}
              send it via <strong>{{ contact_info.0 }}</strong> to 
              <strong>{{ contact_info.1 }}</strong>, the best contact
              information we have on file.
            {% else %}
              work on sending it. We don't yet have contact information for
              this agency, so we're starting to research it. If you know the
              best contact, feel free to click on the "<a href="#tasks">Tasks</a>"
              Tab and fill it out if you see it.
            {% endif %}
            On average,
            <a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency }}</a>
            takes <strong>{{ foia.agency.average_response_time }}</strong>
            days to complete requests.  You can read more — including additional
            stats and requests by other users — on
            <a href="{{ foia.agency.get_absolute_url }}">the agency's profile page</a>
            as well as on our page for
            {% if foia.jurisdiction.level == "f" %}the{% endif %}
            <a href="{{ foia.jurisdiction.get_absolute_url }}">
              {{ foia.jurisdiction.name }}
            </a>{% if foia.jurisdiction.parent and foia.jurisdiction.level == "l" %},
            <a href="{{ foia.jurisdiction.parent.get_absolute_url }}">
              {{ foia.jurisdiction.parent.abbrev }}
            </a>{% endif %}
          {% endwith %}
        </p>
        <ul>
          <li>
            <strong>Not where this request should go?</strong> Click
            "<a href="{% url "foia-draft" idx=foia.composer.pk %}">Edit</a>"
            and then "See where this request will be sent" on the bottom of the
            submission page.
          </li>
          <li>
            <strong>Want a second opinion?</strong> Click
            "<a href="{% url "foia-draft" idx=foia.composer.pk %}">Edit</a>"
            and then copy the URL and send it to us at
            <a href="mailto:info@muckrock.com">info@muckrock.com</a>
            and we're happy to take a look at your request language. Or
            <a href="/slack/">join our FOIA Slack</a> and get real time help
            from other requesters.
          </li>
          <li>
            <strong>Other ideas how we can improve the request page?</strong>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdm-eL55TNFATQDiwB359ouNb1_ffD98tcDEbajFnoSejzpoQ/viewform">
              Take our quick survey!
            </a>
          </li>
        </ul>
        <footer class="button-group">
          {% if user.is_staff %}
            <form
              method="post"
              action="{% url "foia-composer-detail" idx=foia.composer.pk slug=foia.composer.slug %}"
              id="send-now"
            >
              {% csrf_token %}
            </form>
            <button class="button" name="action" value="send-now" form="send-now">
              Send Now
            </button>
          {% endif %}
          <a class="success button" href="{% url "foia-draft" idx=foia.composer.pk %}">
            Edit
          </a>
        </footer>
      </div>
    {% endif %}

    {% if user_can_pay %}
      <div class="payment prompt">
        <p>
          This request requires a payment{% if foia.price %} of
          ${{foia.price|floatformat:2}}{% endif %}.
        </p>
        <footer class="button-group">
          <a class="success button" href="#pay">Pay</a>
          {% if not foia.crowdfund %}
            <a class="success button" href="#crowdfund">Crowdfund</a>
          {% endif %}
          {% if request.user.is_staff %}
            <a href="#staff-pay" class="green button">Staff Pay</a>
          {% endif %}
        </footer>
      </div>
    {% endif %}

    <form method="post" novalidate>
      {% csrf_token %}
      {% for action in user_actions %}
        {% if action.test %}
          {% if action.link %}
            <a
              href="{{ action.link }}"
              class="button{% if action.class_name %} {{ action.class_name }}{% endif %}"
              title="{{ action.desc }}"
            >{{ action.title }}</a>
          {% endif %}

          {% if action.modal %}
            <span
              data-modal="#{{action.action}}-modal"
              class="text-area modal-button button {% if action.class_name %}{{ action.class_name }}{% endif %}"
              >{{ action.title }}</span>
            <div class="modal" id="{{action.action}}-modal">
              <h1>{{ action.title }}</h1>
              <h2>{{ action.desc }}</h2>
              {% for field in action.form %}
                {{ field }}
                {% if field.help_text %}
                  <p class="help-text">{{ field.help_text }}</p>
                {% endif %}
              {% endfor %}
              <button
                type="submit"
                name="action"
                value="{{ action.action }}"
                class="primary button"
              >{{ action.title }}</button>
              <span class="close-modal button">Close</span>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </form>
  </section>

{% else %} {# unauthenticated #}

  <div class="signup prompt">
    <p>
      MuckRock users can file, duplicate, track, and share public records requests
      like this one. <a href="/about/muckrock-101/">Learn more.</a>
    </p>
    <footer>
      <a href="{% url "foia-create" %}" class="primary button">
        {% include "lib/component/icon/create-request.svg" %}
        <span>File a Request</span>
      </a>
    </footer>
  </div>

{% endif %}

{% if is_agency_user %}
  <section class="agency-info">
    <p>
      This request was filed by {{ foia.user.profile.full_name }} through
      MuckRock, a non-profit organization that helps journalists, researchers,
      and the public file, track, and share records requests. You may follow up
      directly with the requester by following the prompts below. Should this
      request be directed elsewhere? Have you already responded? Click Get Help
      above and let us know, or reach our team directly at
      <a href="tel:{{ settings.PHONE_NUMBER_LINK }}">{{ settings.PHONE_NUMBER }}</a>
      or at
      <a href="mailto:{{ settings.DEFAULT_FROM_EMAIL }}">
        {{ settings.DEFAULT_FROM_EMAIL }}
      </a>.
      <a href="/agency-faq/">Frequently asked questions</a> about MuckRock.
    </p>
    <p>
      Upload documents and update the status of the request below, or choose an
      option to reach our team directly:
    </p>
    <ul>
      <li>
        <a
          href="#"
          data-modal="#flag-modal"
          data-category="already responded"
          class="modal-link agency-flag"
          >
          I already responded to this request
        </a>
      </li>
      <li>
        <a
          href="#"
          data-modal="#flag-modal"
          data-category="bad contact"
          class="modal-link agency-flag"
          >
          I’m not the best contact for this
        </a>
      </li>
      <li>
        <a
          href="#"
          data-modal="#flag-modal"
          data-category="wrong agency"
          class="modal-link agency-flag"
          >
          This request should go to a different agency
        </a>
      </li>
      <li>
        <a
          href="#"
          data-modal="#flag-modal"
          data-category=""
          class="modal-link agency-flag"
          >
          Something else not covered here.
        </a>
      </li>
    </ul>
  </section>
{% endif %}


