{% load cache %}

{% cache cache_timeout foia_detail_twitter_card foia.pk request.user.pk %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@muckrock" />
  {% if foia.user.profile.twitter %}
    <meta name="twitter:creator" content="{{ foia.user.profile.twitter }}" />
  {% endif %}
  <meta name="twitter:title" content="{{ foia.title }}" />
  <meta name="twitter:description" content="{{ foia.user.profile.full_name }}
    {% if foia.datetime_done %}made{% else %}is making{% endif %}
    this request
    {% if foia.agency %}
      to {{ foia.agency.name }} of
      {% if foia.jurisdiction.name == "United States of America" %}the {% endif %}
      {{ foia.jurisdiction.name }}.
    {% endif %}"
    />
{% endcache %}
