{% extends 'foiamachine/base.html' %}

{% load hosts %}

{% block main %}
<main class="profile">
    <header class="space-between align-baseline">
        <h2>Your Requests</h2>
        <p class="margin-bottom"><a href="{% host_url 'foi-create' host 'foiamachine' %}" class="bold">Create request</a></p>
    </header>
    {% if requests %}
    <form method="post" id="request-manager">
        {% csrf_token %}
        <button class="button" type="submit" name="action" value="delete">Delete</button>
    </form>
    <table class="ruled">
        <thead>
            <tr>
                <th><input type="checkbox" form="request-manager" /></th>
                <th>Title</th>
                <th class="small">Jurisdiction</th>
                <th class="small">Agency</th>
            </tr>
        </thead>
        <tbody>
            {% for foi in requests %}
            <tr>
                <td><input type="checkbox" form="request-manager" name="request" value="{{foi.id}}"/></th>
                <td><a href="{{foi.get_absolute_url}}">{{foi.title}}</a></td>
                <td class="small"><a href="{{foi.jurisdiction.get_absolute_url}}">{{foi.jurisdiction}}</a></td>
                {% if foi.agency %}
                <td class="small"><a href="{{foi.agency.get_absolute_url}}">{{foi.agency}}</a></td>
                {% else %}
                <td class="small">None</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="bold">You have not created any public records requests.</p>
    {% endif %}
</main>
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
var toolbar = $('#request-manager :button');
toolbar.attr('disabled', true);
$('th input:checkbox').change(function(){
    var table = $(this).closest('table');
    var headerCheckbox = $(this);
    var bodyCheckboxes = $(table).find('td input:checkbox');
    var checked = this.checked;
    bodyCheckboxes.each(function(){
        this.checked = checked;
    });
    if (checked) {
        toolbar.attr('disabled', false);
    } else {
        toolbar.attr('disabled', true);
    }
});
$('td input:checkbox').change(function(){
    var table = $(this).closest('table');
    var headerCheckbox = $(table).find('th input:checkbox');
    var bodyCheckboxes = $(table).find('td input:checkbox');
    var checkedBoxes = bodyCheckboxes.filter(':checked');
    if (checkedBoxes.length == bodyCheckboxes.length) {
        headerCheckbox[0].indeterminate = false;
        headerCheckbox[0].checked = true;
    } else {
        headerCheckbox[0].indeterminate = true;
    }
    if (checkedBoxes.length == 0) {
        headerCheckbox[0].indeterminate = false;
        headerCheckbox[0].checked = false;
        toolbar.attr('disabled', true);
    } else {
        toolbar.attr('disabled', false);
    }
});
/*
    checkboxes.change(function() {
        var oppositeCheckboxes = $(this).filter(function(index, element){
            return element.checked != checked
        });
        console.log(oppositeCheckboxes);
        if (oppositeCheckboxes.length > 0) {
            headerCheckbox.indeterminate = true;
        } else {
            headerCheckbox.indeterminate = false;
        }
    });
});
*/
</script>
{% endblock %}
