{% extends 'foiamachine/base.html' %}

{% load hosts %}

{% block main %}
<main class="profile">
    <header class="space-between align-baseline">
        <h2>Your Requests</h2>
        <p class="margin-bottom"><a href="{% host_url 'foi-create' host 'foiamachine' %}" class="bold">Create request</a></p>
    </header>
    {% with user.foiamachinerequest_set.all as requests %}
    {% if requests %}
    <table class="ruled">
        <thead>
            <tr>
                <th>Title</th>
                <th class="small">Jurisdiction</th>
                <th class="small">Agency</th>
            </tr>
        </thead>
        <tbody>
            {% for foi in requests %}
            <tr>
                <td><a href="{{foi.get_absolute_url}}">{{foi.title}}</a></td>
                <td class="small"><a href="{{foi.jurisdiction.get_absolute_url}}">{{foi.jurisdiction}}</a></td>
                {% if foi.agency %}
                <td class="small"><a href="{{foi.agency.get_absolute_url}}">{{foi.agency}}</a></td>
                {% else %}
                <td class="small">None</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="bold">You have not created any public records requests. <a href="{% host_url 'foi-create' host 'foiamachine' %}">Create a new request</a></p>
    {% endif %}
    {% endwith %}
</main>
{% endblock %}
