{% extends 'base.html' %}
{% block title %}MuckRock &bull; Payment{% endblock title %}

{% block content %}
<section class="credit-card form">
    <header>
        <h1>{{ heading }}</h1>
    {% if foia %}
        <h2>{{ foia.title }}</h2>
    {% endif %}
    {% if desc %}
        <p>{{desc}}</p>
    {% endif %}
    </header>
    {% include 'lib/form.html' %}
</section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="{{ SITE_ROOT }}/static/js/jquery.validate.min.js"></script>
    {% include "lib/stripe.html" %}
    <!--
		The easiest way to indicate that the form requires JavaScript is to show
		the form with JavaScript (otherwise it will not render). You can add a
		helpful message in a noscript to indicate that users should enable JS.
	-->
	<script>if (window.Stripe) $("#stripe-form").show()</script>
	<noscript><p>JavaScript is required for the registration form.</p></noscript>
{% endblock scripts %}