{% extends 'details/base_detail.html' %}
{% load markdown_deux_tags %}
{% block title %}MuckRock &bull; {{ user_obj.username|capfirst }}{% endblock title %}
{% block type %}profile{% endblock type %}

{% block header %}
    {% ifequal user user_obj %}
    <h1>{{user_obj.username}}</h1>
    <h2>{{user.get_profile.get_acct_type_display}} Account</h2>
    <dl>
        <dt>Information on File</dt>
        {% if user_obj.first_name and user_obj.last_name %}
        <dd>{{user_obj.first_name}} {{user_obj.last_name}}</dd>
        {% endif %}
        <dd>{{user_obj.email}}</dd>
        {% if user_obj.get_profile.phone %}
        <dd>{{user_obj.get_profile.phone}}</dd>
        {% endif %}
        {% if user_obj.get_profile.address1 or user_obj.get_profile.city %}
            {% if user_obj.get_profile.address1 %}
        <dd>{{ user_obj.get_profile.address1 }}</dd>
                {% if user_obj.get_profile.address2 %}
        <dd>{{ user_obj.get_profile.address2 }}</dd>
                {% endif %}
            {% endif %}
            {% if user_obj.get_profile.city and user_obj.get_profile.state and user_obj.get_profile.zip_code %}
        <dd>{{user_obj.get_profile.city}}, {{user_obj.get_profile.state}}</dd>
        <dd>{{user_obj.get_profile.zip_code}}</dd>
            {% endif %}
        {% endif %}
        
        {% if user_obj.get_profile.get_cc %}
        <dt>Credit Card on File</dt>
        <dd>{{user_obj.get_profile.get_cc.type}} ending with {{user_obj.get_profile.get_cc.last4}}</dd>
        {% endif %}
    </dl>
    {% else %}
    <dfn>Profile</dfn>
    <h1>{{user_obj.username|capfirst}}</h1>
    {% endifequal %}
{% endblock header %}

{% block aside %}
    {% if user == user_obj %}
        <dl>
            <dt>Actions</dt>
            <dd><a href="{% url 'acct-buy-requests' %}" class="primary button">Buy Requests</a></dd>
            {% if user.get_profile.get_acct_type_display == 'Community' %}
            <dd><a href="{% url 'acct-manage-subsc' %}" class="primary button">Upgrade to Pro</a></dd>
            {% endif %}
            {% if user.get_profile.get_acct_type_display == 'Professional' %}
            <dd><a href="{% url 'acct-manage-subsc' %}" class="button">Subscription Settings</a></dd>
            {% endif %}
            <dd><a href="{% url 'acct-update' %}" class="button">Account Settings</a></dd>
            <dd><a href="{% url 'acct-update-cc' %}" class="button">Update Credit Card</a></dd>
        </dl>
        {% if user.get_profile.get_acct_type_display != 'Community' %}
        <dl>
            <dt>Monthly Requests</dt>
            {% if user_obj.get_profile.get_monthly_requests %}
            <dd>{{ user_obj.get_profile.get_monthly_requests }}</dd>
            {% else %}
            <dd>0</dd>
            {% endif %}
        </dl>
        {% endif %}
        <dl>        
            <dt>Requests Remaining</dt>
            {% if user_obj.get_profile.num_requests %}
            <dd>{{ user_obj.get_profile.num_requests }}</dd>
            {% else %}
            <dd>0</dd>
            {% endif %}
        </dl>
    {% endif %}
{% endblock aside %}

{% block main %}

    {% include 'lib/foia_table.html' %}

{% endblock main %}
