/* Details */

.detail {

    .header-container {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(stretch);
        @include justify-content(space-between);
        @include media($medium-layout) {
            .aside .button {
                float: right;
                clear: right;
                margin-bottom: $vertical-rhythm/2;
            }
            .tag-manager {
                margin-bottom: 0;
            }
        }
        .main {
            @include flex(2);
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(space-between);
            max-width:38rem;
            margin-bottom: 0;
            padding-right: $vertical-rhythm;
        }
        .aside {
            @include flex(1);
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(flex-end);
        }
    }

    .body {
        @include row;
    }

    &.agency {
        aside dl { @include third; }
    }

    &.flatpage {
        max-width: 45em;
    }

    &.question {
        .messages-container {
            @include row;
        }
    }

}

@import 'news';
@import 'foia';
