$request-breakpoint: 768px;

.request.detail {
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(column);
    @media all and (min-width: $request-breakpoint) {
        @include flex-direction(row);
        .request.main {
            margin-left: $vertical-rhythm * 2;
        }
    }
    .request.properties {
        @include flex(1);
    }
    .request.main {
        @include flex(3);
    }
}

.request.properties {
    @include display(flex);
    @include flex-direction(column);
    margin-bottom: 0;
    h1 {
        font-size: $font-size-6;
        font-weight: $font-weight-bold;
    }
    .synopsis {
        font-size: $font-size-4;
        line-height: $font-line-height*1.2;
        a {
            border-bottom: 1px dotted $color-blue;
            &:hover {
                border-bottom: 1px solid $color-blue-dark;
                text-decoration: none;
            }
        }
    }
    .numbers, .dates {
        font-size: $font-size-2;
        tr {
            background-color: $color-white;
        }
        td {
            width: 50%;
        }
        .label {
            max-width: 0;
            @include overflow-ellipsis;
        }
        .edit {
            margin-left: $vertical-rhythm/2;
            float: right;
        }
    }
    .change-date {
        display: none;
        @include border;
        padding: $vertical-rhythm/2;
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        label, input[type="text"] {
            @include flex(0 1 100%);
            margin-bottom: $vertical-rhythm/2;
        }
        &.visible {
            @include display(flex);
        }
    }
    .toggle-details {
        display: block;
        margin-bottom: $vertical-rhythm;
        border-bottom: 1px dotted;
        color: $color-blue;
        font-weight: $font-weight-bold;
        cursor: pointer;
        &:hover {
            color: $color-blue-dark;
            border-bottom: 1px solid;
        }
        @media screen and (min-width: $request-breakpoint) {
            display: none;
        }
    }
    .specific-information {
        display: none;
        &.visible {
            display: block;
        }
        @media screen and (min-width: $request-breakpoint) {
            display: block;
        }
    }
}

.request.main {
    .signup-prompt {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(flex-start);
        @include border;
        @include border-radius;
        padding: $vertical-rhythm/2;
        @include media($medium-layout) {
            @include flex-direction(row);
            p {
                @include flex(0 1 60%);
                margin-bottom: 0;
            }
        }
    }

    .tabs {
        list-style-type: none;
        padding-left: 0;
        @include border;
        border-color: $color-blue-dark;
        font-size: 0;
        .tab {
            display: block;
            color: $color-blue;
            padding: $vertical-rhythm/2 $vertical-rhythm;
            font-weight: $font-weight-bold;
            font-size: $font-size-3;
            cursor: pointer;
            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
            &.active {
                background-color: $color-blue-dark;
                color: $color-white;
            }

        }
        @include media($medium-layout) {
            border-top: none;
            border-left: none;
            border-right: none;
            .tab {
                display: inline-block;
                @include border-top-radius(4px);
                &.active {
                    border: 1px solid $color-blue-dark;
                    border-bottom-color: $color-white;
                    background-color: $color-white;
                    color: $color-blue-dark;
                    margin-bottom: -1px;
                }
            }
        }
    }

    .tab-section {
        display: none;
        &.visible { display: block; }
        margin-bottom: 0;
    }
    .filter {
        margin-bottom: 0;
        input {
            width: 100%;
        }
    }
    .empty {
        margin-top: 2*$vertical-rhythm;
        text-align: center;
    }
}

.request .communications {

    .communications-controls {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-wrap(wrap);
    }

    .communications.filter {
        @include flex(0 1 50%);
    }

    .communications-actions {
        margin-bottom: 0;
        @include media($medium-layout) {
            text-align: right;
        }
    }
    .communications-settings {
        margin-bottom: 0;
        margin-top: $vertical-rhythm;
        p {
            margin-bottom: 0;
        }
    }
    .communications-list {
        @include display(flex);
        @include flex-direction(column);
    }
    .auto-follow-up {
        @include display(flex);
        @include justify-content(space-between);
        padding: $vertical-rhythm/2;
        border: 1px solid $color-blue;
        color: $color-blue;
        p {
            margin-bottom: 0;
        }
        a {
            color: $color-blue-dark;
            border-bottom: 1px dotted;
            &:hover {
                color: $color-black;
                border-bottom: 1px solid;
                text-decoration: none;
            }
        }
    }
    .communications-composer {
        @include display(flex);
        @include align-items(stretch);
        .composer-actions {
            @include display(flex);
            @include flex-direction(column);
        }
        .composer-input {
            @include flex(1);
            display: none;
            &.visible {
                display: block;
            }
            margin-left: $vertical-rhythm;
            margin-bottom: 0;
            @include border;
            textarea {
                display: block;
                height: 15em;
                margin-bottom: 0;
                border: none;
                border-radius: 0;
            }
            label {
                display: block;
                padding: $vertical-rhythm/2;
                border-bottom: 1px solid $color-grey;
            }
            .buttons {
                padding: $vertical-rhythm/2;
                border-top: 1px solid $color-grey;
                @include display(flex);
                @include justify-content(space-between);
            }
            &.inactive {
                p {
                    height: 15em;
                    padding: $vertical-rhythm/2;
                    background-color: #FFF;
                    color: $color-grey;
                }
                span {
                    border-bottom: 1px dotted;
                    cursor: pointer;
                    &:hover {
                        color: $color-blue;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
    }
}

.request .files {
    .active-document {
        display: none;
        &.visible {
            display: block;
        }
        header {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(baseline);
            h3 {
                margin-bottom: 0;
            }
        }
    }
    .files-list {
        list-style-type: none;
        padding-left: 0;
        .file {
            margin-bottom: $vertical-rhythm/2;
            border: $base-border-width solid $color-blue;
            @include border-radius;
            padding: $vertical-rhythm/2;
        }
        .active .file {
            border-color: $color-blue-dark;
            background-color: lighten($color-blue, 30%);
            color: $color-blue-dark;
            a, span {
                color: $color-blue-dark;
                &:hover {
                    color: $color-black;
                }
            }
            .file-embed {
                border-color: $color-blue-dark;
                color: $color-black;
                background-color: $color-white;
            }
        }
    }
}

.request .notes {

    .notes-controls {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        p {
            margin-bottom: 0;
        }
    }

    .notes.filter {
        @include flex(0 1 50%);
    }

    .note {
        @include border;
        border-color: $color-yellow;
        .note-date {
            margin-bottom: 0;
            padding: $vertical-rhythm/2;
            background-color: $color-yellow;
            text-align: right;
        }
        .note-body {
            padding: $vertical-rhythm/2;
        }
    }
}

.request .access {
    .generate-private-link, .grant-access {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(flex-start);
        padding: $vertical-rhythm;
        @include border;
        h3 {
            @include flex(0 1 100%);
        }
        button {
            max-width: 10em;
            margin: 0;
        }
    }
    .generate-private-link {
        input[type="text"] {
            @include flex(0 1 100%);
            margin-bottom: $vertical-rhythm;
            @include transition(background-color 1s ease-out);
            background-color: #FFF;
            &.success {
                background-color: $color-green;
                color: $color-black;
            }
        }
        button, .help-text {
            @include flex(1);
        }
        .help-text {
            padding-left: $vertical-rhythm;
        }
    }
    .grant-access {
        @include align-items(center);
        .user.search.input {
            @include flex(0 1 100%);
            .users {
                width: 100%;
            }
            input {
                width: 100%;
            }
            label {
                display: block;
                font-size: $font-size-2;
            }
        }
        select[name="access"] {
            @include flex(0 1 100%);
            margin-bottom: $vertical-rhythm;
        }
        button {
            @include flex(1);
        }
        // overrides the autocomplete widget
        .deck {
            display: block;
        }
        span#id_users-deck .hilight {
            background-color: $color-blue;
            margin: 0 $vertical-rhythm/2 $vertical-rhythm/2 0;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            color: $color-white;
            &:hover {
                background-color: $color-blue-dark;
            }
        }

        span#id_users-deck .hilight .remove {
            width: initial;
            margin-right: $vertical-rhythm/2;
            vertical-align: middle;
            text-align: center;
            font-size: $font-size-7;
            text-indent: 0;
            background: none;
            color: $color-white;
        }

        @include media($medium-layout) {
            .user.search.input {
                @include flex(0 1 70%);
            }
            select[name="access"] {
                @include flex(0 1 25%);
                margin-left: 5%;
                margin-bottom: 0;
            }
        }
    }
    .people.with-access {
        .person {
            background-color: $color-white;
        }
        .person td {
            padding: $vertical-rhythm/2;
            vertical-align: middle;
            text-align: right;
            &.name {
                text-align: left;
                font-weight: $font-weight-bold;
            }
            &.access.nostretch {
                width:1%;
                white-space:nowrap;
            }
            &.modify {
                width: 5em;
            }
            @include media($medium-layout) {
                &.nostretch {
                    width:1%;
                    white-space:nowrap;
                }
            }
        }
        .access-badge {
            width: 5em;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            background: $color-grey;
            color: $color-white;
            text-align: center;
            font-size: $font-size-2;
            &.editor {
                background: $color-green;
            }
            &.reader {
                background: $color-blue;
            }
            @include media($medium-layout) {
                font-size: $font-size-3;
            }
        }
        button {
            padding: $vertical-rhythm/6 $vertical-rhythm/2;
            width: 5em;
            @include media($medium-layout) {
                margin: 0 0 4px;
            }
        }
    }
}

.request .tasks {
    .toggle {
        display: none;
    }
    .task-type {
        padding-left: 0;
    }
}
