.detail.news {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap-reverse);
    max-width: 48em;
    margin: 0 auto;
    .news--article, .news--aside {
        padding: 0 $vertical-rhythm/2;
    }
    .news--article {
        flex: 0 1 32em;
        max-width: 32em;
        min-width: 0;
        header {
            border-bottom: 1px solid $color-grey-6;
            time { @extend dfn; }
            img {
                margin-bottom: $vertical-rhythm/2;
            }
            h1, .kicker {
                margin-bottom: $vertical-rhythm/2;
                font-weight: $font-weight-bold;
                line-height: 1.25em;
            }
        }
        .contributors {
            @include display(flex);
            @include justify-content(space-between);
            color: $color-grey;
            font-size: $font-size-2;
            font-weight: $font-weight-bold;
            .authors, .editors {
                margin-bottom: 0;
            }
        }
    }
    .news--aside {
        flex: 1 1 12em;
        max-width: 32em;
        min-width: 0;
        order: -1;
    }
    // Fixes for embedded content
    div[id^='viewer'] {
        margin: $vertical-rhythm auto;
        @include media($large-layout) {
            margin: $vertical-rhythm auto $vertical-rhythm 0;
        }
    }
    iframe {
        margin-bottom: $vertical-rhythm;
    }
    .iframe-container {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
        & > iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
