{% load humanize %}

{% if not crowdfund.expired %}

<section class="crowdfund">
    {% with received=crowdfund.payment_received required=crowdfund.payment_required %}
    <header>
        <h1>{{ crowdfund.name }}</h1>
        <a href="/docs/crowdfund/">What is this?</a>
    </header>
    <section class="left">
        <section class="description">
            <p>{{ crowdfund.description }}</p>
        </section>
        <section class="contributors">
            {{ crowdfund.list_contributors }}
        </section>
    </section>
    <section class="right">
        <p class="amount-raised">${{ received|intcomma }} raised out of ${{ required|intcomma }}</p>
        <p class="time-remaining">{{ crowdfund.date_due|timeuntil }} remaining</p>
    </section>
    <footer>
        <form method="POST" action="{{ endpoint }}" class="stripe-handler crowdfund-form" id="crowdfund-form">
            {% csrf_token %}
            {{ payment_form.crowdfund }}
            <section class="anonymity">
                {% if logged_in %}
                <label for="id_show">Make my contribution anonymous.</label>
                {{ payment_form.show }}
                {% else %}
                <p>To be listed as a contributor, please log in or sign up.</p>
                {% endif %}
            </section>
            <section class="amount">
                {{ payment_form.amount }}
            </section>
            <section class="action">
                <button data-amount="0"
                        data-description=""
                        data-email="{% if user.is_authenticated %}{{ user.email }}{% endif %}"
                        data-label=""
                        data-form="#crowdfund-form"
                        class="disabled checkout-button"
                        id="crowdfund-button"
                        disabled>
                    Contribute
                </button>
            </section>
        </form>
    </footer>
    {% endwith %}
</section>

{% else %}

<section class="expired crowdfund panel">
    <h1>This crowdfund has ended.</h1>
    <p>It raised ${{ crowdfund.payment_received|intcomma }}.</p>
</section>

{% endif %}
