{% if tags or is_authorized %}
<div class="manager">
    {% if is_authorized %}
    <header>
        <dfn>Tags</dfn>
        <span class="edit" id="edit-tags">Edit</span>
    </header>
    <form method="post" action="{{endpoint}}" class="tag-form" id="tag-form">
        {% csrf_token %}
        {{form.tags}}
        <p><small>Separate tags with commas</small></p>
        <button type="submit" name="action" value="tags" class="tag-form-button primary">Save</button>
        <button class="tag-form-button cancel" id="cancel-tags">Cancel</button>
    </form>
    {% else %}
    <header>
        <dfn>Tags</dfn>
    </header>
    {% endif %}
    <ul class="tag-list nostyle state">
        {% for tag in tags %}
        <li>
            <a class="tag" href="{% url 'tag-detail' slug=tag.slug %}">{{tag.name}}</a>
        </li>
        {% empty %}
        <p>No tags. Add some!</p>
        {% endfor %}
    </ul>
</div>
{% endif %}
