{% extends 'base.html' %}

{% block content %}
<div class="master-detail">
    <section class="master">
        <h1>Tags</h1>
        <div id="tags">
            <input class="search" type="search" placeholder="Filter tags" />
            <div class="tag-table">
                <table>
                    <tbody class="list">
                    {% for tag_item in tags %}
                        <tr>
                            <td class="name">
                                <a href="{% url 'tag-detail' slug=tag_item.slug %}" {% if tag and tag_item.name == tag.name %}class="active"{% endif %}>{{ tag_item.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {% if tag %}
    <section class="detail">
        <h1 class="tag-header">{{ tag.name }}</h1>
        {% if tagged_projects %}
        <h2>{{ tagged_projects|length }} Project{{ tagged_projects|length|pluralize }}</h2>
        <table>
            {% for project in tagged_projects %}
            <tr><td><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></td></tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if tagged_requests %}
        <h2>{{ tagged_requests|length }} Request{{ tagged_requests|length|pluralize }}</h2>
        <table>
            {% for request in tagged_requests %}
            <tr><td><a href="{{ request.get_absolute_url }}">{{ request.title }}</a></td></tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if tagged_articles %}
        <h2>{{ tagged_articles|length }} Article{{ tagged_articles|length|pluralize }}</h2>
        <table>
            {% for article in tagged_articles %}
            <tr><td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td></tr>
            {% endfor %}
        </table>
        {% endif %}
    </section>
    {% else %}
    <section class="no-tag detail">
    </section>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script src="http://listjs.com/no-cdn/list.js"></script>
<script type="text/javascript">
    var options = {
      valueNames: [ 'name' ]
    };

    var tagList = new List('tags', options);
</script>
{% endblock scripts %}
