{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="tag-list master-detail">
    <section class="master">
        <h1>{{ tags|length }} Tag{{ tags|length|pluralize }}</h1>
        <div id="tags">
            <input class="search" type="search" placeholder="Filter tags" />
            <div class="tag-table">
                <table>
                    <tbody class="list">
                    {% for tag_item in tags %}
                        <tr>
                            <td class="name">
                                <a href="{% url 'tag-detail' slug=tag_item.slug %}" {% if tag and tag_item.name == tag.name %}class="active"{% endif %}>{{ tag_item.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {% if tag %}
    <section class="detail">
        <h1 class="tag-header">{{ tag.name }}</h1>
        {% if tagged_projects %}
        <h2>{{ tagged_projects|length }} Project{{ tagged_projects|length|pluralize }}</h2>
        {% for project in tagged_projects %}
            {% include 'lib/pattern/project.html' %}
        {% endfor %}
        {% endif %}
        {% if tagged_requests %}
        <h2>{{ tagged_requests|length }} Request{{ tagged_requests|length|pluralize }}</h2>
        {% for request in tagged_requests %}
            {% include 'lib/pattern/foia.html' %}
        {% endfor %}
        {% endif %}
        {% if tagged_articles %}
        <h2>{{ tagged_articles|length }} Article{{ tagged_articles|length|pluralize }}</h2>
        {% for article in tagged_articles %}
            {% include 'lib/pattern/article.html' %}
        {% endfor %}
        {% endif %}
        {% if tagged_questions %}
        <h2>{{ tagged_questions|length }} Question{{ tagged_questions|length|pluralize }}</h2>
        <table>
            {% for question in tagged_questions %}
            <tr><td><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></td></tr>
            {% endfor %}
        </table>
        {% endif %}
    </section>
    {% else %}
    <section class="no-tag detail">
        <p class="call-to-action">Search or browse for projects, articles, requests, or questions by their tags.</p>
        <p>Or, check out our most popular tags:</p>
        <ul>
            {% for each_tag in popular_tags %}
            <li><a class="tag" href="{% url 'tag-detail' slug=each_tag.slug %}">{{ each_tag.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $('#tags .search').quicksearch('.tag-table tr');
</script>
{% endblock scripts %}
