<!doctype html>

<html>
    <head>
        <title>{% block title %}Muckrock{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <meta name="google-site-verification"
              content="4KnIEDr5Fi-PUL9klVnMlC2BMcStrUwQIj-4gMVfqjk" />
        <!-- Load Assets -->
        <link rel="shortcut icon" href="{{ STATICFILES_DIRS }}/favicon.ico" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ SITE_ROOT }}/static/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Source+Code+Pro:400' rel='stylesheet' type='text/css' />
        <!-- Facebook and Twitter Integration -->
        <!-- http://ogp.me & https://dev.twitter.com/docs/cards -->
        {% block facebook_open_graph %}
        {% endblock facebook_open_graph %}
        {% block twitter_card %}
        {% endblock twitter_card %}
    </head>
    <body>
        {% include 'lib/header-navigation.html' %}
        
        {% block content %}
        {% endblock content %}
        
        {% include 'lib/footer-navigation.html' %}
    </body>
</html>