{% extends 'base.html' %}
{% comment %}

This is the parent style for a single object: a blog post, a FOI request, a question, an agency, a jurisdiction, a user, etc.

{% endcomment %}
{% block content %}
    <article class="{% block type %}{% endblock type %}">
        <header>
            {% block header %}
            {% endblock header %}
        </header>
        <section>
            {% block main %}
            {% endblock main %}
        </section>
        <aside>
            {% block aside %}
            {% endblock aside %}
        </aside>
    </article>
{% endblock %}