
{% extends "registration/base.html" %}

{% block media %}
	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
	<script type="text/javascript">
		Stripe.setPublishableKey('{{pub_key}}');
			$(document).ready(function() {
					function addInputNames() {
							// Not ideal, but jQuery's validate plugin requires fields to have names
							// so we add them at the last possible minute, in case any javascript
							// exceptions have caused other parts of the script to fail.
							$(".card-number").attr("name", "card-number");
							$(".card-cvc").attr("name", "card-cvc");
							$(".card-expiry-year").attr("name", "card-expiry-year");
							$(".card-expiry-month").attr("name", "card-expiry-month");
					}

					function removeInputNames() {
							$(".card-number").removeAttr("name");
							$(".card-cvc").removeAttr("name");
							$(".card-expiry-year").removeAttr("name");
							$(".card-expiry-month").removeAttr("name");
					}

					function disableCC() {
						$(".card-number").attr("disabled", "disabled");
						$(".card-cvc").attr("disabled", "disabled");
						$(".card-expiry-month").attr("disabled", "disabled");
						$(".card-expiry-year").attr("disabled", "disabled");
						$("#id_save_cc").attr("disabled", "disabled");
					}

					function enableCC() {
						$(".card-number").removeAttr("disabled");
						$(".card-cvc").removeAttr("disabled");
						$(".card-expiry-month").removeAttr("disabled");
						$(".card-expiry-year").removeAttr("disabled");
						$("#id_save_cc").removeAttr("disabled");
					}

					$('#id_use_on_file').change(function() {
						if(this.checked) {
							disableCC();
						} else {
							enableCC();
						}
					});
					if ($('#id_use_on_file').is(":checked")) {
						disableCC();
					}

					function submit(form) {
							// remove the input field names for security
							// we do this *before* anything else which might throw an exception
							removeInputNames(); // THIS IS IMPORTANT!

							// given a valid form, submit the payment details to stripe
							$(form['submit-button']).attr("disabled", "disabled")

							Stripe.createToken({
									number: $('.card-number').val(),
									cvc: $('.card-cvc').val(),
									exp_month: $('.card-expiry-month').val(),
									exp_year: $('.card-expiry-year').val()
							}, function(status, response) {
									if (response.error) {
											// re-enable the submit button
											$(form['submit-button']).removeAttr("disabled")
	
											// show the error
											$(".payment-errors").html(response.error.message);
											$(".payment-errors").addClass('error');

											// we add these names back in so we can revalidate properly
											addInputNames();
									} else {
											var token = response['id'];
											var last4 = response['card']['last4'];
											var card_type = response['card']['type'];

											// insert the stripe token
											$("#id_token").val(token);
											$("#id_last4").val(last4);
											$("#id_card_type").val(card_type);

											// and submit
											form.submit();
									}
							});
						return false;
					}

					removeInputNames();

					// add custom rules for credit card validating
					jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
					jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
					jQuery.validator.addMethod("cardExpiry", function() {
							return Stripe.validateExpiry($(".card-expiry-month").val(),
																					 $(".card-expiry-year").val())
					}, "Please enter a valid expiration");

					// We use the jQuery validate plugin to validate required params on submit
					$("#stripe-form").validate({
							submitHandler: submit,
							rules: {
									"card-cvc" : {
											cardCVC: true,
											required: true
									},
									"card-number" : {
											cardNumber: true,
											required: true
									},
									"card-expiry-year" : "cardExpiry" // we don't validate month separately
							},
							highlight: function(element, errorClass) {
								$(element).parent('td').parent('tr').addClass(errorClass);
								$(element).parent('label').parent('li').parent('ul').parent('td').parent('tr').addClass(errorClass);
							},
							unhighlight: function(element, errorClass) {
								$(element).parent('td').parent('tr').removeClass(errorClass);
								$(element).parent('label').parent('li').parent('ul').parent('td').parent('tr').removeClass(errorClass);
							}
					});

					// adding the input field names is the last step, in case an earlier step errors
					addInputNames();
			});
	</script>
{% endblock %}

{% block content %}
  <h1>{{heading}}</h1>
	{% if foia %}
		<h2>{{foia.title}}</h2>
	{% endif %}
	{% if desc %}
		<p class="largest">{{desc}}</p>
	{% endif %}
	<div class="form">
		<form action="" method="post" id="stripe-form" style="display: none;">
			<fieldset>
				
				{% include "form.html" %}

				<input type="submit" name="submit-button" value="Submit" class="button" />
				<div class="payment-errors"></div>
			</fieldset>
		</form>
	</div>

	<!--
		The easiest way to indicate that the form requires JavaScript is to show
		the form with JavaScript (otherwise it will not render). You can add a
		helpful message in a noscript to indicate that users should enable JS.
	-->
	<script>if (window.Stripe) $("#stripe-form").show()</script>
	<noscript><p>JavaScript is required for the registration form.</p></noscript>

{% endblock %}

