
{% extends "registration/base.html" %}

{% block content %}

  <h1 class="login">Log In</h1>

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

	<div class="form">
		<form action="" method="post">
			<fieldset>
				<table>
					<tr>
						<td><label for="username">User name:</label></td>
						<td><input type="text" name="username" value="" id="username"></td>
					</tr>
					<tr>
						<td><label for="password">Password:</label></td>
						<td><input type="password" name="password" value="" id="password"></td>
					</tr>
					<tr>
						<td><input type="submit" value="Log in" class="button" /></td>
						<td></td>
					</tr>
					<input type="hidden" name="next" value="{{ next|escape }}" />
				</table>
			</fieldset>
		</form>
	</div>

	<p>Don't have an account?  <a href="/accounts/register">Create one now.</a></p>
	<p>Forgot your password? <a href="/accounts/reset_pw">Reset it.</a></p>

{% endblock %}

