
{% extends "base.html" %}

{% block content %}

  <h1 class="login">Log In</h1>

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

	<div class="loginform">
		<form action="" method="post">
			<fieldset>
				<p>
					<label for="username">User name:</label>
					<input type="text" name="username" value="" id="username">
				</p>
				<p>
					<label for="password">Password:</label>
					<input type="password" name="password" value="" id="password">
				</p>
				<p>
					<input type="submit" value="Log in" class="button" />
				</p>
				<input type="hidden" name="next" value="{{ next|escape }}" />
			</fieldset>
		</form>
	</div>

	<p>Don't have an account?  <a href="/accounts/register">Create one now.</a></p>
	<p>Forgot your password? <a href="/accounts/reset_pw">Reset it.</a></p>

{% endblock %}

