
{% extends "base.html" %}

{% load filters %}

{% block content %}

<h1>Your Account</h1>
<ul>
	<li><a href="/accounts/update/">Update your information</a>
	<li><a href="/foia/list/{{ user.username }}/">My FOIA Requests</a>
</ul>
<table class="data-table">
	<tr class="odd">
		<th width="30%">User Name</th>
		<td>{{user.username}}</td>
	</tr>
	<tr class="even">
		<th>Name</th>
		<td>{{user.first_name}} {{user.last_name}}</td>
	</tr>
	<tr class="odd">
		<th>Email</th>
		<td>{{user.email}}</td>
	</tr>
	<tr class="even">
		<th>Address</th>
		<td>
			{{user.get_profile.address1}} <br \>
			{% if user.get_profile.address2 %}
				{{user.get_profile.address2}} <br \>
			{% endif %}
			{# if city exists, assume rest of address exists #}
			{% if user.get_profile.city %}
				{{user.get_profile.city}}, {{user.get_profile.state}}
				{{user.get_profile.zip_code}}<br \>
			{% endif %}
		</td>
	</tr>
	<tr class="odd">
		<th>Phone</th>
		<td>
			{% if user.get_profile.phone %}
				{{user.get_profile.phone|format_phone}}
			{% endif %}
		</td>
	</tr>
</table>

{% endblock %}

