
*.swp
*.swo
*.pyc
local_settings.py
fabfile.py
pylint.sh
coverage.sh
whoosh
.coverage
htmlcov
muckrock/static/foia_*
muckrock/static/news_*
muckrock/static/agency_*
muckrock/static/jurisdiction_*
gitfix
apache
