.DS_Store
.bundle
.noseids
.ruby-version
.coverage
.webassets-cache
.sass-cache
whoosh
htmlcov
static
CACHE
gitfix
apache
*.sw*
*.pyc
local_settings.py
dump.rdb
.bundle
.noseids
.ruby-version
style.*.css
.vagrant
node_modules
.settings.sh
muckrock/assets/bundle
