
*.swp
*.swo
*.pyc
local_settings.py
fabfile.py
pylint.sh
coverage.sh
whoosh
.coverage
htmlcov
src/muckrock/static/foia_*
src/muckrock/static/news_*
src/muckrock/static/agency_*
src/muckrock/static/jurisdiction_*
gitfix
