Django==1.5.5
django-nose==1.1
psycopg2==2.0.14
wsgiref==0.1.2
pil==1.1.7
coverage==3.3.1
South==0.8.2
ipython==0.10
django-haystack==1.2.7
Whoosh==2.4.1
django-debug-toolbar==0.9.4
mock==0.7.0b2
webassets==0.7.1
cssutils==0.9.7b3
gdata==2.0.17
easy-thumbnails==1.0-alpha-14
django-pingback==0.3
BeautifulSoup==3.2.1
django-taggit==0.11.2
pascha==0.5
stripe==1.7.9
redis==2.4.10
django-storages==1.1.8
boto==2.27.0
-e git://github.com/hdg700/django-dbsettings.git@a3ad89ff50d4ef55dab52a795ee8789c620e2165#egg=dbsettings-dev
gunicorn==0.14.3
gevent==0.13.7
greenlet==0.3.4
django-staticfiles==1.2.1
argparse==1.2.1
python-memcached==1.48
raven>=1.7.3
-e git://github.com/dhan88/django-mailgun.git@df4e2f444bd488b6234f87c879a8402e7c8b552e#egg=django_mailgun-dev
newrelic==1.10.2.38
celery==3.1.10
django-celery==3.1.10
django-sslify==0.2
pysolr==3.0.5
lxml==3.1.0
cssselect==0.7.1
django-adaptors==0.2.3
iron-celery==0.3.1
kombu==2.5.8
django-tablib==2.4.1
django-urlauth==0.1.8
django-epiceditor==0.2.1.2
Markdown==2.3.1
django-markdown-deux==1.0.4
djangorestframework==2.3.10
django-filter==0.7
django-autocomplete-light==2.0.0a15
django-rest-swagger==0.1.14
