{% extends 'message/base.html' %}

{% block body %}

  <p>Hi,</p>

  <p>{{ text|linebreaks }}</p>

  {% if foias %}
    {% if replaced %}
      <p>
        Your request has been directed to {{ agency.name }}. If you believe
        your request should go elsewhere, please let us know.
      </p>
    {% else %}
      <p>
        There’s a copy of your request draft here if you want to clarify the
        agency’s name:
      </p>
    {% endif %}

    <ul>
      {% for foia in foias %}
        <li>
          <a href="{{ url }}{% if foia.count == 1%}{% url "foia-draft" idx=foia.composer.pk %}{% else %}{% url "foia-composer-detail" slug=foia.composer.slug idx=foia.composer.pk %}{% endif %}">
            {{ foia.composer.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <p>Sincerely,<br>
  The MuckRock Team</p>

{% endblock body %}

