{% extends 'message/base.html' %}
{% block body %}
  <p>Hi,</p>
  {% if text %}
    <p>{{ text|linebreaks }}</p>
  {% else %}
    <p>We weren't able to send your {{ foias|length|pluralize:"request,requests" }} to {{ agency }}. When you file to an agency that isn't already in our system, our team reviews it to confirm we have valid contact information. In this case we couldn't verify a working contact, so {{ foias|length|pluralize:"it couldn't,they couldn't" }} be sent.</p>
  {% endif %}
  {% if foias %}
    <p>We've returned the request {{ foias|length|pluralize:"credit,credits" }} to your account, and your {{ foias|length|pluralize:"request has,requests have" }} been saved so you don't lose your work. If you think this was a mistake, or you'd like help finding the right agency, contact us at <a href="mailto:info@muckrock.com">info@muckrock.com</a>.</p>
    <ul>
      {% for foia in foias %}
        <li>
          <a href="{{ url }}{% if foia.count == 1%}{% url "foia-draft" idx=foia.composer.pk %}{% else %}{% url "foia-composer-detail" slug=foia.composer.slug idx=foia.composer.pk %}{% endif %}">
            {{ foia.composer.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <p>Sincerely,<br>
  The MuckRock Team</p>
{% endblock body %}