{% extends 'details/base_detail.html' %}
{% load markdown_deux_tags %}
{% block title %}MuckRock &bull; {{ agency.name }}{% endblock title %}
{% block type %}agency{% endblock type %}

{% block header %}
    <h1>{{agency.name}}</h1>
    <h2>of {% if agency.jurisdiction.name = 'United States of America' %}the {% endif %}<a href="{{ agency.jurisdiction.get_absolute_url }}">{{ agency.jurisdiction }}</a></h2>
    {% if agency.image %}
    <figure>
        <img src="{{ MEDIA_URL }}{{ agency.image }}" alt="" />
        {% if agency.image_attr_line %}
        <figcaption>{{ jurisdiction.image_attr_line | safe }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}
{% endblock header %}

{% block aside %}
    
    
    <div class="dl-group">
        <dl>
            <dt>Mailing Address</dt>
            {% if agency.address %}
            <dd>{{ agency.address|linebreaks }}</dd>
            <dd><small><a href="http://maps.google.com?q={{agency.address|urlencode}}" target="_blank">Map</a></small></dd>
            {% else %}
            <dd>Unknown
            {% if user.is_authenticated %}
            &nbsp;<small><a href="#hidden-form">Suggest</a></small>
            {% endif %}
            </dd>
            {% endif %}
		</dl>
	    <dl>
	        <dt>E-mail Address</dt>
    	    {% if agency.email %}
        	    {% if request.user.get_profile.can_view_emails %}
		    <dd>{{agency.email}}</dd>
        	    {% else %}
			<dd>{% if request.user.is_anonymous %}<a href="{% url 'acct-register-pro' %}">{% else %}<a href="{% url 'acct-manage-subsc' %}">{% endif %}Available to Pro Users</a></dd>
			    {% endif %}
		    {% else %}
	        <dd>Unknown
	            {% if user.is_authenticated %}
                &nbsp;<small><a href="#hidden-form">Suggest</a></small></dd>
	            {% endif %}
	        </dd>
		    {% endif %}
	        <dt>Fax Number</dt>
        	{% if agency.fax %}
		    <dd>{{agency.fax}}</dd>
		    {% else %}
	        <dd>Unknown
	            {% if user.is_authenticated %}
	            &nbsp;<small><a href="#hidden-form">Suggest</a></small>
	            {% endif %}
	        </dd>
		    {% endif %}
		</dl>
        <dl>
            <dt>Average Response Time</dt>
            {% with agency.average_response_time as average_response_time %}
			<dd>{{average_response_time}} day{{average_response_time|pluralize}}</dd>
		    {% endwith %}
        </dl>
        
        {% include 'lib/request_stats.html' %}
        
        {% include 'lib/appeal_stats.html' %}
        
        <dl>
            <dt>Commonly Cited Exemptions</dt>
            {% if agency.exemptions %}
                {% for exmp in agency.exemptions %}
			<dd>{{exmp.name|capfirst}} <small>{{exmp.count}} time{{exmp.count|pluralize}}</small></dd>
				{% endfor %}
            {% else %}
            <dd>None</dd>
            {% endif %}
		</dl>
    </div>
{% endblock aside %}

{% block main %}

    {{agency.public_notes|markdown:"trusted"}}

    {% include 'lib/foia_table.html' %}
    
    {% for req in agency.interesting_requests %}
    <dl>
        <dt>{{req.headline}}</dd>
        <dd><h3><a href="{{ req.req.get_absolute_url }}">{{ req.req.title }}</a></h3></dd>
        <dd>Requested by <a href="{% url 'acct-profile' req.req.user.username %}">{{ req.req.user.username }}</a> on {{ req.req.date_submitted|date }}{% if req.req.date_completed %} and completed on {{ req.req.date_completed|date }}{% endif %}.{% if req.req.total_pages %} Includes {{ req.req.total_pages }} pages.{% endif %}</dd>
    </dl>
    {% endfor %}
    
    {% if user.is_authenticated %}
    <a href="#hidden-form" class="button" id='hidden-form-button'>Suggest a Change</a>
        {% include 'lib/form.html' with is_hidden=1 %}
    {% endif %}
{% endblock main %}