{% extends 'details/base_detail.html' %}
{% load markdown_deux_tags %}
{% block title %}MuckRock &bull; {{ jurisdiction.name }}{% endblock title %}
{% block type %}jurisdiction{% endblock type %}

{% block header %}
    <dfn>Jurisdiction</dfn>
	<h1>{{ jurisdiction.name }}</h1>
	{% if jurisdiction.parent %}
	<h2>A {% if jurisdiction.level == "s" %}state{% else %}locality{% endif %} of <a href="{{ jurisdiction.parent.get_absolute_url }}">{{ jurisdiction.parent.name }}</a></h2>
    {% endif %}
{% endblock header %}

{% block main %}
    {% include 'lib/foia_table.html' %}
    
    {% if jurisdiction.agencies.count %}
    <h3>Documented Agencies</h3>
    <table>
        <tr>
            <th width="50%">Agency</th>
            <th width="20%">Requests</th>
            <th width="30%">Pages Released</th>
        </tr>
        {% for agency in jurisdiction.agencies.get_approved %}
        <tr>
            <td><a href="{% url 'agency-detail' jurisdiction=jurisdiction.slug jidx=jurisdiction.pk slug=agency.slug idx=agency.pk %}">{{ agency.name }}</a></td>
            <td>{{ agency.foiarequest_set.count }}</td>
            <td>{{ agency.total_pages }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No agencies have been documented for this jurisdiction.</h3>
    {% endif %}
	
{% endblock main %}

{% block aside %}

    
    {% if jurisdiction.image %}
    <figure>
        <img src="{{ MEDIA_URL }}{{ jurisdiction.image }}" alt="" />
        {% if jurisdiction.image_attr_line %}
        <figcaption>{{ jurisdiction.image_attr_line | safe }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

    <div class="dl-group">
        <dl>
            <dt>Allowed Response Time</dt>
            {% with jurisdiction.get_days as days %}
                {% if days %}
                    <dd>{{days}} day{{days|pluralize}}</dd>
                {% else %}
                    <dd>No limit</dd>
                {% endif %}
            {% endwith %}
        </dl>

        <dl>
            <dt>Average Response Time</dt>
            <dd>{{ jurisdiction.average_response_time }} day{{ jurisdiction.average_response_time | pluralize }}</dd>
        </dl>

        <dl>
            <dt>Requests</dt>
            {% if num_submitted %}
            <dd><strong>{{ num_submitted }} Filed in Total</strong></dd>
            {% if num_no_docs %}<dd class="success">{{ num_no_docs }} No Responsive Documents</dd>{% endif %}
            {% if num_done %}<dd class="success">{{ num_done }} Complete</dd>{% endif %}
            {% if num_ack %}<dd class="default">{{ num_ack }} Awaiting Acknowledgement</dd>{% endif %}
            {% if num_processed %}<dd class="default">{{ num_processed }} Awaiting Response</dd>{% endif %}
            {% if num_fix %}<dd class="default">{{ num_fix }} Requiring Action</dd>{% endif %}
            {% if num_rejected %}<dd class="failure">{{ num_rejected }} Rejected</dd>{% endif %}
            {% if num_overdue %}<dd class="failure">{{ num_overdue }} Overdue</dd>{% endif %}
            {% else %}
            <dd>None</dd>
            {% endif %}
        </dl>

        <dl>
            <dt>Appeals</dt>
            {% if num_appealing or num_appeals_done or num_appeals_rejected or num_appeals_response_time %}
            {% if num_appealing %}<dd class="default">{{num_appealing}} appeal{{ num_appealing | pluralize }} awaiting response</dd>{% endif %}
            {% if num_appeals_done %}<dd class="success">{{num_appeals_done}} successful appeals</dd>{% endif %}
            {% if num_appeals_rejected %}<dd class="failure">{{num_appeals_rejected}} denied appeals</dd>{% endif %}
            {% if num_appeals_response_time %}<dd>{{num_appeals_response_time}} day{{ num_appeals_response_time | pluralize %} average response time</dd>{% endif %}
            {% else %}
            <dd>None</dd>
            {% endif %}
        </dl>
    </div>

{% endblock aside %}