{% extends 'details/base_detail.html' %}
{% load markdown_deux_tags %}
{% load static from staticfiles %}

{% block title %}MuckRock &bull; {{ user_obj.username|capfirst }}{% endblock title %}
{% block type %}profile{% endblock type %}

{% block header %}
    <h1>{{user_obj.first_name}} {{user_obj.last_name}}</h1>
    <h2>{{user_obj.username}}</h2>
{% endblock header %}

{% block aside %}
    {% if user == user_obj %}
    <dl>
        <dt>Information on File</dt>
        <dd>{{user_obj.email}}</dd>
        {% if user_obj.get_profile.phone %}
        <dd>{{user_obj.get_profile.phone}}</dd>
        {% endif %}
        {% if user_obj.get_profile.address1 or user_obj.get_profile.city %}
            {% if user_obj.get_profile.address1 %}
        <dd>{{ user_obj.get_profile.address1 }}</dd>
                {% if user_obj.get_profile.address2 %}
        <dd>{{ user_obj.get_profile.address2 }}</dd>
                {% endif %}
            {% endif %}
            {% if user_obj.get_profile.city and user_obj.get_profile.state and user_obj.get_profile.zip_code %}
        <dd>{{user_obj.get_profile.city}}, {{user_obj.get_profile.state}}</dd>
        <dd>{{user_obj.get_profile.zip_code}}</dd>
            {% endif %}
        {% endif %}
    </dl>
    {% if user.get_profile.get_acct_type_display != 'Community' %}
    <dl>
        <dt>Monthly Requests</dt>
        {% if user_obj.get_profile.get_monthly_requests %}
        <dd>{{ user_obj.get_profile.get_monthly_requests }}</dd>
        {% else %}
        <dd>0</dd>
        {% endif %}
    </dl>
    {% endif %}
    <dl>        
        <dt>Requests Remaining</dt>
        {% if user_obj.get_profile.num_requests %}
        <dd>{{ user_obj.get_profile.num_requests }}</dd>
        {% else %}
        <dd>0</dd>
        {% endif %}
    </dl>
    {% endif %}
    
{% endblock aside %}

{% block actions %}
<section class="actions">
    {% if request.user == user_obj %}
    <form action="{% url 'acct-buy-requests' %}" method="POST" class="hidden-stripe-handler" id="buy-requests">{% csrf_token %}</form>
    <div class="controls">
        <button data-amount="2000"
                data-description="5 requests ($20.00)"
                data-email="{{ request.user.email }}"
                data-form="#buy-requests"
                class="checkout-button primary">Buy Requests</button>
        <a href="{% url 'acct-update' %}" class="button">Settings</a>
        <a href="{% url 'acct-change-pw' %}" class="button">Change Password</a>
        <a href="{% url 'acct-manage-subsc' %}" class="button">Manage Subscription</a>
    </div>
    {% endif %}
</section>
{% endblock actions %}

{% block main %}
    
    {% if recent_requests or recent_completed %}
        {% if recent_requests %}
            <h3>Latest Requests <small><a href="{% url 'foia-mylist' %}">See all</a></small></h3>
            {% include 'lib/foia_table.html' with requests=recent_requests %}
        {% endif %}
        {% if recent_completed %}
            <h3>Recently Completed Requests <small><a href="{% url 'foia-mylist' %}?status=done">See all</a></small></h3>
            {% include 'lib/foia_table.html' with requests=recent_completed %}
        {% endif %}
    {% else %}
        <h3>No requests have been filed. <small><a href="{% url 'foia-create'%}">Create one now.</a></small></h3>
    {% endif %}
    
    {% if user == user_obj %}
        <h3>Requests You Follow</h3>
        {% include 'lib/foia_table.html' with requests=user_obj.get_profile.follows_foia.all %}
    {% endif %}
    
{% endblock main %}

{% block scripts %}
{% if request.user == user_obj %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    $(document).ready(function() {
        $('.checkout-button').click(function(e){
            e.preventDefault();
            checkoutData = getCheckoutData($(this));
            checkout(
                "{{ stripe_pk }}",
                "{% static 'apple-touch-icon.png' %}",
                checkoutData.description,
                checkoutData.amount,
                checkoutData.email,
                checkoutData.form
            );
        });
    });
</script>
{% endif %}
{% endblock scripts %}