{% extends 'base.html' %}

{% comment %}

This is the parent style for a single object: a blog post, a FOI request, a question, an agency, a jurisdiction, a user, etc.

{% endcomment %}
{% block content %}
    <article class="{% block type %}{% endblock type %}">
        <section class="meta">
            <header>
                {% block header %}
                {% endblock header %}
            </header>
            <aside>
                {% block aside %}
                {% endblock aside %}
            </aside>
        </section>    
        {% block actions %}
        {% endblock actions %}
        <section class="main">
            {% block main %}
            {% endblock main %}
        </section>
    </article>
{% endblock %}