{% extends 'details/base_detail.html' %}

{% load humanize %}

{% load tags %}

{% block header %}
<dfn>Crowdfunding Campaign</dfn>
<h1>{{ crowdfundrequest.name }}</h1>
{% endblock %}

{% block actions %}
<form method="POST" class="stripe-handler crowdfund-form" id="crowdfund-form">
    {% csrf_token %}
    <input name="amount-input" placeholder="$5.00" class="success" id="crowdfund-amount-input">
    <input name="amount" id="crowdfund-amount" value="0" hidden>
    <button data-amount="0"
            data-description=""
            data-email="{% if user.is_authenticated %}{{ user.email }}{% endif %}"
            data-label=""
            data-form="#crowdfund-form"
            class="disabled checkout-button"
            id="crowdfund-button"
            disabled>
        Contribute
    </button>
</form>
{% endblock %}

{% block main %}


{% with received=crowdfund.payment_received required=crowdfund.payment_required %}
<section class="left">
    <section class="description">
        {{ crowdfundrequest.description }}
    </section>
    <section class="contributors">
        {{ crowdfundrequest.list_contributors }}
    </section>
</section>
<section class="right">
    <p class="amount-raised">${{ received|intcomma }} raised out of ${{ required|intcomma }}</p>
    <p class="time-remaining">{{ crowdfund.date_due|timeuntil }} remaining</p>
</section>
{% endwith %}

<footer class="widget">
    <h2>Embed the widget</h2>
    {% crowdfund crowdfundrequest.foia.pk %}
</footer>
{% endblock %}
