{% extends 'base.html' %}

{% load humanize %}
{% load static from staticfiles %}
{% load tags %}

{% block content %}
<dfn>Crowdfunding Campaign</dfn>
{% crowdfund crowdfundrequest.foia.pk %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/autoNumeric.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/crowdfund.js' %}"></script>
<script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
<script type="text/javascript">
$('.checkout-button').click(function(e){
    e.preventDefault();
    var checkoutData = getCheckoutData($(this));
    checkout(
        "{{ stripe_pk }}",
        "{% static 'apple-touch-icon.png' %}",
        checkoutData.description,
        checkoutData.amount,
        checkoutData.email,
        checkoutData.label,
        checkoutData.form
    );
    return false;
});
</script>
{% endblock %}
