{% extends 'details/base_detail.html' %}
{% load markdown_deux_tags %}
{% load static from staticfiles %}

{% with object as article %}

{% block title %}MuckRock &bull; {{ article.title }}{% endblock title %}
{% block type %}post{% endblock type %}		

{% block header %}
    <h1>{{ article.title }}</h1>
    <h2>by {{ article.get_authors_names }} 
    on {{ article.pub_date | date:"F j, Y" }}</h2>
    {% if article.image %}
    <figure>
        <img src="{{ MEDIA_URL }}{{ article.image }}" alt="" />
        {% if article.image_attr_line %}
        <figcaption>{{ article.image_attr_line | safe }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}
{% endblock header %}

{% block aside %}
    {% if article.kicker %}
    <summary>{{ article.kicker }}</summary>
    {% endif %}
    {% if article.foias.exists %}
    <dl>
	    <dt>Related Requests</dt>
	    {% for foia in article.foias.all %}
		<dd><a href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></dd>
		{% endfor %}
	</dl>
	{% endif %}
{% endblock aside %}

{% block main %}
    {% autoescape off %}
    {{ article.body | markdown:"trusted" }}
	{% endautoescape %}
{% endblock main %}	

{% block open_graph %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if article.image %}
<meta property="og:image" content="{{ MEDIA_URL }}{{ article.image }}" />
{% else %}
<meta property="og:image" content="{% static 'apple-touch-icon.png' %}" />
{% endif %}
<meta property="og:description" content="{{ article.summary }}" />
<meta property="og:site_name" content="MuckRock" />
<meta property="og:article:published-time" content="{{ article.date }}" />
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@muckrock" />
{% with article.authors.all|first as author %}
    {% if author.get_profile.twitter %}
<meta name="twitter:creator" content="{{ author.get_profile.twitter }}" />
    {% endif %}
{% endwith %}
<meta name="twitter:title" content="{{ article.title }}" />
<meta name="twitter:description" content="{{ article.summary }}" />
{% if article.image %}
<meta name="twitter:image:src" content="{{ MEDIA_URL }}{{ article.image }}" />
{% else %}
<meta name="twitter:image:src" content="{% static 'apple-touch-icon.png' %}" />
{% endif %}
{% endblock twitter_card %}

{% endwith %}