{% extends 'details/base_detail.html' %}
{% load humanize %}
{% load markdown_deux_tags %}
{% load mathfilters %}
{% load static from staticfiles %}
{% load crowdfund_tags %}
{% load tags %}

{% block title %}MuckRock &bull; {{ foia.title }}{% endblock %}
{% block type %}request{% endblock %}

{% block open_graph %}
<meta property="og:title" content="{{ foia.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% static 'apple-touch-icon.png' %}" />
<meta property="og:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta property="og:site_name" content="MuckRock" />
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@muckrock" />
{% if foia.user.profile.twitter %}
<meta name="twitter:creator" content="{{ foia.user.profile.twitter }}" />
{% endif %}
<meta name="twitter:title" content="{{ foia.title }}" />
<meta name="twitter:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta name="twitter:image:src" content="{% static 'apple-touch-icon.png' %}" />
{% endblock twitter_card %}

{% block header %}
    <h1>{{ foia.title }}</h1>
	<h2 class="synopsis"><a href="{% url 'acct-profile' foia.user.username %}">{{ foia.user.get_full_name }}</a> filed this request{% if foia.agency %} with the {% if foia.agency.approved %}<a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a>{% else %}{{ foia.agency.name }}{% endif %} of {% if foia.jurisdiction.level == 'f' %}the {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a>{% if foia.jurisdiction.parent and foia.jurisdiction.level == 'l' %}, <a href="{{ foia.jurisdiction.parent.get_absolute_url }}" title="{{ foia.jurisdiction.parent.name }}">{{ foia.jurisdiction.parent.abbrev }}</a>{% endif %}{% endif %}.</h2>
    {% if foia.date_due and foia.status == "processed" %}
        {% if past_due %}
    <p>It is past due by {{ foia.date_due|timesince }}.</p>
        {% else %}
    <p>It is due in {{ foia.date_due|timeuntil }}.</p>
        {% endif %}
    {% endif %}
    {% if foia.days_until_due and foia.status == 'fix' or foia.days_until_due and foia.status == 'payment' %}
    <p>{% if foia.days_until_due < 0 %}Will be {{ foia.days_until_due|abs }} day{{foia.days_until_due|pluralize}} past due {% else %}Due {{ foia.days_until_due }} day{{foia.days_until_due|pluralize}} {% endif %}from when the {% if foia.status == 'fix' %}fix{% else %}payment{% endif %} is made.</p>
    {% endif %}

    {% if show_estimated_date and foia.date_estimate %}
    <div class="estimated-completion date">
        <p>The agency estimated a completion date of {{ foia.date_estimate|date }}.</p>
        {% if user_can_edit %}
        <div>
            <a>Update</a>
            <a>Remove</a>
        </div>
        {% endif %}
    </div>
    {% elif show_estimated_date and user_can_edit and not foia.date_estimate %}
    <div class="estimated-completion date">
        <p><a>Set the estimated completion date.</a></p>
    </div>
    {% endif %}

    {% if foia.is_embargo %}
    <div class="embargo">
        {% if foia.is_permanently_embargoed %}
        <p>This request is permanently embargoed.</p>
        {% else %}
        <p>This request is embargoed and will not be made public until {% if foia.date_embargo %}{{ foia.date_embargo|date }}{% else %}30 days after it is completed{% endif %}.</p>
        {% endif %}
        {% include 'lib/icons/options.svg' %}
    </div>
    {% endif %}

	{% if foia.parent %}
	<p>It was cloned from <a href="{{ foia.parent.get_absolute_url }}">this request</a>.</p>
	{% endif %}
    {% if foia.tracking_id and user.is_staff %}
    <code>Tracking ID: {{ foia.tracking_id }}</code>
    {% endif %}
    <dl>

{% endblock header %}

{% block aside %}
    <section class="request stats">
        <section class="status-manager" id="request-status">
            <p class="status {{ foia.color_code }}">{{foia.get_status_display}}</p>
            {% if foia.status != 'started' and foia.status != 'submitted' %}
            {% if foia.user == user or user.is_staff %}
            <div class="edit" id="edit-status">Edit</div>
            <form method="post" class="status-form" id="status-form">
                {% csrf_token %}
                <select name="status">
                {% for choice in status_choices %}
                    <option value="{{ choice|first }}" {% if choice|first == foia.status %}selected{% endif %}>{{ choice|last }}</option>
                {% endfor %}
                </select>
                <button type="submit" name="action" value="status" class="primary button">Save</button>
                <button id="cancel-status">Cancel</button>
            </form>
            {% endif %}
            {% endif %}
        </section>
	    {% tag_manager foia %}
	</section>
{% endblock aside %}

{% block main %}

{% if foia.is_payable and foia.user == user %}
<form method="post" action="{% url 'foia-pay' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" class="hidden-stripe-handler" id="payment-form">
    {% csrf_token %}
    <input name="amount" value="{{ foia.get_stripe_amount }}" hidden>
</form>
{% endif %}
{% if user.is_authenticated %}
<dfn>Actions</dfn>
<form method="post">
{% csrf_token %}
{% for action in user_actions %}
    {% if action.is_possible %}
        {% if action.link %}
            <a href={{ action.link }} class="button{% if action.class_name %} {{ action.class_name }}{% endif %}" title="{{ action.desc }}">{{ action.title }}</a>
        {% endif %}
        {% if action.class_name == 'modal' %}
            <span class="text-area modal-button button">{{ action.title }}</span>
            <div class="modal">
                <h1>{{ action.title }}</h1>
                <h2>{{ action.desc }}</h2>
                <button type="submit" name="action" value="{{ action.action }}" class="primary">{{ action.title }}</button>
                <span class="close-modal button">Close</span>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
{% for action in noncontextual_request_actions %}
    {% if action.is_possible %}
         {% if action.title == 'Pay' %}
        <button data-amount="{{ foia.get_stripe_amount }}"
                data-description="Request Fee (${{ foia.price|mul:1.05|floatformat:2 }})"
                data-email="{{ user.email }}"
                data-form="#payment-form"
                data-label=""
                class="checkout-button{% if action.class_name %} {{ action.class_name }}{% endif %}">
            {{ action.title }}
        </button>
        {% else %}
            {% if action.link %}
                <a href={{ action.link }} class="button{% if action.class_name %} {{ action.class_name }}{% endif %}" title="{{ action.desc }}">{{ action.title }}</a>
            {% endif %}
            {% if action.class_name == 'modal' %}
                <span class="text-area modal-button button">{{ action.title }}</span>
                <div class="modal">
                    <h1>{{ action.title }}</h1>
                    <h2>{{ action.desc }}</h2>
                    <button type="submit" name="action" value="{{ action.action }}" class="primary">{{ action.title }}</button>
                    <span class="close-modal button">Close</span>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
{% for action in admin_actions %}
    {% if action.is_possible %}
        <a href={{ action.link }} class="button{% if action.class_name %} {{ action.class_name }}{% endif %}" title="{{ action.desc }}">{{ action.title }}</a>
    {% endif %}
{% endfor %}
</form>
{% else %}
<section class="panel">
    <p>MuckRock users can create, duplicate, track, and share public records requests like this one.</p>
    <a href="{% url 'acct-register' %}" class="primary button">Sign Up Today</a>
</section>
{% endif %}


{% if foia.has_crowdfund %}
    {% crowdfund_request foia.crowdfund.pk %}
{% endif %}

<section class="counters">
    <figure class="comm counter">
        <p class="count">{{ foia.communications.count }}</p>
        <figcaption>Comm{{ foia.communications.count|pluralize }}</figcaption>
    </figure>
    <figure class="file counter">
        <p class="count">{{ foia.files.count }}</p>
        <figcaption>File{{ foia.files.count|pluralize }}</figcaption>
    </figure>
    {% if user_can_edit %}
    <figure class="note counter">
        <p class="count">{{ foia.notes.count }}</p>
        <figcaption>Note{{ foia.notes.count|pluralize }}</figcaption>
    </figure>
    {% endif %}
</section>

{% if foia.files.all or foia.user == user or user.is_staff %}
<div class="tabs">
    <label for="request-radio" class="active">Request<input type="radio" name="request" id="request-radio" /></label>
    {% if foia.files.all %}
    <label for="files-radio">Files<input type="radio" name="request" id="files-radio" /></label>
    {% endif %}
    {% if foia.user == user or user.is_staff %}
    <label for="notes-radio">Notes<input type="radio" name="request" id="notes-radio" /></label>
    {% endif %}
</div>
{% endif %}

<section class="tab-section communications active" id="request">
    <div class="communications-controls">
        <div class="communications-settings">
        {% if user_can_edit and foia.status == "ack" or foia.status == "processed" %}
            {% if foia.disable_autofollowups %}
            <p>Automatic follow ups are disabled. <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Enable automatic follow ups">Enable</a></p>
            {% else %}
            <p>Automatic follow ups are enabled. <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Disable automatic follow ups">Disable</a></p>
            {% endif %}
        {% endif %}
        </div>
        {% if user_can_edit %}
        <div class="communications-actions">
            <button>Get Advice</button>
            <button class="primary">Follow Up</button>
            <button class="failure">Appeal</button>
        </div>
        {% endif %}
    </div>
    <div class="communications-list">
    {% if not foia.disable_autofollowups %}
        <div class="auto-follow-up">
            <p>We'll automatically follow-up with the agency{% if foia.date_followup %} in {{ foia.date_followup|timeuntil }}{% endif %}.<p>
        </div>
    {% endif %}
    {% for comm in foia.communications.all reversed %}
        {% include 'foia/communication.html' with communication=comm %}
    {% endfor %}
    </div>
</section>

{% if foia.files.all %}
<!-- DOCUMENTS -->
<section class="tab-section files" id="files">
    {% if not foia.is_embargo and foia.total_pages > 0 %}
    <h2 id="doc-title"></h2>
    <div class="viewer" id="viewer"></div>
    {% endif %}
    <ul>
    {% for file in foia.files.all %}
        <li>{% include "lib/file.html" %}</li>
    {% endfor %}
    </ul>
</section>
{% endif %}

{% if foia.user == user or user.is_staff %}
<!-- NOTES -->
<section class="tab-section notes" id="notes">
    {% for note in foia.notes.all %}
    <div class="note">
        <div class="note-date">{{note.date|date}}</div>
        <div class="note-body">{{note.note|linebreaks}}</div>
    </div>
    {% empty %}
    <p>Notes are private and can be used to store information about this request.</p>
    {% endfor %}
    <a class="primary button"
       href="{% url 'foia-note' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}">
    Add a Note</a>
</section>
    {% endif %}
{% endblock main %}

{% block scripts %}
{% include 'autocomplete_light/static.html' %}
<script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js" type="text/javascript"></script>
{% if foia.has_crowdfund %}
<script src="{% static 'js/autoNumeric.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/crowdfund.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/communication.js' %}"></script>
<script>

    var target = window.location.hash;
    var n = target.indexOf('-');
    target = target.substring(0, n != -1 ? n : target.length);

    $('.hidden-reply').hide();
    $('.embed textarea').trigger('autosize.destroy');

    function textAreaModal(nextSelector) {
        modal(nextSelector);
        $('<textarea name="text"></textarea>').insertBefore(nextSelector.children('button'));
        $('#modal-overlay').click(function(){
            console.log('Click!');
            nextSelector.children('textarea').remove();
        });
        $('.close-modal').click(function(){
            nextSelector.children('textarea').remove();
        });
    }

    function textAreaReply(nextSelector) {
        console.log(nextSelector);
        nextSelector.show();
        $('.reply-button').hide();
        $('.modal-button').hide();
        nextSelector.siblings('.hidden-reply:visible').hide();
        if (nextSelector.children('textarea').length == 0) {
            $('<textarea name="text"></textarea>').insertBefore(nextSelector.children('.buttons'));
        }
        nextSelector.children('.buttons').children('.close-reply').click(function(){
            nextSelector.hide();
            nextSelector.children('textarea').remove();
            $('.reply-button').show();
            $('.modal-button').show();
        });
    }

    function hideAllExcept(visible) {
        $('.tab-section').removeClass( 'active' );
        visible.addClass( 'active' );
    }

    function get_thumbnail(doc_id) {
            var idx = doc_id.indexOf('-');
            var num = doc_id.slice(0, idx);
            var name = doc_id.slice(idx + 1);
            return 'https://s3.amazonaws.com/s3.documentcloud.org/documents/' + num + '/pages/' + name + '-p1-small.gif';
    }

    function displayDoc(docId, docTitle, docAnchor) {
        var title;
        if (!!docTitle) {
            title = docTitle;
        } else {
            title = 'Untitled';
        }
        $('#doc-title').empty().text(title);
        $('.file').parent('li').removeClass('active');
        if (!!docAnchor) {
            var fileListItem = $('#files ul li > #' + docAnchor).parent('li');
            $(fileListItem).addClass('active');
        }
        DV.load(
            'https://www.documentcloud.org/documents/' + docId + '.js',
            {
                sidebar: false,
                container: "#viewer"
            }
        );
    }

    function displayDefaultDoc() {
        var defaultDoc = $('a.view-file').first();
        if (!!defaultDoc) {
            var defaultDocId = defaultDoc.data('docId');
            var defaultDocTitle = defaultDoc.data('docTitle');
            var defaultDocAnchor = defaultDoc.data('docAnchor');
            displayDoc(defaultDocId, defaultDocTitle, defaultDocAnchor);
        }
    }

    /* Tab Bar */

    $('input:radio').change(function() {
        $(this).parent().addClass( 'active' );
        $(this).parent().siblings().removeClass( "active" );
    });
    $('#request-radio').change(function() {
        hideAllExcept($('#request'));
    });
    $('#files-radio').change(function() {
        hideAllExcept($('#files'));
        displayDefaultDoc();
    });
    $('#notes-radio').change(function() {
        hideAllExcept($('#notes'));
    });

    /* Deep link into tab */

    if (target == '#comm' || target == '#comms') {
        $('#request-radio').trigger('click');
    } else if (target == '#file' || target == '#files') {
        $('#files-radio').trigger('click');
    } else if (target == '#note' || target == '#notes') {
        $('#notes-radio').trigger('click');
    }

    /* Documents */

    $('a.view-file').click(function() {
        var docId = $(this).data('docId');
        var docTitle = $(this).data('docTitle');
        var docAnchor = $(this).data('docAnchor');
        $('#files-radio').trigger('click');
        displayDoc(docId, docTitle, docAnchor);
    });

    if (target == '#file') {
        var specificFile = window.location.hash;
        $(specificFile + ' .view-file').trigger('click');
    }

    /* Modals */

    $('.text-area.modal-button').click(function(e){
        e.preventDefault();
        textAreaModal($(this).next());
        return false;
    });

    /* Replies */

    $('.text-area.reply-button').click(function(e){
        e.preventDefault();
        textAreaReply($(this).next());
        return false;
    });

    /* CHECKOUT */

    $('.checkout-button').click(function(e){
        e.preventDefault();
        var checkoutData = getCheckoutData($(this));
        checkout(
            "{{ stripe_pk }}",
            "{% static 'apple-touch-icon.png' %}",
            checkoutData.description,
            checkoutData.amount,
            checkoutData.email,
            checkoutData.label,
            checkoutData.form
        );
        return false;
    });
</script>
{% endblock scripts %}
