{% extends 'details/base_detail.html' %}
{% load humanize %}
{% load markdown_deux_tags %}
{% load mathfilters %}
{% load static from staticfiles %}
{% load crowdfund_tags %}
{% load tags %}

{% block title %}MuckRock &bull; {{ foia.title }}{% endblock %}
{% block type %}request{% endblock %}

{% block open_graph %}
<meta property="og:title" content="{{ foia.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% static 'apple-touch-icon.png' %}" />
<meta property="og:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta property="og:site_name" content="MuckRock" />
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@muckrock" />
{% if foia.user.profile.twitter %}
<meta name="twitter:creator" content="{{ foia.user.profile.twitter }}" />
{% endif %}
<meta name="twitter:title" content="{{ foia.title }}" />
<meta name="twitter:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta name="twitter:image:src" content="{% static 'apple-touch-icon.png' %}" />
{% endblock twitter_card %}

{% block header %}
    <h1>{{ foia.title }}</h1>
	<h2 class="synopsis"><a href="{% url 'acct-profile' foia.user.username %}">{{ foia.user.get_full_name }}</a> filed this request{% if foia.agency %} with the {% if foia.agency.approved %}<a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a>{% else %}{{ foia.agency.name }}{% endif %} of {% if foia.jurisdiction.level == 'f' %}the {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a>{% if foia.jurisdiction.parent and foia.jurisdiction.level == 'l' %}, <a href="{{ foia.jurisdiction.parent.get_absolute_url }}" title="{{ foia.jurisdiction.parent.name }}">{{ foia.jurisdiction.parent.abbrev }}</a>{% endif %}{% endif %}.</h2>

    {% if foia.date_due and foia.status == "processed" %}
        {% if past_due %}
    <p class="due date">The request was due {{ foia.date_due|timesince }} ago.</p>
        {% else %}
    <p class="due date">The request will be due in {{ foia.date_due|timeuntil }}.</p>
        {% endif %}
    {% endif %}

    {% if show_estimated_date and foia.date_estimate %}
    <div class="estimated-completion date">
        <p>The agency estimated a completion date of {{ foia.date_estimate|date }}.</p>
    </div>
    {% endif %}

	{% if foia.parent %}
	<p>It is a clone of <a href="{{ foia.parent.get_absolute_url }}">this request</a>.</p>
	{% endif %}

    {% if user.is_staff %}
    <p class="muckrock-no">MuckRock &#8470; <code>{{ foia.id }}</code></p>
    {% if foia.tracking_id %}
    <p class="tracking-id">Tracking &#8470; <code>{{ foia.tracking_id }}</code></p>
    {% endif %}
    {% endif %}

{% endblock header %}

{% block aside %}
    <section class="request stats">
        {% include 'foia/foia_actions.html' %}
        <section class="status-manager" id="request-status">
            <header>
                <dfn>Status</dfn>
                {% if foia.status != 'started' and foia.status != 'submitted' %}
                {% if foia.user == user or user.is_staff %}
                <div class="edit" id="edit-status">Edit</div>
                {% endif %}
                {% endif %}
            </header>
            <p class="status {{ foia.color_code }}">{{foia.get_status_display}}</p>
            {% if foia.status != 'started' and foia.status != 'submitted' %}
            {% if foia.user == user or user.is_staff %}
            <form method="post" class="status-form" id="status-form">
                {% csrf_token %}
                <select name="status">
                {% for choice in status_choices %}
                    <option value="{{ choice|first }}" {% if choice|first == foia.status %}selected{% endif %}>{{ choice|last }}</option>
                {% endfor %}
                </select>
                <button type="submit" name="action" value="status" class="primary button">Save</button>
                <button id="cancel-status">Cancel</button>
            </form>
            {% endif %}
            {% endif %}
        </section>
        {% if user_can_edit %}
        <section class="embargo-manager">
            <header>
                <dfn>Visibility</dfn>
                {% if user_can_embargo %}
                <div class="edit" id="edit-embargo">Edit</div>
                {% endif %}
            </header>
            {% if foia.embargo %}
            <p>This request is embargoed.</p>
            {% else %}
            <p>This request is public.</p>
            {% endif %}
        </section>
        {% endif %}
	    {% tag_manager foia %}
	</section>
{% endblock aside %}

{% block main %}

{% if foia.has_crowdfund %}
    {% crowdfund_request foia.crowdfund.pk %}
{% endif %}

{% if foia.files.count > 0 or user_can_edit %}
<ul class="tabs">
    <li class="tab active" id="tab-request">Request</li>
    {% if foia.files.count > 0 %}
    <li class="tab" id="tab-files">Files</li>
    {% endif %}
    {% if user_can_edit %}
    <li class="tab" id="tab-notes">Notes</li>
    {% endif %}
</ul>
{% endif %}

<section class="tab-section communications visible" id="request">
    <div class="communications-controls">
        <div class="communications-settings">
        {% if user_can_edit and foia.status == "ack" or foia.status == "processed" %}
            {% if foia.disable_autofollowups %}
            <p>Automatic follow ups are disabled. <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Enable automatic follow ups">Enable</a></p>
            {% else %}
            <p>Automatic follow ups are enabled. <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Disable automatic follow ups">Disable</a></p>
            {% endif %}
        {% endif %}
        </div>
        {% if user_can_edit %}
        <div class="communications-actions">
            <button class="primary">Follow Up</button>
            <button class="failure">Appeal</button>
            <button>Get Advice</button>
        </div>
        {% endif %}
    </div>
    <div class="communications-list">
    {% for comm in foia.communications.all %}
        {% include 'foia/communication.html' with communication=comm %}
    {% endfor %}
    {% if not foia.disable_autofollowups %}
        <div class="auto-follow-up">
            <p>We'll automatically follow-up with the agency{% if foia.date_followup %} in {{ foia.date_followup|timeuntil }}{% endif %}.<p>
        </div>
    {% endif %}
    </div>
</section>

{% if foia.files.all %}
<!-- DOCUMENTS -->
<section class="tab-section files" id="files">
    {% if not foia.is_embargo and foia.total_pages > 0 %}
    <h2 id="doc-title"></h2>
    <div class="viewer" id="viewer"></div>
    {% endif %}
    <ul>
    {% for file in foia.files.all %}
        <li>{% include "lib/file.html" %}</li>
    {% endfor %}
    </ul>
</section>
{% endif %}

{% if foia.user == user or user.is_staff %}
<!-- NOTES -->
<section class="tab-section notes" id="notes">
    {% for note in foia.notes.all %}
    <div class="note">
        <div class="note-date">{{note.date|date}}</div>
        <div class="note-body">{{note.note|linebreaks}}</div>
    </div>
    {% empty %}
    <p>Notes are private and can be used to store information about this request.</p>
    {% endfor %}
    <a class="primary button"
       href="{% url 'foia-note' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}">
    Add a Note</a>
</section>
    {% endif %}
{% endblock main %}

{% block scripts %}
{% include 'autocomplete_light/static.html' %}
<script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js" type="text/javascript"></script>
{% if foia.has_crowdfund %}
<script src="{% static 'js/autoNumeric.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/crowdfund.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/communication.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foiaRequest.js' %}"></script>
{% endblock scripts %}
