.input-control .control-icon {
  font-family: form-builder-font;
}

.crowdsource.form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  & .crowdsource-form {
    &__header {
      flex: 1 1 100%;
    }
    &__inputs {
      flex: 1 1 16em;
      margin-right: 1.5em;
    }
    &__data {
      flex: 4 1 44em;
    }
  }
}

.crowdsource.detail .actions form {
  display: inline-block;
}

.assignment-response {
  display: flex;
  flex-wrap: wrap;
  .textbox__header {
    flex: 1 1 100%;
  }
  .textbox__section.actionables {
    flex: 1 1 100%;
  }
  .textbox__section {
    flex: 1 1 50%;
  }
  .embed {
    flex: 1 1 50%;
  }
}

#pencil-svg, #email-svg {
  display: none;
}

#assignment-responses .edit-link {
  margin-right: 0.5em;
  &:hover {
    text-decoration: none;
    g {
      stroke: $color-grey-5;
    }
  }
}

#assignment-responses .message-link {
  margin-right: 1em;
  svg {
    stroke: $color-white;
  }
  &:hover {
    text-decoration: none;
    svg {
      stroke: $color-grey-5;
    }
  }
  &.success {
    svg {
      stroke: $color-green;
    }
  }
  &.failure {
    svg {
      stroke: $color-red;
    }
  }
}
