.dashboard {
    @include padding;
    background-color: $color-black;
    color: $color-white;
    &.loading .loader {
        text-align: center;
        .line-scale-pulse-out-rapid > div {
            background-color: $color-white;
        }
    }
    &.error .error {
        text-align: center;
        .error-code {
            font-size: $font-size-8;
            font-weight: $font-weight-bold;
        }
    }
}

.dashboard__header {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

.values {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
}

.value {
    @include flex(1 1 10em);
    margin: 0 $vertical-rhythm $vertical-rhythm 0;
    .value__title {
        margin-bottom: $vertical-rhythm/2;
        color: $color-grey-5;
        font-weight: $font-weight-bold;
        // padding-bottom: $vertical-rhythm/2;
        // border-bottom: 1px solid $color-white;
    }
    .value__total {
        font-size: $font-size-7;
        font-weight: $font-weight-bold;
        margin-bottom: $vertical-rhythm/2;
    }
    .value__relative {
        &.positive {
            color: $color-green;
        }
        &.negative {
            color: $color-red;
        }
    }
}

.date-range {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    .date-pickers {
        margin: 0 $vertical-rhythm $vertical-rhythm 0;
    }
    .button-group .button {
        margin-top: 0;
    }
}

.react-datepicker__input-container {
    margin-bottom: 0;
    input {
        border: none;
        border-radius: 0;
        border-right: 1px solid $color-black;
        background: $color-grey-3;
    }
}

.react-datepicker div {
    margin-bottom: 0;
    &.react-datepicker__current-month--hasYearDropdown {
        margin-bottom: 16px;
    }
    &.react-datepicker__month {
        margin-bottom: 5px;
    }
}
