.donate {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include padding;
    min-height: 100vh;
    background-color: $color-grey-3;
    background-size: cover;
    background-position: top center;
    .donate__form {
        max-width: 30em;
        @include padding;
        @include border;
        @include border-radius;
        background: rgba(247, 248, 250, .9);
    }
    .currency {
        font-size: $size-5;
        font-weight: $bold;
        color: $color-green;
        width: 100%;
        margin-top: 5px;
    }
    .button {
        width: 100%;
    }
    .donation.button-group {
        font-size: $size-5;
        width: 100%;
        input[type="radio"] {
            display: none;
        }
    }
}
