%draft-title {
    width: 100%;
    background-color: $color-white;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 2*$base-border-width dotted $color-grey-4;
    @include font-sizing(2);
    @include media($small-layout) { @include font-sizing(1.5); }
}

.foia-draft {
    @include padding;
    .communication-body {
        padding: 0;
        height: 100%;
        background-color: white;
        textarea {
            display: block;
            overflow-y: scroll;
            resize: vertical;
            width: 100%;
            height: 20em;
            border: none;
            border-top: 1px solid $color-grey;
            border-radius: 0;
            padding: $vertical-rhythm/2;
            font-family: $font-monospace;
            font-size: $font-size-2;
        }
    }
    #id_title {
        @extend %draft-title;
    }
    .buy-requests {
        border-color: $color-green;
        @include row;
        p {
            @include grid-columns(4, 6, 9);
        }
        button {
            @include quarter;
            @include media($small-layout) {
                @include span-columns(4);
            }
        }
    }
    .bottom { @include row; }
    .embargo {
        @include grid-columns(4, 6, 9);
        .input {
            display: block;
            dfn, input {
                display: inline-block;
                width: auto;
            }
            input {
                margin: $vertical-rhythm/4 $vertical-rhythm/6 $vertical-rhythm/6 0;
            }
        }
        small {
            display: block;
            max-width: 30em;
        }
    }
    .buttons {
        @include quarter;
        input {
            display: block;
            width: 100%;
        }
    }
}

.multirequest-draft {
    @include padding;
    .communication-body textarea {
        border-radius: 0;
        font-family: $font-monospace;
        font-size: $font-size-2;
    }
    .title {
        label { display: none; }
        input { @extend %draft-title; }
    }
    .request .body textarea {
        height: 7.5em;
        border-top: $base-border-width solid $color-grey;
        border-bottom: $base-border-width solid $color-grey;
    }
}
