.exemption-browser {
    .exemption-search {
        @include border;
        @include display(flex);
        input {
            @include flex(4 1 auto);
            border-radius: 0;
            border: none;
        }
        .button {
            @include flex(1 1 auto);
        }
    }
}

.exemption__empty, .exemption__results--loading {
    @include padding;
    @include border;
    border-top: none;
    background: $color-grey-7;
    text-align: center;
}

.exemption__list__item {
    border-top: none;
}

.exemption__list__item, .exemption__detail {
    @include padding;
    border-color: $color-grey;
}

.exemption__list__item {
    cursor: default;
    &:hover {
        background: $color-blue;
        color: $color-white;
    }
}

.exemption__detail__appeal {
    .button {
        display: block;
        width: 100%;
    }
}

.exemption__form {
    footer {
        @include display(flex);
        @include justify-content(space-between);
    }
}

.exemption__backButton {
    text-align: left;
}
