.banner-wrapper {
    background-size: cover;
    background-position: right center;
}

.foia.banner {
    @include align-items(center);
    @include justify-content(center);
    background: rgba($color-blue-dark, 0.8);
    color: $color-white;
    padding-top: 3em;
    @media(min-width: 48em) {
        min-height: 23em;
    }
    @include media($small-bp) {
        padding-top: 1.5em;
    }
    h1 {
        font-size: $size-7;
        text-align: center;
        @include media($small-bp) {
            font-size: $size-6;
        }
    }
    .banner-container {
        max-width: 45rem;
        margin: 0 auto $vr;
        padding: 0 $vr;
    }
    .button {
        display: block;
        margin-bottom: $vr;
    }
    .call-to-action {
        font-weight: $bold;
        @include media($small-bp) {
            font-size: $size-2;
        }
        a {
            color: $color-white;
            border-bottom: 1px dotted;
        }
        a:hover {
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }
    .stats
    {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-around);
        list-style: none;
        padding-left: 0;
    }

    .stat
    {
        @include flex(1 1 8em);
        width: 7em;
        margin: 0 0 $vr 0;
        text-align: center;
        .value
        {
            font-weight: $bold;
            font-size: $size-5;
            margin-bottom: $vr/2;
        }
        .key
        {
            line-height: 1em;
        }
    }

    .about {
        max-width: 23em;
        margin: 3em auto;
        text-align: center;
        .button {
            display: block;
            @include media($small-bp)
            {
                display: block;
                max-width: 20em;
                margin: 0 auto $vr;
            }
        }
        @include media($small-bp) {
            margin: 1.5em auto;
        }
    }

    .completed-requests {
        @include display(flex);
        @include justify-content(flex-start);
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding: $vr $vr 0;
        border-top: 1px solid rgba($color-white, .35);
        background: rgba($color-white, .1);
        & > header {
            color: $color-white;
            min-width: 10rem;
            width: 10rem;
            margin: 0 $vr $vr 0;
            a {
                font-weight: $bold;
                color: $color-white;
                border-bottom: 1px dotted;
            }
            a:hover {
                text-decoration: none;
                border-bottom: 1px solid;
            }
        }
        .foia__single {
            min-width: 18em;
            width: 18em;
            display: inline-block;
            margin-right: $vr;
            &:last-of-type {
                margin-right: 0;
            }
        }
        /* This spacer is a bit of a hack, due to the way we're overflowing this container. */
        .spacer {
            padding-right: 1px;
        }
    }
}

/*
If the browser support multiplying backgrounds, use that instead of the banner background.
@supports(background-blend-mode: multiply){
    .banner-wrapper {
        background-color: $color-blue-dark;
        background-blend-mode: multiply;
    }
    .foia.banner {
        background: none;
    }
}
*/

.homepage {
    .articles {
        padding-left: $vr/2;
        @include media($medium-bp) {
            padding-left: $vr;
        }
    }
    .small.article {
        font-size: 1rem;
        .article__overview__title {
            font-size: large;
        }
    }
    .requests {
        @include flex(1 1 200px);
        margin: 0 $vr $vr;
    }
    .projects {
        padding: 0 $vr/2;
        @include media($medium-bp) {
            padding: 0 $vr;
        }
    }
    .projects li {
        margin-bottom: $vr;
    }
}

.homepage-2025 {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    background-color: $color-white;
}

.homepage-2025 .homepage-section {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    gap: 2rem 3rem;
    margin: 0;
    padding: 3rem 2rem; 

    h2 {
        color: var(--black, #0C1E27);
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.homepage-2025 .tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-3, #E0E0E0);
    overflow-x: auto;
    overflow-y: hidden;
}

.homepage-2025 .tab {
    display: flex;
    min-width: 20rem;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
    align-self: stretch;
    border-bottom: 3px solid transparent;

    font-weight: 500;

    &.active {
        border: none;
        border-bottom: 3px solid var(--blue-3, #4294F0);
        background: transparent;
        color: currentColor;
    }
}

.text-column {
    display: flex;
    max-width: 56.25rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.actions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 0;
}

.tab-viewer {
    max-width: 100vw;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    & > * {
        scroll-snap-align: start;
    }
}

.product, .project {
    flex: 0 0 100vw;
    width: 100vw;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {

    h3 {
        width: 100%;
        text-align: center;
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-xl, 1.5rem);
        font-style: normal;
        font-weight: 600;
        line-height: 2rem; /* 133.333% */
    }

    &-content {
        display: flex;
        padding: 2rem 0rem;
        flex-direction: column;
        align-items: center;
        max-width: 48rem;
        margin: 0 auto;
    }
    &-heading {
        display: flex;
        padding: 2rem 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-main {
        display: flex;
        padding: 0rem 1rem;
        align-items: flex-start;
        align-content: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
    }
    &-actions {
        display: flex;
        min-width: 15rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        flex: 1 0 0;

        & .button {
            width: 100%;
            display: flex;
            box-shadow: none;
        }
    }
    &-stats {
        display: flex;
        height: 8.875rem;
        min-width: 15rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 1rem 0.5rem;
        flex: 1 0 0;
        flex-wrap: wrap;
    }

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: soft-light;

    &#muckrock-requests {
        background: lighten($color-red, 40%);
        border-bottom: 1px solid lighten($color-red-dark, 20%);
    }
    &#documentcloud {
        background: lighten($color-blue, 40%);
        border-bottom: 1px solid lighten($color-blue-dark, 20%);
    }
    &#data-liberation-project {
        background: lighten($color-yellow, 40%);
        border-bottom: 1px solid lighten($color-yellow-dark, 20%);
    }
}

.tab-container#investigations {
    padding: 1.5rem 0rem;
    background: var(--purple-1, #F4F1FE);
    
    header {
        display: flex;
        margin: 0;
        padding: 1.5rem 2rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    h3 {
        margin: 0;
        color: var(--purple-5, #1E2B60);
        text-align: center;
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem; /* 114.286% */
    }

    .tab {
        color: var(--purple-5, #1E2B60);
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

        /* Title */
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-lg, 1.25rem);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
.project {
    width: 100vw;
    
    &-container {
        max-width: 72rem;
        margin: 0 auto;
        display: flex;
        gap: 1rem;
        flex-flow: row wrap;
        align-items: stretch;
    }
    &-details, &-articles {
        display: flex;
        min-width: 20rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        flex: 1 0 0;
    }
    &-image {
        width: 100%;
        align-self: stretch;
        aspect-ratio: 2/1;
        margin: 0;
        object-fit: cover;
    }
    &-title {
        margin: 0;
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
        a {
            color: currentColor;
        }

        .arrow {
            color: #744AF0;
            transition: transform .25s ease-in-out;
        }

        &:hover .arrow {
            transform: translateX(2px) scale(1.1);
        }
    }
    &-summary {
        margin: 0;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-md, 1rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.homepage-2025 .articles-list {
    display: flex;
    min-width: 20rem;
    flex-direction: column;
    align-items: center;
    gap: 1.3125rem;
    flex: 1 0 0;

    margin: 0;
    padding: 0;
}

.homepage-2025 .article {
    &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        overflow: hidden;
        border-radius: 1rem;
        border: 1px solid var(--purple-2, #DFD5FA);
        background: var(--white, #FFF);

        /* shadow-1 */
        box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
    }

    &-link {
        display: block;
        width: 100%;
        color: currentColor;
        &:hover {
            text-decoration: none;
            background: lighten($color-blue, 25%);
        }
    }

    &-image {
        align-self: stretch;
        aspect-ratio: 3/1;
        width: 100%;
    }

    &-title {
        margin: 0;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-lg, 1.25rem);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &-meta {
        display: flex;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;

        /* Small Label */
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-sm, 0.875rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-date, &-author {
        flex: 1 0 0;
        margin-bottom: 0;
    }

    &-text {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
        gap: 0.5rem;
        flex: 1 0 0;
    }
}

.homepage-2025 .account {
    display: flex;
    margin: 0;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

    h3 {
        margin: 0;
        color: #000;
        text-align: center;
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

        /* Title */
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-lg, 1.25rem);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    }
}

.homepage-2025 .stat {
    margin-bottom: 0;
    display: flex;
    min-width: 7.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex: 1 0 0;

    & .number {
        color: #000;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;

        /* Subtitle */
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-lg, 1.25rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & .label {
        color: #000;
        text-align: center;

        /* Small Label */
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: var(--font-sm, 0.875rem);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.homepage-2025 #expertise {
    flex-direction: column;

    & header {
        display: flex;
        margin: 0;
        padding: 1.5rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }
    & h3 {
        color: #000;
        text-align: center;
        font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
        font-family: var(--font-sans, "Source Sans Pro");
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem; /* 114.286% */
    }
    & .expertise-grid {
        display: grid;
        min-height: 40rem;
        max-width: 72rem;
        margin: 0 auto;
        height: auto;
        padding: 2rem;
        row-gap: 3rem;
        column-gap: 3rem;
        align-self: stretch;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        @media (min-width: 48rem) {
            grid-template-columns: repeat(2, minmax(20rem, 1fr));
            grid-template-rows: repeat(2, auto);
        }
    }
    & .expertise-item {
        display: flex;
        min-width: 20rem;
        max-width: 32rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        flex: 1 0 0;
        align-self: stretch;

        &-title {
            margin: 0;
            color: #000;
            font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

            /* Title */
            font-family: var(--font-sans, "Source Sans Pro");
            font-size: var(--font-xl, 1.5rem);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-subtitle {
            margin: 0;
            color: #000;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Subtitle */
            font-family: var(--font-sans, "Source Sans Pro");
            font-size: var(--font-lg, 1.25rem);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-description {
            margin: 0;
            color: #000;
            font-feature-settings: 'liga' off, 'clig' off;

            /* Body */
            font-family: var(--font-sans, "Source Sans Pro");
            font-size: var(--font-md, 1rem);
            font-style: normal;
            font-weight: 400;
            line-height: var(--font-xl, 1.5rem); /* 150% */
        }
        &-links {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
        }
    }
}

.homepage-2025 .newsletter-widget {
    max-width: 72rem;
    margin: 0 auto;
}