.map-container {
    @include display(flex);
    @include flex-wrap(wrap);
    width: 100%;
}

.map {
    flex: 3 1 45em;
    padding-right: $vr;
}

.markers {
    flex: 1 1 15em;
    p {
        margin-bottom: 0;
    }
    .badge {
        margin-left: 0;
    }
}

.marker-icon {
    width: 2em;
    vertical-align: middle;
    .icon {
        height: 2em;
        width: 2em;
    }
    &.success .icon path {
        fill: $color-green;
    }
    &.failure .icon path {
        fill: $color-red;
    }
}
