$color-title: #F26C5A;
$color-jurisdiction: #5A90F2;
$color-jurisdiction-picker: darken($color-jurisdiction, 10%);
$color-agency: darken($color-jurisdiction-picker, 10%);
$color-attachment: #F2B85A;
$color-embargo: $color-agency;

.new-request {
    .create-request {
        @include border-radius;
        background-color: $color-grey-7;
    }
    fieldset {
        margin: 0;
        padding: $vr;
        border-left: 2px solid $color-grey;
        border-right: 2px solid $color-grey;
    }
    .title {
        @include border-top-radius($border-radius);
        background-color: $color-title;
        border: 2px solid $color-red-dark;
        border-bottom: none;
        label { display: none; }
        input {
            width: 100%;
            background-color: $color-title;
            padding: 0;
            border: none;
            border-radius: 0;
            border-bottom: $border-width dotted lighten($color-title, 20%);
            color: $color-white;
            font-size: $size-6;
            @include placeholder {
                color: lighten($color-title, 15%);
            }
        }
    }
    .document-boilerplate {
      border-left: 2px solid $color-grey;
      border-right: 2px solid $color-grey;
      width: 100%;
      font-size: $size-3;
      margin: 0;
      padding: $vr;
    }
    .requested_docs {
        padding: 0;
        label { display: none; }
        textarea {
            display: block;
            width: 100%;
            height: 10em;
            padding: $vr;
            margin: 0;
            resize: none;
            border: none;
            border-radius: 0;
            @include placeholder {
                color: $color-grey;
            }
        }
    }
    .agencies {
        margin: 0;
        width: 100%;
        color: $color-white;
        background-color: $color-agency;

        label { color: $color-white; }
        input {
            width: 100%;
            background-color: $color-agency;
            border: none;
            border-bottom: 2*$border-width dotted lighten($color-agency, 20%);
            padding-left: 0;
            border-radius: 0;
            @include font-sizing(1.25, 3);
            color: $color-white;
            display: block;
            width: 100%;
            margin: 0;
            @include placeholder { color: $color-jurisdiction; }
            &:disabled {
                @include placeholder { color: darken($color-white, 2%); }
                background: $color-disabled;
                border-bottom: none;
                text-align: left;
                padding-left: 0;
                &:hover { padding-left: 0; }
            }
        }

    }
    .embargo label, .newsletter label {
      display: inline;
      margin-right: $vr/2;
    }
    .embargo, .no-embargo {
      color: $color-white;
      background-color: $color-embargo;
      border-left: 2px solid $color-grey;
      border-right: 2px solid $color-grey;
      width: 100%;
      margin: 0;
      padding: $vr;
      label { color: $color-white; }
      a {
        color: $color-grey-6;
        &:hover { color: $color-grey-4; }
      }
    }

    .advanced-container {
      display: none;
    }

    .toggle-advanced {
      cursor: pointer;
    }

    .full_name, .email {
        float: left;
        width: 50%;
        input { width: 100%; }
    }
    .full_name {
      border-right: 0;
    }
    .email {
      border-left: 0;
    }

    .autocomplete-light-widget {
        display: block;
        width: 100%;
        span.deck > span {
            display: block;
            width: 100%;
            margin: 0;
            color: $color-white;
            background: transparent;
            border: none;
            font-size: $size-4;
            span.remove {
                font-size: 0;
                float: right;
                height: 24px !important;
                width: 24px !important;
                background-size: 90%;
                background-position: center center !important;
                &:hover { background-position: center center !important; }
            }
        }
    }
    .autocomplete-light-widget.state span.deck > span,
    .autocomplete-light-widget.local span.deck > span {
        &:before {
            content: "Jurisdiction";
            display: block;
            @extend dfn;
            color: $color-white;
        }
    }

    footer.footer--submit, footer.footer--signup {
        padding: $vr;
        @include border-bottom-radius($border-radius);
        border: 2px solid $color-grey-5;
        border-top: none;
    }

    .footer--submit {
        text-align: right;
        .button-group {
          width: 100%;
        }
        .requests-left {
          text-align: left;
        }
    }

    .failure.panel {
        ul {
            padding-left: $vr;
            list-style-type: disc;
        }
        ul li ul {
            list-style-type: circle;
        }
    }
    .foia__single {
        display: inline-block;
        max-width: 20em;
        margin-right: $vr;
        &:last-child {
            margin-bottom: $vr;
        }
    }
}

.clone-candidates {
    text-align: center;
}

.multirequest-create {
    .autocomplete-light-widget {
        width: 100%;
        input {
            width: 100%;
        }
    }
}
