.create.project {
    max-width: 40em;
    margin: 0 auto $vertical-rhythm;
}
.publish.project {
    max-width: 40em;
    margin: 0 auto $vertical-rhythm;
}
.project__update {
    .project__update__header {
        @include display(flex);
        @include justify-content(space-between);
        @include padding;
        margin-bottom: 0;
        p {
            margin-bottom: 0;
        }
    }
    .form {
        padding-top: 0;
    }
    textarea {
        font-family: $font-monospace;
        font-size: $font-size-2;
    }
    .description textarea {
        min-height: 20em;
    }
    .description p {
        max-width: 40em;
    }
}

.project {
    .stats {
        .stat {
            font-size: $font-size-2;
            line-height: $font-line-height;
        }
        .value {
            display: block;
            font-weight: $font-weight-bold;
            font-size: $font-size-4;
            line-height: $font-line-height;
        }
    }
    .autocomplete-light-widget, .requests .deck, .articles .deck {
        @include display(flex);
        @include flex-direction(column-reverse);
        input {
            margin-bottom: $vertical-rhythm;
        }
    }
}

.project.detail {
    @include padding(0);

    .project__image {
        min-height: 45vh;
        margin-bottom: 0;
        background-size: cover;
        background-position: center;
        background-color: $color-grey-5;
    }

    .prompt, .overview, .objects {
        margin: 0 auto $vertical-rhythm;
    }

    .prompt {
        @include padding;
        @include box-shadow;
        border: 1px solid $color-blue;
        background: $color-blue-light;
        color: $color-blue-dark;
        font-weight: $font-weight-bold;
        ol {
            padding-left: $vertical-rhythm;
        }
        a {
            text-decoration: underline;
        }
        .strikethrough {
            text-decoration: line-through;
        }
    }

    .overview {
        @include display(flex);
        @include flex-flow(wrap);
        @include padding;
        max-width: 60em;
        .overview__main {
            @include flex(2 1 20em);
            min-width: 0;
            margin-bottom: $vertical-rhythm;
        }
        .overview__aside {
            @include flex(1 1 10em);
            min-width: 0;
            @media (min-width: 33.25em) {
                padding: 0 $vertical-rhythm;
            }
        }
        .title {
            @include media($medium-layout){
                font-size: $font-size-9;
                line-height: $font-line-height;
            }
        }
        summary {
            font-size: $font-size-4;
            line-height: $font-line-height;
        }
        .contributors header {
            @include display(flex);
            @include justify-content(space-between);
            margin-bottom: $vertical-rhythm/2;
        }
        .contributor {
            @include display(flex);
            margin-bottom: $vertical-rhythm/2;
            .avatar {
                display: block;
                @include border-radius;
            }
            .info {
                padding: $vertical-rhythm/4 $vertical-rhythm/2;
                p {
                    margin-bottom: 0;

                }
                a {
                    color: $color-black;
                }
                a:hover {
                    color: $color-blue;
                    path { fill: $color-blue; }
                }
                .name {
                    font-weight: $font-weight-bold;
                }
                .icon {
                    margin-left: $vertical-rhythm/2;
                }
            }
        }
        .stat a {
            color: $color-black;
            &:hover {
                color: $color-blue;
            }
        }
    }

    .objects {
        @include display(flex);
        @include flex-flow(wrap row);
        @include padding;
        max-width: 60em;
        .articles, .requests {
            @include flex(1 1 20em);
        }
        .articles {
            margin-right: $vertical-rhythm;
        }
    }
}

.project.component {
    @include flex(1 1 30em);
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    background: $color-white-pure;
    border: 1px solid $color-grey;
    @include border-radius;
    overflow: hidden;
    .project-header {
        @include flex(0 1 100%);
        @include display(flex);
        min-height: 15em;
        margin-bottom: 0;
        background-position: center;
        background-size: cover;
        background-color: $color-blue-dark;
        .project-header-wrapper {
            @include display(inline-flex);
            @include flex-direction(column);
            @include justify-content(flex-end);
            min-height: 100%;
            width: 100%;
            padding: $vertical-rhythm;
            background: rgb(52, 61, 71);
            background: rgba(52, 61, 71, .8);
            &:hover {
                background: rgba(52, 61, 71, .6);
            }
            transition: background .25s linear;
        }
        h2 {
            max-width: 20em;
            font-size: $font-size-6;
            line-height: $font-line-height;
            @include media($medium-layout) {
                font-size: $font-size-8;
                line-height: $font-line-height;
            }
        }
        a {
            color: $color-white;
        }
    }
    .overview, .details {
        padding: $vertical-rhythm/2;
        @include media($medium-layout) {
            padding: $vertical-rhythm;
        }
    }
    .overview {
        @include flex(1 1 20em);
        margin-bottom: 0;
        h2 a, .stat a {
            color: $color-black;
            &:hover {
                color: $color-blue;
            }
        }
        .more {
            font-weight: $font-weight-bold;
        }
    }
    .details {
        @include flex(1 1 10em);
        .crowdfund {
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(flex-start);
            .progress {
                @include flex(0 1 100%);
            }
            .stats, .button {
                @include flex(1 1 auto);
            }
        }
    }
}
