.master-detail {
    @include display(flex);
    @include flex-wrap(wrap);
    .master {
        @include flex(0 0 100%);
        @include media($medium-bp) {
            @include flex(1);
        }
        @include padding;
    }
    .detail {
        @include flex(0 0 100%);
        @include order(-1);
        @include padding;
        margin-bottom: $vr;
        @include media($medium-bp) {
            @include flex(3);
            @include order(2);
            margin-bottom: 0;
        }
    }
}

.tag-list {
    input.search {
        width: 100%;
        display: block;
        margin-bottom: $vr;
        border-radius: 0;
        outline: none;
    }
    .tag-table {
        @include border;
        border-left: none;
        border-right: none;
        max-height: 25em;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .list {
            display: table-row-group;
        }
        table {
            border: none;
        }
        tr {
            background-color: $color-white;
            &:first-child {
                border-top: none;
            }
        }
        td {
            padding: 0;
            a {
                display: block;
                padding: $vr/2;
                background-color: $color-white;
                &.active, &:hover {
                    text-decoration: none;
                    color: $color-white;
                    background-color: $color-blue;
                }
            }
        }
    }
    .detail h1 {
        font-weight: $bold;
    }
}

.no-tag {
    @include align-self(center);
    text-align: center;
    .call-to-action {
        font-size: $size-5;
    }
    .tag {
        font-size: $size-3;
    }
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
    }
}
