{% extends 'base.html' %}
{% comment %}

This is the parent style for a collection of objects: a collection of blog posts, FOI requests, questions, agencies, jurisdictions, users, etc.

{% endcomment %}
{% block content %}
    <h1>{% block list-label %}{% endblock list-label %}</h1>
    
    {% if page_obj.has_previous or page_obj.has_next %}
    <nav class="pagination">
		
		{% if page_obj.has_previous %}
		<ul class="left">
			<li><a class="button" href="?page=1">&#171; First page</a></li>
			<li><a class="button"
			       href="?page={{ page_obj.previous_page_number }}">
			       &#171; Previous page
            </a></li>
		</ul>
		{% endif %}
		{% if page_obj.has_next %}
		<ul class="right">
			<li><a href="?page={{ page_obj.next_page_number }}">Next page &#187;</a></li>
			<li><a href="?page={{ paginator.num_pages }}">Last page &#187;</a></li>
		</ul>
		{% endif %}
		
	</nav>
	{% endif %}
    
    <object class="{% block type %}item{% endblock type %} collection">
        <ul>
            {% for item in object_list %}
            <li>
                {% block list-item %}
                <span class="title">
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </span>
                {% endblock list-item %}
            </li>
            {% empty %}
            <li class="empty">Hmm&ellip; looks like there&rsquo;s nothing here.</li>
            {% endfor %}
        </ul>
    </object>
{% endblock %}