{% extends 'base.html' %}
{% comment %}

This is the parent style for a collection of objects: a collection of blog posts, FOI requests, questions, agencies, jurisdictions, users, etc.

{% endcomment %}
{% block content %}
    
    <header class="collection-header">
        <h1 class="list-label">
            {% block list-label %}{% endblock list-label %}
        </h1>
    </header>
    
    {% include 'lib/pagination.html' %}
    
    <object class="{% block type %}item{% endblock type %} collection">
        {% block list %}
        <ul>
            {% for item in object_list %}
            <li>
                {% block list-item %}
                <h2>
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </h2>
                {% endblock list-item %}
            </li>
            {% empty %}
            <li class="empty">Hmm&ellip; looks like there&rsquo;s nothing here.</li>
            {% endfor %}
        </ul>
        {% endblock list %}
    </object>
    
    {% include 'lib/pagination.html' %}
    
{% endblock %}