{% extends 'lists/base_list.html' %}

{% block title %}MuckRock &bull; Questions{% endblock title %}
{% block list-label %}Questions &amp; Answers{% endblock list-label %}
{% block type %}question{% endblock type %}

{% block list-item %}
    <h3>On {{ item.date | date:"F j, Y"}}, {{ item.user.get_full_name }} asked</h3>
    <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
    {% if item.answers %}
    <h3>and got {{ item.answers | length }} answers from &lt;ANSWER AUTHOR LIST&gt;</h3>
    {% endif %}
{% endblock list-item %}