.button-group {
    @include display(inline-flex);
    margin-bottom: 0;
    .button {
        @include flex(1 1 auto);
        border-radius: 0;
    }
    .button:first-child {
        border-top-left-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
    }
    .button:last-child {
        margin-bottom: $vr/4;
        border-top-right-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
    }
}
