$crowdfund-color: $color-green;
$crowdfund-color-dark: $color-green-dark;
$crowdfund-color-light: $color-green-light;
$crowdfund-border: $base-border-width solid $crowdfund-color;

.crowdfund.widget {
    @include display(flex);
    @include flex-direction(column);
    overflow: visible;
    margin: 0 auto $vertical-rhythm;
    border: $crowdfund-border;
    background: #FFF;

    & > *:last-child {
        @include border-bottom-radius($base-border-radius);
    }

    a, .action {
        color: $color-green-dark;
        &:hover {
            color: $color-black;
        }
    }

    header .action {
        font-size: $font-size-2;
        margin-right: $vertical-rhythm/2;
    }

    header, footer {
        @include flex(0 0 auto);
        margin-bottom: 0;
        padding: $vertical-rhythm/4 $vertical-rhythm/2;
        color: $crowdfund-color-dark;
        background-color: $crowdfund-color-light;
    }
    main {
        @include flex(auto);
        overflow-y: scroll;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);
        .row {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(center);
            & > * {
                @include flex(1);
                padding: $vertical-rhythm/2;
                @include media($medium-layout) {
                    margin-bottom: 0;
                }
            }
        }
    }

    header {
        border-bottom: $crowdfund-border;
        h1 {
            font-size: $font-size-3;
            line-height: $font-line-height;
            font-weight: $font-weight-bold;
            margin: 0;
        }
    }

    .description {
        padding: $vertical-rhythm/2;
    }

    .progress, .meter {
        margin-bottom: 0;
        border-radius: 0;
    }

    .stats {
        margin-bottom: 0;
        text-align: center;
        font-size: $font-size-2;
        line-height: $font-line-height;
    }

    .contributor-list {
        margin-top: 0;
        li {
            display: inline-block;
            padding: 0 $vertical-rhythm/2 0 0;
        }
    }
}

.crowdfund.widget footer {

    border-top: $crowdfund-border;
    form {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-wrap(wrap);
    }
    form > section {
        margin-bottom: 0;
    }
    .anonymity p {
        margin: 0;
    }
    .anonymity input {
        margin: $vertical-rhythm/4;
    }
    .donate {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(stretch);
        margin: $vertical-rhythm/2 0;
        border: 1px solid $color-green;
        input {
            @include flex(3 1 auto);
            @include appearance(none);
            border: none;
            line-height: $font-line-height;
            border-radius: 0;
            color: $color-green-dark;
        }
        button {
            @include flex(1 1 auto);
        }
    }
}

.crowdfund.widget {
    .contributors {
        position: relative;
    }
    .contributor {
        &.summary {
            margin-bottom: 0;
            font-weight: $font-weight-bold;
            cursor: default;
        }
        &.dropdown {
            display: none;
            position: absolute;
            margin: $vertical-rhythm;
            bottom: 0;
            z-index: 1;
            border-radius: $base-border-radius;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            background-color: $color-black;
            color: $color-white;
            opacity: 0;
            list-style-type: none;
            font-size: $font-size-2;
            @include transition(opacity .25s .25s linear);
        }
        &.summary:hover + .dropdown, &.dropdown:hover {
            display: block;
            opacity: .9;
        }
    }
}

/* Crowdfund state */

.crowdfund.widget {
    position: relative;

    .overlay {
        z-index: -1;
        opacity: 0;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        color: $color-white;
        text-align: center;
        font-weight: $font-weight-bold;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        a, .action {
            color: $color-white;
            &:hover {
                color: $color-white-pure;
            }
        }

        textarea {
            color: $color-black;
            width: 32em;
            text-align: center;
            font-weight: $font-weight-normal;
            resize: none;
            white-space: nowrap;
            overflow-x: scroll;
        }

        &.visible {
            z-index: 1;
            opacity: 1;
        }

        .loader, .dialog {
            padding: $vertical-rhythm;
        }

        .sharing {
            margin: 0 auto $vertical-rhythm;
            width: 22em;
            dfn {
                display: none;
            }
            .share {
                border: 2px solid $color-white;
                text-decoration: none;
                &.twitter, &.facebook, &.email {
                    background-color: transparent;
                    &:hover {
                        background-color: rgba(255, 255, 255, .25);
                    }
                }
            }
        }
    }
}

.embed {
    margin-bottom: 0;
}
.embed .widget {
    margin-bottom: 0;
    width: 100vw;
    height: 100vh;
    .overlay {
        margin-bottom: 0;
    }
}
