$crowdfund-color: $color-green;
$crowdfund-color-dark: $color-green-dark;
$crowdfund-color-light: $color-green-light;
$crowdfund-border: $base-border-width solid $crowdfund-color;

.crowdfund__widget {
    @include display(flex);
    @include flex-direction(column);
    overflow: visible;
    margin: 0 auto $vertical-rhythm;
    border: $crowdfund-border;
    background: #FFF;

    & > *:last-child {
        @include border-bottom-radius($base-border-radius);
    }

    .crowdfund__widget__header, .crowdfund__widget__footer {
        @include flex(0 0 auto);
        margin-bottom: 0;
        padding: $vertical-rhythm/4 $vertical-rhythm/2;
        color: $crowdfund-color-dark;
        background-color: $crowdfund-color-light;
    }

    .crowdfund__widget__header {
        border-bottom: $crowdfund-border;
        h1 {
            font-size: $font-size-3;
            line-height: $font-line-height;
            font-weight: $font-weight-bold;
            margin: 0;
            a {
                color: $crowdfund-color-dark;
            }
        }
        .action {
            font-size: $font-size-2;
            margin-right: $vertical-rhythm/2;
        }
    }


    main {
        @include flex(auto);
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);
        margin-bottom: 0;
        .row {
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(center);
            & > * {
                @include flex(1 1 25);
                margin-bottom: 0;
                text-align: left;
                padding: $vertical-rhythm/2;
                @include media($medium-layout) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .description {
        margin-bottom: 0;
        padding: $vertical-rhythm/2;
    }

    .progress, .meter {
        margin-bottom: 0;
        border-radius: 0;
    }

    .stats {
        margin-bottom: 0;
        text-align: center;
        font-size: $font-size-2;
        line-height: $font-line-height;
    }

    .contributor-list {
        margin-top: 0;
        li {
            display: inline-block;
            padding: 0 $vertical-rhythm/2 0 0;
        }
    }
}

.crowdfund__widget__footer {
    border-top: $crowdfund-border;
    form > section {
        margin-bottom: 0;
    }
    .anonymity input[type="checkbox"] {
        margin-right: $vertical-rhythm/4;
    }
    .anonymity input[type="text"] {
        width: 100%;
        border-radius: 0;
        border: 1px solid $color-green;
    }
    .anonymity p {
        margin-bottom: $vertical-rhythm/4;
    }
    .crowdfund__donate {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(stretch);
        margin: $vertical-rhythm/2 0;
        border: 1px solid $color-green;
        input {
            @include flex(3 1 auto);
            @include appearance(none);
            border: none;
            line-height: $font-line-height;
            border-radius: 0;
            color: $color-green-dark;
        }
        button {
            @include flex(1 1 auto);
        }
    }
    button:disabled {
        background: $color-grey-7;
        &:hover {
            background: $color-grey-7;
        }
    }
}

.crowdfund__widget {
    .contributors {
        position: relative;
    }
    .contributor {
        &.summary {
            margin-bottom: 0;
            font-weight: $font-weight-bold;
            cursor: default;
        }
        &.dropdown {
            display: none;
            position: absolute;
            margin: $vertical-rhythm;
            bottom: 0;
            z-index: 1;
            border-radius: $base-border-radius;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            background-color: $color-black;
            color: $color-white;
            opacity: 0;
            list-style-type: none;
            font-size: $font-size-2;
            @include transition(opacity .25s .25s linear);
        }
        &.summary:hover + .dropdown, &.dropdown:hover {
            display: block;
            opacity: .9;
        }
    }
}

.crowdfund__widget
{
    position: relative;
    .overlay
    {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(33, 38, 46, .9);
    }
    .overlay .dialog
    {
        width: 32em;
        color: $color-white;
        font-weight: $font-weight-bold;
        .icon {
            @include svg-color($color-white);
        }
        a, .action
        {
            color: $color-white;
            &:hover
            {
                color: $color-white-pure;
            }
        }
        p
        {
            margin-bottom: $vertical-rhythm/2;
        }
        input {
            color: $color-black;
        }
        textarea
        {
            color: $color-black;
            font-family: $font-monospace;
            font-size: $font-size-2;
            text-align: center;
            font-weight: $font-weight-normal;
            resize: none;
            white-space: nowrap;
        }
        .sharing dfn
        {
            display: none;
        }
        .newsletter-widget
        {
            padding: 0;
            border: none;
            background: none;
            .call-to-action
            {
                display: none;
            }
            .email-field {
                margin: 0;
            }
        }
    }
    .overlay .dialog header {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(baseline);
        h1 {
            margin-bottom: 0;
        }
        .icon {
            height: 1.5rem;
            width: 1.5rem;
            vertical-align: middle;
        }
    }
    .overlay .dialog footer {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(baseline);
    }
}

/* Crowdfund state */

.crowdfund__widget .overlay
{
    z-index: -1;
    opacity: 0;
    &.visible
    {
        z-index: 1;
        opacity: 1;
    }
    .loader, .dialog
    {
        padding: $vertical-rhythm;
    }
}
