.foia-single {
    width: 100%;
    overflow: hidden;
    @include border;
    @include border-radius;
    background-color: $color-white-pure;
    .title {
        font-weight: $font-weight-bold;
        margin-bottom: $vertical-rhythm/2;
    }
    .files {
        font-weight: $font-weight-bold;
    }
    header {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-items(center);
        margin-bottom: 0;
        padding: $vertical-rhythm/2;
        .badge, .files {
            margin-bottom: 0;
        }
    }
    main {
        padding: $vertical-rhythm/2;
    }
    footer {
        @include display(flex);
        .basic.button {
            @include flex(1);
        }
    }
}
