.notification {
    @include display(flex);
    @include align-items(flex-start);
    .symbol {
        margin-right: $vertical-rhythm/2;
    }
    .text {
        @include flex(1);
    }
    .icon {
        vertical-align: middle;
        &.success { @include svg-color($color-green); }
        &.error { @include svg-color($color-red); }
        &.info { @include svg-color($color-blue); }
    }
    .notification__action, .notification__action--passive {
        display: inline-block;
        margin-bottom: 0;
    }
    .timestamp {
        color: $color-grey;
        font-size: $font-size-2;
        float: right;
    }
}
