.notifications {
    margin-bottom: 0;
}

@mixin notification-color($light, $normal, $dark) {
    background: $light;
    color: $dark;
    .symbol {
        background: $normal;
        path, rect, circle {
            fill: $dark;
        }
    }
}

.notification {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    @include notification-color($color-grey-7, $color-black, $color-black);
    .symbol {
        $svg-size: 2.75em;
        flex: 0 0 $svg-size;
        text-align: left;
        svg {
            width: $svg-size;
            height: $svg-size;
            padding: $vertical-rhythm/2;
            vertical-align: middle;
        }
    }
    .text {
        flex: 1 1 auto;
        padding: $vertical-rhythm/2;
    }
    @include media($medium-layout) {
        @include flex-direction(row);
        .symbol {
            text-align: center;
        }
    }
}

.notification.info {
    @include notification-color($color-blue-light, $color-blue, $color-blue-dark);
}

.notification.success {
    @include notification-color($color-green-light, $color-green, $color-green-dark);
}

.notification.warning {
    @include notification-color($color-yellow-light, $color-yellow, $color-yellow-dark);
}

.notification.error {
    @include notification-color($color-red-light, $color-red, $color-red-dark);
}
