.overlay__container {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    background: rgba(0,0,0,.7);
}
