.question {
    .question-header {
        .options .icon {
            margin-left: $vr;
            path {
                fill: $color-white;
            }
            opacity: .7;
            &:hover {
                opacity: .9;
            }
        }
    }
    .dropdown a {
        color: $color-black;
    }
}

.answer {
    .answer-header {
        .options .icon {
            margin-left: $vr;
            path {
                fill: $color-white;
            }
            opacity: .7;
            &:hover {
                opacity: .9;
            }
        }
    }
    .dropdown a {
        color: $color-black;
    }
}
