$task-padding: $vr/4 $vr/2;

.textbox__section.task__main {
    padding: 0;
}

.task__data {
    padding: $vr/2;
    li {
        margin-left: $vr;
    }
}

.task .full-letter {
    margin-bottom: 0;
    background: $color-grey-7;
    & > header {
        @include display(flex);
        margin-bottom: 0;
        border-bottom: 1px solid $color-grey;
        padding: $task-padding;
        background: $color-grey-7;
    }
    textarea {
        display: block;
        border-radius: 0;
        border-bottom: 1px solid $color-grey;
        max-width: 100%;
        height: 20em;
        padding: $vr/2;
        font-family: $monospace;
        font-size: $size-2;
    }
}

.task .full-communication {
    margin-bottom: 0;
    background: $color-grey-7;
    & > header {
        @include display(flex);
        margin-bottom: 0;
        border-bottom: 1px solid $color-grey;
        padding: $task-padding;
        background: $color-grey-7;
    }
    main {
        border-bottom: 1px solid $color-grey;
        padding: $vr/2;
    }
}

.task .task__actions {
    background: $color-grey-7;
    text-align: right;
    input, select, label {
        display: block;
        width: 100%;
        margin-bottom: $vr;
    }
    label.check-label {
        display: inline;
    }
    input[type="checkbox"] {
        width: auto;
        float: left;
    }
    label {
        margin-bottom: 0;
    }
}

.task .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: $color-white;
    text-align: center;
    font-weight: $bold;
    a {
        color: $color-white;
    }
    z-index: -1;
    opacity: 0;
    @include transition(opacity, .5s, linear);
    &.visible {
        z-index: 1;
        opacity: .9;
    }
    &.pending  { background-color: $color-grey;    }
    &.error    { background-color: $color-red;     }
    .loader, .dialog {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.task__actions .task-defer {
    text-align: left;
    float: left;
    width: 200px;
    input {
        width:100px;
        display: inline-block;
    }
}

.task__main .form-data-table {
    width: 95%;
    margin: 10px auto;
    padding: 5px;
    br.clear {
        clear: both;
    }
    .row {
        margin: 0;
        padding: 0;
    }
    .cell {
        border: 1px solid black;
        float: left;
        height: 60px;
        padding: 5px;
        margin: 0;
    }
}

/* Flagged Task */

.flagged.task .flag-reply {
    background-color: $color-grey-7;
    border-bottom: 1px solid $color-grey;
    header, footer, textarea {
        margin-bottom: 0;
        padding: $task-padding;
    }
    textarea {
        display: block;
        height: 10em;
        border-radius: 0;
        border: none;
    }
    .submission-control {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
    }
    .checkbox-field {
        margin-bottom: 0;
        margin-left: $vr;
    }
}

/* Project Review Task */

.project.task {
    .task__actions label {
        text-align: left;
    }
    .task__actions textarea {
        margin-bottom: 0;
    }
    .task__actions .submission-control {
        @include display(flex);
        @include justify-content(space-between);
    }
}

/* Stale Agency Task */

.stale-agency .task__data {
    margin-bottom: 0;
}

.stale-agency .stale-requests, .review-agency .review-requests {
    border-bottom: 1px solid $color-grey;
    header {
        margin-bottom: 0;
        padding: $vr/2;
        background: $color-grey-7;
    }
    header.error {
        background: $color-red-light;
    }
    input[type="text"] {
        margin: 0;
        border-radius: 0;
        width: 100%;
    }
    input[type="text"].error {
        background: $color-red-light;
    }
    abbr {
        cursor: help;
    }
}

.stale-agency .recent-response {
    text-align: left;
    p {
        margin-bottom: 0;
    }
}

.stale-agency .form-field, .review-agency .form-field {
    text-align: left;
}

/* New Agency Task */

.new-agency-forms {
    padding: 0 $vr/2;
    .spam.button {
        float: left;
    }
}

.new-agency .task__data {
    margin-bottom: 0;
}

.new-agency.form {
    margin-top: 0;
    margin-bottom: $vr/2;
    padding: 0;
    border-radius: 0;
    background: $color-white;
    header, footer {
        padding: $task-padding;
        margin-bottom: 0;
    }
    header {
        font-weight: $bold;
        font-size: $size-2;
        color: $color-white;
        background: $color-grey-6;
    }
    footer {
        text-align: right;
    }
    input, select {
        display: block;
        width: 100%;
    }
    input#id_address_city {
        display: inline-block;
        width: 50%;
    }
    select#id_address_state {
        display: inline-block;
        width: 30%;
    }
    input#id_address_zip {
        display: inline-block;
        width: 18%;
    }
    textarea {
        margin-bottom: 0;
        height: 6em;
        resize: none;
    }
    main {
        @include display(flex);
        @include flex-wrap(wrap);
        margin-bottom: 0;
    }
    fieldset {
        @include flex(1 0 50%);
        margin-bottom: $vr/2;
        padding: 0 $vr/2;
    }
    fieldset.id_name {
        @include flex(1 0 100%);
        margin-left: 0;
        margin-right: 0;
    }
    .help-text {
        color: $color-grey-3;
        line-height: $lh;
    }
}

.new-agency.red.textbox {
    background: $color-red-light;
    select {
        display: block;
        width: 100%;
    }
}

.new-agency.green.textbox {
    background: $color-green-light;
    .help-text {
        color: $color-green-dark;
    }
}

.new-agency .clear {
    clear: both;
}

.new-agency .task__actions {
    text-align: left;
    .task-defer {
        float: none;
    }
}

/* Response Task */

.response.task, .portal.task {
    .response-input {
        margin-bottom: 0;
        text-align: left;
        @include columns(3 12em);
        label {
            font-size: $size-2;
        }
    }
    .task__data {
        margin-bottom: 0;
    }
	.proxy {
		float: left;
	}
}

/* Snail Mail Task */

.task .task-post-actions input[type="checkbox"] {
    float: none;
    display: inline-block;
    margin: 0 $vr/2;
}

.snail-mail.task .task-post-actions {
    margin-bottom: 0;
    .input-group {
        text-align: left;
    }
    .button-group {
        text-align: right;
    }
}

/* Portal Task */

.portal .form-field {
    text-align: left;
}

/* Orphan Task */

.orphan .task__actions{
    /*text-align: left;*/
    label {
        display: inline;
        width: auto;
    }
    input {
        display: inline;
        width: auto;
    }
    .task-defer {
        input {
            display: inline-block;
            width: 100px;
        }
    }
}
