
{% extends "qanda/base.html" %}

{% block title %}Answer a Question{% endblock %}

{% block content %}

	<h2>Answer a Question</h2>
	<div class="form">
	<p>{{question.question}}</p>
	<p class="right"><a href="http://en.wikipedia.org/wiki/Markdown#Syntax_examples" target="_blank">Formatting Help</a></p>
	<br class="clear" />
  <form action="" method="post">
		<fieldset>
			{% include "form.html" %}
			<input type="submit" name="submit" value="Submit" class="button" />
		</fieldset>
  </form>
	</div>

{% endblock %}

