{% extends "base.html" %}
{% block title %}MuckRock &bull; FOIA Log{% endblock %}

{% block content %}
  <article class="foia-log-detail">
    <header class="grid__row space-between">
      <h1 class="grid__column third">FOIA Logs</h1>
      <ul class="nostyle grid__column two-thirds">
        {% with foia_log.agency as agency %}
          <li>
            <a href="{% url "foia-logs-list" %}?agency={{ agency.pk }}">
              Browse all {{agency.name}} FOIA logs &rarr;
            </a>
          </li>
        {% endwith %}
        <li>
          <a href="{% url "foia-logs-list" %}">
            Browse all FOIA logs &rarr;
          </a>
        </li>
      </ul>
    </header>
    {% include "lib/foia_log.html" with show_agency=True %}
  </article>
{% endblock content %}
