{% extends 'foiamachine/base.html' %}

{% load hosts %}
{% load markdown_deux_tags %}

{% block main %}
<main>
    <header class="space-between">
        <div>
            <h1>{{object.title}}</h1>
            <p>{% if object.agency %}<a href="{{object.agency.get_absolute_url}}">{{object.agency}}</a> &bull; {% endif %}<a href="{{object.jurisdiction.get_absolute_url}}">{{object.jurisdiction}}</a></p>
        </div>
        <p><a href="{% host_url 'foi-update' slug=object.slug pk=object.pk host 'foiamachine'%}">Edit</a> &bull; <a href="{% host_url 'foi-delete' slug=object.slug pk=object.pk host 'foiamachine'%}">Delete</a></p>
    </header>
    <div class="letter">
        {{object.generate_letter|markdown}}
    </div>
</main>
{% endblock %}
