
{% extends "foia/base-submit.html" %}

{% block media %}
	<style>
		.ui-button { margin-left: -1px; }
		.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
		.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
	</style>
{% endblock %}

{% block content %}
	<h1>FOI Request for Tracking</h1>
	<p>This will allow you to track a FOI request in our system without us filling it on your behalf.</p>
	<div class="form">
		<form action="" method="post">
			<fieldset>
				{% include "form.html" %}
				{{ formset.management_form }}
				{% for form in formset.forms %}
					<div class="content-separator"></div>
					{% include "form.html" %}
				{% endfor %}
				<input type="submit" name="submit" value="Save" class="button" />
			</fieldset>
		</form>
	</div>
{% endblock %}
