{% extends "foia/base-submit.html" %}

{% block content %}
<h1>Which documents do you want to request?</h1>

<div id="progressbar" title="33% Complete"></div><br />

{% if wizard.form.errors %}
<div class="error">{{ wizard.form.errors }}</div>
{% endif %}
	<div class="form">
  <form action="" method="post">
			{% csrf_token %}
			{{ wizard.management_form }}
			<dl>
				<dt>
					<input type="radio" name="{{wizard.steps.current}}-template" id="none" value="none" />
					<label for="none">Write your own request</label>
				</dt>
				<dd>
					If you already know exactly which document you want
				</dd>
			</dl>
			<div id="tabs">
				<ul>
				{% for cat_tuple in wizard.form.fields.template.choices %}
					{% if cat_tuple.0 != 'None' %}
						<li><a href="#tabs-{{cat_tuple.0}}">{{cat_tuple.0}}</a></li>
					{% endif %}
				{% endfor %}
				</ul>

				{% for cat_tuple in wizard.form.fields.template.choices %}
					{% if cat_tuple.0 != 'None' %}
						<div id="tabs-{{cat_tuple.0}}">
							<dl>
							{% for template in cat_tuple.1 %}
								<dt>
									<input type="radio" name="{{wizard.steps.current}}-template" id="{{template.0}}" value="{{template.0}}" />
									<label for="{{template.0}}">
										{{template.1.name}}
									</label>
								</dt>
								<dd>{{template.1.short_desc}}</dd>
							{% endfor %}
							</dl>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			{% if wizard.steps.prev %}
			<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="jqbutton">Previous</button>
			{% endif %}
			<input type="submit" name="submit" value="Next" class="button" />
  </form>
	</div>
{% endblock %}
