
{% extends "foia/base-submit.html" %}

{% block media %}
{% include "registration/cc_media.html" %}
{% endblock %}

{% block content %}
	<h1>Confirm</h1>
    {% if org_requests > 0 %}
		<p class="large">This request will use {{ org_requests }} organization request{{org_requests|pluralize}}, {{ monthly_requests }} monthly request{{monthly_requests|pluralize}}, {{ reg_requests }} regular request{{reg_requests|pluralize}}, and {{ extra_requests }} additional request{{extra_requests|pluralize}}.</p>
	{% else %}
		<p class="large">This request will use {{ monthly_requests }} monthly request{{monthly_requests|pluralize}}, {{ reg_requests }} regular request{{reg_requests|pluralize}}, and {{ extra_requests }} additional request{{extra_requests|pluralize}}.</p>
	{% endif %}

  {% if extra_requests > 0 %}
  <p class="large">The additional requests are $4 each, for a total of ${{ payment_required }}, and may be paid for now.</p>
  {% endif %}
	<div class="form">

		{% if extra_requests > 0 %}
		<form action="" method="post" id="stripe-form" style="display: none;">
		{% else %}
		<form action="" method="post">
		{% endif %}
			{{ wizard.management_form }}
			<fieldset>
				{% with wizard.form as form %}
				{% include "form.html" %}
				{% endwith %}
				<input type="submit" name="submit-button" value="Submit" class="button" />
			</fieldset>
		</form>
	</div>
	<!--
		The easiest way to indicate that the form requires JavaScript is to show
		the form with JavaScript (otherwise it will not render). You can add a
		helpful message in a noscript to indicate that users should enable JS.
	-->
	<script>if (window.Stripe) $("#stripe-form").show()</script>
	<noscript><p>JavaScript is required for the registration form.</p></noscript>
{% endblock %}
