<span class="choice" data-value="{{ choice.pk }}">
  <div class="choice__text">
    <p class="nomargin">
      {{ choice.name }}
      {% if choice.exempt %}
        <span class="small red badge exempt">Exempt</span>
        {% if choice.exempt_note %}
          <span class="exempt-note">{{ choice.exempt_note|safe }}</span>
        {% endif %}
      {% elif choice.uncooperative %}
        <span class="small red badge uncooperative">Scofflaw</span>
        {% if choice.exempt_note %}
          <span class="exempt-note">{{ choice.exempt_note|safe }}</span>
        {% endif %}
      {% elif choice.requires_proxy or choice.jurisdiction.legal.always_proxy %}
        <span class="small yellow badge proxy">Proxy Required</span>
        <span class="exempt-note">This agency doesn't accept out of state requesters, so a local volunteer will file it on your behalf once submitted.</span>
      {% endif %}
      {% if choice.status == "pending" %}
        <span class="small yellow badge">Pending</span>
      {% endif %}
    </p>
    <p class="small grey nomargin">{{ choice.jurisdiction }}</p>
  </div>
  {% if not choice.pk %}
    <div class="choice__text menu-option">
      <p class="nomargin">
        Can't find the agency?  Click to add "{{ choice.name }}"
      </p>
      <p class="small grey nomargin">Enter the agency name in the following format: Agency name, City, State or Agency Name, State</p>
    </div>
  {% endif %}
</span>
