{% load static from staticfiles %}
{% load thumbnail %}

<span class="block user choice" data-value="{{choice.pk}}">
    <div class="main">
        {% if 0 and choice.profile.avatar %}
        <img src="{% thumbnail choice.profile.avatar 50x50 %}" class="avatar" />
        {% else %}
        <img src="{% static 'icons/logo.png' %}" height="50" width="50" class="avatar" />
        {% endif %}
        <div class="name">
            <span class="fullname">{{choice.get_full_name}}</span>
            <span class="username">({{choice.username}})</span>
        </div>
    </div>
</span>

