{% extends 'forms/base_form.html' %}

{% block form-form %}

<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <object class="failure panel">
    {{ form.non_field_errors }}
    </object>
    {% endif %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <fieldset class="{{ field.label|lower }}{% if field.errors %} failure{% endif %}{% if field.field.required %} required{% endif %}">
            <label for="{{ field.auto_id }}">{{ field.label}}</label>
            {{ field }}
            {% if field.help_text %}<p class="default"><small>{{ field.help_text }}</small></p>{% endif %}
            {% if field.errors %}<p class="failure"><small>{{ field.errors }}</small></p>{% endif %}
        </fieldset>
    {% endfor %}
    <div class="buttons">
        <input type="submit" name="submit" value="Submit" class="primary button"  {% if not user.is_authenticated %}disabled{% endif %} />
        {% if not user.is_authenticated %}
        <input type="submit" name="login" value="Log In" class="default button" />
        <input type="submit" name="signup" value="Sign Up" class="primary button" />
        {% endif %}
    </div>
    
</form>

{% endblock %}