{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="explore news">
    {# The header explains what our news is and why it matters. #}
    <header class="explore__header__wrapper">
        <div class="explore__header grid__row">
            <div class="grid__column two-thirds">
                <h1>News</h1>
                <p>Original reporting, commentary, and analysis of public records and their by MuckRock's staff and affiliates, with new articles every weekday.</p>
            </div>
            <div class="grid__column third">
                <ul class="nostyle">
                    <li><a class="bold" href="{% url 'news-archive' %}">Browse our archive &rarr;</a></li>
                    <li><a class="bold" href="mailto:info@muckrock.com">Send us a tip &rarr;</a></li>
                </ul>
            </div>
            <div class="grid__column full nopadding">
                <ul class="tag-list nostyle inline">
                    {% for tag in top_tags %}
                    <li><a class="tag" href="{% url 'news-archive'%}?tags={{tag.id}}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>
    <main class="explore__main">
        <div class="recent-articles grid__row">
            {% for article in recent_articles %}
            {% if forloop.first %}
            <div class="grid__column two-thirds">
                {% include 'lib/pattern/article.html' with large=True %}
            </div>
            {% else %}
            <div class="grid__column third">
                {% include 'lib/pattern/article.html' with small=True %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="featured-projects">
            {% for project in featured_projects %}
            <div class="featured-project grid__row nomargin">
                <div class="grid__column two-thirds">
                    <div class="featured-project__overview">
                        <p class="h2"><a href="{% url 'news-archive' %}?projects={{project.id}}">{{project.title}}</a></p>
                        <summary class="nomargin">
                            {{project.summary}}
                        </summary>
                        <p class="bold"><a href="{% url 'news-archive' %}?projects={{project.id}}">See all {{project.article_count}} articles</a></p>
                    </div>
                </div>
                {% for article in project.articles.all|slice:":4" %}
                <div class="grid__column third">
                    {% include 'lib/pattern/article.html' with small=True %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}
