{% extends 'base.html' %}

{% block content %}
<div class="explore news">
    {# The header explains what our news is and why it matters. #}
    <header class="explore__header__wrapper">
        <div class="explore__header grid__row">
            <div class="grid__column two-thirds">
                <h1>News</h1>
                <p>We use public records to report on local and state governments across the country, as well as many federal agencies.</p>
            </div>
            <div class="grid__column third">
                <ul class="nostyle">
                    <li><a class="bold" href="{% url 'news-archive' %}">Browse our archive</a></li>
                    <li><a class="bold" href="mailto:info@muckrock.com">Send us a tip</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="explore__main">
        <ul class="tag-list nostyle inline">
            {% for tag in top_tags %}
            <li><a class="tag" href="{% url 'news-archive'%}?tags={{tag.id}}">{{tag}}</a></li>
            {% endfor %}
        </ul>
        <div class="recent-articles grid__row">
            {% for article in recent_articles %}
            {% if forloop.counter0 < 1 %}
            <div class="grid__column two-thirds">
                {% include 'lib/pattern/article.html' with large=True %}
            </div>
            {% else %}
            <div class="grid__column third">
                {% include 'lib/pattern/article.html' with small=True %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="project-articles grid__row">
            <div class="grid__column half"></div>
            <div class="grid__column half"></div>
        </div>
    </main>
</div>
{% endblock %}
