{% extends 'base_list.html' %}

{% load markdown_deux_tags %}
{% load thumbnail %}

{% block list-content %}
<div class="grid__column three-quarters"
{% if object_list %}
    {% include 'lib/component/pagination.html' %}
    <ul class="nostyle">
        {% for article in object_list %}
        <li class="news-list-article">
            {% include 'lib/pattern/article.html' %}
        </li>
        {% endfor %}
    </ul>
    {% include 'lib/component/pagination.html' %}
{% else %}
    <p class="list-empty">No Results</p>
{% endif %}
{% endblock list-content %}
