{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; Create an Organization{% endblock %}
{% block form-type %}organization{% endblock %}
{% block form-title %}Create an Organization{% endblock %}

{% block form-info %}
<p><small>Organization subscriptions allow you to share a pool of requests with up to 50 other MuckRock users. Organization subscriptions are $450 per month, and the subscription will be associated with your MuckRock account.</small></p>
{% endblock form-info %}

{% block form-form %}
<form method="post" id="org-create-form">
    {% csrf_token %}
    {{ form }}
</form>
<button data-amount="45000"
        data-description="Org. subscription ($450/month)"
        data-email="{{ request.user.email }}"
        data-form="#org-create-form"
        class="checkout-button primary">
        Create Organization
</button>
{% endblock form-form %}

{% block styles %}
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.checkout-button').click(function(e){
            e.preventDefault();
            checkoutData = getCheckoutData($(this));
            checkout(
                "{{ stripe_pk }}",
                "{% static 'apple-touch-icon.png' %}",
                checkoutData.description,
                checkoutData.amount,
                checkoutData.email,
                checkoutData.form
            );
        });
    });
</script>
{% endblock styles %}