{% extends 'base.html' %}

{% block content %}
<div class="detail">
    <header>
        {% if user_is_contributor %}
        <h1>Your Projects</h1>
        {% else %}
        <h1>{{contributor.profile.full_name}}&rsquo;s Projects</h1>
        {% endif %}
    </header>
    <div class="projects">
    {% for project in projects %}
        {% include 'lib/pattern/project.html' %}
    {% empty %}
        <div class="empty">
            <h2>No Projects</h2>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
