{% extends 'forms/base_form.html' %}

{% block title %}MuckRock &bull; Create a project{% endblock %}
{% block form-type %}project-create{% endblock %}
{% block form-title %}Create a new project{% endblock %}

{% block form-form %}

{% if form.is_multipart %}
<form enctype="multipart/form-data" method="post">
{% else %}
<form method="post">
{% endif %}
    {% csrf_token %}
    {% if form.non_field_errors %}
    <object class="failure panel">
    {{ form.non_field_errors }}
    </object>
    {% endif %}
    <div class="hidden-fields">
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    </div>
    <div class="visible-fields">
    {% for field in form.visible_fields %}
        <fieldset class="{{ field.label|lower }}{% if field.field.required %} required{% endif %}">
            <label {% if field.errors %}class="failure"{% endif %} for="{{ field.auto_id }}">{{ field.label}}</label>
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}<p class="default"><small>{{ field.help_text }}</small></p>{% endif %}
        </fieldset>
    {% endfor %}
    </div>

    <div class="social preview">
        <h2>Here is how this project will appear when shared:</h2>
        <p>
            Make sure to optimize it for display.
            Make sure the title and description are clear, concise, and compelling.
            Make sure to include an attractive image!
            Or else your project will never succeed.
        </p>
        <section>
            <dfn>Facebook</dfn>
            <div class="facebook">
                <div class="textarea">
                    <p class="title">Untitled Project</p>
                    <p class="description"></p>
                    <p class="attribution">muckrock.com</p>
                </div>
            </div>
        </section>
        <section>
            <dfn>Twitter</dfn>
            <div class="twitter">
                <p class="title">Untitled Project</p>
                <p class="attribution">muckrock.com</p>
            </div>
        </section>
    </div>

    <button class="primary">Create</button>
</form>
{% endblock form-form %}

{% block scripts %}
{% include 'autocomplete_light/static.html' %}
<script type="text/javascript">

    String.prototype.trunc = String.prototype.trunc ||
      function(n){
          return this.length>n ? this.substr(0,n-1)+'…' : this;
      };

    function addImage(imgSrc) {
        var imageElement = '<div class="image" style="background-image:url('+imgSrc+')" />';
        $('.social.preview .facebook').prepend(imageElement);
        $('.social.preview .twitter').append(imageElement);
    }
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imgSrc = e.target.result;
                addImage(imgSrc);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_title").on("keydown keyup change", function(){
        $('.social.preview .title').text(this.value);
    });
    $("#id_summary").on("keydown keyup change", function(){
        var desc = this.value.trunc(200);
        $('.social.preview .description').text(desc);
    });
    $("#id_image").change(function(){
        previewImage(this);
    });
</script>
{% endblock scripts %}
