{% extends 'forms/base_form.html' %}

{% load static from staticfiles %}

{% block title %}MuckRock &bull; Start a crowdfund{% endblock %}
{% block form-type %}crowdfund{% endblock %}
{% block form-title %}Crowdfund this project{% endblock form-title %}

{% block scripts %}
<script type="text/javascript">
    var datefield_settings = {
        dateFormat: 'yy-mm-dd',
        maxDate: '+1m',
        minDate: 0,
        firstDay: 1,
        hideIfNoPrevNext: true,
        numberOfMonths: 1,
    }
    $('input[name=payment_required]').currencyField();
    $('#id_date_due').datepicker(datefield_settings);
</script>
{% endblock %}
