{% extends 'details/base_detail.html' %}
{% load static from staticfiles %}

{% load crowdfund_tags %}
{% load tags %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}
MuckRock &bull; {{ project.title }}
{% endblock %}

{% block description %}
<meta name="description" content="{{ project.description }}" />
{% endblock %}

{% block content %}
    <article class="project detail">
        {% if project.image %}
        <header class="project-header with-image" style="background-image:url('{% thumbnail project.image 2000x1000 crop=smart %}');">
        {% else %}
        <header class="project-header">
        {% endif %}
            {% if request.user.is_staff or request.user in contributors %}
            <div class="project-admin">
                {% if project.private %}
                <p class="project-private">This project is private and only visible to its contributors.</p>
                {% else %}
                <p class="project-private">This project is public.</p>
                {% endif %}
                <div class="project-controls">
                    <a href="{% url 'project-crowdfund' slug=project.slug pk=project.pk %}" class="crowdfund success button">
                        Crowdfund
                    </a>
                    <a href="{% url 'project-update' slug=project.slug pk=project.pk %}" class="update primary button">
                        Update
                    </a>
                    <a href="{% url 'project-delete' slug=project.slug pk=project.pk %}" class="delete failure button">
                        Delete
                    </a>
                </div>
            </div>
            {% endif %}
            {% if project.image %}
            <div class="project-gradient"></div>
            {% endif %}
            <h1 class="project-title">{{ project.title }}</h1>
        </header>
        <section class="project-overview">
            <div class="project-quick-links">
                <div class="project-references">
                    <section class="counters">
                        <a href="#articles" class="article counter">
                            <span class="count">{{ articles|length }}</span>
                            <span class="label">Article{{ articles|length|pluralize }}</spam>
                        </a>
                        <a href="#requests" class="request counter">
                            <span class="count">{{ visible_requests|length }}</span>
                            <span class="label">Request{{ visible_requests|length|pluralize }}</span>
                        </a>
                    </section>
                </div>
                <div class="project-contributors">
                    <dfn>Contributors</dfn>
                {% if not contributors %}
                    <p>Nobody contributes to this project.</p>
                {% else %}
                    <ul>
                        {% for contributor in contributors %}
                        <li class="project-contributor"><a href="{{ contributor.get_absolute_url }}" title="{{ contributor}}'s profile page">{{ contributor.get_full_name }}</a></p>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>

            </div>
            <div class="project-summary">
                {{ project.summary|markdown:"trusted" }}
            </div>
        </section>
        <section class="project-crowdfunds">
            {% with project.crowdfund.all as crowdfunds %}
            {% if crowdfunds %}
                {% for crowdfund in crowdfunds %}
                    {% crowdfund_project crowdfund=crowdfund %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </section>
        <section class="project-body">
            <aside class="project-metadata">
                {% tag_manager project %}
                {% include 'lib/social.html' with title=project.title %}
            </aside>
            <section class="project-description">
                {{ project.description|markdown:"trusted" }}
            </section>
        </section>
        {% if articles %}
        <section class="project-articles" id="articles">
            <h2>Articles</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Pub. Date</th>
                    <tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ article.get_absolute_url }}" title="{{ article.title }}">{{ article.title }}</a></td>
                        <td>{{ article.pub_date|date:"m/d/Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}
        {% if visible_requests %}
        <section class="project-requests" id="requests">
            <h2>Requests</h2>
            {% include 'lib/foia_table.html' with requests=visible_requests %}
        </section>
        {% endif %}
    </article>
{% endblock %}

{% block open_graph %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ project.title }}" />
<meta property="og:description" content="{{ project.summary }}" />
<meta property="og:url" content="{{ project.get_absolute_url }}" />
<meta property="og:site_name" content="MuckRock" />
{% if article.image %}
<meta property="og:image" content="{{ project.image }}" />
{% endif %}
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:site" content="@muckrock" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ project.title }}" />
<meta name="twitter:description" content="{{ project.summary }}" />
{% if project.image %}
<meta name="twitter:image:src" content="{{ project.image }}" />
{% endif %}
{% for contributor in contributors %}
{% if contributor.profile.twitter %}
<meta name="twitter:creator" content="{{ contributor.profile.twitter }}" />
{% endif %}
{% endfor %}
{% endblock twitter_card %}

{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
<script src="{% static 'js/autoNumeric.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/crowdfund.js' %}"></script>
{% endblock scripts %}
