{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crowdfund_tags %}
{% load tags %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block description %}
<meta name="description" content="{{ project.description }}" />
{% endblock %}

{% block open_graph %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ project.title }}" />
<meta property="og:description" content="{{ project.summary }}" />
<meta property="og:url" content="{{ project.get_absolute_url }}" />
<meta property="og:site_name" content="MuckRock" />
{% if article.image %}
<meta property="og:image" content="{{ project.image }}" />
{% endif %}
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:site" content="@muckrock" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ project.title }}" />
<meta name="twitter:description" content="{{ project.summary }}" />
{% if project.image %}
<meta name="twitter:image:src" content="{{ project.image }}" />
{% endif %}
{% for contributor in contributors %}
{% if contributor.profile.twitter %}
<meta name="twitter:creator" content="{{ contributor.profile.twitter }}" />
{% endif %}
{% endfor %}
{% endblock twitter_card %}

{% block content %}
<div class="project detail">
    <header class="project-header">
        {% if project.image %}
        <div class="image" style="background-image:url('{% thumbnail project.image 2000x1000 crop=smart %}');"></div>
        {% endif %}
        {% if request.user.is_staff or request.user in contributors %}
        <div class="toolbar">
            {% if project.private %}
            <span class="project-private">This project is private and only visible to its contributors.</span>
            {% else %}
            <span class="project-private">This project is public.</span>
            {% endif %}
            <div class="project-controls">
                {% if project.approved and not project.private %}
                <a href="{% url 'project-crowdfund' slug=project.slug pk=project.pk %}" class="green button">
                    Crowdfund
                </a>
                {% endif %}
                {% if not project.approved and project.private %}
                <a href="{% url 'project-publish' slug=project.slug pk=project.pk %}" class="blue button">
                    Publish
                </a>
                {% endif %}
                <a href="{% url 'project-edit' slug=project.slug pk=project.pk %}" class="blue button">
                    Edit
                </a>
                <a href="{% url 'project-delete' slug=project.slug pk=project.pk %}" class="red button">
                    Delete
                </a>
            </div>
        </div>
        {% endif %}
    </header>
    <section class="overview">
        <main>
            <h1 class="title">{{ project.title }}</h1>
            <summary>
                {{ project.summary|markdown:"trusted" }}
            </summary>
            {% if project.newsletter %}
            {% newsletter list_id=project.newsletter label=newsletter_label cta=newsletter_cta %}
            {% endif %}
            {% if project.crowdfunds.exists %}
            <section class="project-crowdfunds">
                {% with project.crowdfunds.all as crowdfunds %}
                {% if crowdfunds %}
                    {% for crowdfund in crowdfunds %}
                        {% crowdfund crowdfund=crowdfund %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </section>
            {% endif %}
            {% if project.description %}
            <section class="project-description">
                {{ project.description|markdown:"trusted" }}
            </section>
            {% elif user_can_edit %}
            <a href="edit#description" class="blue button">Add a description</a>
            {% endif %}
        </main>
        <aside>
            <div class="badges">
            {% if project.featured %}
                <span class="blue badge">&#9733; Featured</span>
            {% endif %}
            {% if project.private %}
                <span class="red badge">&empty; Private</span>
            {% elif not project.private and not project.approved %}
                <span class="grey badge">Pending Approval</span>
            {% endif %}
            </div>
            {% if visible_requests or articles %}
            <ul class="nostyle inline stats">
                {% if visible_requests %}
                    <li class="stat"><a href="{{project.get_absolute_url}}#requests"><span class="value">{{visible_requests|length}}</span> request{{visible_requests|length|pluralize}}</a></li>
                {% endif %}
                {% if articles %}
                    <li class="stat"><a href="{{project.get_absolute_url}}#articles"><span class="value">{{articles|length}}</span> article{{articles|length|pluralize}}</a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% if contributors %}
            <div class="contributors">
                <dfn>Contributors</dfn>
                {% for contributor in contributors %}
                <div class="contributor">
                    <a href="{{ contributor.get_absolute_url }}" title="{{ contributor}}'s profile page">
                        {% if contributor.profile.avatar %}
                        <img class="avatar" src="{% thumbnail contributor.profile.avatar 50x50 %}">
                        {% else %}
                        <img class="avatar" src="{% static 'icons/logo.png' %}" height="50" width="50">
                        {% endif %}
                    </a>
                    <div class="info">
                        <p class="name"><a href="{{ contributor.get_absolute_url }}" title="{{ contributor}}'s profile page">
                            {{ contributor.get_full_name }}
                        </a></p>
                        <p class="links">
                            {% if contributor.profile.organization %}
                            <a href="{{ contributor.profile.organization.get_absolute_url }}">
                                {{ contributor.profile.organization }}
                            </a>
                            {% endif %}
                            {% if contributor.profile.twitter %}
                            <a href="https://www.twitter.com/{{contributor.profile.twitter}}">
                                {% include 'lib/icons/twitter.svg' %}
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% tag_manager project %}
            {% include 'lib/social.html' with title=project.title %}
        </aside>
    </section>
    <section class="objects">
        {% if articles %}
        <section class="articles" id="articles">
            <h2>{{ articles|length }} Article{{ articles|length|pluralize }}</h2>
            {% for article in project.articles.all %}
            <a class="article" href="{{article.get_absolute_url}}">
                <img src="{% thumbnail article.image 100x100 crop %}">
                <div class="text">
                    <div class="title">{{article.title}}</div>
                    <div class="date">{{article.pub_date|date:"m/d/y"}}</div>
                </div>
            </a>
            {% endfor %}
        </section>
        {% endif %}
        {% if visible_requests %}
        <section class="requests" id="requests">
            <h2>{{visible_requests|length}} Request{{ visible_requests|length|pluralize }}</h2>
            {% for foia in visible_requests %}
            {% include 'lib/foia.html' with hide_actions=True %}
            {% endfor %}
        </section>
        {% endif %}
    </section>

    {% if project.maps.exists and user_is_experimental %}
    <section role="tabpanel" class="tab-panel maps" id="requests">
        <h2>Maps</h2>
        <ul>
            {% for map in project.maps.all %}
            <li class="map"><a href="{{ map.get_absolute_url }}">{{ map.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</div>
{% endblock %}
