{% extends 'base_explore.html' %}

{% block classes %}project{% endblock %}

{% block explore_header_description %}
<h1>MuckRock Projects</h1>
<p>
  <a href="/staff/#news">MuckRock's news team</a> works on original editorial
  projects, including both collaborative and independent reporting efforts on
  issues of public importance. Contact MuckRock’s editorial team at
  <a href="mailto:news@muckrock.com">news@muckrock.com</a>
  or <a href="/newsletters/">register for our weekly newsletter</a>.
</p>
{% endblock %}

{% block explore_header_links %}
<ul class="nostyle">
  {% if request.user.is_staff %}
    <li class="mb1"><a class="blue button" href="{% url 'project-create' %}">Create Project</a></li>
  {% endif %}
    <li><a class="action" href="{% url 'news-index' %}">Read more news &rarr;</a></li>
    <li><a class="action" href="/news/editorial-policy/">Learn more &rarr;</a></li>
</ul>
{% endblock %}

{% block explore_main %}
<div class="explore__section">
    {% for project in featured_projects %}
    {% include 'lib/pattern/project.html' %}
    {% endfor %}
</div>
{% endblock %}
