{% extends 'base.html' %}

{% block content %}
<div class="project explore">
    {# The header explains what projects are and calls users to create their own. #}
    <header class="explore__header__wrapper">
        <div class="explore__header grid__row">
            <div class="grid__column two-thirds">
                <h1>Projects</h1>
                <p>Projects collect requests and articles to tell larger stories and give your audience an easy way to support your work and follow your progress.</p>
            </div>
            <div class="grid__column third">
                <ul class="nostyle">
                    <li class="mb1"><a class="blue button" href="{% url 'project-create' %}">Create Project</a></li>
                    <li><a class="action" href="{% url 'project-list' %}">Browse all projects &rarr;</a></li>
                    <li><a class="action" href="https://www.muckrock.com/news/archives/2015/sep/03/muckrock-projects-organize-crowdfund-journalism/">Learn more &rarr;</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% comment %}
    Featured projects are given top billing. If they have an active crowdfund, we place that on the right-hand
    side of the section and give it a call to action. If they don't, we display project stats and make following
    the call to action.
    {% endcomment %}
    <div class="explore__main">
        {% for project in featured %}
        {% include 'lib/pattern/project.html' %}
        {% endfor %}
    </div>

    <main class="explore__main">
        <div class="featured-projects grid__row">
            {% for project in featured_projects %}
            {% if forloop.first %}
            <div class="grid__column full">
                {% include 'lib/pattern/project.html' %}
            </div>
            {% else %}
            <div class="grid__column half">
                {% include 'lib/pattern/project.html' %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}
