{% extends 'forms/base_form.html' %}
{% block title %}MuckRock &bull; Create an Account{% endblock title %}
{% block form-type %}register{% endblock %}

{% block form-head %}
<div class="form-title">
    <h1>For MuckRock users, requesting public records is a breeze.</h1>
    <p>Serious about public records? <a href="">Go pro.</a></p>
</div>
<ul class="form-info">
    <li>Free to sign up, no credit card required.</li>
    <li>File requests to any federal, state, or local agency in all 50 states.</li>
    <li>We scan paper responses and make them searchable.</li>
    <li>Earn free requests by helping us to improve the site.</li>
    <li>Create campaigns to crowdfund expensive request fees.</li>
    <li>30-day money-back guarantee.</li>
    <li>Questions or concerns? <a href="mailto:info@muckrock.com">Contact us.</a></li>
</ul>
{% endblock %}

{% block form-form %}
    {% include 'lib/form.html' with button_text='Create Account' %}
{% endblock %}
