{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; Subscription{% endblock title %}
{% block content %}
<div class="subscribe page">
    <header>
        <h1 class="heading">{{ call_to_action }}</h1>
        {% if can_subscribe %}
        <div class="subheading">
            <p class="price"><sup>$</sup><span class="amount">40</span> per month</p>
            <p class="help">Question? <a href="mailto:info@muckrock.com" title="Email MuckRock">Contact us.</a></p>
        </div>
        {% endif %}
    </header>
    <section class="interaction">
        <section class="interaction-button">
            <form method="POST" class="hidden-stripe-handler" id="subscribe">{% csrf_token %}</form>
            {% if can_subscribe %}
                {% if user.is_anonymous %}
            <a href="{% url 'accounts' %}?next=/accounts/subscribe/" class="button primary">{{ button_text }}</a>
                {% else %}
            <button
                data-amount="0"
                data-description="Subscription ($40.00/month)"
                data-email="{{ request.user.email }}"
                data-label="Subscribe"
                data-form="#subscribe"
                class="checkout-button primary">{{ button_text }}</button>
                {% endif %}
            {% endif %}
            {% if can_unsubscribe %}
            <button
                data-amount="0"
                data-description="Update Payment Method"
                data-email="{{ request.user.email }}"
                data-label="Update"
                data-form="#subscribe"
                class="checkout-button primary">Update Payment Info</button>
            <form method="POST" class="interaction-form">
                {% csrf_token %}
                <input type="submit" class="failure button" value="{{ button_text }}">
            </form>
            {% endif %}
        </section>
        {% if description %}<p class="interaction-information">{{ description }}</p>{% endif %}
    </section>
    <section class="body">
        <section class="features">
            {% if can_subscribe %}
            <h2>Why go pro?</h2>
            {% endif %}
            {% if can_unsubscribe %}
            <h2>Your benefits:</h2>
            {% endif %}
            <ul>
                <li>No need to keep buying requests; Pro User subscription includes up to 20 requests a month.</li>
                <li>Planning on filing more than that? Pro Users purchase additional requests at a reduced rate.</li>
                <li>Working on a story that you don't want scooped? Pro Users' embargo option allows you to keep requests private for as long as you'd like.</li>
                <li>We've dealt with more agencies than anyone else in the field. Pro Users get exclusive access to our large (and growing) database, including contact info and response analysis.</li>
                <li>Need help with a difficult agency, or not quite sure how to word that appeal? Pro Users get priority customer service support, via phone, email, or IM.</li>
            </ul>
        </section>
        <!--
        <section class="faq">
        </section>
        -->
    </section>

</div>
{% endblock content %}

{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    $(document).ready(function() {
        $('.checkout-button').click(function(e){
            e.preventDefault();
            checkoutData = getCheckoutData($(this));
            checkout(
                "{{ stripe_pk }}",
                "{% static 'apple-touch-icon.png' %}",
                checkoutData.description,
                checkoutData.amount,
                checkoutData.email,
                checkoutData.label,
                checkoutData.form
            );
        });
    });
</script>
{% endblock scripts %}
