{% extends 'base_explore.html' %}

{% block classes %}place{% endblock %}

{% block explore_header_description %}
  <h1>How open is your government?  Find out.</h1>
  <p>
  Each state has its own laws about making documents, data and other records accessible to the public. There are also separate public records laws for the federal agencies, the District of Columbia, and territories such as  Guam, Puerto Rico and the Virgin Islands. MuckRock tracks how states impose exemptions that allow them to withhold records; how quickly each state responds; and other factors affecting government transparency. The data in this interactive database is drawn from MuckRock's database and from work by Miranda Spivack, an independent journalist, who developed data on open government in collaboration with the Milwaukee Journal Sentinel, students at  Marquette University's Diederich College of Communication and <a href="https://www.revealnews.org/topic/state-secrets/">Reveal from The Center for Investigative Reporting</a>. <a href="https://projects.jsonline.com/apps/state-secrets/">View the original version of this visualization at the Journal Sentinel</a>.
  </p>
  <p>
  Click on any jurisdiction to learn more about its laws, and <a href="mailto:{{ settings.DEFAULT_FROM_EMAIL }}">let us know</a> what data you'd like to see us start tracking or if you see something that needs updating.
  </p>
{% endblock %}

{% block explore_header_links %}
  <ul class="nostyle">
    <li>
      <a class="action" href="{% url 'jurisdiction-list' %}">
        Browse all jurisdictions &rarr;
      </a>
    </li>
  </ul>
{% endblock %}

{% block explore_main %}
  {% include "jurisdiction/maps.html" %}
{% endblock %}
