
.footer-container {
    display: block;
    width: 100%;

    border-top: 1px solid $color-grey;
    padding-top: $vertical-rhythm;

    .logo {
        display: inline-block;
        margin-bottom: $vertical-rhythm;
        svg > path, svg > g { fill: $color-black; }
        &:hover {
            svg > path, svg > g { fill: $color-blue; }
        }

    }

    footer {
        @include outer-container();
        .brand {
            @include fill-parent();
            @include media($large-layout) { @include span-columns(4); }
        }
        .sitemap, .about, .actions, .feeds {
            @include fill-parent();
            @include media($medium-layout) { @include span-columns(2); }
            @include media($large-layout) { @include span-columns(2); }
        }
        .sitemap {
            @include media($large-layout) {
                @include shift(2);
            }
        }
    }
    @include media($large-layout) {
        footer section.about { padding-right: 3em; }
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        font-size: $font-size-2;
        margin-bottom: $vertical-rhythm/2;
    }
    p { margin-top: 0; }
    .copyright {
        margin: $vertical-rhythm 0;
        color: $color-black;
    }
}
