.website-header > * {
    padding-left: $vertical-rhythm/2;
    padding-right: $vertical-rhythm/2;
    @include media($medium-layout) {
        padding-left: $vertical-rhythm;
        padding-right: $vertical-rhythm;
    }
}

nav.primary {
    overflow: hidden;
    ul {
        display: table;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        &.left
        {
            float: left;
        }
        &.right
        {
            display: table;
            float: right;
        }
    }

    .search {
        @include action-input;
    }

    #new-request > .button {
        @include border-left-radius($base-border-radius);
        @include border-right-radius(0);
        border-right: none;
    }
    #menu-button > .button, #menu-close > .button {
        @include border-right-radius($base-border-radius);
        @include border-left-radius(0);
        border-left: none;
    }
    .menu-text { display: none; }
    @media screen
    and (min-width: $small-menu-breakpoint - 200px) {
        .menu-text { display: inline; }
    }

    /* Logo */

    %logo {
        margin: $vertical-rhythm/4 0;
        border: none;
        padding: 0 0.5em 0 0;
        svg > path, svg > g { fill: $color-black; }
        &:hover {
            background: none;
            svg > path, svg > g { fill: $color-selected; }
        }
    }
    #muckrock-text { @extend %logo; display: none; }
    #muckrock-icon { @extend %logo;
        display: block;
        padding-top: 0em;
        > svg {
            display: block;
            height: 2rem;
            width: 2rem;
        }
    }
    @media screen and (min-width: 680px) {
        #muckrock-text {
            display: block;
            padding-top: 0.375em;
            padding-right: 1em;
        }
        #muckrock-icon { display: none; }
    }
}


nav.website-navigation {
    overflow: hidden;
    padding-top: $vertical-rhythm/2;
    padding-bottom: $vertical-rhythm/2;
    margin-bottom: $vertical-rhythm/2;

    background-color: #FFF;
    border-bottom: 1px solid $color-grey-6;
    ul {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
        margin: 0 $vertical-rhythm/4;
        @include media($large-layout) {
            margin: 0 $vertical-rhythm/2;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        position: relative;
        color: $color-unselected;
        &:hover {
            color: $color-blue;
            text-decoration: none;
            padding-bottom: $vertical-rhythm/2.5;
            border-bottom: 4px solid $color-blue;
        }
        @include transition (color .25s ease);
    }
    @media screen and (min-width: $small-menu-breakpoint ) {
        li {
            text-align: left;
            // padding-right: 10%;
        }
    }

    .social-links {
        float: right;
        .label { display: none; }
        a svg {
            width: auto;
            height: 16px;
            vertical-align: middle;
            fill: $color-black;
            @include transition(fill .25s ease);
        }
        a:hover svg {
            fill: $color-blue;
        }
    }

    #website-sections-dropdown {
        display: none;
    }

    @media (max-width: 700px) {
        #website-sections-dropdown {
            display: inline-block;
            margin-bottom: 0;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            @include border-radius;
            &.active {
                color: $color-blue;
            }
        }
        .website-sections {
            width: 96%;
            position: fixed;
            z-index: 300;
            left: 2%;
            top: 1rem;
            background-color: $color-white;
            @include border;
            list-style-type: none;
            li {
                display: block;
                margin: 0;
                font-size: $font-size-4;
                &:last-child a {
                    border-bottom: 0;
                }
            }
            a {
                display: block;
                width: 100%;
                padding: $vertical-rhythm/2;
                border-bottom: 1px solid $color-grey;
                color: $color-black;
                &:hover {
                    background-color: $color-grey-6;
                }
            }
            // State changes
            @include transition(transform .3s ease-in-out);
            @include transform(translateY(-100vh));
            &.visible {
                @include transform(translateY(0));
            }
        }
    }
}


#modal-overlay {
    position: fixed;
    top: -9999px;
    left: 0;
    height: 110%;
    width: 100%;
    z-index: 200;
    background-color: $color-black;
    opacity: 0;
    transition: top 0s .25s, opacity .25s linear;
    &.visible {
        top: 0;
        opacity: .7;
        transition: top 0s 0s, opacity .25s linear;
    }
}
