// page positioning

$sidebar-width: 250px;

.website-sidebar {
    position: fixed;
    z-index: -100;
    top: 0;
    right: -9999px;
    transition: right 0s .3s;
    &.visible {
        z-index: 0;
        right: 0;
        transition: right 0s 0s;
    }
}

.website-sidebar + .container {
    @include transition(transform .25s ease-in-out);
}

.website-sidebar.visible + .container {
    @include transform(translateX(-1 * $sidebar-width));
}

@include media($large-layout) {
    .website-sidebar {
        z-index: 100;
        right: 0;
    }
    .website-sidebar.visible + .container {
        @include transform(translateX(0));
    }
    .website-sidebar + .container {
        margin-right: $sidebar-width;
    }
}

aside.website-sidebar {

    display: flex;
    flex-flow: column nowrap;
    width: $sidebar-width;
    height: 100vh;

    background-color: $color-grey-1;
    color: $color-white;

    dfn {
        color: $color-white;
    }

    & > * {
        margin-bottom: 0;
    }

    .account-links {
        width: 100%;
        overflow: hidden;
        li {
            display: inline-block;
            width: 50%;
            float: left;
        }
        a {
            display: block;
            width: 100%;
            padding: $vertical-rhythm/2;
            border-bottom: 1px solid $color-black;
            background-color: $color-grey-2;
            color: $color-white;
            font-weight: $font-weight-bold;
            text-align: center;
            @include transition(background-color .25s linear);
            &:hover {
                text-decoration: none;
                background-color: $color-blue-dark;
            }
            &.sign-up {
                border-right: 1px solid $color-black;
                background-color: $color-blue;
                &:hover {
                    background-color: $color-blue-dark;
                }
            }
        }
    }

    .account {
        .username {
            display: block;
            @extend .h3;
            color: $color-white;
        }
        .options {
            @include row;
            padding-left: 0;
            margin-bottom: 0;
            #mylist { @include full; }
        }


        .account-info {
            display: inline-block;
            height: auto;
            margin: $vertical-rhythm 0 0;
            border: none;
            padding: 0 $vertical-rhythm/2 0 0;
            background: none;
            text-align: left;
            color: $color-white;
            background-color: $color-grey-2;
            text-decoration: none;

            .counter {
                margin-right: $vertical-rhythm/4;
                padding: $vertical-rhythm/5 $vertical-rhythm/2;
                border-radius: 1.5em;
                font-weight: $font-weight-bold;
                text-align: center;
                color: $color-white;
                background: $color-grey-4;
            }
            &:hover {
                color: $color-blue;
                .counter {
                    background: $color-blue;
                }
            }
        }
    }

    .newsletter {
        width: 100%;
        padding: $vertical-rhythm;
        // background-color: $color-red;
        @include action-input($color-white, $color-grey-0);
    }

}
