// page positioning

$sidebar-width: 250px;

.website-sidebar {
    position: fixed;
    z-index: -100;
    top: 0;
    right: -9999px;
    transition: right 0s .3s;
    &.visible {
        z-index: 0;
        right: 0;
        transition: right 0s 0s;
    }
}

.website-sidebar + .container {
    @include transition(transform .25s ease-in-out);
}

.website-sidebar.visible + .container {
    @include transform(translateX(-1 * $sidebar-width));
}

@include media($large-layout) {
    .website-sidebar {
        z-index: 100;
        right: 0;
    }
    .website-sidebar.visible + .container {
        @include transform(translateX(0));
    }
    .website-sidebar + .container {
        margin-right: $sidebar-width;
    }
}

aside.website-sidebar {

    display: flex;
    flex-flow: column nowrap;
    width: $sidebar-width;
    height: 100vh;

    border-left: 1px solid $color-grey-0;
    background-color: $color-grey-1;
    color: $color-white;

    dfn {
        color: $color-white;
    }

    & > * {
        margin-bottom: 0;
    }

    .account-links {
        width: 100%;
        overflow: hidden;
        li {
            display: inline-block;
            width: 50%;
            float: left;
        }
        a {
            display: block;
            width: 100%;
            padding: $vertical-rhythm/2;
            border-bottom: 1px solid $color-black;
            background-color: $color-grey-2;
            color: $color-white;
            font-weight: $font-weight-bold;
            text-align: center;
            @include transition(background-color .25s linear);
            &:hover {
                text-decoration: none;
                background-color: $color-blue;
            }
            &.sign-up {
                border-right: 1px solid $color-black;
            }
        }
    }

    .account {
        header {
            margin-bottom: $vertical-rhythm/2;
        }
        .username {
            display: block;
            width: 100%;
            padding: $vertical-rhythm/2;
            border-bottom: 1px solid $color-grey-0;
            background-color: $color-grey-2;
            color: $color-white;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            @include transition(background-color .25s linear);
            &:hover {
                text-decoration: none;
                background-color: $color-blue;
            }
        }

        .requests {
            padding: 0 $vertical-rhythm/2;
        }

        .account-info {
            display: inline-block;
            height: auto;
            margin: $vertical-rhythm 0 0;
            border: none;
            padding: 0 $vertical-rhythm/2 0 0;
            background: none;
            text-align: left;
            color: $color-white;
            background-color: $color-black;
            text-decoration: none;

            &:first-child {
                margin-top: $vertical-rhythm/2;
            }

            .counter {
                margin-right: $vertical-rhythm/4;
                padding: $vertical-rhythm/5 $vertical-rhythm/2;
                border-radius: 1.5em;
                font-weight: $font-weight-bold;
                text-align: center;
                color: $color-white;
                background: $color-grey-4;
            }
            &:hover {
                color: $color-blue;
                .counter {
                    background: $color-blue;
                }
            }
        }

        .updated {
            display: block;
            padding: $vertical-rhythm;
            margin-top: -.5 * $vertical-rhythm;
            margin-left: .6 * $vertical-rhythm;
            @include border;
            border-color: $color-grey-0;
            overflow: hidden;

            li {
                @include full;
                display: list-item;
                margin-bottom: $vertical-rhythm/2;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: $color-grey-6;
                text-decoration: underline;
                &:hover {
                    color: $color-blue;
                }
            }
        }
    }

    .newsletter {
        width: 100%;
        padding: $vertical-rhythm;
        // background-color: $color-red;
        @include action-input($color-white, $color-grey-0);
    }

    .broadcast {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: $vertical-rhythm;
        background-color: $color-white;
        color: $color-black;
        border-radius: 0;
    }

}
