/* Navigation Menu */

// Grey: #D8C9C6
// Red: #D24019

@mixin sidebar-controller
{
    $on: inline-block;
    $off: none;
    #menu-button
    {
        display: $on;
    }
    #menu-close
    {
        display: $off;
    }
    #sidebar-menu:target ~ .container
    {
        #menu-button
        {
            display: $off;
        }
        #menu-close
        {
            display: $on;
        }
    }
}

@mixin sidebar-translation($size)
{
    #sidebar-menu
    {
        @include transform(translateX($size));
        &:target
        {
            @include transform(translateX(0));
        }
    }
    #sidebar-menu:target ~ .container
    {
        @include transform(translateX(-$size));
    }
}

@mixin hidden-sidebar
{
    @include sidebar-controller;
    @include sidebar-translation($mobile-menu-width);
    @include media($medium-layout)
    {
        @include sidebar-translation($tablet-menu-width);
    }
    @include media($large-layout)
    {
        @include sidebar-translation(0);
        nav.primary ul.right .menu-button
        {
            display: none;
            opacity: 0;
            @include transition($menu-animation);
        }
        #menu-button {
            display: none;
        }
    }
}

@mixin global-sidebar
{
    .container
    {
        width: 100%;
        @include transition($menu-animation);
    }
    #sidebar-menu
    {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        width: $mobile-menu-width;
        @include media($medium-layout)
        {
            width: $tablet-menu-width;
        }
        @include media($large-layout)
        {
            width: $desktop-menu-width;
            & + .container {
                padding-right: $desktop-menu-width;
            }
        }
        height: 100%;
        @include transition($menu-animation);
    }
    #muckrock-text
    {
        @include transition($menu-animation);
    }

    @include hidden-sidebar;
}

@include global-sidebar;



nav.sidebar {
    $sidebar-object-height: 2.5rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    padding: $vertical-rhythm/2;
    @media screen and (min-width: 540px) {
        padding: $vertical-rhythm $vertical-rhythm 1em;
    }
    color: $color-white;
    background: $color-grey-2;

    dfn {
        color: $color-white;
    }

    ul {
        @include row;
        padding-left: 0;
        margin-bottom: $vertical-rhythm/2;
    }
    li {
        @include half;
    }
    .button {
        @include button($color-black);
        display: block;
        width: 100%;
        margin-bottom: $vertical-rhythm/2;
        padding: $vertical-rhythm/4 $vertical-rhythm/2;
    }

    .button-list {
        display: block;
        li {
            @include full;
            &:first-child a {
                border-top: none;
                @include border-top-radius($base-border-radius);
            }
            &:last-child a {
                @include border-bottom-radius($base-border-radius);
            }
        }
        a, .button {
            margin: 0;
            border-radius: 0;
            border-top: $base-border-width solid $color-black;
        }

    }

    .updated {
        display: block;
        padding: $vertical-rhythm;
        margin-top: -.5 * $vertical-rhythm;
        margin-left: .6 * $vertical-rhythm;
        @include border;
        border-color: $color-black;

        li {
            @include full;
            display: list-item;
            margin-bottom: $vertical-rhythm/2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: $color-grey-6;
            text-decoration: underline;
            &:hover {
                color: $color-blue;
            }
        }
    }

    .broadcast {
        position: relative;
        margin-top: 0;
        font-size: 0.9em;
        color: $color-black;
        background-color: $color-white;
        box-shadow: 1px 1px 10px black;
        h1, h2, h3, h4, h5, h6, p {
            width: 95%;
        }
        p:last-of-type {
            margin-bottom: 0;
        }

        #close-broadcast {
            position: absolute;
            top: 5%;
            right: 5%;
            font-size: 1.5em;
            color: $color-grey;
            cursor: pointer;
            &:hover {
                color: $color-black;
            }
        }
    }

    .account {
        .username {
            display: block;
            @extend .h3;
            color: $color-white;
        }
        .options {
            @include row;
            padding-left: 0;
            margin-bottom: 0;
            #mylist { @include full; }
        }


        .account-info {
            display: inline-block;
            height: auto;
            margin: $vertical-rhythm 0 0;
            border: none;
            padding: 0 $vertical-rhythm/2 0 0;
            background: none;
            text-align: left;
            color: $color-white;
            background-color: $color-grey-2;
            text-decoration: none;

            .counter {
                margin-right: $vertical-rhythm/4;
                padding: $vertical-rhythm/5 $vertical-rhythm/2;
                border-radius: 1.5em;
                font-weight: $font-weight-bold;
                text-align: center;
                color: $color-white;
                background: $color-grey-4;
            }
            &:hover {
                color: $color-blue;
                .counter {
                    background: $color-blue;
                }
            }
        }
    }

    .newsletter {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: $vertical-rhythm;
        background-color: $color-blue;
        @include action-input($color-white, $color-blue-dark);
    }

}
