.agency {
    max-width: 64rem;
    margin: 0 auto;
    &__name {
        line-height: 1.2;
    }
    &__username {
        font-size: .8em;
        font-family: $monospace;
    }
}

.agency .briefing {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.agency .stats, .agency .contact {
    flex: 1 1 12rem;
}

.agency .stats, .agency .contact main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem 1.5rem;
}

.agency .stat {
    flex: 1 1 12rem;
}

.agency .stat header,
.agency .contact header {
    flex: 1 1 100%;
    margin-bottom: .5rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid $color-grey;
}

.agency .contact main .contact__mailing {
    flex: 3 1 12rem;
    margin-bottom: 0;
}

.agency .contact main .contact__calling {
    flex: 1 1 12rem;
}

.agency .stat main,
.agency .contact main {
    flex: 1 1 100%;
}

.agency .stats {
    dl {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: .5rem;
        gap: .5rem;
    }
    dt {
        flex: 0 0 auto;
    }
    dd {
        flex: 0 0 auto;
        font-size: 1em;
        font-weight: 700;
    }
    .dotted-line {
        flex: 1 1 auto;
        border-bottom: 1px dotted $color-grey;
    }
}

.agency .contact {
    dd {
        font-size: 1em;
        line-height: 1.2;
        opacity: .8;
        transition: opacity .1s linear;
        &:hover {
            opacity: 1;
        }
    }
}

.agency .contact__website {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12rem;
}

.agency .grade {
    display: flex;
    gap: .75rem;
    font-size: .8em;
    line-height: 1.2;
    .icon {
        flex: 0 0 auto;
        height: 1rem;
        width: 1rem;
        path {
            fill: $color-grey;
        }
    }
    .text {
        flex: 1 1 auto;
    }
}

.agency .pass.grade .icon path {
    fill: $color-green;
}
.agency .fail.grade .icon path {
    fill: $color-red;
}

.agency .notes {
    margin: 1rem 0;
    padding: 1rem;
    border: $border $color-yellow;
    border-radius: $border-radius;
    background-color: $color-yellow-light;
}