$request-breakpoint: 768px;

.request.properties {
    @include display(flex);
    @include flex-direction(column);
    h1 {
        font-size: $size-6;
        font-weight: $bold;
    }
    .synopsis {
        font-size: $size-4;
        line-height: $lh*1.2;
        a {
            border-bottom: 1px dotted $color-blue;
            &:hover {
                border-bottom: 1px solid $color-blue-dark;
                text-decoration: none;
            }
        }
    }
    .numbers, .dates, .portal-info {
        font-size: $size-2;
        tr {
            background-color: $color-white;
        }
        td {
            width: 50%;
        }
        .label {
            max-width: 0;
            @include overflow-ellipsis;
        }
        .action {
            margin-left: $vr/2;
            float: right;
        }
    }
    .hidden-form {
        display: none;
        @include border;
        padding: $vr/2;
        //@include align-items(flex-start);
        //@include flex-wrap(wrap);
        @include justify-content(space-between);
        label, input[type="text"] {
            //@include flex(0 1 100%);
            margin-bottom: $vr/2;
        }
        &.visible {
            //@include display(flex);
            @include display(block);
        }
        footer {
            @include display(flex);
            @include justify-content(space-between);
            @include flex-direction(row-reverse);
        }
    }
    .portal-info {
        display: none;
        &.visible {
            display: table;
        }
    }
}

.request.main {
    .prompt {
        @include display(flex);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include border;
        padding: $vr/4 $vr/2;
        font-weight: $bold;
        p, footer {
            margin-bottom: 0;
        }
        p {
            max-width: 70%;
        }
    }

    .signup.prompt {
        color: $color-blue-dark;
        border-color: $color-blue;
        background-color: $color-blue-light;
    }

    .payment.prompt {
        color: $color-green-dark;
        border-color: $color-green;
        background-color: $color-green-light;
    }

    .file-download.prompt {
        border-color: $color-yellow;
        @include justify-content(flex-start);
        p {
          margin-left: $vr;
        }
    }

    .confirmation.prompt {
        color: $color-green-dark;
        border-color: $color-green;
        background-color: $color-green-light;
        font-weight: inherit;
        p {
            max-width: inherit;
        }
        ul {
          margin-top: $vr;
        }
    }

    .filter {
        margin-bottom: 0;
        input {
            width: 100%;
        }
    }
}

.request .communications {

    .communications-controls {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-wrap(wrap);
    }

    .communications.filter {
        @include flex(0 1 50%);
    }

    .communications-actions {
        margin-bottom: 0;
        @include media($medium-bp) {
            text-align: right;
        }
    }
    .communications-settings {
        margin-bottom: 0;
        margin-top: $vr;
        p {
            margin-bottom: 0;
        }
    }
    .communications-list {
        @include display(flex);
        @include flex-direction(column);
    }
    .auto-follow-up {
        @include display(flex);
        @include justify-content(space-between);
        padding: $vr/2;
        border: 1px solid $color-blue;
        color: $color-blue;
        p {
            margin-bottom: 0;
        }
        a {
            color: $color-blue-dark;
            border-bottom: 1px dotted;
            &:hover {
                color: $color-black;
                border-bottom: 1px solid;
                text-decoration: none;
            }
        }
    }
    .composer-input {
        @include border;
        @include box-shadow;
        header {
            display: block;
            margin-bottom: 0;
            padding: $vr/2;
            border-bottom: 1px solid $color-grey;
            p {
                margin-bottom: 0;
                &.help-text {
                    padding: 0;
                }
            }
        }
        input[type="number"], input[type="text"] {
            display: block;
            width: 100%;
            border: none;
            border-radius: 0;
        }
        .help-text{
            padding: 0 $vr/2;
        }
        input[type="checkbox"] {
            margin-left: $vr/2;
        }
        .currency {
            font-size: $size-4;
        }
        .field {
            margin-bottom: 0;
            header {
                border-bottom: 0;
            }
            input[type="text"], textarea {
                border-top: 1px solid $color-grey;
                border-bottom: 1px solid $color-grey;
            }
        }
        textarea {
            display: block;
            height: 15em;
            margin-bottom: 0;
            border: none;
            border-radius: 0;
        }
        .buttons {
            padding: $vr/2;
            border-top: 1px solid $color-grey;
            @include display(flex);
            @include justify-content(space-between);
        }
        .formset-forms {
            padding: $vr/2;
        }
    }
    #inactive .composer-input {
        p {
            height: 15em;
            padding: $vr/2;
            background-color: #FFF;
            color: $color-grey;
        }
        span {
            border-bottom: 1px dotted;
            cursor: pointer;
            &:hover {
                color: $color-blue;
                border-bottom: 1px solid;
            }
        }
    }
    #agency-reply .composer-input {
        .field {
            input[type="text"], textarea {
                border: 1px solid $color-grey;
            }
            input, textarea, select {
                width: 97%;
                margin-left: 1.5%;
            }
        }
    }
}

.request .files {
    .active-document {
        display: none;
        @include border-radius;
        border: 1px solid $color-black;
        padding: $vr/4 $vr/2 $vr/2 $vr/2;
        background: $color-grey-2;
        color: $color-white;
        &.visible {
            display: block;
        }
        header {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(flex-start);
            margin-bottom: $vr/2;
            h3 {
                margin-bottom: 0;
            }
            .cancel.button {
                margin-left: $vr;
            }
        }
    }
    .files-list {
        .file {
            margin-bottom: $vr/2;
        }
        .active .file {
            border-color: $color-blue;
            background-color: $color-blue-light;
            .file-embed {
                color: $color-black;
                background-color: $color-white;
            }
        }
    }
}

.request .notes, .request .communications {

    .notes-controls {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
        p {
            margin-bottom: 0;
        }
    }

    .notes.filter {
        @include flex(0 1 50%);
    }

    .add-note {
        @include border;
        @include box-shadow;
        .ProseMirror, textarea {
            display: block;
            overflow: hidden;
            margin-bottom: 0;
            border: none;
            border-radius: 0;
        }
        textarea {
            font-family: $monospace;
            font-size: $size-2;
        }
        h4 {
            margin-bottom: 0;
        }
        header {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(flex-end);
            margin-bottom: 0;
            padding: $vr/2;
            border-bottom: 1px solid $color-grey;
            p {
                font-size: $size-2;
            }
        }
        footer {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(center);
            padding: $vr/2;
            border-top: 1px solid $color-grey;
            p {
                padding-left: $vr;
            }
        }
    }

    .note {
        @include border;
        border-color: $color-grey;
        background: $color-white-pure;
        .note-header {
            @include display(flex);
            @include justify-content(space-between);
            margin-bottom: 0;
            padding: $vr/2;
            background-color: $color-yellow;
            color: $color-black;
            p {
                margin-bottom: 0;
            }
            a {
                color: $color-black;
            }
            .note-author {
                font-weight: $bold;
            }
        }
        .note-metadata {
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(center);
            margin-bottom: 0;
            background: $color-grey-7;
        }
        .note-body {
            padding: $vr/2;
            background-color: $color-yellow-light;
            br {
              margin-bottom: 0;
            }
        }
        &.collapsed .note-body {
            display: none;
        }
    }

    .note.check {
        .note-header {
            background-color: $color-green;
        }
        .note-body {
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(space-around);
            background-color: $color-green-light;
            font-variant: small-caps;
            .payto {
                flex: 0 2 10rem;
            }
            .info {
                flex: 0 1 5rem;
                text-align: right;
                .number, .amount span {
                    font-size: $size-4;
                }
            }
        }
        //http://kodhus.com/newsite/step-progress-bar-css-only/
        .progressbar {
            counter-reset: step;
            padding: 0;
            flex: 0 4 25rem;

            li {
                list-style-type: none;
                width: 20%;
                min-width: 5rem;
                float: left;
                font-size: $size-2;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                color: $color-grey-4;
            }
            li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid $color-grey-4;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: $color-white;
            }
            li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: $color-grey-4;
                top: 15px;
                left: -50%;
                z-index: -1;
            }
            li:first-child:after {
                content: none;
            }
            li.active {
                color: $color-blue;
            }
            li.active:before {
                border-color: $color-blue;
                background-color: $color-blue-light;
            }
            li.active + li:after {
                background-color: $color-blue;
            }
            li.error {
                color: $color-red;
            }
            li.error:before {
                border-color: $color-red;
                background-color: $color-red-light;
            }
            li.error + li:after {
                background-color: $color-red;
            }
        }
    }

}

.request .access {
    .generate-private-link, .grant-access, .change-owner {
        padding: $vr;
        @include border;
        h3 {
            @include flex(0 1 100%);
        }
        button {
            max-width: 10em;
            margin: 0;
        }
    }
    .generate-private-link {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(flex-start);
        input[type="text"] {
            @include flex(0 1 100%);
            margin-bottom: $vr;
            @include transition(background-color 1s ease-out);
            background-color: #FFF;
            &.success {
                background-color: $color-green;
                color: $color-black;
            }
        }
        button, .help-text {
            @include flex(1);
        }
        .help-text {
            padding-left: $vr;
        }
    }
    .grant-access .picker, .change-owner .picker {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(flex-end);
        .user.search.input {
            margin-bottom: 0;
            .users {
                width: 100%;
            }
            input {
                width: 100%;
            }
            label {
                display: block;
                font-size: $size-2;
            }
        }
        select[name="access"] {
            @include flex(0 1 100%);
            margin-bottom: $vr;
        }

        .user.hilight {
            width: 100%;
        }

        @include media($medium-bp) {
            .user.search.input {
                @include flex(0 1 70%);
            }
            select[name="access"] {
                @include flex(0 1 25%);
                margin-left: 4%;
                margin-bottom: 0;
            }
        }
    }
    .people.with-access {
        .person {
            background-color: $color-white;
        }
        .person td {
            padding: $vr/2;
            vertical-align: middle;
            text-align: right;
            &.name {
                text-align: left;
                font-weight: $bold;
            }
            &.access.nostretch {
                width:1%;
                white-space:nowrap;
            }
            &.modify {
                width: 5em;
            }
            @include media($medium-bp) {
                &.nostretch {
                    width:1%;
                    white-space:nowrap;
                }
            }
        }
        .access-badge {
            width: 5em;
            padding: $vr/4 $vr/2;
            background: $color-grey;
            color: $color-white;
            text-align: center;
            font-size: $size-2;
            &.editor {
                background: $color-green;
            }
            &.reader {
                background: $color-blue;
            }
            @include media($medium-bp) {
                font-size: $size-3;
            }
        }
        button {
            padding: $vr/6 $vr/2;
            width: 5em;
            @include media($medium-bp) {
                margin: 0 0 4px;
            }
        }
    }
    .change-owner h3 {
      color: $color-red;
    }
}

.request .tasks {
    .toggle {
        display: none;
    }
    .task-type {
        padding-left: 0;
    }
}

#replacement-agency {
    width: 100%;
}

.saved-search-delete {
  background: none;
  border: none;
  color: $color-red;
  cursor: pointer;
  font-size: $size-2;
  float: right;
}

.saved-search-delete:focus {
  outline: none;
}

.saved-search-delete:hover {
  color: $color-red-dark;
}

#request-actions {
  .project-form, .tag-form, .share-form, .crowdsource-form {
    display: none;
  }
  #id_tags {
    width: 300px;
  }
  #id_users-wrapper {
    vertical-align: top;
  }
  #id_projects-wrapper, #id_users-wrapper, #id_projects-autocomplete, #id_users-autocomplete, #id_crowdsource-wrapper, #id_crowdsource-autocomplete {
    width: 300px;
  }
}

.contact-info  {
  .see-where {
    font-style: italic;
  }
  .info {
    display: none;
    margin-bottom: 0;
    div {
      margin-bottom: 0.5em;
    }
  }
  .form {
    display: none;
    max-width: 400px;
  }
}

.foia.detail form {
  display: inline;
}

.actions .button-group form {
  margin-bottom: 0;
  margin-right: 1em;
}

.request-organizations {
  display: none;
}

article.passcode-form {
  margin-bottom: 5em;
}

.raw-content {
  width: 80%;
  height: 60vh;
  padding: 7px;
  border: 1px solid black;
  font-size: $size-2;
  overflow: auto;
  &.hide {
    display: none;
  }
}
