$left-column: 1 1 19em;
$right-column: 4 1 32em;

.jurisdiction {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    max-width: 64em;
    margin: 0 auto;
}
.jurisdiction__header {
    @include flex(0 1 100%);
    @include display(flex);
    @include flex-wrap(wrap);
    margin-top: $vr;
    margin-bottom: 0;
    .jurisdiction__image {
        @include flex(0 1 12em);
        margin: $vr;
        margin-top: 0;
        img {
            margin-bottom: 0;
        }
        figcaption {
            color: $color-grey;
            font-size: $size-1;
            line-height: $lh;
        }
    }
    .jurisdiction__info {
        @include flex(1 1 20em);
        margin: $vr;
        margin-top: 0;
    }
    .jurisdiction__name {
        font-size: $size-4;
        font-weight: $bold;
    }
    .jurisdiction__title {
        font-size: $size-8;
        line-height: $lh * .7;
    }
    @media (max-width: 35.625em) {
        @include justify-content(center);
        text-align: center;
        .jurisdiction__info, .jurisdiction__image {
            @include flex(0 1 100%);
        }
        .jurisdiction__name {
            font-size: $size-4;
        }
        .jurisdiction__image img {
            max-width: 8em;
        }
    }
}
.jurisdiction__aside {
    @include flex($left-column);
    & > * {
        margin: 0 $vr $vr;
    }
    .jurisdiction__actions {
        @include flex(1 1 20em);
    }
    .jurisdiction__requests {
        @include flex(1 1 10em);
        .see-all {
            float: right;
        }
    }
    .jurisdiction__stats {
        @include flex(1);
    }
    .button-group {
        width: 100%;
        margin-bottom: $vr;
        @include justify-content(center);
    }
    @media (max-width: 54.3125em) {
        .jurisdiction__stats {
            display: none;
        }
    }
}
.jurisdiction__main {
    @include flex($right-column);
    min-width: 0;
    margin: 0 $vr $vr;
    .jurisdiction__stats {
        @include display(flex);
        @include flex-wrap(wrap);
        & > * {
            @include flex(1 1 auto);
            margin-right: $vr;
        }
    }
    .analysis {
        h2 {
            font-size: $size-6;
        }
        h3 {
            border-bottom: 1px solid $color-grey;
        }
    }
}
.law {
    .law__name, .law__citation {
        margin-bottom: 0;
    }
    .law__summary {
        font-size: $size-2;
    }
    @media (max-width: 35.625em) {
        .law__name {
            font-size: $size-4;
        }
    }
}
.jurisdiction__toc {
    width: 12em;
    float: left;
    margin-right: 2*$vr;
    @include border;
    padding: $vr/2;
    background: $color-white-pure;
    p {
        font-weight: $bold;
        margin-bottom: 0;
    }
    ol {
        padding-left: $vr;
    }
    @media (max-width: 35.625em) {
        float: none;
        width: 100%;
    }
}
.jurisdiction__point__symbol {
    font-size: $size-5;
    font-weight: $bold;
    &.red {
        color: $color-red;
    }
    &.green {
        color: $color-green;
    }
}

// https://stackoverflow.com/questions/20456694/grid-of-responsive-squares/20457076#20457076
.place-map {
	.cell {
		float: left;
		position: relative;
		width: 8%;
		padding-bottom : 8%; /* = width for a 1:1 aspect ratio */
		margin: 0.5%;
		overflow: hidden;
  }
  .state {
    color: $color-white;
    background: $color-grey-5;
    outline: $border $color-grey-6;
    @include transition(background 0.2s linear);
    .avg-response-time {
      font-size: $size-5;
      @media (max-width: 48em) {
        font-size: $size-2;
      }
      margin: 0;
    }
    .abbrev {
      font-size: $size-3;
      margin: 0;
      @media (max-width: 48em) {
        display: none;
      }
    }
  }
  .state.yes {
    background: $color-green;
  }
  .state.no {
    background: $color-red;
  }
  .state.maybe {
    background: $color-yellow;
  }
  .state:hover {
    background: $color-grey-5;
  }
  .state-content {
    position: absolute;
    height: 90%; /* = 100% - 2*5% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 5%;
    text-align: center;
  }

  .table{
    display: table;
    height: 100%;
    width: 100%;
  }
  .table-cell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
}

div.place-map::after {
  content: "";
  display: block;
  clear: both;
}

.top-map {
  width: 80%;
  margin: 0 auto;
}

.small-maps {
  width: 100%;
  .state {
    font-size: $size-3;
    @media (max-width: 48em) {
      font-size: $size-2;
    }
  }
  margin-top: 2em;
  h2 {
    margin-top: 3em;
  }
  .place-map {
    margin-right: 3em;
  }
}

.explore__section.jurisdiction-explore {
  max-width: 62.5em;
  .credits {
    font-style: italic;
    margin-top: 4rem;
  }
}
