.news.detail {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include padding(0);
}

.news__image {
    @include flex(0 1 100%);
    margin-bottom: 0;
    img {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
}

.news__article {
    max-width: 42em;
    @include flex(3 1 24em);
    @include padding;
    @include media($medium-layout) {
        font-size: $font-size-4;
        line-height: $font-line-height;
    }
    .news__article__header {
        time, .contributors {
            color: $color-grey;
            font-size: $font-size-2;
            font-weight: $font-weight-bold;
        }
        h1, .kicker {
            margin: $vertical-rhythm/2 0;
            font-weight: $font-weight-bold;
            line-height: 1.25em;
        }
        .contributors {
            @include display(flex);
            @include justify-content(space-between);
            .authors, .editors {
                margin-bottom: 0;
            }
        }
    }
    // Fixes for embedded content
    div[id^='viewer'] {
        margin: $vertical-rhythm auto;
        @include media($large-layout) {
            margin: $vertical-rhythm auto $vertical-rhythm 0;
        }
    }
    iframe {
        margin-bottom: $vertical-rhythm;
        border: none;
    }
    .iframe-container {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
        & > iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.news__aside {
    @include flex(1 1 16em);
    @include padding;
    max-width: 24em;
    min-width: 0;
}

.loupe {
    z-index: 500;
    border: 2px solid $color-grey-3;
    border-radius: 50%;
    background: $color-grey;
    cursor: none;
}
.loupe img {
    max-width: none;
}
