{% extends 'base_list.html' %}
{% load tags %}

{% block list-sections %}
  <p>Amount outstanding: ${{ outstanding|floatformat:2|default:"0.00" }}</p>
{% endblock list-sections %}

{% block list-table-head %}
  <th width="10%" data-sort="number">Number</th>
  <th width="25%" data-sort="agency">Agency</th>
  <th width="10%" data-sort="amount">Amount</th>
  <th width="25%">FOIA Request</th>
  <th width="10%" data-sort="user">User</th>
  <th width="10%" data-sort="created_datetime">Created</th>
  <th width="10%" data-sort="deposit_date">Cashed</th>
{% endblock list-table-head %}

{% block list-actions %}
  <form id="check-form" method="POST">
    {% csrf_token %}
    <button class="primary button">Set Check Deposit Dates</button>
  </form>
{% endblock list-actions %}

{% block list-table-row %}
  {% with object as check %}
    <td>{{ check.number }}</td>
    <td><a href="{{ check.agency.get_absolute_url }}">{{ check.agency }}</a></td>
    <td>${{ check.amount }}</td>
    <td>
      <a href="{{ check.communication.get_absolute_url }}">
        {{ check.communication.foia }}
      </a>
    </td>
    <td><a href="{{ check.user.get_absolute_url }}">{{ check.user }}</a></td>
    <td>{{ check.created_datetime|date:"m/d/Y" }}</td>
    <td>
      {% if check.deposit_date %}
        {{ check.deposit_date|date:"m/d/Y" }}
      {% else %}
        {% with form=forms|get_item:check.pk %}
          {{ form.deposit_date }}
        {% endwith %}
      {% endif %}
    </td>
  {% endwith %}
{% endblock list-table-row %}
