<section class="{% block task-class %}default{% endblock %} task" id="{{task.pk}}-task">
  {% block task-header %}
    <header>
        <p>Basic Task (something went wrong)</p>
        <p>{{task.date_created}}</p>
    </header>
  {% endblock task-header %}
  {% block task-assign %}
    <form id="assign-{{task.pk}}" submit="{% url 'task-assign'%}">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{task.pk}}">
        <select name="assign"
                onchange="$.post('{% url "task-assign"%}', {
                        user: $(this).val(),
                        task: '{{task.pk}}'
                    }, function (data) {
                        $('#task-{{task.id}}-confirm')
                        .text(data)
                        .fadeIn()
                        .delay(2000)
                        .fadeOut();
                    })">
            <option value="0">Nobody</option>
            {% for staff in staff_users %}
            <option value="{{staff.pk}}" {% if task.assigned.pk == staff.pk %}selected{%endif%}>
                {{user.username}}
            </option>
            {% endfor %}
        </select>
    </form>
    {% endblock task-assign %}
    {% block task-actions %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{task.pk}}">
        <button type="submit" name="resolve" value="true">Resolve</button>
    </form>
    {% endblock task-actions %}
</section>
