<section class="{% block task-class %}default{% endblock %} {% if task.resolved %}resolved{% endif %} task" id="{{task.pk}}-task">
  {% block task-header %}
    <header class="task-header">
        <input type="checkbox" form="batched" name="tasks" value="{{task.pk}}" class="toggle checkbox">
        {% if task.resolved %}
        <div class="task-resolved">
            <p class="task-type">Resolved {{task}}</p>
            <time class="task-date-done" datetime="{{task.date_done|date:'Y-m-d G:i::s'}}"><a class="permalink" href="{% url 'task-list' %}?id={{task.pk}}">Resolved {{task.date_done|date:'m/d/Y G:i'}}</a></time>
        </div>
        {% else %}
        <div class="task-metadata">
            <p class="task-type">
                {{task}}
            </p>
            {% block task-date %}
            <time class="task-date-created" datetime="{{task.date_created|date:'Y-m-d G:i::s'}}"><a class="permalink" href="{% url 'task-list' %}?id={{task.id}}">{{task.date_created|date:'m/d/Y G:i'}}</a></time>
            {% endblock %}
        </div>
        {% endif %}
    </header>
    {% endblock task-header %}

    {% block resolved-task-data %}
    {% if task.resolved %}
        <p class="task-data">Resolved by <a href="{{ task.resolved_by.profile.get_absolute_url }}">{{ task.resolved_by.get_full_name }}</a>.</p>
    {% endif %}
    {% endblock %}

    {% block task-data %}
    {% endblock %}

    <div class="task-actions">
        <form method="POST" action="{{ endpoint }}" class="task-post-actions">
            {% csrf_token %}
            <input type="hidden" name="task" value="{{task.pk}}">
    {% block task-actions %}
            <button type="submit" name="resolve" value="true" class="primary">Resolve</button>
    {% endblock task-actions %}
        </form>
    </div>

    {% block task-extra-context %}
    {% endblock %}

    <div class="pending ajax overlay">
        <!-- Loader animation via https://github.com/ConnorAtherton/loaders.css -->
        <div class="loader">
            <div class="loader-inner line-scale-pulse-out-rapid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="error ajax overlay">
        <div class="dialog">
            <h1>An error occurred.</h1>
            <p class="error-message">Sorry about this! If the error persists, please report it.</p>
        </div>
    </div>

</section>
