{% extends 'task/default.html' %}

{% block task-content %}
<dl class="task-data">
    {% with task.communication.foia as request %}
    <dt>Request</dt>
    <dd><a href="{{request.get_absolute_url}}">{{request}}</a> (<a href="{% url 'admin:foia_foiarequest_change' request.id %}">admin</a>)</dd>
    {% endwith %}
    {% with task.communication.foia.agency as agency %}
    <dt>Agency</dt>
    <dd><a href="{% url 'admin:agency_agency_change' agency.id %}">{{agency}}</a></dd>
    <dt>Agency Address</dt>
    <dd>{{agency.address|linebreaks}}</dd>
    <dt>Agency Fax Number</dt>
    {% if agency.fax %}
    <dd>{{agency.fax}}</dd>
    {% else %}
    <dd>No fax number. No wonder it failed!</dd>
    {% endif %}
    {% endwith %}
	{% if task.reason %}
	<dt>Reason</dt>
	<dd>{{ task.reason }}</dd>
	{% endif %}
</dl>
{# full letter here, hidden #}
<div class="collapsed collapsable full-letter">
    <header>Full Letter</header>
    <textarea id="full-letter-{{task.pk}}">
        {{task.communication.foia.agency.address}}

        {% now "F j, Y" %}
        {% with task.communication.foia as request %}{% include "text/foia/comms.txt" %}{% endwith %}
    </textarea>
</div>
{% endblock %}
