{% extends 'task/default.html' %}

{% block task-class %}
    flagged
{% endblock %}

{% block task-type %}
    Flagged
{% endblock %}

{% block task-data %}
    <p>{{task.text}}</p>
    <a href="http://www.muckrock.com{% url 'admin:auth_user_change' task.user.pk %}">User: {{task.user}}</a>
    {% if task.foia %}
    <a href="http://www.muckrock.com{% url 'admin:foia_foiarequest_change' task.foia.pk %}">FOIA: {{task.foia}}</a>
    {% elif task.agency %}
    <a href="http://www.muckrock.com{% url 'admin:agency_agency_change' task.agency.pk %}">Agency: {{task.agency}}</a>
    {% elif task.jurisdiction %}
    <a href="http://www.muckrock.com{% url 'admin:jurisdiction_jurisdiction_change' task.jurisdiction.pk %}">Jurisdiction: {{task.jurisidiction}}</a>
    {% endif %}
{% endblock %}
