{% extends 'task/default.html' %}

{% block task-content %}
<summary class="task__data">
    <p><a href="{% url 'admin:foia_foiamultirequest_change' task.multirequest.id %}">{{task.multirequest}}</a> was created by <a href="{% url 'admin:auth_user_change' task.multirequest.user.id %}">{{task.multirequest.user}}</a> and requires approval.</p>
    <ul>Upon approval, it will be sent to {{task.multirequest.agencies.all|length}} agencies:
    {% for agency in task.multirequest.agencies.all %}
        <li><a href="{% url 'admin:agency_agency_change' agency.id %}">{{agency}}</a></li>
    {% endfor %}
    </ul>
</summary>
{% endblock %}
