{% extends 'task/default.html' %}
{% load tags %}

{% block task-content %}
  <summary class="task__data multirequest">
    <p><a href="{% url 'admin:foia_foiacomposer_change' task.composer.id %}">{{task.composer.title|moderation_hl}}</a> was created by <a href="{% url 'admin:auth_user_change' task.composer.user.id %}">{{task.composer.user}}</a> and requires approval.</p>
    <blockquote>{{task.composer.requested_docs|linebreaks|moderation_hl}}</blockquote>
    <ul>Upon approval, it will be sent to {{task.composer.agencies.all|length}} agencies:
      {% for agency in task.composer.agencies.all %}
        <li>
          <input type="checkbox" name="agencies" form="{{task.pk}}-form" id="agency-{{task.pk}}-{{agency.pk}}" value="{{agency.pk}}" checked="checked" >
          <label for="agency-{{task.pk}}-{{agency.pk}}">
            {{agency}} (<a href="{% url 'admin:agency_agency_change' agency.id %}">Admin</a>)
          </label>
        </li>
      {% endfor %}
    </ul>
  </summary>
{% endblock %}

{% block task-actions %}
  {% if not task.zendesk_ticket_id %}
    <span class="task-defer">
      <input type="text" name="zendesk_note" placeholder="ZenDesk note...">
      <button type="submit" name="zendesk" value="true" class="primary button">
        Create ZenDesk Ticket
      </button>
    </span>
    <br class="clear">
  {% endif %}
  <div class="multi-reject-form">
      {{ rejection_form }}
  </div>

  {% if task.check_foias_processing %}
    <button type="submit" class="red button" name="reject" value="true">Reject</button>
    <button type="submit" class="primary button" name="submit" value="true">Submit</button>
  {% else %}
    <div class="failure">
      Some of the requests associated with this task have already been
      submitted, which means something has gone wrong.  This task may no longer
      be submitted or rejected, but can be resolved to clear it without taking
      any further action.  If the request is problematic, it may need to be
      withdrawn or dealt with in another manner.
    </div>
    <button type="submit" name="resolve" value="true" class="primary button">Resolve</button>
  {% endif %}

{% endblock %}
