{% extends 'task/default.html' %}

{% block task-class %}
    new-agency
{% endblock %}

{% block task-type %}
    New Agency
{% endblock %}

{% block task-data %}
    <a href="{% url 'admin:agency_agency_change' task.agency.pk %}">Agency: {{task.agency}}</a>
    {% if task.newagency.user %}
    <a href="{% url 'admin:auth_user_change' task.user.pk %}">User: {{task.user}}</a>
    {% endif %}
{% endblock %}

{% block task-actions %}
    <button type="submit" name="approve" value="true" class="success">Approve</button>
    <button type="submit" name="reject" value="true" class="failure">Reject</button>
{% endblock %}
