{% extends 'task/default.html' %}

{% block task-data %}
<dl class="task-data">
    {% if task.agency %}
    <dt>Agency</dt>
    <dd><a href="{% url 'admin:agency_agency_change' task.agency.pk %}">{{task.agency}}</a>, {{task.agency.jurisdiction}}</dd>
    {% endif %}
    {% if task.newagency.user %}
    <dt>User</dt>
    <dd><a href="{% url 'admin:auth_user_change' task.user.pk %}">{{task.user}}</a></dd>
    {% endif %}
    {% if task.foias %}
    <dt>Pending Requests</dt>
    {% for foia in task.foias %}
    <dd><a href="{{ foia.get_absolute_url }}">{{ foia }}</a></dd>
    {% endfor %}
    {% endif %}
</dl>
{% endblock %}

{% block task-extra-context %}
<div class="task-extra-context">
    <form method="POST" action="{{ endpoint }}" class="new-agency rejection form">
        <header>
            <p>Reject</p>
        </header>
        <main>
            {% csrf_token %}
            <input type="hidden" name="task" value="{{task.pk}}">
            <input type="hidden" name="reject" value="true">
            <label>Move this agency’s requests to:</label>
            <select name="replacement">
            {% for other_agency in task.agency.jurisdiction.other_agencies %}
                <option value="{{ other_agency.id }}">{{ other_agency.name }}</option>
            {% endfor %}
            </select>
        </main>
        <footer>
            <button type="submit" name="reject" value="true" class="failure">Reject</button>
        </footer>
    </form>
    <form method="POST" action="{{ endpoint }}" class="new-agency approval form">
        <header>
            <p>Approve</p>
        </header>
        <main>
            {% csrf_token %}
            <input type="hidden" name="task" value="{{task.pk}}">
            <input type="hidden" name="approve" value="true">
            {% for field in agency_form %}
            <fieldset class="{{field.id_for_label}}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}<p class="help-text"><small>{{field.help_text}}</small></p>{% endif %}
            </fieldset>
            {% endfor %}
    	</main>
        <footer>
            <button type="submit" name="approve" value="true" class="success">Approve</button>
        </footer>
    </form>
</div>
{% endblock %}
