{% extends 'task/default.html' %}

{% block task-content %}
    <dl class="task__data">
        {% with task.communication.foia as foia %}
            <dt>Category</dt>
            <dd>{{task.get_category_display}}</dd>
            {% if foia %}
                <dt>Is Acknowledged</dt>
                <dd>{{foia.has_ack|yesno:"True,False"}}</dd>
                <dt>Submitter</dt>
                <dd><a href="{% url 'admin:auth_user_change' foia.user.pk %}">{{foia.user}}</a></dd>
                <dt>Request</dt>
                <dd><a href="{{foia.get_absolute_url}}">{{foia}}</a> (<a href="{% url 'admin:foia_foiarequest_change' foia.pk %}">admin</a>)</dd>
                {% if foia.tracking_id %}
                    <dt>Tracking #</dt>
                    <dd>{{foia.tracking_id}}</dd>
                {% endif %}
                {# agency info #}
                {% with agency=foia.agency %}
                    <dt>Agency</dt>
                    <dd><a href="{% url 'admin:agency_agency_change' agency.pk %}">{{agency}}</a></dd>
                    {% if agency.notes %}
                        <dt>Agency Notes</dt>
                        <dd>{{agency.notes}}</dd>
                    {% endif %}
                {% endwith %}
                <dt>Return Address</dt>
                <dd>
                    MuckRock News<br>
                    DEPT MR {{foia.pk}}<br>
                    411A Highland Ave<br>
                    Somerville, MA 02144
                </dd>
                {% with portal=foia.portal %}
                    <dt>Portal Link</dt>
                    <dd><a href="{{portal.url}}">{{portal.name}}</a></dd>
                {% endwith %}
                <dt>Username</dt>
                <dd>{{ foia.get_request_email }}</dd>
                {% if foia.portal_password %}
                    <dt>Password</dt>
                    <dd>{{ foia.portal_password }}</dd>
                {% endif %}
                {% with task.communication.files.all as files %}
                    {% if files %}
                        <dt>Attachments</dt>
                            {% for file in files %}
                                <dd><a href="{{file.ffile.url}}" target="_blank">{{file.title}}</a></dd>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endif %}
            {% if task.reason %}
                <dt>Reason</dt>
                <dd>{{ task.reason|linebreaks }}</dd>
            {% endif %}
            <dt>Communication</dt>
            <dd>{{task.communication.communication|linebreaks}}</dd>
        {% endwith %}
    </dl>
    {% if task.category == "i" %}
        <div class="collapsable full-communication">
            <header>This communication</header>
            <main>
                {% include 'foia/communication.html' with communication=task.communication hide_options=True %}
            </main>
        </div>
        <div class="collapsed collapsable full-communication">
            <header>Add Attachments</header>
            <main>
                <div class="fine-uploader-comm" data-comm-pk="{{ task.communication.pk }}"></div>
            </main>
        </div>
        {% if previous_communications %}
            <div class="collapsed collapsable full-communication">
                <header>Previous communications</header>
                <main>
                {% for communication in previous_communications %}
                    {% include 'foia/communication.html' with hide_options=True %}
                {% endfor %}
                </main>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block task-actions %}
    <div class="form-field">
        {% if task.category == "i" %}
            <div class="response-input">
                {{ form }}
            </div>
            <label class="check-label" for="id_keep_hidden">Keep Hidden:</label>
            <input id="id_keep_hidden" type="checkbox" name="keep_hidden">
            <label for="id_communication">Communication</label>
            <textarea id="id_communication" name="communication" rows="7">{{ task.communication.communication }}</textarea>
        {% else %}
            <label for="id_status">Set Status</label>
            <select name="status" id="id_status">
                <option value="" selected>---</option>
                {% for s in status %}
                    <option value="{{s|first}}">{{s|last}}</option>
                {% endfor %}
            </select>
            {% if not task.communication.foia.portal_password %}
                <label for="id_word_to_pass">Password</label>
                <input type="text" id="id_word_to_pass" name="word_to_pass" value="{{ password }}" maxlength="20">
            {% endif %}
            <label for="id_tracking_number">Tracking Number</label>
            <input type="text" id="id_tracking_number" name="tracking_number" value="{{ task.communication.foia.tracking_number }}">
        {% endif %}
    </div>
    <span class="task-defer">
      <input type="text" class="datepicker-future" name="date_deferred" value="{{task.date_deferred|date:"m/d/Y"|default:""}}">
      <button type="submit" name="defer" value="true" class="primary button">Defer</button>
    </span>
    <button class="primary button" type="submit" name="resolve" value="true">Save &amp; Resolve</button>
{% endblock %}
