{% extends 'task/default.html' %}

{% block task-content %}
<dl class="task-data">
    <dt>Project</dt>
    <dd><a href="{% url 'admin:project_project_change' task.project.pk %}">{{task.project}}</a></dd>
    <dt>Contributors</dt>
    <dd>{{task.project.contributors.all|join:", "}}</dd>
    {% if task.notes %}
    <dt>Project Notes</dt>
    <dd>{{task.notes}}</dd>
    {% endif %}
</dl>
{% endblock %}
{% block task-footer %}
<footer class="task-actions">
    <form method="POST" action="{{ endpoint }}" class="task-post-actions">
        {% csrf_token %}
        <label for="{{form.reply.id_for_label}}">&crarr; Reply</label>
        {{ form.reply }}
        <input type="hidden" name="task" value="{{task.pk}}">
        <footer class="submission-control">
            <button type="submit" name="action" value="reply" class="blue">Reply</button>
            <div>
                <button type="submit" name="action" value="approve" class="green">Approve</button>
                <button type="submit" name="action" value="reject" class="red">Reject</button>
            </div>
        </footer>
    </form>
</footer>
{% endblock %}
