{% extends 'task/default.html' %}

{% block task-data %}
<dl class="task-data">
{% with task.communication.foia as foia %}
    <dt>Category</dt>
    <dd>{{task.get_category_display}}</dd>
{% if foia %}
    <dt>Is Acknowledged</dt>
    <dd>{{foia.replies|yesno:"True,False"}}</dd>
    <dt>Submitter</dt>
    <dd><a href="{% url 'admin:auth_user_change' foia.user.pk %}">{{foia.user}}</a></dd>
    <dt>Request</dt>
    <dd><a href="{% url 'admin:foia_foiarequest_change' foia.pk %}">{{foia}}</a></dd>
    {# agency info #}
    {% if not appeal %}
        {% if foia.agency %}
    <dt>Agency</dt>
    <dd><a href="{% url 'admin:agency_agency_change' foia.agency.pk %}">{{foia.agency}}</a></dd>
            {% if foia.agency.email %}
    <dt>Agency Email</dt>
    <dd>{{foia.agency.email}}</dd>
            {% endif %}
            {% if foia.agency.fax %}
    <dt>Agency Fax</dt>
    <dd>{{foia.agency.fax}}@fax2.faxaway.com</dd>
            {% endif %}
            {% if foia.agency.address %}
    <dt>Agency Address</dt>
    <dd>{{foia.agency.address|linebreaks}}</dd>
            {% endif %}
            {% if foia.agency.notes and not foia.agency.email and not foia.agency.fax %}
    <dt>Agency Notes</dt>
    <dd>{{foia.agency.notes}}</dd>
            {% endif %}
        {% endif %}
    {% else %}
        {% if foia.agency.appeal_agency %}
    <dt>Appeal Agency</dt>
    <dd><a href="{% url 'admin:agency_agency_change' foia.agency.appeal_agency.pk %}">{{foia.agency.appeal_agency}}</a></dd>
            {% if foia.agency.appeal_agency.address %}
    <dt>Appeal Agency Address</dt>
    <dd>{{foia.agency.appeal_agency.address|linebreaks}}</dd>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{% endwith %}
</dl>
{% endblock %}

{% block task-actions %}
    <select name="status">
        <option value="" selected>Set Status</option>
    {% for s in status %}
        <option value="{{s|first}}">{{s|last}}</option>
    {% endfor %}
    </select>
    <input type="checkbox" name="update_date" id="update-date-{{task.pk}}" checked>
    <label for="update-date-{{task.pk}}">Save the communication with today's date.</label>
    <button class="primary" type="submit" name="resolve" value="true">Save & Resolve</button>
{% endblock %}

{% block task-extra-context %}
<div class="task-extra-context snail-mail-full-letter">
{# full letter here, hidden #}
    <button class="reveal-extra-context" data-state="0">More Info</button>
    <div class="extra-context hidden">
        <textarea id="full-letter-{{task.pk}}">
{{task.communication.foia.agency.address}}

{% now "F j, Y" %}
{% with task.communication.foia as request %}{% include "text/foia/comms.txt" %}{% endwith %}
        </textarea>
    </div>
</div>
{% endblock %}
