{% extends 'message/base.html' %}

{% block body %}
<p>{{ salutation }}, {{ user.first_name }}.</p>
{% if stats %}
<h1>Stats</h1>
<table>
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Current value</th>
            <th>Change from day before</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>{{ stat.name }}</td>
            <td>{{ stat.current }}</td>
            {% if stat.delta > 0 %}
                {% if stat.growth %}
            <td class="green">
                {% else %}
            <td class="red">
                {% endif %}
                +{{ stat.delta }}
            </td>
            {% elif stat.delta < 0 %}
                {% if stat.growth %}
            <td class="red">
                {% else %}
            <td class="green">
                {% endif %}
                {{ stat.delta }}
            </td>
            {% else %}
            <td>{{ stat.delta }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}
{% if comms %}
<h1>Communications</h1>
<table>
    <tbody>
        <tr>
            <td>Sent</td>
            <td>{{ comms.sent }}</td>
        </tr>
        <tr>
            <td>Received</td>
            <td>{{ comms.received }}</td>
        </tr>
    </tbody>
</table>
<h2>Sent</h2>
{% with comms.delivery as sent %}
<table>
    <thead>
        <tr>
            <th>Format</th>
            <th>Count</th>
            <th>Cost/Message</th>
            <th>Total Cost</th>
            <th>30 Day Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td>{{ sent.format.email }}</td>
            <td>${{ sent.cost.email|floatformat:2 }}</td>
            <td>${{ sent.expense.email|floatformat:2 }}</td>
            <td>${{ sent.trailing.email|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>{{ sent.format.fax }}</td>
            <td>${{ sent.cost.fax|floatformat:2 }}</td>
            <td>${{ sent.expense.fax|floatformat:2 }}</td>
            <td>${{ sent.trailing.fax|floatformat:2 }}</td>
        </tr>
            <td>Post</td>
            <td>{{ sent.format.mail }}</td>
            <td>${{ sent.cost.mail|floatformat:2 }}</td>
            <td>${{ sent.expense.mail|floatformat:2 }}</td>
            <td>${{ sent.trailing.mail|floatformat:2 }}</td>
        </tr>
    </tbody>
</table>
{% endwith %}
{% endif %}
{% if crowdfunds %}
<h1>Active Crowdfunds</h1>
<ul>
{% for crowdfund in crowdfunds %}
{% with crowdfund.get_crowdfund_object as object %}
<li>
    <a href="{{object.get_absolute_url}}">{{object}}</a>
    <br/>
    <small>{{crowdfund.percent_funded}}% funded &bull; ${{crowdfund.amount_remaining}} remaining &bull; Ends on {{crowdfund.date_due|date:"m/d/y"}}</small>
</li>
{% endwith %}
{% endfor %}
</ul>
{% endif %}
<hr />
<p>That is all for today. {{ signoff }} and see you tomorrow.</p>
{% endblock %}
