{% extends 'message/base.html' %}
{% load humanize %}

{% block body %}
<p>{{ salutation }}, {{ user.profile.full_name }}.</p>
{% if stale_tasks_show %}
  <h1>Stale Tasks</h1>
  {% for task_type, tasks in stale_tasks.items %}
    {% if tasks %}
      <h2>{{ task_type }}</h2>
      {% if task_type == "Processing Requests" %}
        <p>Goal: Keep processing days under 7 days.</p>
      {% endif %}
      <ul>
        {% for task in tasks %}
          <li>
            <a href="{{ task.get_absolute_url }}">{{ task.display|default:task }}</a><br>
            <small>{{ task.days_old|intcomma }} days old</small>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}

{% if stats %}
<h1>Requests</h1>
<table>
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Current value</th>
            <th>Change from day before</th>
            <th>Change from week before</th>
            <th>Change from month before</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats.request %}
        <tr>
            <td>{{ stat.name }}</td>
            <td>{{ stat.current|intcomma }}</td>
            {% if stat.delta > 0 %}
                {% if stat.growth %}
                    <td class="green">
                {% else %}
                    <td class="red">
                {% endif %}
                +{{ stat.delta|intcomma }}
                </td>
            {% elif stat.delta < 0 %}
                {% if stat.growth %}
                    <td class="red">
                {% else %}
                    <td class="green">
                {% endif %}
                {{ stat.delta|intcomma }}
                </td>
            {% else %}
                <td>{{ stat.delta|intcomma }}</td>
            {% endif %}
            {% if stat.delta_week > 0 %}
                {% if stat.growth %}
                    <td class="green">
                {% else %}
                    <td class="red">
                {% endif %}
                +{{ stat.delta_week|intcomma }}
                </td>
            {% elif stat.delta_week < 0 %}
                {% if stat.growth %}
                    <td class="red">
                {% else %}
                    <td class="green">
                {% endif %}
                {{ stat.delta_week|intcomma }}
                </td>
            {% else %}
                <td>{{ stat.delta_week|intcomma }}</td>
            {% endif %}
            {% if stat.delta_month > 0 %}
                {% if stat.growth %}
                    <td class="green">
                {% else %}
                    <td class="red">
                {% endif %}
                +{{ stat.delta_month|intcomma }}
                </td>
            {% elif stat.delta_month < 0 %}
                {% if stat.growth %}
                    <td class="red">
                {% else %}
                    <td class="green">
                {% endif %}
                {{ stat.delta_month|intcomma }}
                </td>
            {% else %}
                <td>{{ stat.delta_month|intcomma }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}
{% if comms %}
<h1>Communications</h1>
<table>
    <tbody>
        <tr>
            <td>Sent</td>
            <td>{{ comms.sent|intcomma }}</td>
        </tr>
        <tr>
            <td>Received</td>
            <td>{{ comms.received|intcomma }}</td>
        </tr>
    </tbody>
</table>
<h2>Sent</h2>
{% with comms.delivery as sent %}
<table>
    <thead>
        <tr>
            <th>Format</th>
            <th>Count</th>
            <th>Cost/Message</th>
            <th>Total Cost</th>
            <th>30 Day Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td>{{ sent.format.email }}</td>
            <td>${{ sent.cost.email|floatformat:2 }}</td>
            <td>${{ sent.expense.email|floatformat:2 }}</td>
            <td>${{ sent.trailing.email|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>{{ sent.format.fax }}</td>
            <td>${{ sent.cost.fax|floatformat:2 }}</td>
            <td>${{ sent.expense.fax|floatformat:2 }}</td>
            <td>${{ sent.trailing.fax|floatformat:2 }}</td>
        </tr>
            <td>Post</td>
            <td>{{ sent.format.mail }}</td>
            <td>${{ sent.cost.mail|floatformat:2 }}</td>
            <td>${{ sent.expense.mail|floatformat:2 }}</td>
            <td>${{ sent.trailing.mail|floatformat:2 }}</td>
        </tr>
    </tbody>
</table>
{% endwith %}
{% endif %}
{% if confirm %}
  <h2>Confirmed Messages - 0 to 7 days and 7 to 14 days
  <table>
    <thead>
      <tr>
        <td>Format</td>
        <td>Confirmed - last week</td>
        <td>Total - last week</td>
        <td>Percent - last week</td>
        <td>Confirmed - week before last</td>
        <td>Total - week before last</td>
        <td>Percent - week before last</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>{{ confirm.email_communications_weekly_confirmed|intcomma }}</td>
        <td>{{ confirm.email_communications_weekly_total|intcomma }}</td>
        <td>{% widthratio confirm.email_communications_weekly_confirmed confirm.email_communications_weekly_total 100 %}%</td>
        <td>{{ confirm.email_communications_weekly2_confirmed|intcomma }}</td>
        <td>{{ confirm.email_communications_weekly2_total|intcomma }}</td>
        <td>{% widthratio confirm.email_communications_weekly2_confirmed confirm.email_communications_weekly2_total 100 %}%</td>
      </tr>
      <tr>
        <td>Fax</td>
        <td>{{ confirm.fax_communications_weekly_confirmed|intcomma }}</td>
        <td>{{ confirm.fax_communications_weekly_total|intcomma }}</td>
        <td>{% widthratio confirm.fax_communications_weekly_confirmed confirm.fax_communications_weekly_total 100 %}%</td>
        <td>{{ confirm.fax_communications_weekly2_confirmed|intcomma }}</td>
        <td>{{ confirm.fax_communications_weekly2_total|intcomma }}</td>
        <td>{% widthratio confirm.fax_communications_weekly2_confirmed confirm.fax_communications_weekly2_total 100 %}%</td>
      </tr>
      <tr>
        <td>Post</td>
        <td>{{ confirm.mail_communications_weekly_confirmed|intcomma }}</td>
        <td>{{ confirm.mail_communications_weekly_total|intcomma }}</td>
        <td>{% widthratio confirm.mail_communications_weekly_confirmed confirm.mail_communications_weekly_total 100 %}%</td>
        <td>{{ confirm.mail_communications_weekly2_confirmed|intcomma }}</td>
        <td>{{ confirm.mail_communications_weekly2_total|intcomma }}</td>
        <td>{% widthratio confirm.mail_communications_weekly2_confirmed confirm.mail_communications_weekly2_total 100 %}%</td>
      </tr>
    </tbody>
  </table>
{% endif %}

<h1>Tickets</h1>
<table>
    <tbody>
        <tr>
            <td>Total open</td>
            <td>{{ tickets.all|intcomma }}</td>
        </tr>
        <tr>
            <td>Open more than 2 weeks</td>
            <td>{{ tickets.two_weeks|intcomma }}</td>
        </tr>
    </tbody>
</table>


{% if stats %}
<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Current value</th>
            <th>Change from day before</th>
            <th>Change from week before</th>
            <th>Change from month before</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats.user %}
        <tr>
            <td>{{ stat.name }}</td>
            <td>{{ stat.current|intcomma }}</td>
            {% if stat.delta > 0 %}
                {% if stat.growth %}
                    <td class="green">
                {% else %}
                    <td class="red">
                {% endif %}
                +{{ stat.delta|intcomma }}
                </td>
            {% elif stat.delta < 0 %}
                {% if stat.growth %}
                    <td class="red">
                {% else %}
                    <td class="green">
                {% endif %}
                {{ stat.delta|intcomma }}
                </td>
            {% else %}
                <td>{{ stat.delta|intcomma }}</td>
            {% endif %}
            {% if stat.delta_week > 0 %}
                {% if stat.growth %}
                    <td class="green">
                {% else %}
                    <td class="red">
                {% endif %}
                +{{ stat.delta_week|intcomma }}
                </td>
            {% elif stat.delta_week < 0 %}
                {% if stat.growth %}
                    <td class="red">
                {% else %}
                    <td class="green">
                {% endif %}
                {{ stat.delta_week|intcomma }}
                </td>
            {% else %}
                <td>{{ stat.delta_week|intcomma }}</td>
            {% endif %}
            {% if stat.delta_month > 0 %}
                {% if stat.growth %}
                    <td class="green">
                {% else %}
                    <td class="red">
                {% endif %}
                +{{ stat.delta_month|intcomma }}
                </td>
            {% elif stat.delta_month < 0 %}
                {% if stat.growth %}
                    <td class="red">
                {% else %}
                    <td class="green">
                {% endif %}
                {{ stat.delta_month|intcomma }}
                </td>
            {% else %}
                <td>{{ stat.delta_month|intcomma }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}
{% if pro_users.gained or pro_users.lost %}
<h1>Pro Users (last 5 days)</h1>
{% if pro_users.gained %}
<h2>{{pro_users.gained|length}} Gained</h2>
<ul>
{% for user in pro_users.gained %}
    <li><a href="{{user.get_absolute_url}}">{{user.profile.full_name}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if pro_users.lost %}
<h2>{{pro_users.lost|length}} Lost</h2>
<ul>
{% for user in pro_users.lost %}
    <li><a href="{{user.get_absolute_url}}">{{user.profile.full_name}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endif %}
{% if crowdfunds.active %}
  <h1>Active Crowdfunds</h1>
  <ul>
    {% for crowdfund in crowdfunds.active %}
      {% with crowdfund.get_crowdfund_object as object %}
        <li>
          <a href="{{object.get_absolute_url}}">{{object}}</a>
          <br/>
          <small>
            {{crowdfund.percent_funded}}% funded &bull;
            ${{crowdfund.amount_remaining}} remaining &bull;
            {% if crowdfund.date_due %}Ends on {{crowdfund.date_due|date:"m/d/y"}}{% else %}No end date{% endif %} &bull;
            {% with num_donors=crowdfund.num_donations_yesterday %}
              {{ num_donors }} donor{{ num_donors|pluralize }} yesterday
            {% endwith %}
          </small>
        </li>
      {% endwith %}
    {% endfor %}
  </ul>
{% endif %}
{% if crowdfunds.new %}
  <h1>New Crowdfunds</h1>
  <ul>
    {% for crowdfund in crowdfunds.new %}
      {% with crowdfund.get_crowdfund_object as object %}
        <li>
          <a href="{{object.get_absolute_url}}">{{object}}</a>
          <br/>
          <small>
            {% if crowdfund.date_due %}Ends on {{crowdfund.date_due|date:"m/d/y"}}{% else %}No end date{% endif %}
          </small>
        </li>
      {% endwith %}
    {% endfor %}
  </ul>
{% endif %}

{% for title, projects in projects.items %}
  {% if projects %}
  <h1>{{ title }}</h1>
    <ul>
      {% for project in projects %}
        <li><a href="{{project.get_absolute_url}}">{{project.title}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% if checks.created %}
  <h1>Checks sent yesterday</h1>
  <ul>
  {% for check in checks.created %}
    <li>
      #{{check.number}} for ${{check.amount}} sent to {{check.agency}} for
      <a href="{{ check.communication.get_absolute_url }}">
        {{check.communication.foia}}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% if checks.deposited %}
  <h1>Checks deposited yesterday</h1>
  <ul>
  {% for check in checks.deposited %}
    <li>
      #{{check.number}} for ${{check.amount}} sent to {{check.agency}}
      on {{check.created_datetime|date}} for
      <a href="{{ check.communication.get_absolute_url }}">
        {{check.communication.foia}}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

<hr />
<p>That is all for today. {{ signoff }} and see you tomorrow.</p>
{% endblock %}
