coverage # Used to generate coverage reports in dev
dj-inmemorystorage # in memory file storage for faster testing
django-debug-toolbar
django<6 # django
fabric<2.0 # Used for dev scripts
factory-boy # Used for creating test data
freezegun # Control time during testing
ipdb # interactive debugger
isort # sort imports
mock # Used for mocking objects during test
moto[s3] # Used for mocking S3
pip-tools # Keeps the requirements up to date
pylint-django # Pylint for Django integration
pytest # Used for testing
pytest-django # Used for testing
pytest-sugar # Used for testing
six>=1.17.0 # Required for packages with Python 2 compatibility support
requests-mock # Mock for http requests
whoosh # Used for search backend in development
black # code formatter
django-silk # profiler
