-e git+https://github.com/BradWhittington/django-mailgun.git@c4bfb77fca1eb3d5c772294e3d065274bab9ddc6#egg=django_mailgun # Mail backend used directly (on production)
-e git+https://github.com/theatlantic/django-news-sitemaps.git@django3x#egg=django_news_sitemaps # For generating news sitemaps
beautifulsoup4 # used for parsing html
bleach # Used to sanitize any HTML we're rendering
boto3 # Used to access AWS
celery # Used to run async tasks
chardet # Detect character encodings for user uploaded text files
dill # Used to serialize machine learning data
django-activity-stream # Used for notifications
django-autocomplete-light==3.9.0rc5 # Autocomplete drop down inputs
django-celery-email # Send emails asynchronously using Celery
django-choices # Define choices for a field
django-compat # ?
django-compressor # Compress all JS and CSS assets into a single file
django-constance[database] # Use for dynamic settings
django-cors-headers # Allows access to API endpoints from non-MuckRock domains
django-debug-toolbar # Toolbar for debugging
django-email-bandit # Used to hijack emails in a staging setting
django-extensions # Nicer shell
django-filter # Used for filtering in viewsets
django-hijack<3 # Allows admins to log in to other user accounts
django-hosts # Used for multi-domain routing
django-ipware # Used to get user's IP address
django-localflavor # Used for phone numbers and state list
django-mathfilters # Mathematical template filters
django-opensearch # Enables opensearch
django-phonenumber-field # for storing phone numbers in the database
django-premailer # Styles HTML emails
django-reversion # Version history for models
django-robots # Manage robots.txt file
django-sslify # Force SSL everywhere
django-storages # Store files on S3
django-taggit # Used for tagging
django-watson # Used for search
django-webpack-loader # Used for loading Webpack bundles
django<4.0 # Django is kinda important...
djangorestframework # The API framework
documentcloud # for uploading to documentcloud
dogslow # Monitors slow requests
drf-nested-routers # Nested resources for DRF
easy-thumbnails # Used for thumbnailing images
emoji # Stripe emoji's for pdf generation
fpdf # Used to generate PDFs
furl # Used to manipulate urls
fuzzywuzzy # fuzzy string matching for FM agency import
google-api-python-client # Google analytics
gunicorn # Python WSGI app server
ipython # better python shell
jsonfield # Used for storing JSON data, required by django-geojson
lob # sending mail via lob.com
markdown # Used for rendering Markdown, obviously!
memoize # cachable properties
newrelic # Interface to newrelic service
numpy # Used by machine learning
pdfrw # Used for reading/writing PDFs for form filling in
phonenumberslite # Library for validating and formatting phone numbers
pillow # Used by Django for image handling
plaid-python # for access to bank account information
psycopg2-binary # Interface to postgres DB
pyembed # Used for embedding in crowdsources
pyjwkest # for oauth
pylibmc # memcache client
pymdown-extensions # Adds more helpful Markdown extensions
pypdf2 # Used to manipulate PDFs
pyphaxio # For sending faxes through Phaxio
python-Levenshtein # fuzzy string matching for FM agency import
python-dateutil # Used for relative time deltas
python-redis-lock[django] # use a redis cache with a locking mechanism
raven # Sentry integration
redis # Redis integration - for use with celery
reportlab # Used for adding text to PDFs for form filling in
requests # HTTP for humans
rules # Rule based permissions
scikit-learn # Used for machine learning
scipy # Used for machine learning
scout-apm # performance monitoring
simplejson # json decoder for requests
smart-open # Use for streaming files from S3
smartypants # Used for typographically-correct quotes
social-auth-app-django # for oauth client
social-auth-core[openidconnect] # for oauth client
sorl-thumbnail # used for squarlet avatars
stripe # Stripe payment processor integration
unidecode # Used for unicode decoding
xlrd # Used to read excel files
zenpy # library for zendesk API
zipstream # Write zip files streamingly
