-e git://github.com/BradWhittington/django-mailgun.git@4f2edb9466f6245c3bbf501aab2681f0b3c71e0c#egg=django_mailgun # Mail backend used directly (on production)
-e git://github.com/mitchelljkotler/django-news-sitemaps.git@5946718cd1d18abbfa7f0393c140fcc513dedac1#egg=django_news_sitemaps
bleach # Used to sanitize any HTML we're rendering
boto # Used to access AWS
celery<4 # Used to run async tasks
chardet # Detect character encodings for user uploaded text files
dill # Used to serialize machine learning data
django-activity-stream # Used for notifications
django-adaptors # Used for model import
django-autocomplete-light<3 # Autocomplete drop down inputs
django-celery # Integrate celery with django
django-celery-email<2.0 # Send emails asynchronously using Celery
django-compressor # Compress all JS and CSS assets into a single file
django-cors-headers # Allows access to API endpoints from non-MuckRock domains
django-dbsettings # DB stored configurations
django-debug-toolbar # Toolbar for debugging
django-email-bandit # Used to hijack emails in a staging setting
django-filter # Used for filtering in viewsets
django-geojson # Used for storing geographic data
django-hijack # Allows admins to log in to other user accounts
django-hosts # Used for multi-domain routing
django-leaflet # Used for plotting geographic data
django-localflavor # Used for phone numbers and state list
django-lot # Used for Log On Tokens
django-mathfilters # Mathematical template filters
django-premailer # Styles HTML emails
django-pylibmc # Interface to memcache
django-querycount # Counts queries for dev
django-queued-storage # For delayed uploading of files
django-reversion==1.10.2 # Version history for models
django-robots # Manage robots.txt file
django-secure # Enforces security best practices
django-sslify # Force SSL everywhere
django-storages # Store files on S3
django-taggit # Used for tagging
django-watson # Used for search
django-webpack-loader==0.3.0 # Used for loading Webpack bundles
django<1.11 # Django is kinda important...
djangorestframework # The API framework
dogslow # Monitors slow requests
easy-thumbnails # Used for thumbnailing images
fuzzywuzzy # fuzzy string matching for FM agency import
gunicorn # Python WSGI app server
image-diet2 # Used to compress images on upload
jsonfield # Used for storing JSON data, required by django-geojson
markdown # Used for rendering Markdown, obviously!
newrelic # Interface to newrelic service
numpy==1.9.1 # Used by machine learning
pascha # Used by business days to calculate th date of Easter
pillow # Used by Django for image handling
psycopg2 # Interface to postgres DB
pymdown-extensions # Adds more helpful Markdown extensions
pyphaxio # For sending faxes through Phaxio
python-Levenshtein # fuzzy string matching for FM agency import
python-dateutil # Used for relative time deltas
raven # Sentry integration
redis # Redis integration - for use with celery
requests # HTTP for humans
rules # Rule based permissions
scikit-learn==0.16.1 # Used for machine learning
scipy==0.14.0 # Used for machine learning
smart-open # Use for streaming files from S3
smartypants # Used for typographically-correct quotes
stripe # Stripe payment processor integration
unidecode # Used for unicode decoding
