{% load tags static %}

<footer class="website-footer">
    {% newsletter %}
    {% include 'lib/donation.html' %}
    <div class="global-footer">
        <div class="info">
          <div class="brand">
            <a href="{% url 'index'%}" class="logotype">
                {% include 'lib/component/icon/logotype.svg' %}
            </a>
            <p>MuckRock is a non-profit collaborative news site that gives you the tools to keep our government transparent and accountable.</p>
          </div>
          <div class="donation">
            <a class="red button" href="#footer-donation">Make a Donation</a>
            <p>MuckRock is a 501(c)(3) organization.</p>
            <p>Our tax identification number is <u>81-1485228</u>.</p>
            <p>Donations are tax-deductible.</p>
          </div>
          <div class="memberships">
            <a class="membership" href="https://www.guidestar.org/profile/81-1485228" target="_blank" title="MuckRock is listed in GuideStar">
                <img src="{% static 'img/memberships/guidestar.png' %}" alt="GuideStar's golden seal" />
            </a>
            <a class="membership" href="https://findyournews.org/organization/muckrock/" target="_blank" title="MuckRock is a member of INN">
                <img src="{% static 'img/memberships/inn.png' %}" alt="INN membership badge" />
            </a>
            <a class="membership" href="https://www.lionpublishers.com/" target="_blank" title="MuckRock is a member of LION">
                <img src="{% static 'img/memberships/lion.png' %}" alt="LION membership badge" />
            </a>
          </div>
          <p class="copyright">&copy; 2010&ndash;{% now "Y" %} MuckRock</p>
        </div>
        <div class="links">
            <div class="link-group sitemap">
                <dfn>Sections</dfn>
                <ul>
                    <li><a href="{% url 'news-index'%}">News</a></li>
                    <li><a href="{% url 'project-list' %}">Projects</a></li>
                    <li><a href="{% url 'foia-list'%}">Requests</a></li>
                    <li><a href="{% url 'agency-list'%}">Agencies</a></li>
                    <li><a href="{% url 'jurisdiction-list'%}">Jurisdictions</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'task-list' %}">Tasks</a></li>
                    {% endif %}
                    <li><a href="/newsletters/">Newsletter</a></li>
                </ul>
            </div>
            <div class="link-group about">
                <dfn>About</dfn>
                <ul>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/staff/">Staff</a></li>
                    <li><a href="https://help.muckrock.com/19ef88926963814ea7e8e947b7fb6222" target="_blank">FAQ</a></li>
                    <li><a href="https://help.muckrock.com/19ef8892696381e88627c50e4ee90ed4" target="_blank">API</a></li>
                    <li><a href="/news/editorial-policy/">Editorial Policy</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/tos/">Terms of Service</a></li>
                    <li><a href="/financial/">Financials</a></li>
                </ul>
            </div>
            <div class="link-group feeds">
                <dfn>Feeds</dfn>
                <ul>
                    <li><a href="{% url 'news-feed' %}">Latest Reporting</a></li>
                    <li><a href="{% url 'question-feed' %}">Latest Questions</a></li>
                    <li><a href="{% url 'foia-submitted-feed' %}">Recently Filed Requests</a></li>
                    <li><a href="{% url 'foia-done-feed' %}">Recently Completed Requests</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
