<header class="website-header">
    <nav class="website-navigation">
        <div class="nav-section">
            <a href="{% url 'index'%}" class="nav-item brand">
                <span class="logotype">
                    {% include 'lib/component/icon/logotype.svg' %}
                </span>
                <span class="logo">
                    {% include 'lib/component/icon/logo.svg' %}
                </span>
            </a>
            <ul class="website-sections" id="global-sections">
                <li><a class="nav-item" href="{% url 'news-index'%}">News</a></li>
                <li><a class="nav-item" href="{% url 'project' %}">Projects</a></li>
                <li><a class="nav-item" href="{% url 'foia-list'%}">Requests</a></li>
                <li><a class="nav-item" href="{% url 'agency-list'%}">Agencies</a></li>
                <li><a class="nav-item" href="{% url 'question-index'%}">Q&A Forum</a></li>
                {% if user.is_staff %}
                <li><a class="nav-item" href="{% url 'task-list' %}">Tasks</a></li>
                {% endif %}
            </ul>
            <div class="nav-item website-sections-button" id="show-sections">
                {% include 'lib/component/icon/sections-dots.svg' %}
                <span class="label">Sections</span>
            </div>
        </div>
        <!-- We have to keep the search form in the middle, otherwise Firefox will mess up the flexbox justification -->
        <form action="/search" method="get" class="search-form" id="global-search">
            <div class="search-form-container">
                <input type="search" name="q" placeholder="Search">
                <input type="submit" style="display: none;">
                <div class="search-cancel" id="hide-search">Cancel</div>
            </div>
        </form>
        <div class="nav-section">
            <div class="nav-item search-button" id="show-search">
                {% include 'lib/component/icon/search.svg' %}
                <span class="label">Search</span>
            </div>
            <a class="dark nav-item create-request-button" href="{% url 'foia-create'%}" onclick="ga('send', 'event', 'Requests', 'File', window.location.pathname)">
                {% include 'lib/component/icon/create-request.svg' %}
                <span class="label">File<span class="extended"> Request</span></span>
            </a>
            <div class="dark nav-item sidebar-toggle" id="sidebar-button">
                {% if actionable_requests.count > 0 %}
                <span class="blue counter">{{actionable_requests.count}}</span>
                {% else %}
                {% include 'lib/component/icon/sections-lines.svg' %}
                {% endif %}
                <span class="label">Menu</span>
            </div>
        </div>
    </nav>
</header>
