{% load cache %}
{% load static %}
{% load sorl_thumbnail %}
{% load thumbnail %}
{% load hijack_tags %}
{% load tags %}

<header class="global-header {% if request|is_hijacked %}global-header-hijacked{% endif %}">
  {% include 'lib/pattern/banner.html' %}
  <nav class="global-navigation space-between mb0" id="nav">
    <div class="nav-section align-center mb0" id="site-nav">
      <a href="{% if user.profile.is_agency_user %}{% url "foia-agency-list" %}{% elif is_agency_user %}#{% else %}{% url "index" %}{% endif %}" class="nav-item justify-center brand" id="nav-brand">
        <span class="logotype">
          {% include 'lib/component/icon/logotype.svg' %}
        </span>
        <span class="logo">
          {% include 'lib/component/icon/logo.svg' %}
        </span>
      </a>

      {% comment %}
        Here we have the section navigation.
        It behaves differently for logged out and logged in users.
        Logged out users do not see any dropdowns for primary sections,
        just top-level links. Logged in users see dropdowns when tapping
        on any top-level item. Staff users see an additional 'Tasks' section.
        On small screens we hide the navigation behind a toggle button.
      {% endcomment %}
      <span class="nav-item section-toggle" id="toggle-sections" data-for="#nav-list-sections">
        {% include 'lib/component/icon/sections-lines.svg' %}
      </span>
      <ul class="{% if not user.is_authenticated or user.profile.is_agency_user or is_agency_user %}unauthenticated{% else %}authenticated{% endif %} section-list" id="nav-list-sections">
        {% if not user.is_authenticated and not is_agency_user %}
          <li><a class="nav-item red" href="/donate/">{% include 'lib/component/icon/donate.svg' %}Donate</a></li>
          <li class="dropdown" id="services">
            <span class="nav-item" tabindex="0">Tools</span>
            <ul>
              <li><a class="nav-item justify-center" href="{% url 'foia-root' %}" title="MuckRock Requests">{% include 'lib/component/logo/muckrock-requests.svg' %}</a></li>
              <li><a class="nav-item justify-center" href="https://www.documentcloud.org" title="DocumentCloud">{% include 'lib/component/logo/documentcloud.svg' %}</a></li>
              <li><a class="nav-item justify-center" href="https://www.data-liberation-project.org" title="Data Liberation Project">{% include 'lib/component/logo/data-liberation-project.svg' %}</a></li>
            </ul>
          </li>
          <li><a class="nav-item" href="/newsletters/">Newsletter</a></li>
          <li><a class="nav-item" href="{% url 'news-index' %}">Investigations</a></li>
          <!-- TODO: Flatpages for these areas of expertise
          <li class="dropdown">
            <span class="nav-item" tabindex="0">Expertise</span>
            <ul>
              <li><a class="nav-item" href="/foia-friday/">FOIA Friday</a></li>
              <li><a class="nav-item" href="/consulting/">Consulting &amp; research</a></li>
              <li><a class="nav-item" href="/workshops/">Workshops &amp; trainings</a></li>
              <li><a class="nav-item" href="/guides/">Guides &amp; case studies</a></li>
            </ul>
          </li>-->
          <li class="dropdown">
            <span class="nav-item" tabindex="0">About Us</span>
            <ul>
              <li><a class="nav-item" href="/about/">Mission</a></li>
              <li><a class="nav-item" href="/staff/">Staff &amp; Board</a></li>
              <li><a class="nav-item" href="https://help.muckrock.com/19ef88926963814ea7e8e947b7fb6222" target="_blank">FAQ</a></li>
              <li><a class="nav-item" href="/store/">Merch Store</a></li>
              <li><a class="nav-item red" href="/donate/">{% include 'lib/component/icon/donate.svg' %}Donate</a></li>
            </ul>
          </li>
        {% elif not user.profile.is_agency_user and not is_agency_user %}
        <li class="dropdown">
            <a class="nav-item" href="{% url 'foia-root' %}">Requests</a>
            <ul>
              <li><a class="nav-item" class="nav-item" href="{% url 'foia-mylist' %}">Your&nbsp;Requests</a></li>
              <li><a class="nav-item" class="nav-item" href="{% url 'foia-mylist-drafts' %}">Drafts</a></li>
              {% if user_organization and not user_organization.individual %}
                <li><a class="nav-item" class="nav-item" href="{% url 'foia-org-list' %}">Organization&nbsp;Requests</a></li>
              {% endif %}
              {% if user.profile.proxy %}
                <li><a class="nav-item" class="nav-item" href="{% url 'foia-proxy-list' %}">Proxy&nbsp;Requests</a></li>
              {% endif %}
              <li class="separator"><a class="nav-item" href="{% url 'foia-list-following' %}">Following</a></li>
              {% if user.is_staff %}
                <li><a class="nav-item" href="{% url 'foia-list-processing' %}">Processing</a></li>
                <li class="separator"><a class="nav-item" href="{% url 'communication-list' %}">Communications</a></li>
              {% endif %}
              <li><a class="nav-item" href="{% url 'agency-list' %}">Agencies</a></li>
              <li><a class="nav-item" href="{% url 'jurisdiction-explore' %}">Jurisdictions</a></li>
              <li>
                <a class="nav-item" href="{% url 'foia-logs-landing' %}">
                  <span class="small blue badge">NEW</span>&nbsp;FOIA Logs
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="nav-item" href="{% url 'news-index' %}">News</a>
            <ul>
              {% cache 600 dropdown_recent_articles %}
                {% for article in dropdown_recent_articles %}
                  <li class="rich-nav-item" {% if article.image %}style="background-image:url('{% thumbnail article.image 300x100 crop %}');"{% endif %}>
                    <a href="{{article.get_absolute_url}}" title="{{article.summary}}">
                      <p>{{ article.title }}</p>
                    </a>
                  </li>
                {% endfor %}
              {% endcache %}
              <li class="touch--show"><a class="nav-item" href="{% url 'news-index' %}">Explore</a></li>
              <li><a class="nav-item" href="{% url 'news-archive' %}">Archive</a></li>
            </ul>
          </li>
          <li><a class="nav-item" href="/newsletters/">Newsletter</a></li>
          <li class="dropdown">
            <span class="nav-item" tabindex="0">About Us</span>
            <ul>
              <li><a class="nav-item" href="/about/">Mission</a></li>
              <li><a class="nav-item" href="/staff/">Staff &amp; Board</a></li>
              <li><a class="nav-item" href="https://help.muckrock.com/19ef88926963814ea7e8e947b7fb6222" target="_blank">FAQ</a></li>
              <li><a class="nav-item" href="/store/">Merch Store</a></li>
              <li><a class="nav-item red" href="/donate/">{% include 'lib/component/icon/donate.svg' %}Donate</a></li>
            </ul>
          </li>
        {% endif %}
        {% if user.is_staff %}
          <li class="dropdown">
            <span class="nav-item">Tasks</span>
            <ul>
              <li><a class="nav-item" href="{% url 'response-task-list' %}">Response</a></li>
              <li class="separator"><a class="nav-item" href="{% url 'foia-list-processing' %}">Processing</a></li>
              <li><a class="nav-item" href="{% url 'new-agency-task-list' %}">New&nbsp;Agency</a></li>
              <li><a class="nav-item" href="{% url 'orphan-task-list' %}">Orphan</a></li>
              <li><a class="nav-item" href="{% url 'snail-mail-task-list' %}">Snail&nbsp;Mail</a></li>
              <li><a class="nav-item" href="{% url 'portal-task-list' %}">Portal</a></li>
              <li><a class="nav-item" href="{% url 'new-portal-task-list' %}">New Portal</a></li>
              <li class="separator"><a class="nav-item" href="{% url 'flagged-task-list' %}">Flagged</a></li>
              <li><a class="nav-item" href="{% url 'payment-info-task-list' %}">Payment&nbsp;Info</a></li>
              <li class="separator"><a class="nav-item" href="{% url 'review-agency-task-list' %}">Review&nbsp;Agency</a></li>
              <li><a class="nav-item" href="{% url 'multirequest-task-list' %}">Multirequest</a></li>
              <li><a class="nav-item" href="{% url 'crowdfund-task-list' %}">Crowdfund</a></li>
              <li><a class="nav-item" href="{% url 'status-change-task-list' %}">Status&nbsp;Change</a></li>
            </ul>
          </li>
        {% endif %}
        {% if user.is_authenticated and not user.profile.is_agency_user and not is_agency_user %}
          <li class="dropdown" id="more-sections">
            <span class="nav-item justify-center">{% include 'lib/component/icon/sections-dots.svg' %} <span class="label">More</span></span>
            <ul>
              <li><a class="nav-item" href="{% url 'crowdsource-index' %}">Assignments</a></li>
              <li><a class="nav-item" href="{% url 'project' %}">Projects</a></li>
              <li><a class="nav-item" href="https://help.muckrock.com/19ef8892696381e88627c50e4ee90ed4">API</a></li>
            </ul>
          </li>
        {% endif %}
        {% if user.profile.is_agency_user or is_agency_user %}
          {% if user.profile.is_agency_user %}
            <li><a class="nav-item" href="{% url 'foia-agency-list' %}">Requests</a></li>
            <li><a class="nav-item" href="{% url 'acct-logout' %}" onclick="ga('send', 'event', 'Account', 'Logout', window.location.pathname)">Log&nbsp;Out</a></li>
          {% endif %}
          <span>
            &nbsp; &nbsp; &nbsp;
            Need help?  Email us at &nbsp;
            <a href="mailto:{{ settings.DEFAULT_FROM_EMAIL }}">
              {{ settings.DEFAULT_FROM_EMAIL }}
            </a>
          </span>
        {% endif %}
      </ul>

        {% comment %}
          This contains the toggle for the global search, which appears below the top header.
        {% endcomment %}
        {% if not user.profile.is_agency_user  and not is_agency_user %}
          <div class="global-search">
            <span class="nav-item search-toggle" id="show-search">
              {% include 'lib/component/icon/search.svg' %}
              <span class="label">Search</span>
            </span>
            <form action="/search" method="get" class="search-form" id="global-search">
              <div class="search-container">
                <input type="search" name="q" placeholder="Search">
                <div class="nav-item search-cancel" id="hide-search">Cancel</div>
              </div>
            </form>
          </div>
          {# We need the search placeholder to retain the shape of the nav on mobile. #}
          <div class="search-placeholder"></div>
        {% endif %}
    </div>

    <div class="nav-section" id="user-nav">
      <ul>
        {% if not user.profile.is_agency_user and not is_agency_user %}
          <li>
            <a class="blue nav-item justify-center" href="{% url 'foia-create'%}" onclick="ga('send', 'event', 'Requests', 'File', window.location.pathname)">
              {% include 'lib/component/icon/create-request.svg' %}
              <span class="label">File<span class="extended"> Request</span></span>
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="dropdown dropdown--right">
              <a href="{% url 'acct-my-profile' %}" class="black nav-item align-center avatar-container" data-for="#profile-dropdown">
                {% sorl_thumbnail user.profile.avatar_url "62x62" as avatar %}
                  <img class="round avatar mb0" src="{{ avatar.url }}" height="31" width="31">
                {% empty %}
                  <img class="round avatar mb0" src="{% static 'img/defaultavatar.png' %}" height="31" width="31">
                {% endthumbnail %}
                <span class="label">{{ user.profile.full_name }}</span>
                {% if not user_organization.individual %}
                  {% sorl_thumbnail user_organization.avatar_url "62x62" as avatar %}
                    <img class="round avatar mb0" src="{{ avatar.url }}" height="31" width="31">
                  {% empty %}
                    <img class="round avatar mb0" src="{% static 'img/defaultavatar.png' %}" height="31" width="31">
                  {% endthumbnail %}
                  <span class="label">{{ user_organization.display_name }}</span>
                {% endif %}
              </a>

              <ul id="profile-dropdown">
                {% if payment_failed %}
                  <li class="error message small">
                    <span class="symbol">
                      {% include 'lib/component/icon/error.svg' %}
                    </span>
                    <span class="text">
                      <p>A recent charge made against your credit card has failed.</p>
                      {% for organization in payment_failed_organizations %}
                        <p>
                          {% if organization.individual %}
                            <a
                            class="basic red button"
                            href="{{ settings.SQUARELET_URL }}/users/~payment/">
                              Update your billing info
                            </a>
                          {% else %}
                            <a
                            class="basic red button"
                            href="{{ settings.SQUARELET_URL }}/organizations/{{ organization.slug }}/update/">
                              Update the billing info for {{ organization.name }}.
                            </a>
                          {% endif %}
                        </p>
                      {% endfor %}
                    </span>
                  </li>
                {% endif %}
                {% if broadcast %}
                  <li class="broadcast">
                    <dfn>Announcement</dfn>
                    <p>{{ broadcast|safe }}</p>
                  </li>
                {% endif %}
                <li><a class="nav-item" href="{% url 'foia-mylist' %}">Your&nbsp;Requests</a></li>
                {% if actionable_requests %}
                  {% if actionable_requests.payment %}
                    <li>
                      <a class="small nav-item" href="{% url 'foia-mylist' %}?status=payment"><span class="red counter">{{ actionable_requests.payment}}</span>&nbsp;Payment{{ actionable_requests.payment|pluralize }}&nbsp;Required</a>
                    </li>
                  {% endif %}
                  {% if actionable_requests.fix %}
                    <li>
                      <a class="small nav-item" href="{% url 'foia-mylist' %}?status=fix"><span class="red counter">{{ actionable_requests.fix}}</span>&nbsp;Fix{{ actionable_requests.fix|pluralize:"es" }}&nbsp;Required</a>
                    </li>
                  {% endif %}
                  {% if actionable_requests.started %}
                    <li>
                      <a class="small nav-item" href="{% url 'foia-mylist-drafts' %}?status=started">
                        <span class="blue counter">{{ actionable_requests.started}}</span>
                        &nbsp;Draft{{ actionable_requests.started|pluralize }}
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
                {% if my_projects %}
                  <li><a class="nav-item" href="{% url 'project-contributor' username=request.user.username %}">Your&nbsp;Projects</a></li>
                {% endif %}
                {% if not user_organization.individual %}
                  <li><a class="nav-item" href="{{user_organization.get_absolute_url}}">Your&nbsp;Organization</a></li>
                {% endif %}
                <li ><a class="nav-item" href="{% url 'acct-my-profile' %}">Your&nbsp;Profile</a></li>
                <li class="{% if organizations|length > 1 %}separator{% endif %}">
                  <a class="nav-item" href="{{ settings.SQUARELET_URL }}/users/~redirect/">
                    Your&nbsp;Account
                  </a>
                </li>

                {% if organizations|length > 1 %}
                  <li class="separator nav-item nolink">Switch&nbsp;Organization</li>
                  {% for org in organizations %}
                    {% if org != user_organization %}
                      <li>
                        <form action="{% url "org-activate" %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}">
                          <input type="hidden" name="organization" value="{{ org.pk }}">
                          <button class="black nav-item align-center avatar-container">
                            {% sorl_thumbnail org.avatar_url "62x62" as avatar %}
                              <img class="round avatar mb0" src="{{ avatar.url }}" height="31" width="31">
                            {% empty %}
                              <img class="round avatar mb0" src="{% static 'img/defaultavatar.png' %}" height="31" width="31">
                            {% endthumbnail %}
                            <span>{{ org.display_name|nbsp }}</span>
                          </button>
                        </form>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}

              </ul>
            </li>

            <li>
              {% with unread_notifications_count=unread_notifications.count %}
                {% if unread_notifications_count > 0 %}
                  <a href="{% url 'acct-notifications-unread' %}" class="black unread nav-item justify-center">
                    <span class="blue counter">{{unread_notifications_count}}</span>
                  {% else %}
                    <a href="{% url 'acct-notifications' %}" class="black nav-item justify-center">
                    {% endif %}
                  {% endwith %}
                  {% include 'lib/component/icon/notification.svg' %}
                    </a>
            </li>
            <li class="dropdown dropdown--right">
              <span class="black nav-item justify-center" data-for="#options-dropdown">{% include 'lib/component/icon/options.svg' %}</span>
              <ul id="options-dropdown">
                {% if user.is_staff %}
                  <li>
                    <a class="nav-item" href="{% if sidebar_admin_url %}{{ sidebar_admin_url }}{% else %}/admin/{% endif %}">Admin</a>
                  </li>
                {% endif %}
                <li>
                  <a class="nav-item" href="{% url 'acct-settings' %}">Settings</a>
                </li>
                <li>
                  <a class="nav-item" href="{% url 'acct-logout' %}" onclick="ga('send', 'event', 'Account', 'Logout', window.location.pathname)">Log&nbsp;Out</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'accounts-signup' %}" class="sign-up black nav-item justify-center">Sign&nbsp;Up</a></li>
            <li><a href="{% url "acct-login" %}?next={{ request.get_full_path }}" class="log-in black nav-item justify-center">Log&nbsp;In</a></li>
          {% endif %}
        {% elif user.profile.is_agency_user %} {# for agency users #}
          <li class="dropdown dropdown--right">
            <a href="{% url 'foia-agency-list' %}" class="black nav-item align-center avatar-container" data-for="#profile-dropdown">
              <span class="label">{{ user.profile.agency.name }}</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>


