<aside class="website-sidebar" id="website-sidebar">
    <form method="post" action="{% url 'acct-login' %}?next={{ request.get_full_path }}" class="quick-log-in" id="quick-log-in-form">
        {% csrf_token %}
        <h1>Log In</h1>
        {{ login_form }}
        <div class="row">
            <span class="cancel button">Cancel</span>
            <button type="submit" class="primary">Log In</button>
        </div>
    </form>
    <header class="account-links">
        {% if user.is_authenticated %}
        <a href="{% url 'acct-my-profile' %}" class="username">{{ user.get_full_name }}</a>
        <a href="{% url 'acct-logout' %}" class="log-out">Log Out</a>
        {% else %}
        <a href="{% url 'accounts' %}" class="sign-up">Sign&nbsp;Up</a>
        <a href="{% url 'acct-login' %}?next={{ request.get_full_path }}" class="log-in" id="quick-log-in">Log&nbsp;In</a>
        {% endif %}
    </header>

    {% if user.is_staff %}
    <section>
        <a class="admin" href="{% if sidebar_admin_url %}{{ sidebar_admin_url }}{% else %}/admin/{% endif %}" >Admin</a>
    </section>
    {% endif %}

    {% if user.is_authenticated %}
        {% if organization %}
    <section class="organization">
        <a href="{{organization.get_absolute_url}}">Your Organization</a>
    </section>
        {% endif %}
    <section class="requests">
        <a class="my-requests" href="{% url 'foia-mylist' %}">Your Requests</a>

        {% if actionable_requests %}
            {% if actionable_requests.payments %}
            <a class="actionable payment" href="{% url 'foia-mylist' %}?status=payment">
                <span class="payments counter">{{ actionable_requests.payments|length }}</span>
                Payment{{ actionable_requests.payments|length|pluralize }} Required
            </a>
            {% endif %}
            {% if actionable_requests.fixes %}
            <a class="actionable fixes" href="{% url 'foia-mylist' %}?status=fix">
                <span class="fixes counter">{{ actionable_requests.fixes|length }}</span>
                Fix{{ actionable_requests.fixes|length|pluralize:"es" }} Required
            </a>
            {% endif %}
            {% if actionable_requests.drafts %}
            <a class="actionable drafts" href="{% url 'foia-mylist' %}?status=started">
                <span class="drafts counter">{{ actionable_requests.drafts|length }}</span>
                Draft{{ actionable_requests.drafts|length|pluralize }}
            </a>
            {% endif %}
            {% if actionable_requests.updates %}
            <a class="actionable updated" href="{% url 'foia-mylist' %}">
                <span class="updates counter">{{ actionable_requests.updates|length }}</span>
                Update{{ actionable_requests.updates|length|pluralize }}
                {% if actionable_requests.updates|length > 10 %}
                <small>Click to see all</small>
                {% endif %}
            </a>
            <ul class="actionable-request-list">
                {% for foia in actionable_requests.updates|slice:":10" %}
                <li><a href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.pk slug=foia.slug %}">{{ foia.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
    </section>
    {% endif %}

    {% if broadcast %}
    <section class="broadcast">
        <dfn>Announcement</dfn>
        <p>{{ broadcast|safe }}</p>
    </section>
    {% endif %}

    {% if recent_articles %}
    <section class="recent articles">
        <dfn>Newest News</dfn>
        {% for article in recent_articles %}
        <a href="{{article.get_absolute_url}}" title="{{article.summary}}" class="article block">
            <p>{{ article.title }}</p>
        </a>
        {% endfor %}
    </section>
    {% endif %}

</aside>
