{% load thumbnail %}
{% load cache %}

<aside class="website-sidebar" id="website-sidebar">
    {% if not user.is_authenticated %}
    <form method="post" action="{% url 'acct-login' %}?next={{ request.get_full_path }}" class="quick-log-in" id="quick-log-in-form">
        {% csrf_token %}
        <h1>Log In</h1>
        {{ login_form }}
        <p><a class="forgot" href="{% url 'acct-reset-pw' %}">Forget your password?</a></p>
        <div class="row">
            <span class="cancel button">Cancel</span>
            <button type="submit" class="primary" onclick="ga('send', 'event', 'Account', 'Login', window.location.pathname)">Log In</button>
        </div>
    </form>
    {% endif %}
    <header class="account-links">
        {% if user.is_authenticated %}
        <a href="{% url 'acct-my-profile' %}" class="username">{{ user.get_full_name }}</a>
        <div class="dropdown">
            <div class="nav-item dropdown-trigger">
                {% include 'lib/icons/options.svg' %}
            </div>
            <ul class="dropdown-list">
                {% if user.is_staff %}<li class="dropdown-list-item"><a class="admin" href="{% if sidebar_admin_url %}{{ sidebar_admin_url }}{% else %}/admin/{% endif %}" >Admin</a></li>{% endif %}
                <li class="dropdown-list-item"><a href="{% url 'acct-settings' %}">Settings</a></li>
                <li class="dropdown-list-item"><a href="{% url 'acct-logout' %}" onclick="ga('send', 'event', 'Account', 'Logout', window.location.pathname)">Log Out</a></li>
            </ul>
        </div>
        {% else %}
        <a href="{% url 'accounts' %}" class="sign-up">Sign&nbsp;Up</a>
        <a href="{% url 'acct-login' %}?next={{ request.get_full_path }}" class="log-in" id="quick-log-in">Log&nbsp;In</a>
        {% endif %}
    </header>

    {% if payment_failed %}
    <section class="payment failure notification">
        <header>
            <p>Your payment failed!</p>
        </header>
        <main>
            <p>A recent charge made against<br>your credit card has failed.</p>
        </main>
        <footer>
            <a class="failure button" href="{% url 'acct-settings' %}#billing">Update billing info</a>
        </footer>
    </section>
    {% endif %}


    {% if user.is_authenticated %}
        {% if organization %}
    <a class="your-organization" href="{{organization.get_absolute_url}}">Your Organization</a>
        {% endif %}
    <section class="requests">
        <a class="your-requests" href="{% url 'foia-mylist' %}">Your Requests</a>

        {% if actionable_requests %}
            {% if actionable_requests.payment %}
            <a class="actionable payment" href="{% url 'foia-mylist' %}?status=payment">
                <span class="red counter">{{ actionable_requests.payment|length }}</span>
                Payment{{ actionable_requests.payment|length|pluralize }} Required
            </a>
            <ul class="payment actionable-request-list nostyle">
                {% for foia in actionable_requests.payment|slice:":10" %}
                <li><a class="truncate" href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.pk slug=foia.slug %}">{{ foia.title }}</a></li>
                {% endfor %}
                {% if actionable_requests.payment|length > 10 %}
                <li><a class="more" href="{% url 'foia-mylist' %}?status=payment">{{actionable_requests.payment|slice:"10:"|length}} More</a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% if actionable_requests.fix %}
            <a class="actionable fix" href="{% url 'foia-mylist' %}?status=fix">
                <span class="red counter">{{ actionable_requests.fix|length }}</span>
                Fix{{ actionable_requests.fix|length|pluralize:"es" }} Required
            </a>
            <ul class="fix actionable-request-list nostyle">
                {% for foia in actionable_requests.fix|slice:":10" %}
                <li><a class="truncate" href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.pk slug=foia.slug %}">{{ foia.title }}</a></li>
                {% endfor %}
                {% if actionable_requests.fix|length > 10 %}
                <li><a class="more" href="{% url 'foia-mylist' %}?status=fix">{{actionable_requests.fix|slice:"10:"|length}} More</a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% if actionable_requests.started %}
            <a class="actionable drafts" href="{% url 'foia-mylist' %}?status=started">
                <span class="blue counter">{{ actionable_requests.started|length }}</span>
                Draft{{ actionable_requests.started|length|pluralize }}
            </a>
            <ul class="actionable-request-list nostyle">
                {% for foia in actionable_requests.started|slice:":10" %}
                <li><a class="truncate" href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.pk slug=foia.slug %}">{{ foia.title }}</a></li>
                {% endfor %}
                {% if actionable_requests.started|length > 10 %}
                <li><a class="more" href="{% url 'foia-mylist' %}?status=started">{{actionable_requests.started|slice:"10:"|length}} More</a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% if actionable_requests.updates %}
            <a class="actionable updated" href="{% url 'foia-mylist' %}">
                <span class="blue counter">{{ actionable_requests.updates|length }}</span>
                Update{{ actionable_requests.updates|length|pluralize }}
            </a>
            <ul class="actionable-request-list nostyle">
                {% for foia in actionable_requests.updates|slice:":10" %}
                <li><a class="truncate" href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.pk slug=foia.slug %}">{{ foia.title }}</a></li>
                {% endfor %}
                {% if actionable_requests.updates|length > 10 %}
                <li><a class="more" href="{% url 'foia-mylist' %}">{{actionable_requests.updates|slice:"10:"|length}} More</a></li>
                {% endif %}
            </ul>
            {% endif %}
        {% endif %}
    </section>
    {% endif %}

    {% if broadcast %}
    <section class="broadcast">
        <dfn>Announcement</dfn>
        <p>{{ broadcast|safe }}</p>
    </section>
    {% endif %}

    {% if recent_articles %}
    {% cache 600 recent_articles %}
    <section class="recent articles">
        {% for article in recent_articles %}
        <a href="{{article.get_absolute_url}}" title="{{article.summary}}" class="article">
            <img src="{% thumbnail article.image 250x100 crop %}" />
            <p>{{ article.title }}</p>
        </a>
        {% endfor %}
    </section>
    {% endcache %}
    {% endif %}

</aside>
