<aside class="website-sidebar" id="website-sidebar">
    <header class="account-links">
        {% if user.is_authenticated %}
        <a href="{% url 'acct-my-profile' %}" class="username">{{ user.get_full_name }}</a>
        <a href="{% url 'acct-logout' %}" class="log-out">Log Out</a>
        {% else %}
        <a href="{% url 'acct-register' %}" class="sign-up">Sign&nbsp;Up</a>
        <a href="{% url 'acct-login' %}" class="log-in">Log&nbsp;In</a>
        {% endif %}
    </header>


    {% if user.is_authenticated %}
    <section class="requests">
        <a class="my-requests" href="{% url 'foia-mylist' %}">My Requests</a>

        {% if actionable_requests %}
            {% if actionable_requests.payments %}
            <a class="actionable payment" href="{% url 'foia-mylist' %}?status=payment">
                <span class="payments counter">{{ actionable_requests.payments|length }}</span>
                Payment{{ actionable_requests.payments|length|pluralize }} Required
            </a>
            {% endif %}
            {% if actionable_requests.fixes %}
            <a class="actionable fixes" href="{% url 'foia-mylist' %}?status=fix">
                <span class="fixes counter">{{ actionable_requests.fixes|length }}</span>
                Fix{{ actionable_requests.fixes|length|pluralize:"es" }} Required
            </a>
            {% endif %}
            {% if actionable_requests.drafts %}
            <a class="actionable drafts" href="{% url 'foia-mylist' %}?status=started">
                <span class="drafts counter">{{ actionable_requests.drafts|length }}</span>
                Draft{{ actionable_requests.drafts|length|pluralize }}
            </a>
            {% endif %}
            {% if actionable_requests.updates %}
            <a class="actionable updated" href="{% url 'foia-mylist' %}">
                <span class="updates counter">{{ actionable_requests.updates|length }}</span>
                Update{{ actionable_requests.updates|length|pluralize }}
                {% if actionable_requests.updates|length > 10 %}
                <small>Click to see all</small>
                {% endif %}
            </a>
            <ul class="actionable-request-list">
                {% for foia in actionable_requests.updates|slice:":10" %}
                <li><a href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.pk slug=foia.slug %}">{{ foia.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
    </section>
    {% endif %}

    {% if broadcast %}
    <section class="broadcast">
        <dfn>Announcement</dfn>
        <p>{{ broadcast|safe }}</p>
    </section>
    {% endif %}

    <section class="newsletter">
        <dfn>Stay FOIA-Informed</dfn>
        <p>Sign up for our weekly newsletter.</p>
        <form name="newsletterSignup" action="//muckrock.us2.list-manage.com/subscribe/post?u=74862d74361490eca930f4384&amp;id=20aa4a931d" method="post">
            <input type="text" for="mce-EMAIL" value="" name="EMAIL" id="mce-EMAIL" placeholder="your.email@biz.com"></input>
            <input type="submit" value="Subscribe" style="display: none;" />
            <span class="input-button" id="newsletter-button" onclick="newsletterSignup.submit()">
                <svg width="25px" height="25px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Envelope Icon</title>
                    <description>Symbolizes an email action.</description>
                    <path d="M19.291,3.026c0.002-0.15-0.053-0.301-0.167-0.415c-0.122-0.122-0.286-0.172-0.444-0.161H1.196
                                c-0.16-0.011-0.322,0.039-0.444,0.161C0.637,2.725,0.583,2.875,0.585,3.026c0,0.003-0.002,0.006-0.002,0.009v14.032
                                c0,0.322,0.262,0.584,0.585,0.584h17.54c0.322,0,0.584-0.262,0.584-0.584V3.035C19.292,3.032,19.291,3.029,19.291,3.026z
                                 M17.147,3.619l-7.21,6.251L2.728,3.619H17.147z M18.122,15.896c0,0.323-0.261,0.584-0.584,0.584H2.337
                                c-0.323,0-0.585-0.261-0.585-0.584V4.292l7.732,6.704c0.013,0.017,0.019,0.035,0.034,0.052c0.115,0.114,0.268,0.169,0.419,0.166
                                c0.151,0.003,0.304-0.052,0.419-0.166c0.015-0.017,0.021-0.035,0.034-0.052l7.731-6.704V15.896z" id="email-icon"></path>
                </svg>
            </span>
        </form>
    </section>

    {% if recent_articles %}
    <section class="recent articles">
        <dfn>Newest News</dfn>
        {% for article in recent_articles %}
        <a href="{{article.get_absolute_url}}" title="{{article.summary}}" class="article block">
            <p>{{ article.title }}</p>
        </a>
        {% endfor %}
    </section>
    {% endif %}

</aside>
