$nav-border: 1px solid $color-grey-6;
$nav-background: #FFFFFF;

@mixin nav-item-hover {
    color: $nav-background;
    background: $color-blue;
    path { fill: $nav-background; }
    a:hover {
        color: $nav-background;
    }
}

@mixin nav-item-color {
    color: $color-black;
    path { fill: $color-black; }
    a {
        color: $color-black;
    }
    &:hover {
        @include nav-item-hover;
    }
}

///////////////////////////////////////

.website-header {
    margin-bottom: 0;
}

.website-header .search-form {
    display: none;
    &.visible {
        @include display(flex);
    }
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    @include align-items(center);
    margin-bottom: 0;
    border-top: $nav-border;
    border-bottom: $nav-border;
    background-color: $nav-background;
    input[type="search"] {
        max-width: 100%;
        width: 100%;
        padding: 0 $vertical-rhythm;
        border: none;
        border-radius: 0;
        outline: none;
    }
    .search-cancel {
        width: auto;
        padding: $vertical-rhythm/2 $vertical-rhythm;
        text-align: right;
        cursor: pointer;
        color: $color-blue;
        &:hover {
            color: $color-blue-dark;
        }
    }
}

// Logo visibility depends on viewport size
.website-header .brand {
    .logotype {
        display: none;
        visibility: hidden;
    }
    .logo {
        display: block;
        visibility: visible;
    }
    @include media($large-layout) {
        .logotype {
            display: block;
            visibility: visible;
        }
        .logo {
            display: none;
            visibility: hidden;
        }
    }
}

.nav-section {
    @include display(flex);
    margin-bottom: 0;
}

.nav-item {
    display: inline-block;
    width: 2.75em;
    padding: $vertical-rhythm/2;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    text-align: center;
    @include nav-item-color;
    a {
        display: block;
    }
    .icon {
        vertical-align: middle;
    }
    .label {
        display: none;
        vertical-align: bottom;
    }
    @include media($medium-layout) {
        width: auto;
        padding: $vertical-rhythm/2;
        text-align: left;
        .label {
            display: inline;
        }
    }
}

nav.website-navigation {
    position: relative;
    background-color: $nav-background;
    border-bottom: $nav-border;
    @include display(flex);
    @include justify-content(space-between);

    /*
    .create-request-button {
        @include nav-item-hover;
        &:hover {
            background: $color-blue-dark;
        }
    }
    */

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
    }

    .brand {
        margin-bottom: 0;
        // padding: 0;
        // line-height: .7em;
        svg {
            height: 22px;
            width: auto;
            vertical-align: middle;
        }
        .logo svg {
            transform: scale(1.3);
        }
    }

    .search-button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: $font-weight-bold;
        cursor: pointer;
        .label {
            margin-left: $vertical-rhythm/4;
        }
        &.active {
            @include nav-item-hover;
        }
    }

    .social-links {
        float: right;
        .label { display: none; }
    }

    .website-sections-button {
        display: none;
        .label {
            margin-left: $vertical-rhythm/4;
        }
    }

    @media (max-width: 700px) {
        padding-left: 0;
        .website-sections {
            display: none;
            width: 100%;
            background: $nav-background;
            border: $nav-border;
            li {
                display: block;
            }
        }
        .website-sections-button {
            display: inline-block;
            margin-bottom: 0;
            &.active {
                @include nav-item-hover;
            }
        }
        .website-sections.visible {
            display: block;
            position: absolute;
            top: 100%;
        }
    }
}


#modal-overlay {
    position: fixed;
    top: -9999px;
    left: 0;
    height: 110%;
    width: 100vw;
    z-index: 200;
    background-color: $color-black;
    opacity: 0;
    transition: top 0s .25s, opacity .25s linear;
    &.visible {
        top: 0;
        opacity: .9;
        transition: top 0s 0s, opacity .25s linear;
    }
    &:hover {
        cursor: pointer;
    }
}
