@mixin drop-shadow() {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

.website-header {
    @include drop-shadow;
    margin-bottom: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: $nav-background;
    border-bottom: $nav-border;
    & + * {
        // The top margin accounts for the fixed header
        margin-top: 2.6875em;
    }
    @media($sidebar-bp) {
        right: 15.625em;
    }
}

.website-header .search-form {
    @include drop-shadow;
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    margin-bottom: 0;
    border-top: $nav-border;
    border-bottom: $nav-border;
    background-color: $nav-background;
    &.visible {
        display: block;
    }
    .search-form-container {
        @include display(flex);
        @include align-items(center);
    }
    input[type="search"] {
        max-width: 100%;
        width: 100%;
        padding: 0 $vertical-rhythm;
        border: none;
        border-radius: 0;
        outline: none;
    }
    .search-cancel {
        width: auto;
        padding: $vertical-rhythm/2 $vertical-rhythm;
        font-weight: $font-weight-bold;
        text-align: right;
        cursor: pointer;
        color: $color-blue;
        &:hover {
            color: $color-blue-dark;
        }
    }
}

// Logo visibility depends on viewport size
.website-header .brand {
    .logotype {
        display: none;
        visibility: hidden;
    }
    .logo {
        display: block;
        visibility: visible;
    }
    @media($logo-bp) {
        .logotype {
            display: block;
            visibility: visible;
        }
        .logo {
            display: none;
            visibility: hidden;
        }
    }
}

.nav-section {
    @include display(flex);
    @include align-items(center);
    margin-bottom: 0;
}

.nav-item {
    display: inline-block;
    width: auto;
    min-width: 2.75em;
    height: 42px;
    padding: $vertical-rhythm/2;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: $font-weight-bold;
    text-align: center;
    cursor: pointer;
    @include nav-item-color;
    a {
        display: block;
    }
    .icon {
        // margin-top: $vertical-rhythm/8;
        vertical-align: middle;
    }
    .label {
        display: none;
        margin: 0 $vertical-rhythm/4;
        vertical-align: middle;
        line-height: $font-line-height;
    }
    &.dark {
        background: $color-grey-2;
        color: $color-white;
        svg path {
            fill: $color-white;
        }
        &:hover {
            background: $color-blue;
        }
    }
    @media(min-width:18em) {
        &.website-sections-button .label {
            display: inline;
        }
    }
    @include media($medium-layout) {
        padding: $vertical-rhythm/2;
        .icon {
            margin-top: 0;
        }
        .label {
            display: inline;
        }
    }
}

nav.website-navigation {
    @include display(flex);
    @include justify-content(space-between);
    max-height: 42px;
    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
    .brand {

        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        margin-bottom: 0;
        svg {
            height: 22px;
            width: auto;
            vertical-align: middle;
        }
        .logo svg {
            transform: scale(1.3);
        }
    }

    .search-button {
        display: inline-block;
        margin-bottom: 0;
        cursor: pointer;
        &.active {
            @include nav-item-hover;
        }
    }


    .website-sections-button {
        display: none;
    }

    @media($nav-bp) {
        padding-left: 0;
        .website-sections {
            @include drop-shadow;
            display: none;
            width: 100%;
            background: $nav-background;
            border-top: $nav-border;
            border-bottom: $nav-border;
            li {
                display: block;
            }
        }
        .website-sections-button {
            display: inline-block;
            margin-bottom: 0;
            &.active {
                @include nav-item-hover;
            }
        }
        .website-sections.visible {
            display: block;
            position: absolute;
            z-index: 100;
            left: 0;
            top: 100%;
        }
        .website-sections .nav-item {
            width: auto;
            display: block;
            text-align: center;
        }
    }

    @media($sidebar-bp) {
        .sidebar-toggle {
            display: none;
        }
        .create-request-button {
            border-right: 1px solid $color-grey-3;
        }
    }
}
