$nav-border: 1px solid $color-grey;
$nav-background: #FFFFFF;

@mixin nav-item-hover {
    color: $nav-background;
    background: $color-blue;
    svg path { fill: $nav-background; }
    a:hover {
        color: $nav-background;
    }
}

@mixin nav-item-color {
    color: $color-black;
    path { fill: $color-black; }
    a {
        color: $color-black;
    }
    &:hover {
        @include nav-item-hover;
    }
}

.website-header {
    margin-bottom: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: $nav-background;
    border-bottom: $nav-border;
    & + * {
        // The top margin accounts for the fixed header
        margin-top: 2.6875em;
    }
    @include media($large-layout) {
        right: 15.625em;
    }
}

.website-header .search-form {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    margin-bottom: 0;
    border-top: $nav-border;
    border-bottom: $nav-border;
    background-color: $nav-background;
    &.visible {
        display: block;
    }
    .search-form-container {
        @include display(flex);
        @include align-items(center);
    }
    input[type="search"] {
        max-width: 100%;
        width: 100%;
        padding: 0 $vertical-rhythm;
        border: none;
        border-radius: 0;
        outline: none;
    }
    .search-cancel {
        width: auto;
        padding: $vertical-rhythm/2 $vertical-rhythm;
        font-weight: $font-weight-bold;
        text-align: right;
        cursor: pointer;
        color: $color-blue;
        &:hover {
            color: $color-blue-dark;
        }
    }
}

// Logo visibility depends on viewport size
.website-header .brand {
    .logotype {
        display: none;
        visibility: hidden;
    }
    .logo {
        display: block;
        visibility: visible;
    }
    @include media($large-layout) {
        .logotype {
            display: block;
            visibility: visible;
        }
        .logo {
            display: none;
            visibility: hidden;
        }
    }
}

.nav-section {
    @include display(flex);
    margin-bottom: 0;
}

.nav-item {
    display: inline-block;
    width: 2.75em;
    padding: $vertical-rhythm/2;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    text-align: center;
    cursor: pointer;
    @include nav-item-color;
    a {
        display: block;
    }
    .icon {
        vertical-align: middle;
    }
    .label {
        display: none;
        vertical-align: bottom;
    }
    &.dark {
        background: $color-grey-2;
        color: $color-white;
        svg path {
            fill: $color-white;
        }
        &:hover {
            background: $color-blue;
        }
    }
    @include media($medium-layout) {
        width: auto;
        padding: $vertical-rhythm/2;
        text-align: left;
        .label {
            display: inline;
        }
    }
}

nav.website-navigation {
    @include display(flex);
    @include justify-content(space-between);
    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
    .brand {
        margin-bottom: 0;
        // padding: 0;
        // line-height: .7em;
        svg {
            height: 22px;
            width: auto;
            vertical-align: middle;
        }
        .logo svg {
            transform: scale(1.3);
        }
    }

    .search-button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: $font-weight-bold;
        cursor: pointer;
        .label {
            margin-left: $vertical-rhythm/4;
        }
        &.active {
            @include nav-item-hover;
        }
    }


    .website-sections-button {
        display: none;
        .label {
            margin-left: $vertical-rhythm/4;
        }
    }

    @media (max-width: 47em) {
        padding-left: 0;
        .website-sections {
            display: none;
            width: 100%;
            background: $nav-background;
            border-top: $nav-border;
            border-bottom: $nav-border;
            li {
                display: block;
            }
        }
        .website-sections-button {
            display: inline-block;
            margin-bottom: 0;
            &.active {
                @include nav-item-hover;
            }
        }
        .website-sections.visible {
            display: block;
            position: absolute;
            z-index: 100;
            left: 0;
            top: 100%;
        }
        .website-sections .nav-item {
            width: auto;
            display: block;
            text-align: center;
        }
    }

    @include media($large-layout) {
        .sidebar-toggle {
            display: none;
        }
        .create-request-button {
            border-right: 1px solid $color-grey-3;
        }
    }
}
