$nav-border: 1px solid $color-grey-6;
$nav-background: #FFFFFF;

@mixin nav-item-hover {
    color: $nav-background;
    background: $color-blue;
    path { fill: $nav-background; }
}

@mixin nav-item-color {
    color: $color-black;
    path { fill: $color-black; }
    &:hover {
        @include nav-item-hover;
    }
}

///////////////////////////////////////

.website-header {
    margin-bottom: 0;
}

// Logo visibility depends on viewport size
.website-header .brand {
    .plaintext {
        display: none;
    }
    .logotype {
        display: none;
    }
    .logo {
        display: block;
    }
    @include media($medium-layout) {
        .logotype {
            display: block;
        }
        .logo {
            display: none;
        }
    }
}

nav.primary {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    padding-left: $vertical-rhythm/2;
    padding-right: $vertical-rhythm/2;
    @include media($medium-layout) {
        padding-left: $vertical-rhythm;
        padding-right: $vertical-rhythm;
    }
    .brand {
        margin-bottom: 0;
    }
    .muckrock-logo {
        display: block;
        margin-bottom: 0;
        svg {
            vertical-align: middle;
        }
        path {
            @include transition(fill .25s linear);
            fill: $color-black;
        }
        &:hover path {
            fill: $color-blue;
        }
    }
    @include media($large-layout) {
        #create-request-button {
            padding-right: 0;
        }
        #sidebar-button {
            display: none;
        }
    }
}

nav.website-navigation {
    position: relative;
    margin-bottom: $vertical-rhythm/2;
    background-color: $nav-background;
    border-bottom: $nav-border;
    ul {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        text-decoration: none;
    }
    .nav-item {
        padding: $vertical-rhythm/2;
        margin-bottom: 0;
        font-weight: $font-weight-bold;
        @include nav-item-color;
    }
    .search-form {
        display: none;
        &.visible {
            @include display(flex);
        }
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        @include align-items(center);
        margin-bottom: 0;
        border-top: $nav-border;
        border-bottom: $nav-border;
        background-color: $nav-background;
        input[type="search"] {
            max-width: 100%;
            width: 100%;
            padding: 0 $vertical-rhythm;
            border: none;
            border-radius: 0;
            outline: none;
        }
        .search-cancel {
            width: auto;
            padding: $vertical-rhythm/2 $vertical-rhythm;
            text-align: right;
            cursor: pointer;
            color: $color-blue;
            &:hover {
                color: $color-blue-dark;
            }
        }
    }

    .icon {
        vertical-align: middle;
    }

    .search-button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: $font-weight-bold;
        cursor: pointer;
        .label {
            margin-left: $vertical-rhythm/4;
        }
        &.active {
            @include nav-item-hover;
        }
    }

    .social-links {
        float: right;
        .label { display: none; }
    }

    .website-sections-button {
        display: none;
        .label {
            margin-left: $vertical-rhythm/4;
        }
    }

    @media (max-width: 700px) {
        padding-left: 0;
        .website-sections {
            display: none;
            width: 100%;
            background: $nav-background;
            border: $nav-border;
            li {
                display: block;
            }
        }
        .website-sections-button {
            display: inline-block;
            margin-bottom: 0;
            &.active {
                @include nav-item-hover;
            }
        }
        .website-sections.visible {
            display: block;
            position: absolute;
            top: 100%;
        }
    }
}


#modal-overlay {
    position: fixed;
    top: -9999px;
    left: 0;
    height: 110%;
    width: 100vw;
    z-index: 200;
    background-color: $color-black;
    opacity: 0;
    transition: top 0s .25s, opacity .25s linear;
    &.visible {
        top: 0;
        opacity: .9;
        transition: top 0s 0s, opacity .25s linear;
    }
    &:hover {
        cursor: pointer;
    }
}
