// page positioning

$sidebar-width: 15.625em;

.website-sidebar {
    position: fixed;
    z-index: -100;
    top: 0;
    right: -9999px;
    transition: right 0s .3s;
    &.visible {
        z-index: 0;
        right: 0;
        transition: right 0s 0s;
    }
}

.website-sidebar + .container {
    @include transition(transform .25s ease-in-out);
}

.website-sidebar.visible + .container {
    @include transform(translateX(-1 * $sidebar-width));
}

@include media($large-layout) {
    .website-sidebar {
        z-index: 100;
        right: 0;
        box-shadow: inset 4px 0px 8px rgba(0, 0, 0, 0.25);
    }
    .website-sidebar.visible + .container {
        @include transform(translateX(0));
    }
    .website-sidebar + .container {
        margin-right: $sidebar-width;
    }
}

.website-sidebar {
    width: $sidebar-width;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $color-grey-2;
    color: $color-grey-5;
    dfn {
        color: $color-white;
    }

    & > * {
        margin-bottom: $vertical-rhythm/2;
        &:last-child {
            margin-bottom: $vertical-rhythm/2;
        }
    }

    .quick-log-in {
        position: absolute;
        margin: 0;
        border-bottom: 1px solid $color-black-pure;
        padding: $vertical-rhythm;
        background: $color-black;
        color: $color-white;
        h1 {
            font-size: $font-size-5;
            font-weight: $font-weight-bold;
        }
        input {
            width: 100%;
            margin-bottom: $vertical-rhythm;
            color: $color-black;
        }
        .row {
            @include display(flex);
            @include justify-content(space-between);
        }
        @include transition(transform .25s ease-in-out);
        @include transform(translateY(-100%));
        &.visible {
            @include transform(translateY(0));
        }
    }

    .account-links {
        @include display(flex);
        width: 100%;
        border-bottom: 1px solid $color-grey-3;
        border-left: 1px solid $color-grey-3;
        background-color: $color-black;
        font-weight: $font-weight-bold;
        .username, .sign-up, .log-in {
            @include flex(1);
            @include overflow-ellipsis;
            padding: $vertical-rhythm/2;
            text-align: center;
            color: $color-white;
            text-decoration: none;
            &:hover {
                background-color: $color-blue;
            }
        }
        .nav-item {
            width: 2.75em;
            text-align: center;
            .icon {
                vertical-align: middle;
                path {
                    fill: $color-white;
                }
            }
        }
        .visible .nav-item {
            background: $color-blue;
        }
        .dropdown-list-item {
            font-size: $font-size-2;
        }
    }

    section {
        width: 100%;
        padding: $vertical-rhythm/2 $vertical-rhythm;
        color: $color-grey-6;
        font-size: $font-size-3;
        line-height: $vertical-rhythm;
        dfn {
            color: $color-white;
        }
        p {
            margin-bottom: $vertical-rhythm/2;
        }


        &.failure {
            strong {
                color: $color-red;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }

    .organization a, .my-requests, .admin {
        display: block;
        width: 100%;
        font-weight: $font-weight-bold;
    }

    .requests {

        .actionable {
            display: block;
            height: auto;
            margin: $vertical-rhythm 0 0;
            border: none;
            color: $color-grey-6;
            font-size: $font-size-3;
            font-weight: $font-weight-bold;
            text-align: left;
            text-decoration: none;
            @include transition(color .25s linear);

            &:first-child {
                margin-top: $vertical-rhythm/2;
            }

            &:hover {
                color: $color-blue;
                .counter {
                    background: $color-blue;
                }
            }

            .counter {
                @include transition(background-color .25s linear);
                margin-right: $vertical-rhythm/4;
                padding: $vertical-rhythm/5 $vertical-rhythm/1.5;
                @include border-radius;
                font-weight: $font-weight-bold;
                text-align: center;
                color: $color-white;
                background: $color-grey-2;
            }
        }

        .actionable-request-list {
            display: block;
            overflow: hidden;
            padding: $vertical-rhythm;
            li {
                @include full;
                @include overflow-ellipsis;
                display: list-item;
                margin-bottom: $vertical-rhythm/2;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                display: block;
                color: $color-grey-6;
            }
        }
    }

    .recent.articles {
        padding: 0;
        margin-bottom: 0;
        dfn, .article {
            padding: $vertical-rhythm/2 $vertical-rhythm;
        }
        .article {
            display: block;
            width: 100%;
            color: $color-grey-6;
            border-bottom: 1px solid $color-grey-0;
            @include transition(background-color .25s linear, color .25s linear);
            &:hover {
                color: $color-white;
                background-color: $color-grey-0;
                text-decoration: none;
            }
            &:last-child {
                border-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
    }

}
