{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}

{% block title %}MuckRock &bull; Admin Fix{% endblock %}
{% block form-type %}admin-fix{% endblock %}
{% block form-title %}Admin Fix{% endblock %}

{% block form-form %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'lib/pattern/form.html' %}
    {% if formset %}
    <div class="formset-forms">
        {{ formset.management_form }}
        {% for form in formset.forms %}
		<span class="formset-container">
            {% include 'lib/pattern/form.html' %}
		</span>
        {% endfor %}
    </div>
    {% endif %}
    <input type="submit" class="blue button" />
</form>
{% endblock form-form %}
