{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}

{% block title %}MuckRock &bull; Admin Fix{% endblock %}
{% block form-type %}admin-fix{% endblock %}
{% block form-title %}Admin Fix{% endblock %}

{% block form-form %}
<form method="post" enctype="multipart/form-data">
    <span>Attachments</span>
    {% csrf_token %}
    {% include 'lib/pattern/form.html' %}
    <label class="bold">Attachments</label>
    <div id="fine-uploader"></div>
    <input type="submit" class="blue button" />
</form>
{% endblock form-form %}

{% block scripts %}
    {% include 'lib/component/fine-uploader.html' %}
{% endblock scripts %}
