{% extends 'base.html' %}
{% load static %}
{% load rules %}

{% block title %}MuckRock &bull; New Request{% endblock %}

{% load mathfilters %}

{% block styles %}
  <style>
.new-request .select2 .select2-selection__choice__remove {
  background-image:url("{% static 'img/remove.png' %}") !important;
}
  </style>
{% endblock styles %}

{% block content %}
  <div class="foia__create form">
    <div class="new-request">
      <header class="grid__row">
        {% if clone %}
          <h1 class="grid__column half">Clone a request</h1>
          <summary class="grid__column half">
            Make any changes to the request, then clone it.
          </summary>
        {% else %}
          <h1 class="grid__column half">File a request</h1>
          <summary class="grid__column half">
            Not sure where to start? <a href="{% url "project-detail" slug="foia-101-tips-and-tricks-to-make-you-a-transparency-master" pk=234 %}">Check out our FOIA guides.</a>
            <br>
            {% if featured %}
              Out of ideas? <a href="#clone">Try cloning a request.</a>
              <br>
            {% endif %}
            <noscript>
              It looks like you have JavaScript turned off. This page requires
              JavaScript to function. If you are not willing to enable
              JavaScript, please send an email containing all necessary
              information to file and we will create your request for you.
            </noscript>
          </summary>
        {% endif %}
      </header>
      {% if composer %}
        <div class="form-status-holder badge hidden">Autosave enabled</div>
      {% endif %}
      {% if form.non_field_errors or form.errors %}
        <div class="error message">
          <span class="symbol">
            {% include 'lib/component/icon/error.svg' %}
          </span>
          <span class="text">
            <p>The form could not be submitted due to the following errors:</p>
            {{ form.non_field_errors }}
            {% for field in form %}
              {% if field.errors %}
                <p><strong>{{ field.label }}:</strong> {{field.errors.as_text|cut:"* "}}</p>
              {% endif %}
            {% endfor %}
            </dl>
          </span>
        </div>
        </section>
      {% endif %}
      <form
        action="{% if composer %}{% url "foia-draft" idx=composer.pk %}{% endif %}"
        method="post"
        class="create-request {% if composer.edited_boilerplate or clone.edited_boilerplate %}edited-boilerplate{% endif %}"
        {% if composer %}data-composer-pk="{{ composer.pk }}"{% endif %}
        >
        {% csrf_token %}
        {% for field in form.hidden_fields %}
          {% if field.name != "use_contact_information" %}
            {% comment %}
              Use contact information needs to be rendered below within the
              .contact-info div so the javascript can find it
            {% endcomment %}
            {{ field }}
          {% endif %}
        {% endfor %}

        {% include "lib/pattern/new_request_field.html" with field=form.title only %}
        {% include "lib/pattern/new_request_field.html" with field=form.agencies only %}
        <div class="document-boilerplate intro">
          {{ intro|safe|linebreaks }}
        </div>
        {% include "lib/pattern/new_request_field.html" with field=form.requested_docs only %}
        <div class="document-boilerplate outro">
          {{ outro|safe|linebreaks }}
        </div>
        <div class="tags-explanation">
          <p>Words in { brackets } are automatically replaced based on the agency and jurisdiction. You can use the following variables:</p>
          <dl>
            <dt>{ law name }</dt>
            <dd>Inserts the full name of the relevant transparency law, i.e. Freedom of Information Act.</dd>
            <dt>{ short name }</dt>
            <dd>Inserts the abbreviation of the relevant transparency law, i.e., FOIA.</dd>
            <dt>{ days }</dt>
            <dd>Inserts the number of days the law permits before a response is required, or a default of 10 days if no requirement.</dd>
            <dt>{ waiver }</dt>
            <dd>Inserts the jurisdiction appropriate fee waiver language if available, or generic fee waiver language otherwise</dd>
            <dt>{ name }</dt>
            <dd>Inserts your name. <a href="{% url "acct-settings" %}">Change that here.</a></dd>
            <dt>{ closing }</dt>
            <dd>This will be replaced with a suitable closing for the letter.</dd>
            <dt>{ agency name }</dt>
            <dd>Inserts the name of the agency.</dd>
          </dl>
        </div>

        <hr class="nomargin">
        {% if form.embargo %}
          {% include "lib/pattern/new_request_field.html" with field=form.embargo only %}
          {% if form.permanent_embargo %}
            {% include "lib/pattern/new_request_field.html" with field=form.permanent_embargo only %}
          {% endif %}
        {% else %}
          <fieldset class="no-embargo">
            <p>This request will be filed publicly. Need to keep your request private?
            <a href="{% url "accounts-upgrade" %}">
              Upgrade to a Pro or Organizational account
            </a>
            to embargo your request as long as you need to.</p>
          </fieldset>
        {% endif %}

        {% include "lib/pattern/new_request_field.html" with field=form.no_proxy only %}

        {% if user.is_authenticated %}
          <fieldset class="advanced">
            <span class="toggle-advanced">&#9654; Advanced Options</span>
          </fieldset>
          <div class="advanced-container">
            {% include "lib/pattern/new_request_field.html" with field=form.edited_boilerplate only %}
            {% include "lib/pattern/new_request_field.html" with field=form.tags only %}
            <fieldset class="attachments">
              <label class="bold">Attachments</label>
              {% if composer %}
                <div id="fine-uploader" class="fine-uploader-composer" data-composer-pk="{{ composer.pk }}"></div>
              {% else %}
                <p>Please save this request before uploading attachments</p>
              {% endif %}
            </fieldset>
          </div>
        {% else %}
          <hr class="nomargin">
          <div class="register-form">
            {% include "lib/pattern/new_request_field.html" with field=form.register_full_name only %}
            {% include "lib/pattern/new_request_field.html" with field=form.register_email only %}
            {% include "lib/pattern/new_request_field.html" with field=form.register_newsletter only %}
          </div>
          <div class="login-form">
            {% include "lib/pattern/new_request_field.html" with field=form.login_username only %}
            {% include "lib/pattern/new_request_field.html" with field=form.login_password only %}
          </div>
        {% endif %}

        {% if user.is_authenticated %}
          <footer class="footer--submit">
            <p id="submit_help" class="error"></p>
            <div class="requests-left"
                 data-month="{{ requests_left.monthly }}"
                 data-reg="{{ requests_left.regular }}"
                 >
              <p>
                You are currently working on behalf of
                {% if organization.individual %}
                  your personal account
                {% else %}
                  the organization {{ organization.name }}
                {% endif %}
                {% if other_organizations %}
                  <a href="{% url "acct-settings" %}#organization">
                    (Switch to {{ other_organizations }})
                  </a>.
                {% endif %}
              </p>
              <p>
                You have
                {% if organization.requests_per_month > 0 %}
                  <strong>{{ requests_left.monthly }}</strong>
                  monthly requests left and
                {% endif %}
                <strong>{{ requests_left.regular }}</strong> purchased requests
                left.
              </p>
              <p class="using-requests">
              </p>
              {% if request_organizations %}
                <p class="request-organizations">
                  , or
                  <a href="{% url "acct-settings" %}#organization">
                    switch your active account to {{ request_organizations }}
                  </a>,
                  which have requests left you can use.
                </p>
              {% endif %}
            </div>

            <div class="buy-section{% if not user.profile.is_advanced %} hide-form{% endif %}">
              {% if organization != payer %}
                <p><strong>Note:</strong> Since you are not an admin of your currently active organization, {{ organization.name }}, requests will be purchased using your personal payment information.</p>
              {% endif %}
              {% if not user.profile.is_advanced %}
                <p class="simple-buy">
                  Click buy &amp; submit to purchase a bundle of
                  <span class="amount">4</span> requests
                  for <span class="price">$20</span>, or
                  <a href="#" class="show-buy-form">
                    see our other pricing options, including bulk discounts and
                    Pro tools.
                  </a>
                </p>
              {% endif %}
              {% include "lib/pattern/buy_requests.html" with user=user form=form only %}
            </div>

            <div class="contact-info">
              <a class="see-where" href="#">See {% if perms.foia.set_info_foiarequest %}where{% else %}how{% endif %} this request will be sent</a>
              <div class="info">
                This request <span></span>
                {% if perms.foia.set_info_foiarequest %}
                  <p><a href="#" class="change">Not where this needs to go?</a></p>
                {% endif %}
              </div>
              {% if perms.foia.set_info_foiarequest %}
                <div class="form">
                  {{ form.use_contact_information }} {# this is a hidden field #}
                  {% include "lib/pattern/field.html" with field=form.via only %}
                  {% include "lib/pattern/field.html" with field=form.email only %}
                  {% include "lib/pattern/field.html" with field=form.other_email only %}
                  {% include "lib/pattern/field.html" with field=form.fax only %}
                  {% include "lib/pattern/field.html" with field=form.other_fax only %}
                  <a href="#" class="cancel">Cancel</a>
                </div>
              {% endif %}
            </div>

            <div class="button-group">
              {% if composer %}
                <button type="button" class="failure button" id="delete_button">
                  Delete
                </button>
              {% endif %}
              <button type="button" class="button" id="save_button">
                Save
              </button>
              <button type="button" class="primary button" id="submit_button">
                Submit
              </button>
            </div>
          </footer>
        {% else %}
          <footer class="footer--signup">
            <p>
              <span class="register-toggle-text">
                Create a MuckRock account and file up to four requests for just
                $20, or go Pro for 20 requests a month
                with the option to keep your submissions private.
                Already have an account?
              </span>
              <span class="login-toggle-text">
                Log in to your account before submitting your request.
                Don't have an account yet?
              </span>
              <a href="#" class="login-toggle-link">Log in</a>.
            </p>
            <p id="submit_help" class="error"></p>
            <div class="footer--submit">
              <button
                 type="submit"
                 class="primary button"
                 name="action"
                 value="save"
                 id="save_button"
                 onclick="ga('send', 'event', 'Account', 'Registration', window.location.pathname)">Create Account and Save Request</button>
            </div>
          </footer>
        {% endif %}

        <div class="modal" id="email-warning-modal" data-foias-filed="{{foias_filed}}">
          <p>Hi! It looks like you included your email address this in your request. When you file with MuckRock, we generate a unique email and physical address for every request to keep things organized. We include that information in what we send to the agency, so no need to add your contact information on this form. If you're including an email address to help the agency search for responsive documents, simply hit "Submit." If you'd like to edit the body of your request, click "Revise Request." You'll only see this message until you've submitted your first request.<p>
          <footer>
            <button type="submit" class="primary button">Submit</button>
            <span class="close-modal button">Revise Request</span>
          </footer>
        </div>

      </form>
    </div>
    {% if featured and not clone %}
      <div class="clone-candidates" id="clone">
        <h2>Looking for inspiration? Clone a request below, then tweak it how you want.</h2>
        {% for foia in featured %}
          {% include 'lib/foia.html' with foia=foia %}
        {% endfor %}
      </div>
  </div>
{% endif %}

<div class="modal" id="similar-agency-modal">
  <h1>The agency you selected isn't in our database yet.</h1>
  <p>Double check that it's not a match with one of the similarly spelled agencies below, and if not we'll research and send your request on its way.<p>
  <p class="error"></p>
  <div>
    <select name="replacement-agency" id="replacement-agency" size="10">
      <option>Loading...</option>
    </select>
  </div>
  <button id="new-agency-button" class="primary button">Create New Agency and File</button>
  &nbsp;
  <button id="replacement-agency-button" class="button">File to Highlighted Agency</button>
</div>

{% endblock %}

{% block scripts %}
  {% include 'lib/component/fine-uploader.html' %}
  <script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
{% endblock scripts %}
