{% extends 'base.html' %}
{% block title %}MuckRock &bull; New Multirequest{% endblock %}
{% load static from staticfiles %}

{% block content %}
<div class="new-multi-request">
    
    <ul class="chosen agencies">
    </ul>
    <div id="agency-list">
        <input class="search" />
        <span class="sort" data-sort="name">Sort by name</span>    
        <ul class="choice agencies list">
        {% for agency in agencies %}
            <li class="agency">
                <div class="id">{{ agency.id }}</div>
                <div class="name">{{ agency.name }}</div>
                <div class="jurisdiction">{{ agency.jurisdiction.name }}</div>
                <div class="type">{{ agency.types.all|join:", " }}</div>
                <div class="button add">
                    <svg class="svg-icon" id="icon-add" viewBox="0 0 20 20">
                        <path fill="none" d="M13.68,9.448h-3.128V6.319c0-0.304-0.248-0.551-0.552-0.551S9.448,6.015,9.448,6.319v3.129H6.319
                                    c-0.304,0-0.551,0.247-0.551,0.551s0.247,0.551,0.551,0.551h3.129v3.129c0,0.305,0.248,0.551,0.552,0.551s0.552-0.246,0.552-0.551
                                    v-3.129h3.128c0.305,0,0.552-0.247,0.552-0.551S13.984,9.448,13.68,9.448z M10,0.968c-4.987,0-9.031,4.043-9.031,9.031
                                    c0,4.989,4.044,9.032,9.031,9.032c4.988,0,9.031-4.043,9.031-9.032C19.031,5.012,14.988,0.968,10,0.968z M10,17.902
                                    c-4.364,0-7.902-3.539-7.902-7.903c0-4.365,3.538-7.902,7.902-7.902S17.902,5.635,17.902,10C17.902,14.363,14.364,17.902,10,17.902
                        z"></path>
                    </svg>
                    <svg class="svg-icon" id="icon-remove" viewBox="0 0 20 20">
					    <path fill="none" d="M13.774,9.355h-7.36c-0.305,0-0.552,0.247-0.552,0.551s0.247,0.551,0.552,0.551h7.36
								c0.304,0,0.551-0.247,0.551-0.551S14.078,9.355,13.774,9.355z M10.094,0.875c-4.988,0-9.031,4.043-9.031,9.031
								s4.043,9.031,9.031,9.031s9.031-4.043,9.031-9.031S15.082,0.875,10.094,0.875z M10.094,17.809c-4.365,0-7.902-3.538-7.902-7.902
								c0-4.365,3.538-7.902,7.902-7.902c4.364,0,7.902,3.538,7.902,7.902C17.996,14.271,14.458,17.809,10.094,17.809z"></path>
					</svg>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/list.min.js' %}" type="text/javascript"></script>
<script>

    var options = { valueNames: ['id', 'name', 'jurisdiction', 'type'] };
    var agencyList = new List('agency-list', options);

    function addAgency(button) {
        console.log('add');
        button.removeClass('add').addClass('remove');
        var id = button.siblings('.id').html();
        var clone = button.parent().clone();
        console.log(agencyList.remove('id', id));
        $('.chosen.agencies').append(button.parent());
    }
    
    function removeAgency(button) {
        console.log('remove');
        button.removeClass('remove').addClass('add');
        var id = button.siblings('.id').html();
        var name = button.siblings('.name').html();
        var jurisdiction = button.siblings('.jurisdiction').html();
        var types = button.siblings('.types').html();
        agencyList.add(
            {
                id: id,
                name: name,
                jurisdiction: jurisdiction,
                types: types
            }
        );
        button.parent().remove();
    }

    $(document).on('click', '.agency .button', function(e){
        e.preventDefault();
        if ($(this).hasClass('add')) {
            addAgency($(this));
        } else {
            removeAgency($(this));
        }
    });
</script>
{% endblock scripts %}