{% extends 'base.html' %}
{% load static from staticfiles %}
{% load rules %}

{% block title %}MuckRock &bull; New Request{% endblock %}

{% load mathfilters %}

{% block styles %}
  <style>
.new-request .autocomplete-light-widget span.deck > span span.remove {
  background-image:url("{% static 'img/remove.png' %}") !important;
}
  </style>
{% endblock styles %}

{% block content %}
  <div class="foia__create form">
    <div class="new-request">
      <header class="grid__row">
        {% if clone %}
          <h1 class="grid__column half">Clone a request</h1>
          <summary class="grid__column half">
            Make any changes to the request, then clone it.
          </summary>
        {% else %}
          <h1 class="grid__column half">File a request</h1>
          <summary class="grid__column half">
            Not sure where to start? <a href="/about/foia-101/">We can help.</a>
            <br>
            {# XXX dont show this if editing a request #}
            Out of ideas? <a href="#clone">Try cloning a request.</a>
            <br>
            <noscript>It looks like you have JavaScript turned off. This page requires JavaScript to function. If you are not willing to enable JavaScript, please send an email containing all necessary information to file and we will create your request for you.</noscript>
          </summary>
        {% endif %}
      </header>
      {% if composer %}
        <div class="form-status-holder badge">Autosave enabled</div>
      {% endif %}
      {% if form.non_field_errors or form.errors %}
        <div class="error message">
          <span class="symbol">
            {% include 'lib/component/icon/error.svg' %}
          </span>
          <span class="text">
            <p>The form could not be submitted due to the following errors:</p>
            {{ form.non_field_errors }}
            {% for field in form %}
              {% if field.errors %}
                <p><strong>{{ field.label }}:</strong> {{field.errors.as_text|cut:"* "}}</p>
              {% endif %}
            {% endfor %}
            </dl>
          </span>
        </div>
        </section>
      {% endif %}
      <form
        action="{% if composer %}{% url "foia-draft" idx=composer.pk %}{% endif %}"
        method="post"
        class="create-request {% if composer.edited_boilerplate or clone.edited_boilerplate %}edited-boilerplate{% endif %}"
        {% if composer %}data-composer-pk="{{ composer.pk }}"{% endif %}
        >
        {% csrf_token %}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        {% include "lib/pattern/new_request_field.html" with field=form.title only %}
        {% include "lib/pattern/new_request_field.html" with field=form.agencies only %}
        <div class="document-boilerplate intro">
          <p>To Whom It May Concern:</p>
          <p>Pursuant to the { law name }, I hereby request the following records:</p>
        </div>
        {% include "lib/pattern/new_request_field.html" with field=form.requested_docs only %}
        <div class="document-boilerplate outro">
          <p>The requested documents will be made available to the general public,
          and this request is not being made for commercial purposes.</p>
          <p>In the event that there are fees, I would be grateful if you would
          inform me of the total charges in advance of fulfilling my request.
          I would prefer the request filled electronically, by e-mail attachment
          if available or CD-ROM if not.</p>
          <p>Thank you in advance for your anticipated cooperation in this matter.</p>
          <p>I look forward to receiving your response to this request within
          { number of days } { business or calendar } days,
          as the statute requires.</p>
          <p>Sincerely,</p>
          <p>{{ user.get_full_name|default:"{ name }" }}</p>
        </div>
        {% if user.is_authenticated %}
          {% include "lib/pattern/new_request_field.html" with field=form.edited_boilerplate only %}
        {% endif %}
        {% if form.embargo %}
          {% include "lib/pattern/new_request_field.html" with field=form.embargo only %}
        {% else %}
          <div class="no-embargo">
            <p>This request will be filed publicly. Need to keep your request private?
            <a href="{% url "accounts" %}">
              Upgrade to a Pro or Organizational account
            </a>
            to embargo your request as long as you need to.</p>
          </div>
        {% endif %}

        {% if user.is_authenticated %}
          <fieldset>
            <span class="toggle-advanced">&#9654; Advanced Options</span>
          </fieldset>
          <div class="advanced-container">
            {% include "lib/pattern/new_request_field.html" with field=form.tags only %}
            <fieldset class="attachments">
              <label class="bold">Attachments</label>
              {% if composer %}
                <div id="fine-uploader" class="fine-uploader-composer" data-composer-pk="{{ composer.pk }}"></div>
              {% else %}
                <p>Please save this request before uploading attachments</p>
              {% endif %}
            </fieldset>
          </div>
        {% else %}
          {% include "lib/pattern/new_request_field.html" with field=form.full_name only %}
          {% include "lib/pattern/new_request_field.html" with field=form.email only %}
          {% include "lib/pattern/new_request_field.html" with field=form.newsletter only %}
        {% endif %}

        {% if user.is_authenticated %}
          <footer class="footer--submit">
            <p id="submit_help" class="error"></p>
            <div class="requests-left"
                 data-org="{{ requests_left.org }}"
                 data-month="{{ requests_left.monthly }}"
                 data-reg="{{ requests_left.regular }}"
                 >
               {% with org=user.profile.get_org %}
                 <p>
                   You have
                    {% if org %}
                      <strong>{{ requests_left.org }}</strong> organizational
                      (<a href="{{ org.get_absolute_url }}">{{ org.name }} </a>)
                      requests left,
                    {% endif %}
                    <strong>{{ requests_left.monthly }}</strong> monthly requests left
                    and <strong>{{ requests_left.regular }}</strong> regular requests
                    left.
                 </p>
                 <p class="using-requests"></p>
               {% endwith %}
            </div>

            <div class="buy-request-form" data-bulk-price="{% if user.profile.is_advanced %}3{% else %}4{% endif %}">
              {% include "lib/pattern/field.html" with field=form.num_requests only %}
              <span>
                <p>
                  $5/request<br class="nomargin">
                  {% if user.profile.is_advanced %}
                    <s>$4/request</s> $3/request if you buy 20 or more!
                    <br class="nomargin">
                    <em>Special price for pro users!</em>
                  {% else %}
                    $4/request if you buy 20 or more!
                    <br class="nomargin">Minimum purchase of 4 requests
                  {% endif %}
                </p>
              </span>
            </div>

            <div class="contact-info">
              <a class="see-where" href="#">See where this request will be sent</a>
              <div class="info">
                This request <span></span>
                {% if user.profile.is_advanced %}
                  <p><a href="#" class="change">Not where this needs to go?</a></p>
                {% endif %}
              </div>
              {% if user.profile.is_advanced %}
                <div class="form">
                  {{ form.use_contact_information }}
                  {% include "lib/pattern/field.html" with field=form.via only %}
                  {% include "lib/pattern/field.html" with field=form.email only %}
                  {% include "lib/pattern/field.html" with field=form.other_email only %}
                  {% include "lib/pattern/field.html" with field=form.fax only %}
                  {% include "lib/pattern/field.html" with field=form.other_fax only %}
                  <a href="#" class="cancel">Cancel</a>
                </div>
              {% endif %}
            </div>

            <div class="button-group">
              <button type="button" class="button" id="save_button">
                Save
              </button>
              <button type="button" class="primary button" id="submit_button">
                Submit
              </button>
              {% if composer %}
                <button type="button" class="failure button" id="delete_button">
                  Delete
                </button>
              {% endif %}
            </div>
          </footer>
        {% else %}
          <footer class="footer--signup">
            <p>Create a MuckRock account and file up to four requests for just $20, or
            <a href="{% url 'accounts-signup-professional' %}" target="_blank">
              go Pro for 20 requests a month
            </a> with the option to keep your submissions private. Already have an
            account? <a href="{% url 'acct-login' %}">Log in</a>.</p>
            <p id="submit_help" class="error"></p>
            <div class="footer--submit">
              <button
                 type="submit"
                 class="primary button"
                 name="action"
                 value="save"
                 onclick="ga('send', 'event', 'Account', 'Registration', window.location.pathname)">Create Account and Save Request</button>
            </div>
          </footer>
        {% endif %}

        <div class="modal" id="email-warning-modal" data-foias-filed="{{foias_filed}}">
          <p>Hi! It looks like you included your email address this in your request. When you file with MuckRock, we generate a unique email and physical address for every request to keep things organized. We include that information in what we send to the agency, so no need to add your contact information on this form. If you're including an email address to help the agency search for responsive documents, simple hit "Submit." If you'd like to edit the body of your request, click "Revise Request." You'll only see this message until you've submitted your first request.<p>
          <footer>
            <button type="submit" name="action" value="save" class="primary button">Submit</button>
            <span class="close-modal button">Revise Request</span>
          </footer>
        </div>

      </form>
    </div>
    {% if featured and not clone %}
      <div class="clone-candidates" id="clone">
        <h2>Looking for inspiration? Clone a request below, then tweak it how you want.</h2>
        {% for foia in featured %}
          {% include 'lib/foia.html' with foia=foia %}
        {% endfor %}
      </div>
  </div>
{% endif %}

<div class="modal" id="similar-agency-modal">
  <h1>The agency you selected isn't in our database yet.</h1>
  <p>Double check that it's not a match with one of the similarly spelled agencies below, and if not we'll research and send your request on its way.<p>
  <p class="error"></p>
  <div>
    <select name="replacement-agency" id="replacement-agency" size="10">
      <option>Loading...</option>
    </select>
  </div>
  <button id="new-agency-button" class="primary button">Create New Agency and File</button>
  &nbsp;
  <button id="replacement-agency-button" class="button">File to Highlighted Agency</button>
</div>

{% endblock %}

{% block scripts %}
  {% include 'lib/component/fine-uploader.html' %}
  <script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
{% endblock scripts %}
