{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}
{% load rules %}

{% block title %}MuckRock &bull; {{ action|title }}{% endblock %}
{% block form-type %}foia-draft{% endblock %}


{% block form-title %}{{ action|title }}{% endblock %}

{% block form-info %}
{% endblock form-info %}

{% block form-form %}

{% if form %}
<form method="post" class="draft" enctype="multipart/form-data">
    {% csrf_token %}

    <section class="info">
        <summary>From {{ foia.user.get_full_name }} to {{ foia.agency.name }} of {% if foia.jurisdiction.name == 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}</summary>
        {{ form.title }}
    </section>

    <section class="blue communication textbox">
        <header class="textbox__header communication-header">
            <p class="from">From: {{foia.user.get_full_name}}</p>
            <div class="actionables">
                <time datetime="{% now 'c' %}" class="date">{% now 'm/d/Y' %}</time>
            </div>
        </header>
        <section class="textbox__section communication-metadata">
            <p class="small subject">Subject: {{ foia.title }}</p>
        </section>
        <section class="textbox__section communication-body">
            {{ form.request }}
        </section>
    </section>

    {% if not remaining %}
    <div class="buy-requests panel">
        <p>You have no requests credited to your account. You must purchase requests before you can submit your request.</p>
        <button type="submit" class="success button" form="buy-requests">Buy Requests</button>
    </div>
    {% endif %}

    <div class="bottom">
        {% has_perm 'foia.embargo_foiarequest' request.user foia as can_embargo %}
        {% if can_embargo %}
            {% include 'lib/pattern/field.html' with field=form.embargo %}
        {% endif %}

        <label class="bold">Attachments</label>
        <div id="fine-uploader"></div>

        <section class="button-group">
            <input type="submit"
                name="submit"
                value="Save"
                class="button" />
            <input type="submit"
               name="submit"
               value="Submit"
               class="primary button"
               {% if not remaining %}disabled{% endif %}
            />
            <input type="submit"
                   name="submit"
                   value="Delete"
                   class="failure button" />

        </section>
    </div>

</form>
{% if not remaining %}
<form action="{% url 'acct-buy-requests' username=request.user.username %}?next={{ foia.get_absolute_url }}" method="POST" class="stripe-checkout" id="buy-requests">
    {% csrf_token %}
    <input type="hidden" name="stripe_token" value="" />
    <input type="hidden" name="stripe_pk" value="{{ stripe_pk }}" />
    <input type="hidden" name="stripe_image" value="{% static 'icons/logo.png' %}" />
    <input type="hidden" name="stripe_email" value="{{request.user.email}}" />
    <input type="hidden" name="stripe_label" value="Buy" />
    {% if request.user.is_authenticated %}
    <input type="hidden" name="stripe_description" value="{{request.user.profile.bundled_requests}} requests ($20.00)" />
    {% else %}
    <input type="hidden" name="stripe_description" value="4 requests ($20.00)" />
    {% endif %}
    <input type="hidden" name="stripe_bitcoin" value="true" />
    <input type="hidden" name="stripe_fee" value="0" />
    <input type="hidden" name="stripe_amount" value="2000" />
</form>
{% endif %}
{% endif %}

{% endblock form-form %}

{% block scripts %}
    {% include 'lib/component/fine-uploader.html' %}
{% endblock scripts %}
