{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}
{% load rules %}

{% block title %}MuckRock &bull; {{ action|title }}{% endblock %}
{% block form-type %}foia-draft{% endblock %}


{% block form-title %}{{ action|title }}{% endblock %}

{% block form-info %}
{% endblock form-info %}

{% block form-form %}


<!--
    Read the "Getting Started Guide" at http://docs.fineuploader.com/quickstart/01-getting-started.html
    if you are not yet familiar with Fine Uploader UI.
    Please see http://docs.fineuploader.com/features/styling.html for information
    on how to customize this template.
-->
<script type="text/template" id="qq-simple-thumbnails-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

{% if form %}
<form method="post" class="draft" enctype="multipart/form-data">
    {% csrf_token %}

    <section class="info">
        <summary>From {{ foia.user.get_full_name }} to {{ foia.agency.name }} of {% if foia.jurisdiction.name == 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}</summary>
        {{ form.title }}
    </section>

    <section class="blue communication textbox">
        <header class="textbox__header communication-header">
            <p class="from">From: {{foia.user.get_full_name}}</p>
            <div class="actionables">
                <time datetime="{% now 'c' %}" class="date">{% now 'm/d/Y' %}</time>
            </div>
        </header>
        <section class="textbox__section communication-metadata">
            <p class="small subject">Subject: {{ foia.title }}</p>
        </section>
        <section class="textbox__section communication-body">
            {{ form.request }}
        </section>
    </section>

    {% if not remaining %}
    <div class="buy-requests panel">
        <p>You have no requests credited to your account. You must purchase requests before you can submit your request.</p>
        <button type="submit" class="success button" form="buy-requests">Buy Requests</button>
    </div>
    {% endif %}

    <div class="bottom">
        {% has_perm 'foia.embargo_foiarequest' request.user foia as can_embargo %}
        {% if can_embargo %}
            {% include 'lib/pattern/field.html' with field=form.embargo %}
        {% endif %}

        {# attachment formset #}
        {% comment %}
        <div class="formset-forms">
            <label class="bold">Attachments</label>
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <span>
                {% include 'lib/pattern/form.html' %}
            </span>
            {% endfor %}
        </div>
        {% endcomment %}
        <label class="bold">Attachments</label>
        <div id="fine-uploader"></div>

        <section class="button-group">
            <input type="submit"
                name="submit"
                value="Save"
                class="button" />
            <input type="submit"
               name="submit"
               value="Submit"
               class="primary button"
               {% if not remaining %}disabled{% endif %}
            />
            <input type="submit"
                   name="submit"
                   value="Delete"
                   class="failure button" />

        </section>
    </div>

</form>
{% if not remaining %}
<form action="{% url 'acct-buy-requests' username=request.user.username %}?next={{ foia.get_absolute_url }}" method="POST" class="stripe-checkout" id="buy-requests">
    {% csrf_token %}
    <input type="hidden" name="stripe_token" value="" />
    <input type="hidden" name="stripe_pk" value="{{ stripe_pk }}" />
    <input type="hidden" name="stripe_image" value="{% static 'icons/logo.png' %}" />
    <input type="hidden" name="stripe_email" value="{{request.user.email}}" />
    <input type="hidden" name="stripe_label" value="Buy" />
    {% if request.user.is_authenticated %}
    <input type="hidden" name="stripe_description" value="{{request.user.profile.bundled_requests}} requests ($20.00)" />
    {% else %}
    <input type="hidden" name="stripe_description" value="4 requests ($20.00)" />
    {% endif %}
    <input type="hidden" name="stripe_bitcoin" value="true" />
    <input type="hidden" name="stripe_fee" value="0" />
    <input type="hidden" name="stripe_amount" value="2000" />
</form>
{% endif %}
{% endif %}

{% endblock form-form %}
