{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load rules %}

{% block title %}MuckRock &bull; {{ action|title }}{% endblock %}
{% block form-type %}multirequest-draft{% endblock %}

{% block form-title %}{{ action|title }}{% endblock %}

{% block form-info %}
{% with requests=foia.agencies.all|length remaining=profile.num_requests %}
<p>You will send this request to {{requests}} agenc{{ requests|pluralize:"y,ies" }}:
{% for agency in foia.agencies.all %}
{% if forloop.last %}
{% if not forloop.first %}
and
{% endif %}
{{ agency.name }}.
{% else %}
{{ agency.name }},
{% endif %}
{% endfor %}</p>
{% endwith %}
{% endblock %}

{% block form-form %}
{% with requests=foia.agencies.all|length remaining=profile.num_requests %}
<form method="post" class="Draft">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <object class="failure panel">
    {{ form.non_field_errors }}
    </object>
    {% endif %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.label == 'Request' %}
        <div class="blue textbox communication">
            <header class="textbox__header communication-header">
                <p class="from">From: {{foia.user.get_full_name}}</p>
                <div class="actionables">
                    <time class="date" datetime="{% now 'c' %}">{% now 'm/d/Y' %}</time>
                </div>
            </header>
            <section class="textbox__section communication-metadata">
                <p class="small subject">Subject: {{ foia.title }}</p>
            </section>
            <section class="textbox__section communication-body">
                <p>To Whom It May Concern:</p>
                <p>This is a request under [Insert jurisdiction's applicable freedom of information law] for a copy of the following records:</p>
                {{ field }}
                <p>The requested documents will be made available to the general public free of charge, and this request is not for commercial usage.</p>
                <p>In the event that there are fees, I would be grateful if you would inform me of the total charges in advance of fulfilling my request. I would prefer the request filled electronically, by e-mail attachment if available or CD-ROM if not.</p>
                <p>Thank you in advance for your anticipated cooperation in this matter. I look forward to receiving your response to this request within 20 business days, as the statute requires.</p>
                <p>Sincerely,</p>
                <p>{{foia.user.get_full_name}}</p>
            </section>
        </div>
                    {{field.errors}}
        {% else %}
            {% include 'lib/pattern/field.html' %}
        {% endif %}
    {% endfor %}
    {% if not balance.extra_requests %}
    <section class="buttons">
        <input type="submit" name="submit" value="Submit" class="primary button" />
        <input type="submit" name="submit" value="Delete" class="failure button" />
    </section>
    {% endif %}
</form>

{% if balance.extra_requests %}
<form action="{% url 'acct-buy-requests' username=request.user.username %}?next={{ foia.get_absolute_url }}" method="POST" class="stripe-checkout" id="buy-requests">
    {% csrf_token %}
    <input type="hidden" name="bundles" value="{{bundles}}" />
    <input type="hidden" name="stripe_token" value="" />
    <input type="hidden" name="stripe_pk" value="{{ stripe_pk }}" />
    <input type="hidden" name="stripe_image" value="{% static 'icons/logo.png' %}" />
    <input type="hidden" name="stripe_email" value="{{user.email}}" />
    <input type="hidden" name="stripe_label" value="Buy" />
    <input type="hidden" name="stripe_description" value="{{ bundles|mul:'5' }} request{{ bundles|mul:'5'|pluralize }} (${{ bundles|mul:'20' }}.00)" />
    <input type="hidden" name="stripe_bitcoin" value="true" />
    <input type="hidden" name="stripe_fee" value="0" />
    <input type="hidden" name="stripe_amount" value="{{ bundles|mul:'2000' }}" />
</form>
<p>You will be submitting {{ requests }} request{{ requests|pluralize }}, but {% if not remaining %}have no requests{% else %}only have {{ remaining }} remaining{%endif%}. You must purchase {{ bundles }} request bundle{{ bundles|pluralize }} before you can submit your request.</p>
<button class="primary button" form="buy-requests" type="submit">Buy Requests</button>
{% else %}
<p>You will be submitting {{ requests }} request{{ requests|pluralize }}, leaving
you with {% if balance.monthly_requests %}{{ profile.monthly_requests|sub:balance.monthly_requests }}
monthly request{{ profile.monthly_requests|sub:balance.monthly_requests|pluralize }} and {% endif %}
{{ profile.num_requests|sub:balance.reg_requests }} request{{ profile.num_requests|sub:balance.reg_requests|pluralize }}.</p>
{% endif %}

{% endwith %}
{% endblock form-form %}

{% block scripts %}
    <script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
{% endblock scripts %}
