
{% extends "news/base.html" %}

{% load tags %}

{% block content %}

<h2>Archives</h2>

{% if object_list %}

	<div class="post-meta archive-pagination">
		
		<div class="nav-left">
			{% if page_obj.has_previous %}
			<a href="?page=1">&#171; First page</a>
			&nbsp; &nbsp;
			<a href="?page={{page_obj.previous_page_number}}">&#171; Previous page</a>
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="nav-center">
			{% page_links page_obj %}
		</div>
		{% if page_obj.has_next %}
		<div class="nav-right">
			<a href="?page={{page_obj.next_page_number}}">Next page &#187;</a>
			&nbsp; &nbsp;
			<a href="?page={{paginator.num_pages}}">Last page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>
		
	</div>

	{% for article in object_list %}
		{% include "news/archive_post.html" %}
	{% endfor %}

	<div class="post-meta archive-pagination">
		
		<div class="nav-left">
			{% if page_obj.has_previous %}
			<a href="?page=1">&#171; First page</a>
			&nbsp; &nbsp;
			<a href="?page={{page_obj.previous_page_number}}">&#171; Previous page</a>
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="nav-center">
			{% page_links page_obj %}
		</div>
		{% if page_obj.has_next %}
		<div class="nav-right">
			<a href="?page={{page_obj.next_page_number}}">Next page &#187;</a>
			&nbsp; &nbsp;
			<a href="?page={{paginator.num_pages}}">Last page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>
		
	</div>

{% else %}
<p>No articles were found.</p>
{% endif %}

{% endblock %}

{% block sidebar %}

<h2>Years</h2>
<ul>
	{% for year in years %}
	<li><a href="{% url 'news-archive-year' year=year %}">{{year}}</a></li>
	{% endfor %}
</ul>

{% endblock %}
