
{% extends "news/base.html" %}

{% block content %}

<h2>Archives for {{month|date:"F Y"}}</h2>

<div class="post-meta archive-pagination">
	
	{% if previous_month|date:"Y" != "999" %}
	<div class="left"><a href="{% url 'news-archive-month' year=previous_month|date:"Y" month=previous_month|date:"b" %}">
			&#171; Previous page</a></div>
  {% endif %}
	{% if next_month %}
	<div class="right"><a href="{% url 'news-archive-month' year=next_month|date:"Y" month=next_month|date:"b" %}">
			Next page &#187;</a></div>
	{% endif %}

	<div class="clearer">&nbsp;</div>
	
</div>

{% if object_list %}

    {% for article in object_list %}
		  {% include "news/archive_post.html" %}
    {% endfor %}

{% else %}
<p>No articles were found.</p>
{% endif %}

<div class="post-meta archive-pagination">

	{% if previous_month|date:"Y" != "999" %}
	<div class="left"><a href="{% url 'news-archive-month' year=previous_month|date:"Y" month=previous_month|date:"b" %}">
			&#171; Previous page</a></div>
	{% endif %}
	{% if next_month %}
	<div class="right"><a href="{% url 'news-archive-month' year=next_month|date:"Y" month=next_month|date:"b" %}">
			Next page &#187;</a></div>
	{% endif %}

	<div class="clearer">&nbsp;</div>

</div>

{% endblock %}

{% block sidebar %}

<p><a href="{% url 'news-archive-year' year=month.year %}">Go to {{month|date:"Y"}}</a></p>

<h2>Days</h2>
<ul>
	{% for day_date in date_list %}
	<li><a href="{% url 'news-archive-day' year=month.year month=month|date:"b" day=day_date.day %}">
		{{day_date.day}}
	</a></li>
	{% endfor %}
</ul>

{% endblock %}
