// Subatomic Elements
// Standalone Libraries & Variables
//
// Do not appear in compiled CSS

@import                 'lib/normalize';
@import                 'bourbon/bourbon';
@import                 'neat/neat';

$large-breakpoint:      769px;
$medium-breakpoint:     321px;
$large-layout:          new-breakpoint(min-width $large-breakpoint 12);
$medium-layout:         new-breakpoint(min-width $medium-breakpoint 6);

$color-white:           #f4f4f4;
$color-black:           #21282c;
$color-grey:            #B3BECB;
$color-primary:         #3a82ff;
$color-success:         #006330;
$color-failure:         #fb004e;
$color-default:         #6b6a65;
$color-disabled:        #96959e;

$color-odd-background:  darken($color-white, 5%);

$base-font-family:      'Source Sans Pro', 'Helvetica Neue', 'sans-serif';
$base-font-weight:      400;
$base-border-width:     1px;
$base-border-radius:    9px;
$base-vertical-rhythm:  1.5em;

$base-gradient-darken:  8%;

@import 'lib/mixins';
@import 'lib/grid';
@import 'lib/typography';
@import 'lib/objects';
@import 'lib/layouts';
@import 'lib/nav';
