
{% extends "foia/base.html" %}

{% block content %}
	<h1>Help us analyze this document</h1>
	<h2>{{rodeo.document.title}} - {{rodeo.title}}</h2>
	<p><em>Click one of the options on the right to help us better understand this release.</em></p>
	<div id="progressbar" title="{{percent_complete}}% Complete"></div>
	<p>Page {{page}}</p>
	<img src="{{img}}" />
{% endblock %}

{% block sidebar %}
  <p>{{rodeo.question}}</p>
  <form action="" method="post">
		{% csrf_token %}
		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}
		{% for field in form.visible_fields %}
			<div{% if field.errors %} class="error"{% endif %}>
				{{ field }}
				{{ field.errors }}
			</div>
		{% endfor %}
		<input type="submit" name="submit" value="Vote" class="button" />
  </form>
	<div class="content-separator"></div>
{% endblock %}
