{% load tags %}
{% load assets %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	{% assets filter="jsmin", output="js/main.js", "js/jquery-1.4.2.js", "js/jquery-ui-1.8.4.custom.js", "js/datepicker.js", "js/wizard.js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	{% assets filter="cssutils", output="css/main.css", "css/jquery-ui-1.8.4.custom.css", "css/style.css" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" media="screen" />
	{% endassets %}

	{{ form.media }}
	{% block media %}{% endblock %}
	<title>MuckRock | {% block title %}News{% endblock %}</title>
</head>

<body id="top">

<div id="network">
	<div class="center-wrapper">

		<div class="left">{% now "l, F j, Y" %}</div>
		<div class="right">

			<ul class="tabbed" id="network-tabs">
				{% if user.is_authenticated %}
					{% if user.is_staff %}
					<li><a href="/admin/">Admin</a></li>
					{% endif %}
				<li><a href="{% url acct-my-profile %}">My Account</a></li>
				<li><a href="{% url acct-logout %}">Log Out</a></li>
				{% else %}
				<li><a href="{% url acct-login %}">Log in</a></li>
				<li><a href="{% url acct-register %}">Register</a></li>
				{% endif %}
			</ul>

			<div class="clearer">&nbsp;</div>
		
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>
</div>

<div id="site">
	<div class="center-wrapper">

		<div id="header">

			<div class="right" id="toolbar">
				&nbsp;
			</div>

			<div class="clearer">&nbsp;</div>

			<div id="site-title">

				<h1><a href="{%url index%}">MuckRock</a> <span> / {% block headline %}News{% endblock %}</span></h1>

			</div>

			<div id="navigation">
				
				<div id="main-nav">

					<ul class="tabbed">
						{% block main-nav %}
						<li class="{% active request "(^/$)|(^/news/)" %}"><a href="{%url index%}">News</a></li>
						<li class="{% active request "^/foia/((new)|(update)|(delete))/" %}"><a href="{%url foia-create%}">Submit Request</a></li>
						<li class="{% active request "^/foia/((list)|(view))/" %}"><a href="{%url foia-list%}">FOI Requests</a></li>
						<li class="{% active request "^/accounts/" %}"><a href="{%url acct-my-profile%}">Account Information</a></li>
						<li><a href="/blog/">Blog</a></li>
						{% endblock %}
					</ul>

					<div class="clearer">&nbsp;</div>

				</div>

				<div id="sub-nav">

					{% block sub-nav %}
					{% endblock %}

					<div class="clearer">&nbsp;</div>

				</div>

			</div>

		</div>

		<div class="main" id="main-two-columns">

			<div class="left" id="main-left">

				{% if messages %}
					{% for message in messages %}
					<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
					{% endfor %}
				{% endif %}

				{% block content %} {% endblock %}

			</div>

			<div class="right sidebar" id="sidebar">

				<form action="/search/" method="get">
					{% csrf_token %}
					<input type="text" name="q" id="id_q" />
					<input type="submit" name="submit" value="Search" class="button" />
				</form>

				<div class="content-separator"></div>
				
				{% block sidebar %} {% endblock %}

			</div>

			<div class="clearer">&nbsp;</div>

		</div>

		<div id="dashboard">

			<div class="column left" id="column-1">
				
				<div class="column-content">
				
					<div class="column-title">About MuckRock</div>

					<p>We make tools to keep our government transparent and accountable.</p>

				</div>

			</div>

			<div class="column left" id="column-2">

				<div class="column-content">
				
					<div class="column-title">Follow Us</div>
					<ul class="plain-list">
						<li><a href="{% url news-feed %}" class="feed">Latest News</a></li>
						<li><a href="{% url foia-submitted-feed %}" class="feed">Recently Submitted Requests</a></li>
						<li><a href="{% url foia-done-feed %}" class="feed">Recently Completed Requests</a></li>
						<li><a href="http://www.twitter.com/muckrocknews" class="twitter">@MuckRockNews</a></li>
					</ul>

				</div>

			</div>

			<div class="column left" id="column-3">

				<div class="column-content">
				
					<div class="column-title">Want to Learn More?</div>

					<p>Read our <a href="/blog">blog</a>.</p>

				</div>

			</div>

			<div class="column right" id="column-4">

				<div class="column-content">
				
					<div class="column-title">Get in Touch</div>

					<p>Email: <a href="mailto:info@muckrock.com">info@muckrock.com</a></p>

				</div>

			</div>

			<div class="clearer">&nbsp;</div>

		</div>

		<div id="footer">

			<div class="left">&copy; 2010 MuckRock <span class="text-separator">&rarr;</span> <a href="#">Home</a> <span class="text-separator">|</span><a href="/blog/">Blog</a></div>
			<div class="right"></div>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>
</div>

<script type="text/javascript">
  var uservoiceOptions = {
    key: 'muckrock',
    host: 'muckrock.uservoice.com', 
    forum: '72499',
    alignment: 'left',
    background_color:'#ddedf7', 
    text_color: 'black',
    hover_color: '#bbcbd5',
    lang: 'en',
    showTab: true
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16635809-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
