
{% extends "base.html" %}

{% block content %}

				<div class="post"> 
 
					<div class="post-title"><h2>Welcome</h2></div> 
 
					<div class="post-body"> 
 
						<p class="large">Welcome to MuckRock, the site that lets you discover what your government is really up to through an easy to use freedom of information filing system. Curious about how much your local representatives are spending on jetting around town? Want to know if your toll taker is just nasty to you, or if the state is getting inundated with complaints? Worried that contractors are getting padded paydays from crooked pols? We’re here to help you get the answers to all of those questions, and we’ll share those results with the rest of the world.</p> 
 
						<p class="large">Right now, we're in a private beta, but we're looking for early users, particularly in the greater Boston metro area. If you're interested, please fill out the form below.  You can also follow us on <a href="http://www.muckrock.com/blog">our blog</a>.
 
						<p class="large">Thanks, and keep digging up the dirt!</p> 

						<iframe src="http://spreadsheets.google.com/embeddedform?formkey=dHlyRDVCT3E3OVBUbEJVTV9oZjNuaEE6MQ" width="640" height="760" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
									
					</div> 
				
				</div>

{% endblock %}
