{% load humanize %}
{% load static from staticfiles %}
{% load markdown_deux_tags %}

<section class="crowdfund widget" id="crowdfund-{{ crowdfund.pk }}">
    <header>
        <h1>{{ crowdfund.name }}</h1>
        <div>
            <a class="action" href="{{ request.path }}#crowdfund-{{ crowdfund.pk }}">Permalink</a>
            <a class="help" href="https://www.muckrock.com/faq/#crowdfund">?</a>
        </div>
    </header>
    <section class="description">
        {{ crowdfund.description|markdown }}
    </section>
    <section class="stats">
        <div class="contributors">
            <p class="contributor summary">{{ contributor_summary }}</p>
        {% if crowdfund.contributors|length > 0 %}
            <ul class="contributor dropdown">
            {% for contributor in crowdfund.named_contributors %}
                <li>{{ contributor.get_full_name }}</li>
            {% endfor %}
            {% if crowdfund.anonymous_contributors %}
                <li>{{ crowdfund.anonymous_contributors|length }} anonymous backer{{ crowdfund.anonymous_contributors|length|pluralize }}</li>
            {% endif %}
            </ul>
        {% endif %}
        </div>
        <p class="amount-raised">${{ crowdfund.payment_received|intcomma }} raised out of ${{ crowdfund.payment_required|intcomma }}.</p>
        <p class="time-remaining">
        {% if not crowdfund.expired %}
            {{ crowdfund.date_due|timeuntil }} remaining
        {% else %}
            This crowdfund has ended.
        {% endif %}
        </p>
    </section>
    {% if not crowdfund.expired %}
    <footer>
        <form method="POST" action="{{ endpoint }}" class="crowdfund-form" id="crowdfund-form">
            <section class="anonymity">
                {% if logged_in %}
                {{ payment_form.show }}
                <label for="id_show">List me as a backer.</label>
                {% else %}
                <p>To be listed as a backer,<br>please <a class="action" href="{% url 'acct-login' %}">log in</a> or <a class="action" href="{% url 'acct-register' %}">sign up</a>.</p>
                <input name="show" value="False" hidden>
                {% endif %}
            </section>
            <section class="amount">
                {{ payment_form.amount }}
            </section>
            <section class="donate">
                <button data-email="{{ user_email }}"
                        data-icon="{% static 'apple-touch-icon.png' %}"
                        data-key="{{ stripe_pk }}"
                        id="crowdfund-button">
                    Donate
                </button>
            </section>
            {% csrf_token %}
            {{ payment_form.crowdfund }}
        </form>
    </footer>
    {% endif %}
    <div class="pending overlay">
        <!-- Loader animation via https://github.com/ConnorAtherton/loaders.css -->
        <div class="loader">
            <div class="loader-inner line-scale-pulse-out-rapid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="complete overlay">
        <div class="dialog">
            <h1>Thank you!</h1>
            <p>Help this crowdfund find more supporters:</p>
            {% if crowdfund.foia %}
            {% include 'lib/social.html' with title="Help me free these docs" %}
            {% elif crowdfund.project %}
            {% include 'lib/social.html' with title="I just funded this project" %}
            {% endif %}
        </div>
    </div>
    <div class="error overlay">
        <div class="dialog">
            <h1>An error occurred.</h1>
            <p>Don't worry, your card has not been charged.</p>
            <p>Refresh the page to try again. If the error persists, <a href="mailto:info@muckrock.com?subject=Crowdfund%20Error">contact us</a>.</p>
        </div>
    </div>
</section>
