.badge {
    display: inline-block;
    padding: 0 $vertical-rhythm/4;
    border-radius: 4px;
    background: $color-grey-3;
    color: $color-white;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    line-height: $font-line-height;
}

.red.badge, .failure.badge, .inactive.badge {
    background: $color-red;
}

.green.badge, .success.badge, .active.badge {
    background: $color-green;
}

.blue.badge, .primary.badge {
    background: $color-blue;
}

.blue-dark.badge, .staff.badge {
    background: $color-blue-dark;
}

.yellow.badge, .warning.badge {
    background: $color-yellow;
}
