/* Buttons */

@mixin button($color) {
  $color-dark: darken($color, $color-darken-amount);
  $shadow-normal: 3px;
  $shadow-hover: 5px;
  $shadow-active: 2px;
  // Metrics
  display: inline-block;
  margin: $vertical-rhythm/4 0;
  border: 1px solid $color-dark;
  border-radius: $base-border-radius;
  padding: $vertical-rhythm/4 $vertical-rhythm/2;
  box-shadow: 0px $shadow-normal 0px 0px $color-dark;
  // Color
  background: $color;
  color: $color-white;
  path, rect {
    fill: $color-white;
  }
  // Type
  font-weight: $font-weight-bold;
  text-align: center;
  text-decoration: none;
  // Transitions
  transition-property: box-shadow transform;
  transition-duration: .15s;
  transition-timing-function: ease;
  // Misc
  cursor: pointer;
  appearance: none;
  outline: none;
  // State
  &:link, &:visited {
    box-shadow: 0px $shadow-normal 0px 0px $color-dark;
  }
  &:hover {
    @include transform(translateY($shadow-normal - $shadow-hover));
    box-shadow: 0px $shadow-hover 0px 0px $color-dark;
    color: $color-white;
    text-decoration: none;
  }
  &:active {
    @include transform(translateY($shadow-normal - $shadow-active));
    box-shadow: 0px $shadow-active 0px 0px $color-dark;
    color: $color-white;
  }
  &:disabled:hover {
    transform: none;
    box-shadow: 0 $shadow-normal 0 0 $color-dark;
  }
}

.button, button, input[type='submit'] {
    @include button($color-grey);
    &.blue, &.primary   { @include button($color-blue);     }
    &.green, &.success   { @include button($color-green);    }
    &.red, &.failure   { @include button($color-red);      }
    &.yellow, &.warning   { @include button($color-yellow);   }
    &.disabled, &:disabled  {
        @include button($color-disabled);
        background: $color-white;
        color: $color-grey-5;
        &:hover {
            color: $color-grey-5;
        }
    }
}

.button.simple, button.simple, input[type='submit'].simple {
    margin: 0;
    padding: $vertical-rhythm/4 $vertical-rhythm/2;
    font-weight: $font-weight-bold;
    font-size: $font-size-2;
    box-shadow: none;
    @include transform(none);
    &:hover, &:active {
        box-shadow: none;
        @include transform(none);
        background: $color-black;
        border-color: $color-black;
    }
}

button.basic, .button.basic {
    margin: 0;
    box-shadow: none;
    transform: none;
    transition: none;
    border: none;
    border-radius: 0;
    &.blue {
        background: $color-blue;
        &:hover {
            background: $color-blue-dark;
        }
    }
    &.green {
        background: $color-green;
        &:hover {
            background: $color-green-dark;
        }
    }
    &.red {
        background: $color-red;
        &:hover {
            background: $color-red-dark;
        }
    }
}

.edit {
    display: inline-block;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    letter-spacing: 0;
    cursor: pointer;
    color: $color-blue;
    &:hover {
        color: $color-blue-dark;
    }
}
