.counter {
    border-radius: $base-border-radius * 2;
    padding: 0 $vertical-rhythm/2;
    background: $color-grey-7;
    color: $color-black;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    &.blue {
        background: $color-blue;
        color: $color-white;
    }
    &.red {
        background: $color-red;
        color: $color-white;
    }
    &.green {
        background: $color-green;
        color: $color-white;
    }
    &.yellow {
        background: $color-yellow;
    }
}
