$crowdfund-color: $color-green;
$crowdfund-color-dark: $color-green-dark;
$crowdfund-color-light: desaturate(lighten($color-green, 30%), 15%);
$crowdfund-border: $base-border-width solid $crowdfund-color-dark;

.crowdfund.widget {
    overflow: visible;
    @include row;
    margin: 0 auto $vertical-rhythm;
    border: $crowdfund-border;
    border-radius: $base-border-radius;

    *:last-child {
        @include border-bottom-radius($base-border-radius);
    }

    a {
        color: $crowdfund-color;
        text-decoration: underline;
        &:hover {
            color: $crowdfund-color-dark;
        }
    }

    header, footer {
        padding: $vertical-rhythm/2;
        color: $crowdfund-color-dark;
        background-color: $crowdfund-color-light;
    }

    header {
        @include full;
        overflow: hidden;
        @include border-top-radius($base-border-radius);
        border-bottom: $crowdfund-border;

        h1 {
            font-size: 1rem;
            font-weight: $font-weight-bold;
        }

        @include media($medium-layout) {
            h1 {
                margin: 0;
                width: 75%;
                float: left;
            }
            a {
                display: block;
                width: 25%;
                float: right;
                text-align: right;
            }
        }
    }

    .description, .stats {
        @include full;
        padding: $vertical-rhythm/2;
    }

    .description {
        padding-top: 0;
        padding-bottom: 0;
    }

    .stats {
        @include display(flex);
        @include flex-direction(column);
        @include media($medium-layout) {
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
        }
        margin-bottom: 0;
        border-top: $crowdfund-border;
        text-align: left;
        & > * {
            margin-bottom: 0;
        }
        .contributors p {
            margin-bottom: 0;
        }
    }

    .contributor-list {
        margin-top: 0;
        li {
            display: inline-block;
            padding: 0 $vertical-rhythm/2 0 0;
        }
    }

    footer {
        @include full;
        @include border-bottom-radius($base-border-radius);
        margin-bottom: 0;
        border-top: $crowdfund-border;
        form { @include row; }
        form > section {
            @include third;
            @include media($medium-layout) {
                margin-bottom: 0;
            }
            &.action {
                margin-bottom: 0;
            }
        }
        .anonymity p {
            margin: 0;
        }
        .anonymity input {
            margin: $vertical-rhythm/4;
        }
        .action button, .amount input {
            display: block;
            width: 100%;
        }
        .action button {
            @extend .success.button;
        }
        .amount input {
            @include appearance(none);
            transform: translateY(4px);
            border: $crowdfund-border;
            box-shadow: inset 0px 3px 3px 0px $color-grey;
            padding: 0.325em;
            font-size: 1.25em;
            font-weight: $font-weight-bold;
            text-align: center;
        }
        @include media($medium-layout) {
            .action { padding-left: $vertical-rhythm/2; }
        }
    }
}

.crowdfund.widget {
    .contributors {
        position: relative;
    }
    .contributor {
        &.summary {
            cursor: default;
            text-decoration: underline;
        }
        &.dropdown {
            display: none;
            position: absolute;
            top: $vertical-rhythm;
            z-index: 1;
            border-radius: $base-border-radius;
            padding: $vertical-rhythm/4 $vertical-rhythm/2;
            background-color: $color-black;
            color: $color-white;
            opacity: 0;
            list-style-type: none;
            font-size: $font-size-2;
            @include transition(opacity .25s .25s linear);
        }
        &.summary:hover + .contributor.dropdown {
            display: block;
            opacity: .9;
        }
    }
}

/* Crowdfund state */

.crowdfund.widget {
    position: relative;

    .overlay {
        z-index: -1;
        opacity: 0;
        display: block;
        @include transition(opacity, .5s, linear);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include border-radius;

        color: $color-white;
        text-align: center;
        font-weight: $font-weight-bold;

        a {
            color: $color-white;
        }

        &.visible {
            z-index: 1;
            opacity: .9;
        }

        &.pending  { background-color: $color-grey;    }
        &.complete { background-color: $color-green;   }
        &.error    { background-color: $color-red;     }

        .loader, .dialog {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .sharing {
            margin: 0 auto;
            width: 22em;
            dfn {
                display: none;
            }
            .share {
                border: 2px solid $color-white;
                text-decoration: none;
                &.twitter, &.facebook, &.email {
                    background-color: transparent;
                    &:hover {
                        background-color: rgba(255, 255, 255, .25);
                    }
                }
            }
        }
    }
}
