.dropdown {
    position: relative;
    .icon {
        vertical-align: middle;
        cursor: pointer;
    }
    .dropdown-list {
        display: none;
        position: absolute;
        z-index: 200;
        right: 0;
        background-color: $color-white;
        @include border;
        color: $color-black;
        list-style-type: none;
        padding-left: 0;
        a {
            display: block;
            color: $color-black;
            text-decoration: none;
        }
    }
    .dropdown-list-item {
        padding: $vertical-rhythm/4;
        cursor: pointer;
        &:hover {
            color: $color-black;
            background-color: $color-grey-7;
        }
    }
    &.visible {
        .dropdown-list {
            display: block;
        }
    }
}
