.file {
    @include display(flex);
    width: 100%;
    .file-image {
        margin-bottom: 0;
    }
    .file-info {
        width: 100%;
        margin-left: $vertical-rhythm;
        .title {
            margin-bottom: $vertical-rhythm/2;
        }
    }
    .file-actions {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        @include display(flex);
        li {
            margin-left: $vertical-rhythm;
            &:first-child {
                margin-left: 0;
            }
            a, span {
                color: $color-blue;
                border-bottom: 1px dotted;
                cursor: pointer;
                &:hover {
                    color: $color-blue-dark;
                    border-bottom: 1px solid;
                    text-decoration: none;
                }
            }
        }
    }
    .file-embed {
        display: none;
        width: 100%;
        margin-top: $vertical-rhythm/2;
        @include border;
        &.visible {
            display: block;
        }
        textarea {
            display: block;
            margin-bottom: 0;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $color-grey;
        }
        .close-embed {
            padding: $vertical-rhythm/2;
            color: $color-blue;
            cursor: pointer;
            &:hover {
                color: $color-black;
                background-color: $color-blue;
            }
        }
    }
}
