.foia-single {
    width: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include border;
    overflow: hidden;
    background-color: #fff;
    .foia-info {
        @include display(flex);
        @include flex-wrap(wrap);
        padding: $vertical-rhythm/2;
        margin-bottom: 0;
        font-size: $font-size-2;
        line-height: $font-line-height;
        .status, .files {
            @include flex(1 1 50%);
        }
        .title, .summary {
            @include flex(2 2 100%);
        }
        .status, .title, .files {
            margin-bottom: $vertical-rhythm/2;
        }
        .files {
            text-align: right;
        }
        .title {
            font-size: $font-size-3;
            font-weight: $font-weight-bold;
        }
    }
    .foia-actions {
        @include display(flex);
        .clone, .view {
            @include flex(1);
            padding: $vertical-rhythm/2;
            background-color: $color-blue;
            color: $color-white;
            font-weight: $font-weight-bold;
            text-align: center;
            @include transition(background-color .25s linear);
            &:hover {
                color: $color-white;
                background-color: $color-blue-dark;
                text-decoration: none;
            }
        }
        .view {
            border-right: 1px solid $color-blue-dark;
        }
    }
}
