svg.icon {
    height: $font-size-3;
    width: auto;
    margin: 0 $vertical-rhythm/2;
    fill-rule: evenodd;
    path, polygon, rect {
        fill: $color-black;
    }
}

.svg-icon {
    display: inline-block;
    width: auto;
    height: 2rem;
    vertical-align: middle;
    margin: 0 0.5em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: $color-white;
}
.svg-icon circle {
    stroke: $color-white;
    stroke-width: 1;
}
