.svg-icon {
    display: inline-block;
    width: auto;
    height: 2rem;
    vertical-align: middle;
    margin: 0 0.5em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: $color-white;
}
.svg-icon circle {
    stroke: $color-white;
    stroke-width: 1;
}
