svg.icon {
    height: $font-size-3;
    width: $font-size-3;
    fill-rule: evenodd;
    path, polygon, rect, circle {
        fill: $color-black;
    }
}

svg.email.icon path {
    fill: none;
    stroke: $color-black;
}
