.manager {
    header {
        @include display(flex);
        @include justify-content(space-between);
        margin-bottom: 0;
    }
    form {
        display: none;
        @include border;
        padding: $vertical-rhythm/2;
        &.visible {
            display: block;
        }
        footer {
            @include display(flex);
            @include justify-content(space-between);
        }
    }
    input[type="text"] {
        width: 100%;
    }
    .deck {
        display: block;
        width: 100%;
        margin-bottom: $vertical-rhythm;
    }
}

.status.manager {
    .status {
        display: inline-block;
        margin-bottom: 0;
        color: $color-grey-4;
        font-weight: $font-weight-bold;
        @mixin colorize($status, $color) {
            &.#{$status} {
                color: $color;
                border-color: $color;
            }
        }
        @include colorize(success, $color-green);
        @include colorize(failure, $color-red);
        @include colorize(warning, $color-yellow);
    }
    .status-form {
        display: none;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        margin-bottom: 0;
        &.visible {
            @include display(flex);
        }
        select {
            @include flex(100%);
            margin-bottom: $vertical-rhythm/2;
        }
        button {
            margin-bottom: $vertical-rhythm/4;
        }
    }
}

.embargo.manager {
    .expiration input {
        margin-bottom: $vertical-rhythm/2;
    }
}

.manager {
    .tag-list {
        margin-bottom: $vertical-rhythm;
    }
    .tag-list li {
        display: inline-block;
    }
    .tag-form {
        display: none;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include border;
        padding: $vertical-rhythm/2;
        &.visible {
            @include display(flex);
        }
        input, p {
            @include flex(100%);
            margin-bottom: 0;
        }
        .tag-form-button {
            margin-bottom: $vertical-rhythm/4;
        }
    }
}
