/* Messages */

$color-sent: $color-blue;
$color-received: $color-grey-2;
$message-layout: new-breakpoint(min-width $large-breakpoint+200px 12);

.message {
    @include panel;
    @include grid-columns(4, 6, 11);
    padding: 0;

    .meta {
        @include fill-parent();
        width: 100%;
        padding: $vertical-rhythm/4;
        margin-bottom: 0;
        color: $color-white;
        overflow: hidden;
        @include border-top-radius($base-border-radius - 1);
        &.collapsed {
            @include border-bottom-radius($base-border-radius - 1);
        }
        img {
            display: none;
            width: 25px;
            margin-bottom: 0;
        }
        span {
            display: inline-block;
            padding: $vertical-rhythm/2;
            &.left { float: left; }
            &.right { float: right; }
        }
        .visibility {
            padding-right: 0;
            cursor: pointer;
        }
        .permalink { color: $color-white; }
    }

    .body {
        padding: $vertical-rhythm/2;
        @include media($medium-layout) {
            padding: $vertical-rhythm;
        }
    }

    .attachments {
        width: 100%;
        @include border-bottom-radius($base-border-radius - 1px);
        .attachment-list {
            margin: 0;
            padding-left: 0;
        }
        .attachment {
            padding: $vertical-rhythm/2 $vertical-rhythm;
            border-top-width: $base-border-width;
            border-top-style: dotted;
        }
    }

    &.received {
        border-color: $color-received;
        .meta { background-color: $color-received; }
        .attachments { border-color: $color-sent; }
    }

    &.sent {
        border-color: $color-sent;
        .meta { background-color: $color-sent; }
        .attachments { border-color: $color-sent; }
        @include media($large-layout) { @include shift(1); }
    }
}

.comm-actions {
    clear: both;
    fieldset { margin-bottom: $vertical-rhythm/4; }
    .comm-action {
        cursor: pointer;
        color: $color-grey-3;
        padding-right: $vertical-rhythm/2;
        &:hover {
            color: $color-black;
        }
    }
}

.sent.message + .comm-actions {
    text-align: right;
    fieldset label { text-align: right; }
    .delete-comm { text-align: right; }
}

.receieved.message + .comm-actions {
    text-align: left;
    fieldset label { text-align: left; }
    .delete-comm { text-align: left; }
}
