.modal {
    display: none;
    &.visible {
        display: block;
    }

    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    max-width: 100%;
    margin: 5%;
    @include border-radius;
    padding: $vr;

    background-color: $color-white;

    @include media($medium-layout) {
        top: 25%;
        left: 50%;
        @include transform(translateX(-50%));
        width: 50%;
        margin: 0;
    }

    h1, h2 { text-align: center; }
    h2 { @include font-sizing(1, 3); }
    textarea {
        resize: vertical;
        width: 100%;
        height: 10em;
        margin-top: $vr/2;
    }
    &.embed textarea {
        text-align: left;
        width: 100%;
        height: 10em;
        resize: none;
        font-size: 0.9em;
    }
    button { float: right; }
}
