/* Notifications */

ul.notifications {
    display: block;
    margin-bottom: $vertical-rhythm;
    padding: 0;
    list-style-type: none;
    @include transition($menu-animation);

    li.notification {
        display: table;
        width: 100%;
        height: 100%;
        overflow: hidden;
        span {
            display: table-cell;
            vertical-align: middle;
            &.symbol {
                height: 4em;
                width: 4em;
                color: $color-white;
                text-align: center;
                background-color: $color-black;
                @include border-left-radius($base-border-radius);
            }
            &.text {
                color: $color-white;
                background-color: $color-grey;
                padding: $vertical-rhythm/2;
                p {
                    vertical-align: middle;
                    font-size: 1.1em;
                    margin: 0;
                    color: $color-black;
                }
                a {
                    color: $color-black;
                    opacity: .7;
                    text-decoration: underline;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &.dismiss {
                color: $color-white;
                background-color: $color-grey;
                text-align: center;
                width: 6em;
                button.close {
                    @include button($color-grey-3);
                    float: right;
                    opacity: 0.5;
                    font-size: 0.8em;
                    margin: 0 1.5em;
                    padding: $vertical-rhythm/4 $vertical-rhythm/2;
                    @include border-radius;
                    &:hover { opacity: 0.9; }
                }
                @include border-right-radius($base-border-radius);
            }
        }

        @mixin colorize($color) {
            span.text, span.dismiss { background-color: $color; }
            span.symbol {
                color: $color;
                @include colorize-icon($color);
            }
        }

        &.success { @include colorize($color-green); }
        &.error { @include colorize($color-red); }
        &.info { @include colorize($color-blue); }
        &.warning { @include colorize($color-yellow); }
    }
}
