.orphans {
    .top.controls {
        overflow: hidden;
        fieldset {
            display: block;
            margin: 0 $vr $vr/2 0;
            label, input {
                float: left;
                margin: 0 $vr/4 0 0;
            }
        }
    }
    .orphan {
        @include row;
        .orphan-head {
            margin-top: $vr/2;
            border-top: $base-border-width solid $color-grey;
            padding-top: $vr/2;
            div {
                float: left;
                margin-right: $vr/2;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
