.pagination__control, .pagination__links {
    margin-bottom: 0;
}

.pagination__control {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

.pagination__control__item {
    @include flex(1 1 15em);
    margin-bottom: $vr/2;
    text-align: center;
}

.pagination__links {
    @include display(flex);
    @include flex-wrap(wrap);
    @include border;
    border-right: none;
    border-bottom: none;
    & > span {
        flex: 1 1 5em;
        @include display(flex);
        @include flex-wrap(wrap);
    }
    .pagination__link {
        flex: 1 1 5em;
        padding: $vr/4 $vr/2;
        text-align: center;
        border-right: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
    }
}

.pagination__link {

}
