.pagination {
    @include row;
}
.pagination-form, .pagination-links {
    @include span-columns(6);
    @include media($medium-layout) {
        @include span-columns(6);
    }
    @include media($large-layout) {
        @include span-columns(12);
    }
    margin-bottom: 0;
}

.pagination-info {
    @include third;
    @include omega(3n);
    @include media($medium-layout){
        &:nth-child(2) {
            text-align: center;
        }
        &:nth-child(3) {
            text-align: right;
        }
    }
    margin-bottom: $vertical-rhythm/2;
}

.pagination-links {
    display: table;
    margin-bottom: $vertical-rhythm;
    border-collapse: collapse;
    a, span {
        width: 25%;
        display: table-row;
        border: 1px solid $color-grey;
        text-align: center;
        @include media($medium-layout) {
            display: table-cell;
        }
    }
    span {
        cursor: default;
        color: $color-grey;
    }
    a:hover {
        text-decoration: none;
        background: $color-blue;
        color: $color-white;
        border-color: $color-blue;
    }
}
