.pagination__control, .pagination__links {
    margin-bottom: 0;
}

.pagination__control {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

.pagination__control__item {
    @include flex(1 1 10em);
    margin-bottom: $vr/2;
    text-align: center;
}

.pagination__links {
    display: table;
    width: 100%;
    margin-bottom: $vr;
    border-collapse: collapse;
    a, span {
        width: 25%;
        display: table-row;
        padding: $vr/4 $vr/2;
        border: 1px solid $color-grey;
        text-align: center;
        @include media($medium-bp) {
            display: table-cell;
        }
    }
    span {
        cursor: default;
        color: $color-grey;
    }
    a:hover {
        text-decoration: none;
        background: $color-blue;
        color: $color-white;
        border-color: $color-blue;
    }
}
