.project-item a {
    display: block;
    max-width: 15em;
    margin-bottom: $vertical-rhythm;
    border: 1px solid $color-black;
    color: $color-white;
    background: $color-blue;
    .project-image {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 0;
        opacity: .75;
    }
    .project-info {
        display: block;
        margin-bottom: 0;
        padding: $vertical-rhythm/2;
    }
    &:hover {
        text-decoration: none;
        background: $color-blue-dark;
    }
}
