.progress {
    width: 100%;
    // border: 1px solid $color-grey;
    background: $color-grey-7;
    @include border-radius;
    overflow: hidden;
    .meter {
        display: block;
        background: $color-green;
        height: $vr/4;
        @include border-radius;
    }
}
