.pullquote {
    @include display(flex);
    @include align-items(flex-start);
    margin: 2*$vr 0;
    blockquote {
        margin-bottom: 0;
        border-left: 4px solid $color-black;
        font-size: $size-5;
        font-weight: $bold;
        font-style: normal;
        line-height: $lh;
        @include media($medium-bp) {
            font-size: $size-6;
        }
    }
    .sharing {
        width: 40%;
    }
    .sharing a {
        @include display(inline-flex);
        @include justify-content(center);
        @include align-items(center);
        height: 2em;
        width: 2em;
        border-radius: 100%;
        .icon {
            height: $size-4;
            width: $size-4;
        }
        path {
            fill: $color-white;
        }
        background: $color-black;
        &.twitter {
            background: $color-twitter;
        }
        &.facebook {
            background: $color-facebook;
        }
        transition: transform .25s ease-out;
        transform: scale(0.8);
        &:hover {
            transform: scale(1.0);
        }
    }
}
