.social.sharing {
    width: 100%;
    margin: 0 0 $vertical-rhythm 0;
    text-align: left;
}

.sharing > a {
    &.facebook {  @include colorize-icon($color-facebook); }
    &.twitter { @include colorize-icon($color-twitter); }
    &.email { @include colorize-icon($color-email); }
    width: 33%;
    margin: 0 $vertical-rhythm/8;
    &:first-of-type {
        margin-left: 0;
        svg { margin-left: 0; }
    }
    &:last-of-type {
        margin-right: 0;
        svg { margin-right: 0; }
    }
    text-decoration: none;
    text-align: left;
    .svg-icon {
        height: 24px;
        width: 24px;
    }
}

.sharing > a:hover {
   &.facebook {  @include colorize-icon(darken($color-facebook, 20%)); }
    &.twitter { @include colorize-icon(darken($color-twitter, 20%)); }
    &.email { @include colorize-icon(darken($color-email, 20%)); }
}
