.social.sharing {
    .channels {
        @include display(flex);
        @include align-items(center);
    }
    .channel {
        overflow: hidden;
        @include flex(1);
        text-align: center;
    }
    .icon {
        vertical-align: middle;
        path {
            fill: $color-white;
        }
        &.email path {
            fill: none;
            stroke: $color-white;
        }
    }
    a {
        display: block;
        padding: $vertical-rhythm/2;
        background: $color-grey;
        &.email { background: $color-email; }
        &.twitter { background: $color-twitter; }
        &.facebook { background: $color-facebook; }
        transition: opacity .25s linear;
        opacity: .9;
        &:hover {
            opacity: 1;
        }
    }
    .label {
        display: none;
    }
}
