.social.sharing {
    .channels {
        @include display(flex);
        @include align-items(center);
    }
    .channel {
        overflow: hidden;
        @include flex(1);
        text-align: center;
        transition: transform .1s ease-out;
        &:hover {
            z-index: 1;
            transform: scale(1.15);
        }
    }
    .icon {
        height: 1.25rem;
        width: 1.25rem;
        vertical-align: middle;
    }
    @include icon-color($color-white);
    a {
        display: block;
        padding: $vertical-rhythm/2;
        background: $color-grey;
        &.email { background: $color-email; }
        &.twitter { background: $color-twitter; }
        &.facebook { background: $color-facebook; }
    }
    .label {
        display: none;
    }
}
