$darken-amount: 10%;
$button-width: 7em;

.sharing {
    @include display(flex);
    @include flex-wrap(wrap);
    dfn {
        @include flex(100%);
    }
    @include media($medium-layout) {
        width: $button-width;
    }
}


.share {
    @include flex(1 1 $button-width);
    display: block;
    margin: 0 $vertical-rhythm/4 $vertical-rhythm/4 0;
    padding: $vertical-rhythm/2 $vertical-rhythm;
    @include border-radius;
    color: $color-white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    @include transition(background-color, .25s, linear);
    &:hover {
        color: $color-white;
        text-decoration: none;
    }
    &.facebook {
        background-color: $color-facebook;
        &:hover {
            background-color: darken($color-facebook, $darken-amount);
        }
    }
    &.twitter {
        background-color: $color-twitter;
        &:hover {
            background-color: darken($color-twitter, $darken-amount);
        }
    }
    &.email {
        background-color: $color-email;
        &:hover {
            background-color: darken($color-email, $darken-amount);
        }
    }
    @include colorize-icon($color-white);
    .svg-icon {
        height: 1rem;
        width: 1rem;
        margin-left: 0;
    }
}
