.tab-list {
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid $color-black;
    li {
        display: inline-block;
    }
}

.tab {
    display: block;
    margin-bottom: -1px;
    color: $color-grey-3;
    padding: $vertical-rhythm/2;
    cursor: pointer;
    outline: none;
    @include border-top-radius(4px);
    &:hover {
        color: $color-black;
        text-decoration: none;
    }
}
.tab.active {
    border: 1px solid $color-black;
    border-bottom-color: $color-white;
    color: $color-black;
}

.tab .counter {
    @include border-radius;
    padding: 0 $vertical-rhythm/2;
    background: $color-grey-7;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
}

.tab.alert {
    color: $color-red;
    .counter {
        background: $color-red-light;
    }
}

.tab-panel-heading {
    border-bottom: 1px solid $color-grey;
}
