.tab-list {
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid $color-black;
    li {
        display: inline-block;
    }
}

.tab {
    display: block;
    margin-bottom: -1px;
    color: $color-grey-3;
    padding: $vr/2;
    cursor: pointer;
    outline: none;
    @include border-top-radius(4px);
    &:hover {
        color: $color-black;
        text-decoration: none;
    }
}
.tab.active {
    border: 1px solid $color-black;
    border-bottom-color: $color-white;
    color: $color-black;
}

.tab.alert {
    color: $color-red;
    .counter {
        background: $color-red-light;
    }
}

.tab-panel-heading {
    border-bottom: 1px solid $color-grey;
}

@media only screen and (max-width: 768px) {
    .tab-list {
        border: 1px solid $color-black;
    }
    .tab-list li {
        display: block;
        border-bottom: 1px solid $color-black;;
        &:last-child {
            border-bottom: none;
        }
    }
    .tab {
        border-radius: 0;
    }
    .tab.active {
        border: none;
        border-bottom: 1px solid $color-black;
        background: $color-blue;
        color: $color-white;
    }
    .tab.active .counter {
        background: $color-blue-dark;
    }
}
