table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    td, th {
        padding: $vertical-rhythm/2;
    }
    tbody tr, thead th {
        border: $base-border-width solid $color-grey-6;
    }
}

.file__cell .file {
    border: none;
    padding: 0;
}
