.tag {
    display: inline-block;
    margin-bottom: $vr/6;
    padding: 0 $vr/4;
    background: $color-blue;
    color: $color-white;
    font-size: $font-size-3;
    line-height: $font-line-height;
    &:hover {
        color: $color-white;
        background: $color-blue-dark;
        text-decoration: none;
    }
}

.tag-list {
    margin-bottom: $vr;
}
.tag-list li {
    display: inline-block;
}

button.tag, .button.tag {
    border: none;
    border-radius: 0;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}
