.tag {
    display: inline-block;
    margin: $vertical-rhythm/4 $vertical-rhythm/6;
    padding: $vertical-rhythm/6 $vertical-rhythm/3 $vertical-rhythm/6 $vertical-rhythm/3;
    background-color: $color-blue;
    color: $color-white;
    font-size: $font-size-2;
    text-decoration: none;
    @include transition(background-color .25s linear);
    &:hover {
        color: $color-white;
        background-color: $color-blue-dark;
        text-decoration: none;
    }
}

button.tag, .button.tag {
    border: none;
    border-radius: 0;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}

.tag-form {
    display: none;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include border;
    @include border-radius;
    padding: $vertical-rhythm/2;
    &.visible {
        @include display(flex);
    }
    input, p {
        @include flex(100%);
        margin-bottom: 0;
    }
    .tag-form-button {
        margin-bottom: $vertical-rhythm/4;
    }
}

.tag-manager {
    header {
        @include display(flex);
        @include justify-content(space-between);
        margin-bottom: 0;
    }
    .tag-list {
        list-style-type: none;
        padding: 0;
    }
    .tag-list li {
        display: inline-block;
    }
}
