$task-padding: $vertical-rhythm/4 $vertical-rhythm/2;

.collapsable > header {
    cursor: pointer;
}

.collapsable.collapsed {
    & > * { display: none !important; }
    & > header { @include display(flex !important); }
}

.task {
    position: relative;
    border: 1px solid $color-black;
    background: $color-white-pure;
    & > * {
        padding: $task-padding;
        margin-bottom: 0;
    }
    & > main {
        padding: 0;
    }
}

.task.resolved {
    border-color: $color-green;
    .task-header {
        background: $color-green;
    }
}

.task-header {
    @include display(flex);
    @include align-items(center);
    background-color: $color-black;
    color: $color-white;
    a {
        color: $color-white;
    }
    .task-type {
        padding-left: $vertical-rhythm/2;
    }
    time {
        @include flex(auto);
        text-align: right;
    }
}

.task-data {
    padding: $vertical-rhythm/2;
    li {
        margin-left: $vertical-rhythm;
    }
}

.task .full-letter {
    margin-bottom: 0;
    background: $color-grey-7;
    & > header {
        @include display(flex);
        margin-bottom: 0;
        border-bottom: 1px solid $color-grey;
        padding: $task-padding;
        background: $color-grey-7;
    }
    textarea {
        display: block;
        border-radius: 0;
        border-bottom: 1px solid $color-grey;
        max-width: 100%;
        height: 20em;
        padding: $vertical-rhythm/2;
        font-family: $font-monospace;
        font-size: $font-size-2;
    }
}

.task .full-communication {
    margin-bottom: 0;
    background: $color-grey-7;
    & > header {
        @include display(flex);
        margin-bottom: 0;
        border-bottom: 1px solid $color-grey;
        padding: $task-padding;
        background: $color-grey-7;
    }
    main {
        border-bottom: 1px solid $color-grey;
        padding: $vertical-rhythm/2;
    }
}

.task .task-actions {
    background: $color-grey-7;
    text-align: right;
    input, select, label {
        display: block;
        width: 100%;
        margin-bottom: $vertical-rhythm;
    }
    input[type="checkbox"] {
        width: auto;
        float: left;
    }
    label {
        margin-bottom: 0;
    }
}

.task .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: $color-white;
    text-align: center;
    font-weight: $font-weight-bold;
    a {
        color: $color-white;
    }
    z-index: -1;
    opacity: 0;
    @include transition(opacity, .5s, linear);
    &.visible {
        z-index: 1;
        opacity: .9;
    }
    &.pending  { background-color: $color-grey;    }
    &.error    { background-color: $color-red;     }
    .loader, .dialog {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Flagged Task */

.flagged.task .flag-reply {
    background-color: $color-grey-7;
    border-bottom: 1px solid $color-grey;
    header, footer, textarea {
        margin-bottom: 0;
        padding: $task-padding;
    }
    textarea {
        display: block;
        height: 10em;
        border-radius: 0;
        border: none;
    }
    .submission-control {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);
    }
    .checkbox-field {
        margin-bottom: 0;
        margin-left: $vertical-rhythm;
    }
}

/* Stale Agency Task */

.stale-agency .task-data {
    margin-bottom: 0;
}

.stale-agency .stale-requests {
    border-bottom: 1px solid $color-grey;
    header {
        margin-bottom: 0;
        padding: $vertical-rhythm/2;
        background: $color-grey-7;
    }
    input[type="text"] {
        margin: 0;
        border-radius: 0;
        width: 100%;
    }
    abbr {
        cursor: help;
    }
}

.stale-agency .recent-response {
    text-align: left;
    p {
        margin-bottom: 0;
    }
}

.stale-agency .form-field {
    text-align: left;
}

/* New Agency Task */

.new-agency-forms {
    padding: 0 $vertical-rhythm/2;
}

.new-agency .task-data {
    margin-bottom: 0;
}

.new-agency.form {
    margin-top: 0;
    margin-bottom: $vertical-rhythm/2;
    padding: 0;
    border-radius: 0;
    background: $color-white;
    header, footer {
        padding: $task-padding;
        margin-bottom: 0;
    }
    header {
        font-weight: $font-weight-bold;
        font-size: $font-size-2;
        color: $color-white;
        background: $color-grey-6;
    }
    footer {
        text-align: right;
    }
    input {
        display: block;
        width: 100%;
    }
    textarea {
        margin-bottom: 0;
        height: 5em;
        resize: none;
    }
    main {
        @include display(flex);
        @include flex-wrap(wrap);
        margin-bottom: 0;
    }
    fieldset {
        @include flex(1 0 50%);
        margin-bottom: $vertical-rhythm/2;
        padding: 0 $vertical-rhythm/2;
    }
    fieldset.id_name {
        @include flex(1 0 100%);
        margin-left: 0;
        margin-right: 0;
    }
    .help-text {
        color: $color-grey-3;
        line-height: $font-line-height;
    }
}

.new-agency.rejection.form {
    background: $color-red-light;
    border-color: $color-red;
    header {
        background: $color-red;
    }
    main {
        padding: $task-padding;
    }
    select {
        display: block;
        width: 100%;
    }
}

.new-agency.approval.form {
    background: $color-green-light;
    border-color: $color-green;
    header {
        background: $color-green;
    }
    .help-text {
        color: $color-green-dark;
    }
}

/* Response Task */

.response.task {
    .response-input {
        margin-bottom: 0;
        text-align: left;
        @include columns(3 12em);
        label {
            font-size: $font-size-2;
        }
    }
    .task-data {
        margin-bottom: 0;
    }
}

/* Snail Mail Task */

.task .task-post-actions input[type="checkbox"] {
    float: none;
    display: inline-block;
    margin: 0 $vertical-rhythm/2;
}

.snail-mail.task .task-post-actions {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(flex-end);
    margin-bottom: 0;
    .input-group {
        @include flex(3 1 auto);
    }
    .button-group {
        @include flex(1 1 auto);
        text-align: right;
    }
}
