.task {
    @include row;
    border: 1px solid $color-black;
    &.resolved {
        border-color: $color-green;
    }
}

.resolved .task-header {
    background: $color-green;
}

.task-header {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;

    .checkbox {
        position: absolute;
        top: $vertical-rhythm/2;
        left: $vertical-rhythm/4;
    }

    .task-resolved, .task-metadata {
        @include span-columns(12);
        @include row;
        padding: $vertical-rhythm/4 $vertical-rhythm/2;
        p, time {
            @include span-columns(6);
        }
    }

    .task-type {
        margin: 0;
        padding-left: $vertical-rhythm;
    }

    time {
        text-align: right;
        a { color: $color-white; }
    }
}

.task .task-data {
    @include span-columns(8);
    padding: $vertical-rhythm/2;
    li {
        margin-left: $vertical-rhythm;
    }
}

.task .task-actions {
    @include span-columns(4);
    @include omega;
    padding: $vertical-rhythm/2;
    input, select, button, label {
        display: block;
        width: 100%;
        margin-bottom: $vertical-rhythm;
    }
    input[type="checkbox"] {
        width: auto;
        margin-right: $vertical-rhythm;
    }
    label {
        margin-bottom: 0;
    }
}

.task .task-extra-context {
    @include span-columns(12);
    margin-bottom: 0;
    padding: $vertical-rhythm/2;
    background: $color-grey-7;
    button {
        display: block;
        width: 10em;
        margin-bottom: $vertical-rhythm/2;
    }

    .extra-context {
        display: block;
        padding-top: $vertical-rhythm;
        border-top: 1px solid $color-grey;
    }
    .extra-context.hidden {
        display: none;
    }
}

.collapsed.task {
    & > * {
        display: none;
    }
    .task-header {
        display: block;
    }
}

.task {
    position: relative;
    .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: $color-white;
        text-align: center;
        font-weight: $font-weight-bold;
        a {
            color: $color-white;
        }
        z-index: -1;
        opacity: 0;
        @include transition(opacity, .5s, linear);
        &.visible {
            z-index: 1;
            opacity: .9;
        }
        &.pending  { background-color: $color-grey;    }
        &.error    { background-color: $color-red;     }
        .loader, .dialog {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* Flagged Task */

.flagged.task .task-extra-context {
    padding: 0;
    header, footer, textarea {
        margin-bottom: 0;
        padding: $vertical-rhythm/2;
    }
    textarea {
        display: block;
        height: 10em;
        border-radius: 0;
        border: none;
    }
    form footer {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
    }
    .checkbox-field {
        margin-bottom: 0;
    }
}

/* New Agency Task */

.new-agency.rejection.form {
    border-color: $color-red;
}

.new-agency.approval.form {
    border-color: $color-green;
    @include row;
    overflow: hidden;
    .id_name, .id_aliases, .id_address {
        @include full;
    }
    .id_address, .id_url, .id_fax {
        @include omega;
    }
    fieldset {
        @include grid-columns(4, 3, 6);
        input {
            width: 100%;
        }
        .help-text {
            margin: $vertical-rhythm/4 0 0 0;
        }
    }

}

/* Response Task */

.response.task {
    #id_status {
        margin-bottom: $vertical-rhythm;
    }
    .file {
        margin-bottom: $vertical-rhythm/4;
        border: 1px solid $color-grey;
        padding: $vertical-rhythm/4;
    }
    .task-extra-context {
        margin: 0;
    }
    .task-extra-context dd {
        margin-bottom: $vertical-rhythm;
        &:last-child { margin-bottom: 0; }
    }
    .communication {
        // margin: $vertical-rhythm/2 0;
        border: 1px solid $color-grey;
        border-left-width: 9px;
        padding: $vertical-rhythm/2;
        header {
            @include row;
            @extend dfn;
            p, time { @include half; }
            p { margin: 0; }
            @include media($medium-layout) {
                time { text-align: right; }
            }
        }
        p { margin-bottom: 0; }
    }
    .created-from-orphan {
        margin-bottom: 0;
        padding: $vertical-rhythm/2;
        background-color: $color-yellow;
    }
}

/* Snail Mail Task */


.task-post-actions input[type=checkbox] {
    width: 20%;
    float: left;
    margin-top: .4em;
    & + label {
        line-height: 1.5em;
        margin-bottom: $vertical-rhythm;
    }
}

.extra-context textarea {
    height: 15em;
    overflow: none;
}
