/*
** Textbox
**
** The textbox component is used wherever we display a discrete unit of textual information.
** It provides a colored header that contains metadata information and then sectional information.
** When combined with the .collapsable class, textboxes can be reduced down to just their header.
** Some implementations of this component are communications, questions, and task patterns.
*/

@mixin color-textbox($color) {
    border-color: $color;
    .textbox__header {
        background: $color;
    }
}

@mixin hidden-color-textbox($color1, $color2) {
    border-color: $color1;
    .textbox__header::before {
        content: "HIDDEN - ";
        font-weight: bold;
    }
    .textbox__header {
        background: repeating-linear-gradient(
        45deg,
        $color1,
        $color1 10px,
        $color2 10px,
        $color2 20px
        );
    }
}

.textbox {
    @include border;
    position: relative;
    word-wrap: break-word;
    background: $color-white-pure;
    .textbox__header, .textbox__section, .textbox__footer {
        padding: $vr/4 $vr/2;
    }
    .textbox__header {
        @include display(flex);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        @include flex-direction(row);
        margin-bottom: 0;
        color: $color-white;
        p {
            margin-bottom: 0;
        }
        a {
            color: $color-white;
        }
    }
    .textbox__footer {
        margin-bottom: 0;
    }
}

.textbox { @include color-textbox($color-black); }
.blue.textbox { @include color-textbox($color-blue); }
.green.textbox { @include color-textbox($color-green); }
.red.textbox { @include color-textbox($color-red); }
.yellow.textbox { @include color-textbox($color-yellow); }
.grey.textbox { @include color-textbox($color-grey); }
.yellow.textbox {
    .textbox__header {
        color: $color-black;
    }
}
.hidden.textbox { @include hidden-color_textbox($color-black, $color-grey-3); }
.hidden.blue.textbox { @include hidden-color_textbox($color-blue, $color-blue-dark); }

.collapsable > header {
    cursor: pointer;
}

.collapsable.collapsed {
    & > * { display: none !important; }
    & > header { @include display(flex !important); }
}
