.DV-docViewer {
    width: 100% !important;
}

img.DV-pixelping {
    display: none;
}

.viewer {
    width: 100% !important;
    position: relative;
    max-width: 100%;
    height: 40em;
    * {
        margin-bottom: initial;
    }
}
