
{% extends 'base.html' %}

{% block title %} Agency Login {% endblock %}

{% block content %}
  <article class="flatpage detail">
    <h2>Resend Token</h2>
    {% if valid %}
      <p>Your login token has expired.  You may send a new one now to {{ email }}.</p>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{email}}">
        <input type="submit" value="Resend token" class="primary button">
      </form>
    {% else %}
      <p>Your login token has expire and your email address is not valid for this agency.  If you need help logging in, please email <a href="mailto:{{ settings.DEFAULT_FROM_EMAIL }}">{{ settings.DEFAULT_FROM_EMAIL }}</a></p>
    {% endif %}
  </article>
{% endblock %}
