{% extends 'base.html' %}

{% block content %}
<div class="notifications detail">
    <header class="notifications__header">
        <span class="notifications__title">
            <h1>{{title}}</h1>
            <ul class="nostyle inline">
                <li><a href="{% url 'acct-notifications-unread' %}">
                    <span class="counter {% if unread_notifications.count > 0 %}blue{% endif %}">{{unread_notifications.count}}</span> Unread
                </a></li>
                <li><a href="{% url 'acct-notifications' %}">All Notifications</a></li>
            </ul>
        </span>
        <form method="post">
            {% csrf_token %}
            {% if unread_notifications.count > 0 %}
            <button type="submit" name="action" value="mark_all_read" class="button">Mark all as read</button>
            {% else %}
            <button type="submit" name="action" value="mark_all_read" class="button" disabled>Mark all as read</button>
            {% endif %}
        </form>
    </header>
    {% if notifications|length > 0 %}
    {% if page_obj.paginator.num_pages > 1 %}
    {% include 'lib/component/pagination.html' %}
    {% endif %}
    <ul class="nostyle notifications__list">
    {% for notification in notifications %}
        <li {% if not notification.read %}class="unread"{% endif %}>{% include 'lib/pattern/notification.html' %}</li>
    {% endfor %}
    </ul>
    {% if page_obj.paginator.count > 10 %}
    {% include 'lib/component/pagination.html' %}
    {% endif %}
    {% else %}
    {% block notifications-empty %}
    <div class="notifications--empty">
        {% include 'lib/component/icon/notification.svg' %}
        <h2>No notifications</h2>
        <p>Notifications about site activity will collect here.</p>
    </div>
    {% endblock %}
    {% endif %}
</div>
{% endblock %}
