{% extends 'base.html' %}

{% block content %}
<div class="notifications detail">
    <h1>Notifications</h1>
    <div class="tab-container">
        <ul class="tab-list">
            <li><a href="#recent" class="tab">Recent</a></li>
            <li><a href="#unread" class="tab"><span class="counter">{{unread_notifications.count}}</span> Unread</a></li>
        </ul>
        <div class="tab-panel" id="recent">
            {% if recent_notifications|length > 0 %}
            <ul class="nostyle notifications__list">
            {% for notification in recent_notifications %}
                <li {% if not notification.read %}class="unread"{% endif %}>{% include 'lib/pattern/notification.html' %}</li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="notifications--empty">
                {% include 'lib/component/icon/notification.svg' %}
                <h2>No notifications</h2>
                <p>Notifications about site activity will collect here.</p>
            </div>
            {% endif %}
        </div>
        <div class="tab-panel" id="unread">
            {% if unread_notifications|length > 0 %}
            <ul class="nostyle">
            {% for notification in unread_notifications %}
                <li>{% include 'lib/pattern/notification.html' %}</li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="notifications--empty">
                {% include 'lib/component/icon/notification.svg' %}
                <h2>No unread notifications</h2>
                <p>New notifications you haven't read yet will appear here.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
