{% extends 'base.html' %}
{% load static from staticfiles %}

{% block prefetch %}
    <link rel="prefetch" href="{% url 'accounts-signup-basic' %}" />
    <link rel="prefetch" href="{% url 'accounts-signup-professional' %}" />
    <link rel="prefetch" href="{% url 'accounts-signup-organization' %}" />
{% endblock %}

{% block content %}
{% if logged_in %}
<article class="logged-in account plans">
    <header>
        <h1>Change your plan</h1>
        <p>We offer a 30-day money-back guarantee for all purchases. Questions or concerns? <a href="mailto:info@muckrock.com">Contact us.</a></p>
    </header>
    <main>
        <section class="basic plan">
            <h2>Basic</h2>
            <ul>
                <li>Free to sign up, no credit card required.</li>
                <li>File requests to any agency in the U.S.A.</li>
                <li>Follow requests with email notifications.</li>
                <li>Share requests with other MuckRock users.</li>
                <li>Purchase bundles of 4 requests for $20 each.</li>
                <li>Create campaigns to crowdfund expensive request fees.</li>
            </ul>
            {% if org %}
            <button disabled>You own an organization</button>
            {% elif acct_type == 'proxy' %}
            <button disabled>You are a proxy requester</button>
            {% elif acct_type == 'admin' %}
            <button disabled>You are staff</button>
            {% elif acct_type == 'pro' %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="downgrade" />
                <button type="submit">Downgrade to Basic</button>
            </form>
            {% else %}
            <p class="current-plan">Your Current Plan</p>
            {% endif %}
        </section>
        <section class="professional plan">
            <h2>Professional</h2>
            <ul>
                <li>All Basic features.</li>
                <li>Receive 20 requests per month.</li>
                <li>Embargo requests for up to 30 days after they're completed.</li>
                <li>File the same request to multiple agencies at once.</li>
            </ul>
            {% if org %}
            <button disabled>You own an organization</button>
            {% elif acct_type == 'admin' %}
            <button disabled>You are staff</button>
            {% elif acct_type == 'pro' or acct_type == 'proxy' %}
            <p class="current-plan">Your Current Plan</p>
            {% else %}
            <form method="post" id="subscribe">
                {% csrf_token %}
                <input type="hidden" name="action" value="upgrade" />
                <button
                    data-amount="0"
                    data-description="Subscription ($40.00/month)"
                    data-email="{{email}}"
                    data-label="Subscribe"
                    data-form="#subscribe"
                    class="checkout-button primary">
                    Subscribe for $40/month
                </button>
            </form>
            {% endif %}
        </section>
        <section class="organization plan">
            <h2>Organization</h2>
            <ul>
                <li>All Basic features.</li>
                <li>Share 50 requests per month between up to 3 members.</li>
                <li>Add members and receive 10 additional requests for $20 each.</li>
                <li>Members can permanently embargo requests.</li>
            </ul>
            {% if org %}
            <p class="current-plan">Your Current Plan</p>
            {% else %}
            <a class="primary button" href="{% url 'org-create' %}">Subscribe from $100/month</a>
            {% endif %}
        </section>
    </main>
</article>
{% else %}
<article class="logged-out account plans">
    <header>
        <h1>Join MuckRock today</h1>
        <p>We offer a 30-day money-back guarantee for all purchases. Questions or concerns? <a href="mailto:info@muckrock.com">Contact us.</a></p>
    </header>
    <main>
        <section class="basic plan">
            <h2>Basic</h2>
            <ul>
                <li>Free to sign up, no credit card required.</li>
                <li>File requests to any agency in the U.S.A.</li>
                <li>Follow requests with email notifications.</li>
                <li>Share requests with other MuckRock users.</li>
                <li>Purchase bundles of 4 requests for $20 each.</li>
                <li>Create campaigns to crowdfund expensive request fees.</li>
            </ul>
            <a class="primary button" href="{% url 'accounts-signup-basic' %}">Sign up for free</a>
        </section>
        <section class="professional plan">
            <h2>Professional</h2>
            <ul>
                <li>All Basic features.</li>
                <li>Receive 20 requests per month.</li>
                <li>Embargo requests for up to 30 days after they're completed.</li>
                <li>File the same request to multiple agencies at once.</li>
            </ul>
            <a class="primary button" href="{% url 'accounts-signup-professional' %}">Subscribe for $40/month</a>
        </section>
        <section class="organization plan">
            <h2>Organization</h2>
            <ul>
                <li>All Basic features.</li>
                <li>Share 50 requests per month between up to 3 members.</li>
                <li>Add members and receive 10 additional requests for $20 each.</li>
                <li>Members can permanently embargo requests.</li>
            </ul>
            <a class="primary button" href="{% url 'accounts-signup-organization' %}">Subscribe from $100/month</a>
        </section>
    </main>
</article>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.checkout-button').click(function(e){
            e.preventDefault();
            var checkoutData = getCheckoutData($(this));
            checkout(
                "{{ stripe_pk }}",
                "{% static 'apple-touch-icon.png' %}",
                checkoutData.description,
                checkoutData.amount,
                checkoutData.email,
                checkoutData.label,
                checkoutData.form
            );
        });
    });
</script>
{% endblock %}
