{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
{% if logged_in %}
<article class="logged-in account plans">
    <header>
        <h1>Change your plan</h1>
        <p>We offer a 30-day money-back guarantee for all purchases. Questions or concerns? <a href="mailto:info@muckrock.com">Contact us.</a></p>
    </header>
    <main>
        <section class="basic plan">
            <h2>Basic</h2>
            <ul>
                <li>Free to sign up, no credit card required.</li>
                <li>File requests to any agency in the U.S.A.</li>
                <li>Follow requests with email notifications.</li>
                <li>Share requests with other MuckRock users.</li>
                <li>Purchase bundles 4 requests for $20 each.</li>
                <li>Create campaigns to crowdfund expensive request fees.</li>
            </ul>
            <button class="primary">Sign up for free</button>
        </section>
        <section class="professional plan">
            <h2>Professional</h2>
            <ul>
                <li>All basic features.</li>
                <li>Receive 20 requests per month.</li>
                <li>Embargo requests for up to 30 days after they're completed.</li>
                <li>File the same request to multiple agencies at once.</li>
            </ul>
            <button class="primary">Subscribe for $40/month</button>
        </section>
        <section class="organization plan">
            <h2>Organization</h2>
            <ul>
                <li>Share a pool of requests between organization members.</li>
                <li>Follow the activity of other members in your organization.</li>
                <li>Organization members may permanently embargo their requests.</li>
                <li>Plan starts at $100 for up to 3 members and 50 requests per month.</li>
                <li>Add members and receive 10 additional requests for $20 each.</li>
            </ul>
            <button class="primary">Start an organization</button>
        </section>
    </main>
</article>
{% else %}
<article class="logged-out account plans">
    <header>
        <h1>Pick a plan</h1>
        <p>We offer a 30-day money-back guarantee for all purchases. Questions or concerns? <a href="mailto:info@muckrock.com">Contact us.</a></p>
    </header>
    <main>
        <section class="basic plan">
            <h2>Basic</h2>
            <ul>
                <li>Free to sign up, no credit card required.</li>
                <li>File requests to any agency in the U.S.A.</li>
                <li>Follow requests with email notifications.</li>
                <li>Share requests with other MuckRock users.</li>
                <li>Purchase bundles 4 requests for $20 each.</li>
                <li>Create campaigns to crowdfund expensive request fees.</li>
            </ul>
            <a class="primary button" href="{% url 'accounts-signup-basic' %}">Sign up for free</a>
        </section>
        <section class="professional plan">
            <h2>Professional</h2>
            <ul>
                <li>All basic features.</li>
                <li>Receive 20 requests per month.</li>
                <li>Embargo requests for up to 30 days after they're completed.</li>
                <li>File the same request to multiple agencies at once.</li>
            </ul>
            <a class="primary button" href="{% url 'accounts-signup-professional' %}">Subscribe for $40/month</a>
        </section>
        <section class="organization plan">
            <h2>Organization</h2>
            <ul>
                <li>All basic features.</li>
                <li>Share 50 requests per month between up to 3 members.</li>
                <li>Add members and receive 10 additional requests for $20 each.</li>
                <li>Members can permanently embargo requests.</li>
            </ul>
            <button class="primary" data-plan="organization">Subscribe from $100/month</button>
        </section>
    </main>
    <div class="registration forms">
        <form method="post" class="organization registration form">
            {% csrf_token %}
            <h2>Create an organization</h2>
            <input type="hidden" name="plan" value="organization">
            <h3>First, create a profile</h3>
            <div class="fields">
                {% for field in registration_form.visible_fields %}
                <fieldset class="{{ field.label|lower }} field{% if field.field.required %} required{% endif %}">
                    <label {% if field.errors %}class="failure"{% endif %} for="{{ field.auto_id }}">{{ field.label}}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}<p class="default"><small>{{ field.help_text }}</small></p>{% endif %}
                </fieldset>
                {% endfor %}
            </div>
            <h3>Next, name your organization</h3>
            <div class="fields">
                {% for field in org_form.visible_fields %}
                <fieldset class="{{ field.label|lower }} field{% if field.field.required %} required{% endif %}">
                    <label {% if field.errors %}class="failure"{% endif %} for="{{ field.auto_id }}">{{ field.label}}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}<p class="default"><small>{{ field.help_text }}</small></p>{% endif %}
                </fieldset>
                {% endfor %}
            </div>
            <footer>
                <span class="cancel">Pick a different plan</span>
                <button type="submit" class="primary">Create</button>
            </footer>
        </form>
    </div>
</article>
{% endif %}
{% endblock %}
