{% extends 'base_profile.html' %}
{% load tags %}
{% load static from staticfiles %}

{% block title %}
  {{user_obj.profile.full_name}} ({{ user_obj.username }}) &bull; MuckRock
{% endblock title %}
{% block type %}account{% endblock type %}

{% block rss %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{{user_obj.get_full_name}}'s FOIA Feed" href="{% url 'foia-user-feed' user_obj.username %}" />
{% endblock rss %}

{% block open_graph %}
  <meta property="og:type" content="profile" />
  <meta property="og:url" content="{{user_obj.get_absolute_url}}" />
  <meta property="og:title" content="{{user_obj.profile.full_name}} ({{user_obj.username}})" />
  <meta property="og:description" content="{{user_obj.profile.full_name}} has filed {{requests.all.count}} public records requests on MuckRock." />
  <meta property="og:site_name" content="MuckRock" />
  {% if profile.avatar_url %}
    <meta property="og:image" content="{{ profile.avatar_url }}" />
  {% endif %}
{% endblock open_graph %}

{% block twitter_card %}
  <meta name="twitter:site" content="@muckrock" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{user_obj.profile.full_name}} ({{user_obj.username}})" />
  <meta name="twitter:description" content="{{user_obj.profile.full_name}} has filed {{requests.all.count}} public records requests on MuckRock." />
  {% if profile.avatar_url %}<meta name="twitter:image:src" content="{{ profile.avatar_url }}" />{% endif %}
  {% if profile.twitter %}<meta name="twitter:creator" content="{{ profile.twitter }}" />{% endif %}
{% endblock twitter_card %}

{% block metadata %}
  <section class="identity">
    {% sorl_thumbnail profile.avatar_url "300x300" as avatar %}
      <img src="{{ avatar.url }}" class="avatar">
    {% empty %}
      <img src="{% static 'img/defaultavatar.png' %}" class="avatar">
    {% endthumbnail %}
    <h1 class="fullname">{{user_obj.profile.full_name}}</h1>
    <p class="username">{{user_obj.username}}</p>
  </section>
  <ul class="links nostyle">
    {% if profile.twitter %}
      <li class="twitter">
        {% include 'lib/component/icon/twitter.svg' %}
        <a href="https://www.twitter.com/{{profile.twitter}}" title="{{user_obj.profile.full_name}}'s Twitter profile">@{{profile.twitter}}</a>
      </li>
    {% endif %}
    {% if profile.location %}
      <li class="location">
        {% include 'lib/component/icon/location.svg' %}
        <a href="{{profile.location.get_absolute_url}}">{{profile.location}}</a>
      </li>
    {% endif %}
  </ul>
  {% if user == user_obj %}
    <dl class="stats">
      {% if user.profile.acct_type != 'basic' %}
        <dt>Monthly Requests</dt>
        {% with monthly_requests=user_obj.profile.organization.monthly_requests %}
          {% if monthly_requests %}
            <dd>{{ monthly_requests }}</dd>
          {% else %}
            <dd>0</dd>
          {% endif %}
        {% endwith %}
      {% endif %}
      <dt>Requests Remaining</dt>
      {% with number_requests=user_obj.profile.organization.number_requests %}
        {% if number_requests %}
          <dd>{{ number_requests }}</dd>
        {% else %}
          <dd>0</dd>
        {% endif %}
      {% endwith %}
    </dl>
  {% endif %}
  {% if org and show_org_link %}
    <p class="organization">{% if org.owner == user_obj %}Owner{% else %}Member{% endif %} of <a href="{% url 'org-detail' org.slug %}" title="{{org}}'s organization page">{{org}}</a></p>
  {% endif %}
  {% if user == user_obj and user.is_staff %}
    <p class="api-token">API Token:&nbsp;<a href="#">show...</a><input type="text" value={{ api_token }} readonly></p>
  {% endif %}
{% endblock metadata %}

{% block activity %}
  <section class="actions">
    <div>
      {% if request.user.is_staff and not user_obj.is_superuser %}
        <form method="post" action="/hijack/{{user_obj.pk}}/">
          {% csrf_token %}
          <button type="submit" class="red button">Hijack {{user_obj.username}}</button>
        </form>
      {% endif %}
      {% if request.user == user_obj %}
        <div class="button-group">
          <a href="{% url 'foia-create' %}" class="blue button" onclick="ga('send', 'event', 'Requests', 'File', window.location.pathname)">
            {% include 'lib/component/icon/create-request.svg' %}
            <span>File a Request</span>
          </a>
        </div>
        <a href="{% url 'acct-settings' %}" class="button">Settings</a>
      {% endif %}
    </div>
  </section>
  {% if projects %}
    <section class="projects">
      <h3>
        {% if request.user == user_obj %}Your Projects{% else %}Projects{% endif %}
        <small><a href="{% url 'project-contributor' username=user_obj.username %}">See all</a></small>
      </h3>
      <div class="project-group">
        {% for project in projects %}
          {% include 'lib/pattern/project.html' %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
  {% if articles %}
    <section class="articles">
      <h3>
        {% if request.user == user_obj %}Your Latest Articles{% else %}Latest Articles{% endif %}
        <small><a href="{% url 'news-archive' %}?authors={{ user_obj.pk }}">See all</a></small>
      </h3>
      {% for article in articles %}
        {% include 'lib/pattern/article.html' %}
      {% endfor %}
    </section>
  {% endif %}
  {% if requests.recent or requests.completed %}
    <section class="requests">
      {% if requests.recent %}
        {% if request.user == user_obj %}
          <h3>Your Latest Requests <small><a href="{% url 'foia-mylist' %}">See all</a></small></h3>
        {% else %}
          <h3>Latest Requests <small><a href="{% url 'foia-list' %}?user={{user_obj.pk}}">See all</a></small></h3>
        {% endif %}
        {% include 'lib/foia_table.html' with requests=requests.recent %}
      {% endif %}
      {% if requests.completed %}
        {% if request.user == user_obj %}
          <h3>Your Recently Completed Requests <small><a href="{% url 'foia-mylist' %}?status=done">See all</a></small></h3>
        {% else %}
          <h3>Recently Completed Requests <small><a href="{% url 'foia-list' %}?user={{user_obj.pk}}&status=done">See all</a></small></h3>
        {% endif %}
        {% include 'lib/foia_table.html' with requests=requests.completed %}
      {% endif %}
    {% else %}
      {% if request.user == user_obj %}
        <h3>You haven&rsquo;t filed any requests. <small><a href="{% url 'foia-create'%}">Create one now.</a></small></h3>
      {% else %}
        <h3>{{user_obj.profile.full_name}} hasn&rsquo;t filed any requests.</h3>
      {% endif %}
    {% endif %}

    {% if user == user_obj and user_obj.profile.follows_foia.all %}
      <h3>Requests You Follow</h3>
      {% include 'lib/foia_table.html' with requests=user_obj.profile.follows_foia.all %}
    {% endif %}
    </section>
  {% endblock activity %}

  {% block scripts %}
    <script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
  {% endblock scripts %}
