{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}MuckRock &bull; Settings{% endblock title %}

{% block content %}
<article class="account settings">
    <header>
        <h1>Settings</h1>
        <dl>
            <dt>Preferences</dt>
            <dd><a href="#profile">Profile</a></dd>
            <dd><a href="#email">Email</a></dd>
            <dd><a href="#billing">Billing</a></dd>
            <dt>Password</dt>
            <dd><a href="{% url 'acct-change-pw' %}">Change Password</a></dd>
            <dd><a href="{% url 'acct-reset-pw' %}">Reset Password</a></dd>
        </dl>
    </header>
    <main>
        <form enctype="multipart/form-data" method="post" action="?type=profile" class="profile form" id="profile">
            {% csrf_token %}
            <h2>Profile</h2>
            <input type="hidden" name="action" value="profile" />
            <div class="fields">
                <div class="full-name">
                    {% include 'component/field.html' with field=profile_form.first_name %}
                    {% include 'component/field.html' with field=profile_form.last_name %}
                </div>
                <div class="other-info">
                    {% include 'component/field.html' with field=profile_form.twitter %}
                    {% include 'component/field.html' with field=profile_form.location %}
                </div>
                {% include 'component/imagefield.html' with field=profile_form.avatar image=request.user.profile.avatar %}
            </div>
            <footer>
                <button type="submit" class="primary">Update profile</button>
            </footer>
        </form>
        <form method="post" class="email form" id="email">
            {% csrf_token %}
            <input type="hidden" name="action" value="email" />
            <h2>Email</h2>
            <div class="fields">
            {% for field in email_form.visible_fields %}
                {% include 'component/field.html' %}
            {% endfor %}
            </div>
            <footer>
                <button type="submit" class="primary">Update email</button>
                {% if request.user.profile.email_confirmed %}
                <span>Verified</span>
                {% else %}
                <a href="{% url 'acct-verify-email' %}" id="verify_email">Verify your email</a>
                {% endif %}
            </footer>
        </form>
        <form method="post" class="billing form stripe-checkout" id="billing">
            {% csrf_token %}
            <input type="hidden" name="action" value="billing" />
            <input type="hidden" name="stripe_token" value="" />
            <input type="hidden" name="stripe_pk" value="{{ stripe_pk }}" />
            <input type="hidden" name="stripe_image" value="{% static 'icons/logo.png' %}" />
            <input type="hidden" name="stripe_email" value="{{request.user.email}}" />
            <input type="hidden" name="stripe_label" value="Update" />
            <input type="hidden" name="stripe_description" value="Update Credit Card" />
            <input type="hidden" name="stripe_bitcoin" value="false" />
            <input type="hidden" name="stripe_fee" value="0" />
            <input type="hidden" name="stripe_amount" value="0" />
            <h2>Billing</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <dfn>Current plan</dfn>
                            <p>{{current_plan}}</p>
                        </td>
                        <td><a href="{% url 'accounts' %}" class="button">Change Plan</a></td>
                    </tr>
                    {% if credit_card and request.user.profile.has_subscription %}
                    <tr>
                        <td>
                            <dfn>Card on file</dfn>
                            <p>{{credit_card.brand}} ending in {{credit_card.last4}}</p>
                            <p>Expires {{credit_card.exp_month}}/{{credit_card.exp_year}}</p>
                        </td>
                        <td>
                            <button type="submit">Update Credit Card</button>
                        </td>
                    <tr>
                    {% endif %}
                </tbody>
            </table>
        </form>
    </main>
</article>
{% endblock %}
