{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}MuckRock &bull; Settings{% endblock title %}

{% block content %}
<article class="account settings">
    <header>
        <h1>Settings</h1>
        <dl>
            <dt>Preferences</dt>
            <dd><a href="#profile">Profile</a></dd>
            <dd><a href="#email">Email</a></dd>
            <dd><a href="#billing">Billing</a></dd>
            <dt>Password</dt>
            <dd><a href="{% url 'acct-change-pw' %}">Change Password</a></dd>
            <dd><a href="{% url 'acct-reset-pw' %}">Reset Password</a></dd>
        </dl>
    </header>
    <main>
        <form method="post" action="?type=profile" class="profile form" id="profile">
            {% csrf_token %}
            <h2>Profile</h2>
            <input type="hidden" name="action" value="profile" />
            <div class="fields">
            {% for field in profile_form.visible_fields %}
                <fieldset class="{{ field.label|lower }} field{% if field.field.required %} required{% endif %}{% if field.errors %} errors{%endif%}">
                    <label for="{{ field.auto_id }}">{{field.label}}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}<p class="default"><small>{{ field.help_text }}</small></p>{% endif %}
                </fieldset>
            {% endfor %}
            </div>
            <footer>
                <button type="submit" class="primary">Update profile</button>
            </footer>
        </form>
        <form method="post" class="email form" id="email">
            {% csrf_token %}
            <input type="hidden" name="action" value="email" />
            <h2>Email</h2>
            <div class="fields">
            {% for field in email_form.visible_fields %}
                <fieldset class="{{ field.label|lower }} field{% if field.field.required %} required{% endif %}{% if field.errors %} errors{%endif%}">
                    <label for="{{ field.auto_id }}">{{field.label}}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}<p class="default"><small>{{ field.help_text }}</small></p>{% endif %}
                </fieldset>
            {% endfor %}
            </div>
            <footer>
                <button type="submit" class="primary">Update email</button>
                {% if request.user.profile.email_confirmed %}
                <span>Verified</span>
                {% else %}
                <a href="{% url 'acct-verify-email' %}">Verify your email</a>
                {% endif %}
            </footer>
        </form>
        <form method="post" class="billing form" id="billing">
            {% csrf_token %}
            <input type="hidden" name="action" value="billing" />
            <h2>Billing</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <dfn>Current plan</dfn>
                            <p>{{current_plan}}</p>
                        </td>
                        <td><a href="{% url 'accounts' %}" class="button">Change Plan</a></td>
                    </tr>
                    {% if credit_card and request.user.profile.has_subscription %}
                    <tr>
                        <td>
                            <dfn>Card on file</dfn>
                            <p>{{credit_card.brand}} ending in {{credit_card.last4}}</p>
                            <p>Expires {{credit_card.exp_month}}/{{credit_card.exp_year}}</p>
                        </td>
                        <td>
                            <button
                                data-amount="0"
                                data-description="Update Credit Card"
                                data-email="{{ request.user.email }}"
                                data-label="Update"
                                data-form="#billing"
                                class="checkout-button primary">
                                Update Credit Card
                            </button>
                        </td>
                    <tr>
                    {% endif %}
                </tbody>
            </table>
        </form>
    </main>
</article>
{% endblock %}

{% block scripts %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.checkout-button').click(function(e){
            e.preventDefault();
            var checkoutData = getCheckoutData($(this));
            checkout(
                "{{ stripe_pk }}",
                "{% static 'apple-touch-icon.png' %}",
                checkoutData.description,
                checkoutData.amount,
                checkoutData.email,
                checkoutData.label,
                checkoutData.form,
                true,
                false
            );
        });
    });
</script>
{% endblock %}
