{
    "extends": "eslint:recommended",
    "globals": {
        "ga": true,
        "DV": true,
        "L": true,
        "StripeCheckout": true
    },
    "env": {
        "browser": true,
        "jquery": true,
        "es2022": true
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": "warn"
    }
}
