
<!doctype html>
<html>
  <head>
    <title>Muckrock - Error 403</title>
  </head>
  <body style="background-color: #eee; padding: 0; margin: 0;">
    <h1 style="text-align: center; font-family: verdana, helvetica, sans-serif; color: #222; background-color: #bdf; margin: 0; padding: 15px 0;">Error 403 - Forbidden</h1>
    <p style="text-align: center; max-width: 600px; margin: 0 auto; font-family: verdana, helvetica, sans-serif; color: #444; margin-top: 25px;">Your IP address has been blocked due to suspicious activity.  If you are using a VPN, you may want to try a different host.  If you believe your IP address has been blocked in error, please contact <a href="info@muckrock.com">info@muckrock.com</a> with your information so we can restore your access.</p>
  </body>
</html>
