{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; Server Malfunction{% endblock title %}

{% block content %}
<article class="error-500" style="background-image: url('{% static 'img/500.jpg' %}');">
    <div class="error-500 text">
        <div class="error-message">
            <h1 class="display">Oops.</h1>
            <h2>Something broke on our end. We’re always improving the site, so it should be fixed soon.</h2>
        </div>
        <div class="error-report">
            <p><strong>Report this error</strong></p>
            <p>If you want to help us fix this faster, <a href="mailto:info@muckrock.com?subject=Error%20{{ request.sentry.id }}">send us a report</a> and tell us what you were doing before this error appeared.</p>
            <p>Thank you!</p>
        </div>
    </div>
</article>
{% endblock %}
