{% extends 'base.html' %}

{% comment %}
This is the base style for a list of objects: a collection of FOIA requests, agencies, jurisdictions, users, etc.
{% endcomment %}

{% load static from staticfiles %}
{% load mathfilters %}

{% block title %}{{title}} &bull; MuckRock{% endblock title %}

{% block content %}
<div class="list grid__row">
    {% block list-navigation %}
    <nav class="grid__column quarter">
        {% block list-header %}
        <header>
            {% block list-title %}
            <h1>{{title}}</h1>
            {% endblock list-title %}
        </header>
        {% endblock list-header %}
        {% block list-sections %}
        {% endblock list-sections %}
        {% if filter.form %}
        <form method="GET" class="filter form">
            {% include 'lib/pattern/form.html' with form=filter.form %}
            <div class="button-group">
                <button class="button" action="apply-filters">Filter</button>
                <a class="button" href="{{ request.path }}">Clear</a>
            </div>
        </form>
        {% endif %}
    </nav>
    {% endblock list-navigation %}
    {% block list-content %}
    <div class="grid__column three-quarters">
        {% block list-actions %}{% endblock %}
        {% if object_list %}
            {% include 'lib/component/pagination.html' %}
            {% block list-table %}
            <table class="sortable" data-sort-by="{{sort}}" data-order-by="{{order}}">
                {% block list-table-head %}
                <thead>
                    <tr>
                        <th data-sort="id">ID</th>
                        <th>Object</th>
                    </tr>
                </thead>
                {% endblock list-table-head %}
                {% block list-table-body %}
                <tbody>
                    {% for object in object_list %}
                    {% block list-table-row %}
                    <tr>
                        <td>{{object.id}}
                        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
                    </tr>
                    {% endblock list-table-row %}
                    {% endfor %}
                </tbody>
                {% endblock list-table-body %}
            </table>
            {% endblock list-table %}
            {% include 'lib/component/pagination.html' %}
        {% else %}
            {% block empty %}
            {% if request.GET %}
            <p class="empty">No results given this filter.</p>
            {% else %}
            <p class="empty">No Results</p>
            {% endif %}
            {% endblock %}
        {% endif %}
    {% endblock list-content %}
    </div>
</div>
{% endblock %}
