{% load static from staticfiles %}
<!doctype html>

<html>
    <head>
        <title>{% block title %}MuckRock{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <meta name="google-site-verification"
              content="4KnIEDr5Fi-PUL9klVnMlC2BMcStrUwQIj-4gMVfqjk" />
        <!-- Load Assets -->
        <link rel="shortcut icon" href="{% static '/favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static '/apple-touch-icon.png' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/style.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/jquery-ui-1.8.4.custom.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic|Source+Code+Pro:400' rel='stylesheet' type='text/css' />
        
        <!-- Preloading and Prerendering -->
        {% block preload %}
        {% endblock preload %}
        {% block prerender %}
        {% endblock prerender %}
        <!-- Facebook and Twitter Integration -->
        <!-- http://ogp.me & https://dev.twitter.com/docs/cards -->
        {% block facebook_open_graph %}
        {% endblock facebook_open_graph %}
        {% block twitter_card %}
        {% endblock twitter_card %}
    </head>
    <body>
        {% include 'lib/sidebar.html' %}
        <div class="container">
            {% include 'lib/header.html' %}
            {% include 'lib/notification.html' %}
            {% block content %}
            {% endblock content %}
            {% include 'lib/footer.html' %}
        </div>
        <script type="text/javascript" 
                src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/jquery.ui.min.js' %}"></script>
        <script type="text/javascript" 
                src="{% static 'js/jquery.hotkeys.js' %}"></script>
        <script type="text/javascript" 
                src="{% static 'js/app.js' %}"></script>
        {% include 'autocomplete_light/static.html' %}
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>