{% extends "base_base.html" %}

{% block main %}
	<div class="main" id="main-two-columns">

		<div class="left" id="main-left">

			{% if messages %}
				{% for message in messages %}
				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
				{% endfor %}
			{% endif %}

			{% block content %} {% endblock %}

		</div>

		<div class="right sidebar" id="sidebar">

			<form action="/search/" method="get">
				{% csrf_token %}
				<input type="text" name="q" id="id_q" />
				<input type="submit" name="submit" value="Search" class="button" />
			</form>

			<div class="content-separator"></div>
			
			{% block sidebar %} {% endblock %}

		</div>

		<div class="clearer">&nbsp;</div>

	</div>
{% endblock %}
