{% extends 'base.html' %}

{% load humanize %}
{% load static from staticfiles %}

{% block content %}
<div class="homepage">
    <section class="banner" style="background-image: url('{% static 'img/homepage.jpg' %}');">
        <div>
            <h1>MuckRock brings the Freedom of Information Act into the 21<sup><small>st</small></sup> Century</h1>
            <p><a href="{% url 'foia-create' %}" class="primary button">Create a FOIA request</a> or <a href="/about/how-we-work/" class="dotted" id="learn-more">learn how we work.</a></p>
        </div>
    </section>
    <section class="stats">
        <h1>Since 2010, MuckRock&rsquo;s users have freed tens of thousands of government records.</h1>
        <ul>
            <li><span class="stat">{{ num_requests|intcomma }}</span><span class="legend"> request{{ num_requests|pluralize }} filed</span></li>
            <li><span class="stat">{{ num_completed_requests|intcomma }}</span><span class="legend"> request{{ num_completed_requests|pluralize }} completed succesfully</span></li>
            <li><span class="stat">{{ num_pages|intcomma }}</span><span class="legend"> page{{ num_pages|pluralize }} of government document{{ num_pages|pluralize }} released</span></li>
        </ul>
    </section>
    {% if featured_article.image %}
    <section class="featured-article" style="background-image:url('{{ MEDIA_URL }}{{ featured_article.image }}');">
    {% else %}
    <section class="featured-article">
    {% endif %}
        <a href="{{ featured_article.get_absolute_url }}"><div>
            <dfn>Investigative Report</dfn>
            <h1>{{ featured_article.title }}</h1>
            {% if featured_article.summary %}
            <summary>{{ featured_article.summary }}</summary>
            {% endif %}
            </div>
        </a>
    </section>
    <!--
    {% if featured_reqs %}
    <section class="featured-requests">
        <ul>
        {% for foia in featured_reqs %}
            <li class="request">
                <h1>{{ foia.title }}</h1>
                <h2><a href="{% url 'acct-profile' foia.user.username %}">{{ foia.user.get_full_name }}</a> {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to <a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a> of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a>{% endif %}.{% if foia.parent %} It was inspired by <a href="{{ foia.parent.get_absolute_url }}">this request</a>.{% endif %}</h2>
                <div class="buttons">
                    <a href="{% url 'foia-detail' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}">View</a>
                    <a href="{% url 'foia-clone' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}">Clone</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
    -->

{% endblock content %}