{% extends 'base.html' %}

{% load humanize %}
{% load static from staticfiles %}
{% load foia_tags %}
{% load news_tags %}
{% load tags %}
{% load cache %}

{% block content %}
{# cache 600 homepage #}
<div class="homepage">
    <div class="banner-wrapper mb0" style="background-image: url('{% static 'img/fingerprinting.jpg' %}');">
        <div class="foia banner grid__row">
            <div class="grid__column full">
                <h1>File, track, and share public records requests.</h1>
            </div>
            <div class="grid__column half">
                <div class="about">
                    <a href="{% url 'foia-create' %}" class="primary button" onclick="ga('send', 'event', 'Requests', 'File', window.location.pathname)">
                        {% include 'lib/component/icon/create-request.svg' %}
                        <span class="label">File a Request</span>
                    </a>
                    <div class="call-to-action"><a href="{% url 'foia-root' %}">Explore filed requests</a> or <a href="/about/how-we-work/" id="learn-more">learn how it works</a>.</div>
                </div>
            </div>
            <div class="grid__column full">
                <ul class="stats">
                    <li class="stat">
                        <div class="value">{{ stats.request_count|intcomma }}</div>
                        <div class="key">filed request{{ stats.request_count|pluralize }}</div>
                    </li>
                    <li class="stat">
                        <div class="value">{{ stats.agency_count|intcomma }}</div>
                        <div class="key">agenc{{ stats.agency_count|pluralize:"y,ies" }}</div>
                    </li>
                    <li class="stat">
                        <div class="value">{{ stats.completed_count|intcomma }}</div>
                        <div class="key">fulfilled request{{ stats.completed_count|pluralize }}</div>
                    </li>
                    <li class="stat">
                        <div class="value">{{ stats.page_count|intcomma }}</div>
                        <div class="key">released page{{ stats.page_count|pluralize }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% newsletter %}
    {% cache 600 news %}
    <div class="articles grid__row">
        {% for article in articles %}
        {% if forloop.first %}
        <div class="grid__column two-thirds">
            {% include 'lib/pattern/article.html' with large=True %}
        </div>
        {% else %}
        <div class="grid__column third">
            {% include 'lib/pattern/article.html' with small=True %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endcache %}
    {% if featured_projects %}
    {% cache 600 projects %}
    <div class="projects">
        <h2>Projects <small><a href="{% url 'project' %}">See all</a></small></h2>
        <ul class="nostyle">
        {% for project in featured_projects %}
            <li>
                {% include 'lib/pattern/project.html' %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endcache %}
    {% endif %}
</div>
{# endcache #}
{% endblock content %}
