{% extends 'base.html' %}

{% block content %}
<div id="react-search">
    <form class="search form" method="GET">
        <input type="search" name="q" value="{{ query }}" />
        <button type="submit">Search</button>
    </form>
    {% if results %}
    <div class="search results stats">
        <p>{{ results|length }} result{{results|length|pluralize}}</p>
    </div>
    <table class="search results table">
    {% for result in results %}
        <tr class="search result">
            <td><a href="{{ result.get_absolute_url }}">{{ result }}</a></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h1>Start searching!</h1>
    {% endif %}
</div>
{% endblock %}
