{% load activity_tags %}

{% if show_requests %}
    {% if show_headings %}
    <h1>Your requests<h1>
    {% endif %}
    {% if attention_foia %}
    <h2>Requests requiring attention</h2>
    <ul>
        {% for action in attention_foia %}
        <li>{% display_action action %}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if finished_foia %}
    <h2>Finished requests</h2>
    <ul>
        {% for action in finished_foia %}
        <li>{% display_action action %}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if other_foia %}
    <h2>Updated requests</h2>
    <ul>
        {% for action in other_foia %}
        <li>{% display_action action %}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% if following %}
    {% if show_headings %}
    <h1>Site Activity</h1>
    {% endif %}
    <ul>
    {% for action in following %}
        <li>{% display_action action %}</li>
    {% endfor %}
    </ul>
{% endif %}
