{% extends 'message/base.html' %}
{% load markdown_deux_tags %}
{% block body %}
<p>We're sorry to inform you that your project did not pass our review project. It will remain private and you may continue to make changes to it and resubmit for review at a later time.</p>
{% if message %}
<h2>Review Notes</h2>
<div>
    {{message|markdown}}
</div>
{% endif %}
{% if task %}
<hr/>
<p><a href="{{task.project.get_absolute_url}}">{{task.project}}</a></p>
<p>Project Review #{{task.id}}</p>
<hr/>
{% endif %}
{% endblock %}
