{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script
  async
  src="https://widgets.givebutter.com/latest.umd.cjs?acct=bxj57JvZkwOILwSl&p=other"
></script>
{% endblock scripts %}

{% block content %}
<div class="donate" style="background-image: url({% static 'img/donation.jpg' %});">
    <div class="donate__form">
        {% block donate-form %}
        <h1 class="form-title">Donate</h1>

        <p>
          Democracy cannot function without an informed and engaged public.
          Transparency is never more vital than it is in an election year.
        </p>

        <p>
          Your donation to MuckRock supports our work to promote civic
          engagement with vital tools like our public records request service,
          which facilitates thousands of requests every year, DocumentCloud,
          which newsrooms around the world use to analyze, annotate and publish
          primary source documents; and oTranscribe, which takes the pain out
          of transcribing audio for thousands of users every single day.
        </p>

        <givebutter-widget id="g6R32g"></givebutter-widget>

        <p>
          MuckRock is a <strong>501(c)(3)</strong> organization. Our tax
          identification number is <strong>81-1485228</strong>. Your donation
          is fully tax deductible.
        </p>

        <p>
          If you would like to donate via Apple Pay,
          <a href="https://www.givebutter.org/muckrock/">
            please visit our dedicated GiveButter page.
          </a>
        </p>

        <p>
          Or mailed to:<br class="nomb">
          MuckRock<br class="nomb">
          263 Huntington Ave<br class="nomb">
          Boston, MA 02115<br class="nomb">
        </p>
        <p>
          You can always find our most current financial statements at
          <a href="https://www.muckrock.com/financial/">
            https://www.muckrock.com/financial/
          </a>.
        </p>
        <p>
          If you’d like to support our work with a legacy or a gift of stocks
          or crypto currency or a legacy, contact
          <a href="mailto:amanda@muckrock.com">amanda@muckrock.com</a>.
        </p>
        {% endblock %}
    </div>
</div>
{% endblock %}
