{% extends 'forms/base_form.html' %}
{% load static from staticfiles %}

{% block form-head %}
    <h1 class="form-title">Donate</h1>
    <p>Make a tax deductible donation to MuckRock! You'll be supporting our awesome work!</p>
{% endblock form-head %}

{% block form-form %}
<form method="post" class="stripe-checkout">
    {% csrf_token %}
    {% include 'lib/pattern/form.html' %}
    <input type="hidden" name="stripe_image" value="{% static 'icons/logo.png' %}" />
    <div class="buttons">
        <button type="submit" class="green button">Donate</button>
    </div>
</form>
{% endblock form-form %}
