{% extends 'foiamachine/base.html' %}

{% load hosts %}

{% block main %}
<main>
    <h1>Log in</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% include 'lib/pattern/form.html' %}
        <button type="submit" class="button">Submit</button>
    </form>
    <p>New to FOIA Machine? <a href="{% host_url 'signup' host 'foiamachine' %}">Sign up &rarr;</a></p>
    <p>Forgot your password? <a href="{% host_url 'password-reset' host 'foiamachine' %}">Reset it &rarr;</a></p>
</main>
{% endblock main %}
