{% extends 'foiamachine/base.html' %}

{% load hosts %}

{% block body %}
<body>
    <h1><a href="{% host_url 'index' host 'foiamachine' %}">FOIA Machine</a></h1>
    <h2>Sign up</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {% include 'lib/pattern/form.html' %}
        <button type="submit" class="button">Submit</button>
    </form>
    <p>Already have an account? <a href="{% host_url 'login' host 'foiamachine' %}">Log in &rarr;</a></p>
</body>
{% endblock body %}
