{% extends 'message/base.html' %}
{% load tags %}
{% load humanize %}

{% block body %}
    <p>Hi {{user.first_name}},</p>
    {% if type == 'pro' %}
        {% if attempt == "final" %}
            <p class="red">Your Pro subscription has been cancelled.</p>
            <p>Our final attempt to charge your card has failed and your account has been reverted back to a free Basic account. <a href="{% url 'accounts' %}?{% autologin user %}">Resubscribe</a>.</p>
        {% else %}
            <p class="red">Your Pro subscription payment has failed.</p>
            <p>This is the {{attempt|ordinal}} attempt. The payment will be retried up to 3 times. <a href="{% url 'acct-settings' %}?{% autologin user %}">Update your billing information</a>.</p>
        {% endif %}
    {% elif type == 'org' %}
        {% if attempt == "final" %}
            <p class="red">Your Organization has been deactivated.</p>
            <p>Our final attempt to charge your card has failed and your organization has been deactivated. <a href="{% url 'org-activate' slug=org.slug %}?{% autologin user %}">Reactivate</a>.</p>
        {% else %}
            <p class="red">Your Organization subscription payment has failed.</p>
            <p>This is the {{attempt|ordinal}} attempt. The payment will be retried up to 3 times. <a href="{% url 'acct-settings' %}?{% autologin user %}">Update your billing information</a>.</p>
        {% endif %}
    {% elif type == 'donate' %}
        {% if attempt == "final" %}
            <p class="red">Your recurring donation has been deactivated.</p>
            <p>Our final attempt to charge your card has failed and your recurring donation has been deactivated. <a href="{% url 'donate' %}?{% autologin user %}">Reactivate</a>.</p>
        {% else %}
            <p class="red">Your recurring donation payment has failed.</p>
            <p>This is the {{attempt|ordinal}} attempt. The payment will be retried up to 3 times. <a href="{% url 'acct-settings' %}?{% autologin user %}">Update your billing information</a>.</p>
        {% endif %}
    {% elif type == 'crowdfund' %}
        {% if attempt == "final" %}
            <p class="red">Your recurring crowdfund payment has been deactivated.</p>
            <p>Our final attempt to charge your card has failed and your recurring payment to {{crowdfund.name}} has been deactivated. <a href="{% url 'crowdfund' pk=crowdfund.pk %}?{% autologin user %}">Reactivate</a>.</p>
        {% else %}
            <p class="red">Your recurring crowdfund payment has failed.</p>
            <p>This is the {{attempt|ordinal}} attempt. The payment will be retried up to 3 times. <a href="{% url 'acct-settings' %}?{% autologin user %}">Update your billing information</a>.</p>
        {% endif %}
    {% endif %}
    <p>Sincerely,<br />The MuckRock Team</p>
{% endblock %}
