{% extends 'message/base.html' %}
{% block body %}
  {% if text %}
    <p>{{ text|linebreaks }}</p>
  {% else %}
    <p>We were unable to process your recent request submission.</p>
    <p>We've returned the request(s) and associated credit(s) back to your
    account. You can find the previous submission in your
    <a href="{{ base_url }}{{ composer_url }}">drafts</a>.</p>
    <p>If you have any questions or concerns, please reach out to
    <a href="mailto:info@muckrock.com">info@muckrock.com</a> with details
    about your request.</p>
  {% endif %}
  <p>Sincerely,<br/>The MuckRock Team</p>
{% endblock %}