{% extends 'message/base.html' %}
{% block body %}
<p>Just a reminder, your username is <a href="{% url 'acct-my-profile' %}">{{ user.username }}</a>.</p>
<p>We ask that you please <a href="{{ verification_link|safe }}">verify your email</a>. You can also verify your email from your <a href="{% url 'acct-settings' %}">account settings</a>.</p>
<p><strong>Have a technical support or customer service issue? <a href="mailto:info@muckrock.com">Email us</a>.</strong></p>
<h2>Looking for FOIA advice?</h2>
<ul>
    <li>Visit our <a href="{% url 'question-index' %}">Q&amp;A Forum</a> to get answers from MuckRock's community of public records pros.</li>
    <li><a href="https://www.twitter.com/muckrock/">Tweet at us</a>.</li>
</ul>
<p>Once again, welcome to the MuckRock community. We're excited to see what you do with the tools we've built.</p>
<p>Sincerely,<br/>The MuckRock Team</p>
{% endblock %}
