{% extends 'message/base.html' %}
{% block body %}
<p>Welcome to MuckRock, {{user.first_name}}!</p>
<p>We need you to finish creating your account. <a href="{{completion_url|safe}}">Click here to set your username and password, and to verify your email address.</a></p>
<h2>Have a technical support or customer service issue? <a href="mailto:info@muckrock.com">Email us</a></h2>
<h2>Looking for FOIA advice?</h2>
<ul>
    <li>Visit our <a href="{% url 'question-index' %}">Q&amp;A Forum</a> to get answers from MuckRock's community of public records pros.</li>
    <li><a href="https://www.twitter.com/muckrock/">Tweet at us</a>.</li>
</ul>
<p>Once again, welcome to the MuckRock community. We're excited to see what you do with the tools we've built.</p>
<p>Sincerely,<br/>The MuckRock Team</p>
{% endblock %}
