{% extends 'base_list.html' %}
{% load tags %}
{% load mathfilters %}
{% block title %}MuckRock &bull; Search{% endblock %}
{% block list-type %}search{% endblock %}

{% block list-navigation %}
<header class="list-head">
    <h1 class="list-title">Search</h1>
</header>
<ul class="list-filters">
    <li>
        <input type="checkbox" id="id_models_0_show" {% if news_checked %}checked="checked"{% endif %} />
        <label for="id_models_0_show">News</label>
    </li>
    <li>
        <input type="checkbox" id="id_models_1_show" {% if foia_checked %}checked="checked"{% endif %}/>
        <label for="id_models_1_show">Requests</label>
    </li>
    <li>
        <input type="checkbox" id="id_models_2_show" {% if qanda_checked %}checked="checked"{% endif %}/>
        <label for="id_models_2_show">Questions</label>
    </li>
</ul>
{% endblock list-navigation %}

{% block list-content %}
{% with page.object_list|redact_list:request.user as object_list %}
{% with page as page_obj %}
    <section class="list-actions">
        <form method="GET" id="global-search">
            <input type="search" name="q" value="{{ query }}" />
            <input type="submit" value="Search" class="primary button" />
            <div style="display: none">
                <input type="checkbox" name="models" value="news.article" id="id_models_0" {% if news_checked %}checked="checked"{% endif %} />
                <input type="checkbox" name="models" value="foia.foiarequest" id="id_models_1" {% if foia_checked %}checked="checked"{% endif %} />
                <input type="checkbox" name="models" value="qanda.question" id="id_models_2" {% if qanda_checked %}checked="checked"{% endif %}/>
            </div>
        </form>
    </section>
    {% if object_list %}
    {% include 'lib/component/pagination.html' %}
    <table class="list-table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
        <thead class="list-table-head">
            <tr>
                <th width="10%">Type</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody class="list-table-body">
            {% for item in object_list %}
            <tr class="list-table-item">
                <td>
                    {% if item.model_name == "foiarequest" %}
                    Request
                    {% elif item.model_name == "article" %}
                    Article
                    {% elif item.model_name == "question" %}
                    Question
                    {% endif %}
                </td>
                <td><a href="{{ item.object.get_absolute_url }}">{{ item.object }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if object_list|length > per_page|div:2 %}{% include 'lib/component/pagination.html' %}{% endif %}
    {% else %}
    <p class="list-empty">No Results</p>
    {% endif %}
{% endwith %}
{% endwith %}
{% endblock list-content %}

{% block list-table-head %}
    <th>Type</th>
    <th>Title</th>
{% endblock list-table-head %}
{% block list-table-item %}
{% endblock list-table-item %}
{% block scripts %}
<script type="text/javascript">
$("#id_models_0_show").change(function() {
    $("#id_models_0").prop("checked", this.checked);
    });
$("#id_models_1_show").change(function() {
    $("#id_models_1").prop("checked", this.checked);
    });
$("#id_models_2_show").change(function() {
    $("#id_models_2").prop("checked", this.checked);
    });
</script>
{% endblock scripts %}
