{% extends 'lists/base_list.html' %}
{% load tags %}
{% block title %}MuckRock &bull; Search{% endblock %}
{% block list-type %}search{% endblock %}
{% block list-title %}Search{% endblock %}
{% block list-actions %}
<form method="GET" id="global-search">
    <input type="search" name="q" value="{{ query }}" />
    <input type="submit" value="Search" class="primary button" />
</form>
{% endblock list-actions %}
{% block list-navigation %}
<ul class="list-filters">
    <li>
        <input type="checkbox" name="models" value="news.article" form="global-search" id="id_models_0" checked="checked" />
        <label for="id_models_0">News</label>
    </li>
    <li>
        <input type="checkbox" name="models" value="foia.foiarequest" form="global-search" id="id_models_1" checked="checked" />
        <label for="id_models_1">Requests</label>
    </li>
    <li>
        <input type="checkbox" name="models" value="qanda.question" form="global-search" id="id_models_2" checked="checked" />
        <label for="id_models_2">Questions</label>
    </li>
</ul>
{% endblock list-navigation %}
{% block list-table-head %}
    <th>Type</th>
    <th>Title</th>
{% endblock list-table-head %}
{% block list-table-item %}
<td>
    {% if item.model_name == "foiarequest" %}
    Request
    {% elif item.model_name == "article" %}
    Article
    {% elif item.model_name == "question" %}
    Question
    {% endif %}
</td>
<td><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
{% endblock list-table-item %}
