{% extends 'base.html' %}
{% block title %}MuckRock &bull; Search{% endblock title %}

{% block content %}

    <form method="get" action="." class="search form">
        <div class="top">
            <input type="search" name="q" value="{{query}}" />
            <input type="submit" value="Search" class="primary button" />
        </div>
        <dfn>Filter</dfn>
        <ul class="search-filters"> 
            <li><input type="checkbox" name="models" value="news.article" id="id_models_0" /><label for="id_models_0">News</label></li> 
            <li><input type="checkbox" name="models" value="foia.foiarequest" id="id_models_1" /><label for="id_models_1">Requests</label></li>
            <li><input type="checkbox" name="models" value="qanda.question" id="id_models_2" /><label for="id_models_2">Questions</label></li> 
        </ul>
    </form>
    
    {% if query %}
        {% if page.object_list %}
    <header class="search meta">
        <h2>{{ page.paginator.count }} result{{ page.paginator.count|pluralize }} for &ldquo;{{ request.GET.q }}&rdquo;</h2>
        {% with page.object_list as page_obj %}
            {% include 'lib/pagination.html' %}
        {% endwith %}
    </header>
    <ul class="search collection">
            {% for result in page.object_list %}
        <li>
            <h2>{{ result.object.pub_date|date:"F m, Y" }}</h2>
            <h1><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h1>
            {% if result.object.user %}
            <h2>{{ result.object.user.get_full_name }}</h2>
            {% else %}
            <h2>{{ result.object.get_authors_names }}</h2>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
            
            {% with page.object_list as page_obj %}
                {% include 'lib/pagination.html' %}
            {% endwith %}
            
		{% else %}
		    <h2>No results for &ldquo;{{ request.GET.q }}&rdquo;</h2>
		{% endif %}
	{% endif %}
{% endblock content %}