
.content section {
  width: 90%; margin: 0px auto;
  border: 3px solid #e5e5e5;
  margin-top: 20px;
}

section.drop-here {
  height: 200px; text-align: center;
  font-size: 46pt; padding-top: 20px;
  background-color: #f5f5f5;
}

section.drop-here p {
  margin: 50px; padding: 0;
}

.content section h3 {
  font-weight: bold; font-size: 12pt;
  margin: 0; padding: 0; padding-top: 10px; padding-left: 10px;
}

.content section h3 span {font-weight: normal;}

section.log.file {display: none;}

section.log p {
  padding: 0 10px 0px 10px;
  height: 200px; overflow-y: scroll;
}

section.block p, section p.detail {
  padding: 10px 10px; margin: 0;
  word-wrap: break-word;
}

section.instructions p {padding: 0 10px;}

code, pre {margin: 0; padding: 0;}
pre {
  padding: 10px 10px;
  margin: 10px;
  background-color: #e5e5e5;
}

code.inline {background-color: #e5e5e5; padding: 0 3px;}

#dragging {
  display: none;
  opacity: 0.5;
  background-color: #000;
  position: absolute; top: 0; left: 0;
  height: 100%; width: 100%;
  vertical-align: center;
} #dragging h2 {
  font-size: 50px; font-weight: bold;
  margin: 200px auto; padding: 0; width: 600px;
  text-align: center; vertical-align: center;
  color: white;
}

.content a, a:visited {
  color: #1166bb;
}
a.linkify {text-decoration: underline; cursor: pointer;}

.control {display: none;}

section.block input[type=text] {
  margin-right: 20px; margin-left: 5px;
}


.s3-test {display: none;}
.s3-test.loading {color: #999;}
.s3-test.error {color: #b00;}
.s3-test.success {color: #090;}
.s3-test.message {display: inline-block;}

.progress {
  position: relative;
  height: 50px;
}
.progress div {
  position: absolute; top: 0; left: 0;
  width: 0%; height: 50px;
}

.progress div.voyage {
  background-color: #096; opacity: 50%;
}

.progress div.reading {
  background-color: #D0F6DC; opacity: 50%;
}

.control {font-weight: bold;}
