{% extends 'base_list.html' %}
{% load tags %}
{% load rules %}

{% block list-actions %}
{% has_perm 'qanda.post' request.user as can_post %}
<div class="list__actions">
    {% if can_post %}
        <a href="{% url 'question-create' %}" class="blue button">Ask a Question</a>
    {% elif request.user.is_authenticated %}
        <p><a href="{% url 'acct-verify-email' %}">Please confirm your email address to ask a question</a></p>
    {% else %}
        <a href="{% url 'accounts-signup' %}">Please sign up for an account and verify your email address to ask a question</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if request.user.profile.new_question_notifications %}
            <a href="{% url 'question-follow-new' %}" class="button">Unfollow asked questions</a>
        {% else %}
            <a href="{% url 'question-follow-new' %}" class="button">Follow asked questions</a>
        {% endif %}
    {% endif %}
</div>
{% endblock list-actions %}

{% block list-table-head %}
<th data-sort="title">Question</th>
<th data-sort="user">Asked by</th>
<th data-sort="date">Date</th>
<th>Answers</th>
{% endblock list-table-head %}

{% block list-table-row %}
{% with object as question %}
<td><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></td>
<td><a href="{% url "acct-profile" question.user.username %}">{{ question.user.get_full_name }}</a></td>
<td>{{ question.date | date:"F j, Y"}}</td>
<td>{{ question.answers.all | length }}</td>
{% endwith %}
{% endblock list-table-row %}
