
{% extends "qanda/base.html" %}

{% load markdown_deux_tags %}

{% block title %} {{object.title}} {% endblock %}

{% block content %}

			<div class="request">
				<div class="post-title">
					<h2>{{object.title}}</h2>
				</div>
				<div class="post-date">by <a href="{% url acct-profile object.user.username %}">{{object.user}}</a> on {{object.date|date:"DATETIME_FORMAT"}}</div>
					{% if object.foia %}
					<p><strong>Asked about the following request: <a href="{% url foia-detail jurisdiction=object.foia.jurisdiction.slug,jidx=object.foia.jurisdiction.pk,idx=object.foia.pk,slug=object.foia.slug %}">{{object.foia.title}}</a></strong></p>
					{% endif %}
				<div class="post-body">
					{{object.question|markdown}}
				</div>
				<div id='question-edit' style="display:none;">
					<form action="" method="post">
					{% csrf_token %}
						<input type="hidden" name="object" value="question" />
						<textarea name="question" style="width:612px; height: 200px">{{object.question}}</textarea>
						<input type="submit" name="submit" value="Submit" class="button" style="margin-top:2px;"/>
						<a href="#" class="jqbutton" onclick="$('#question-edit').hide(400);$('.post-body').show(400);$('#edit-button').show();">Cancel</a>
						<div class="clearer">&nbsp;</div>
					</form>
				</div>
				{% if user == object.user or user.is_staff %}
				<a href="#" id="edit-button" class="jqbutton" onclick="$('.post-body').hide();$('#edit-button').hide();$('#question-edit').show(400);">Edit</a>
				{% endif %}
				{% for answer in object.answers.all %}
					<div class="response">
						<div class="post-date">by <a href="{% url acct-profile answer.user.username %}">{{answer.user}}</a> on {{answer.date|date:"DATETIME_FORMAT"}}</div>
						<div id="answer-{{answer.pk}}">
							{{answer.answer|markdown}}
						</div>
						<div id='answer-edit-{{answer.pk}}' style="display:none;">
							<form action="" method="post">
							{% csrf_token %}
								<input type="hidden" name="object" value="answer" />
								<input type="hidden" name="answer-pk" value="{{answer.pk}}" />
								<textarea name="answer" style="width:612px; height: 200px">{{answer.answer}}</textarea>
								<input type="submit" name="submit" value="Submit" class="button" style="margin-top:2px;"/>
								<a href="#" class="jqbutton" onclick="$('#answer-edit-{{answer.pk}}').hide(400);$('#answer-{{answer.pk}}').show(400);$('#edit-button-{{answer.pk}}').show();">Cancel</a>
								<div class="clearer">&nbsp;</div>
							</form>
						</div>
						{% if user == answer.user or user.is_staff %}
						<a href="#" id="edit-button-{{answer.pk}}" class="jqbutton" onclick="$('#answer-{{answer.pk}}').hide();$('#edit-button-{{answer.pk}}').hide();$('#answer-edit-{{answer.pk}}').show(400);">Edit</a>
						{% endif %}
					</div>
				{% endfor %}


				<a href="{% url answer-create slug=object.slug,idx=object.pk %}" class="jqbutton">Reply</a>
			</div>

{% endblock %}

{% block sidebar %}

	{% if user.profile.follow_questions %}
		<a href="{% url question-subscribe %}" class="jqbutton">Unsubscribe from new question notifications"</a>
	{% else %}
		<a href="{% url question-subscribe %}" class="jqbutton">Notify me of all new questions</a>
	{% endif %}

	<div class="content-separator"></div>

{% endblock %}
