
{% extends "qanda/base.html" %}

{% load tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}

	<h2>{{title}}</h2>
	<p>Below are questions asked and answered by MuckRock users about Freedom of Information Act and public records requests from all fifty states. Have a public records problem of your own? Register for an account and <a href="{% url question-create %}">ask today</a>, or show off your FOIA-jitsu by answering others' questions. Please keep questions general enough that others can find the answers, <em>i.e., "How do I appeal information exempted under (b)(2)?" rather than "Why was my request rejected?"</em>. This way, this resource becomes more useful for everyone.</p>

	<div class="post-meta archive-pagination">
		
		<div class="nav-left">
			{% if page_obj.has_previous %}
			<a href="?page=1">&#171; First page</a>
			&nbsp; &nbsp;
			<a href="?page={{page_obj.previous_page_number}}">&#171; Previous page</a>
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="nav-center">
			{% page_links page_obj %}
		</div>
		{% if page_obj.has_next %}
		<div class="nav-right">
			<a href="?page={{page_obj.next_page_number}}">Next page &#187;</a>
			&nbsp; &nbsp;
			<a href="?page={{paginator.num_pages}}">Last page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>
		
	</div>

		{% for question in object_list %}
			{% include "qanda/question_post.html" %}
		{% endfor %}

	<div class="post-meta archive-pagination">
		
		<div class="nav-left">
			{% if page_obj.has_previous %}
			<a href="?page=1">&#171; First page</a>
			&nbsp; &nbsp;
			<a href="?page={{page_obj.previous_page_number}}">&#171; Previous page</a>
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="nav-center">
			{% page_links page_obj %}
		</div>
		{% if page_obj.has_next %}
		<div class="nav-right">
			<a href="?page={{page_obj.next_page_number}}">Next page &#187;</a>
			&nbsp; &nbsp;
			<a href="?page={{paginator.num_pages}}">Last page &#187;</a>
		</div>
		{% endif %}

		<div class="clearer">&nbsp;</div>
	</div>
	
{% endblock %}

{% block sidebar %}

	{% if user.profile.follow_questions %}
		<a href="{% url question-subscribe %}" class="jqbutton">Unsubscribe from new question notifications"</a>
	{% else %}
		<a href="{% url question-subscribe %}" class="jqbutton">Notify me of all new questions</a>
	{% endif %}

	<div class="content-separator"></div>

{% endblock %}
