@mixin drop-shadow() {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

.global-header {
    @include drop-shadow;
    margin-bottom: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: $nav-background;
    border-bottom: $nav-border;
    & + * {
        /* The top margin accounts for the fixed header. */
        margin-top: 2.6875em;
    }
}

.global-header .search-form {
    @include drop-shadow;
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    margin-bottom: 0;
    border-top: $nav-border;
    border-bottom: $nav-border;
    background-color: $nav-background;
    &.visible {
        display: block;
    }
    .search-form-container {
        @include display(flex);
        @include align-items(center);
    }
    input[type="search"] {
        max-width: 100%;
        width: 100%;
        padding: 0 $vr;
        border: none;
        border-radius: 0;
        outline: none;
    }
    .search-cancel {
        width: auto;
        padding: $vr/2 $vr;
        font-weight: $bold;
        text-align: right;
        cursor: pointer;
        color: $color-blue;
        &:hover {
            color: $color-blue-dark;
        }
    }
}

/* Logo visibility depends on viewport size */
.global-header .brand {
    .logotype {
        display: none;
        visibility: hidden;
    }
    .logo {
        display: block;
        visibility: visible;
    }
    @media($logo-bp) {
        .logotype {
            display: block;
            visibility: visible;
        }
        .logo {
            display: none;
            visibility: hidden;
        }
    }
}

.nav-item {
    display: inline-block;
    width: auto;
    min-width: 42px;
    height: 42px;
    padding: $vr/2;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: $bold;
    text-align: center;
    cursor: pointer;
    color: $color-black;
    a {
        display: block;
        color: $color-black;
    }
    .icon {
        // margin-top: $vr/8;
        vertical-align: middle;
        @include svg-color($color-black);
    }
    &:hover {
        background: $color-grey-7;
    }
    .label {
        display: none;
        margin: 0 $vr/4;
        vertical-align: middle;
        line-height: $lh;
    }
    &.blue {
        background: $color-blue;
        color: $color-white;
        svg path {
            fill: $color-white;
        }
        &:hover {
            background: $color-blue-dark;
        }
    }
    &.black {
        background: $color-black;
        color: $color-white;
        svg path {
            fill: $color-white;
        }
        &:hover {
            background: $color-black-pure;
        }
    }
    @include media($medium-bp) {
        padding: $vr/2;
        .icon {
            margin-top: 0;
        }
        .label {
            display: inline;
        }
    }
}

#nav {
    @include display(flex);
    @include justify-content(space-between);
    max-height: 42px;
    ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    .brand {

        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        margin-bottom: 0;
        svg {
            height: 22px;
            width: auto;
            vertical-align: middle;
        }
        .logo svg {
            transform: scale(1.3);
        }
    }

    .search-button {
        display: inline-block;
        margin-bottom: 0;
        cursor: pointer;
        &.active {
            background: $color-grey-7;
        }
    }
    .avatar-container {
        position: relative;
        .avatar {
            @include border-radius;
            margin-bottom: 0;
            position: absolute;
            top: 6px;
            left: 6px;
            opacity: .9;
        }
        .round.avatar {
            border-radius: 9999px;
        }
        .label {
            margin-left: 2*$vr;
        }
    }
}

.dropdown--right {
    position: relative;
    overflow: visible;
    ul {
        right: 0;
    }
}

#nav li ul {
    display: none;
    min-width: 5em;
    position: absolute;
    top: 100%;
    @include border;
    @include drop-shadow;
    background: $color-white-pure;
    li {
        display: block;
        &.separator {
            border-bottom: 1px solid $color-grey;
        }
    }
    .nav-item {
        width: 100%;
        text-align: left;
    }
}
#nav li:hover {
    & > .nav-item {
        background: $color-grey-7;
        &.blue {
            background: darken($color-blue, $color-darken-amount);
        }
        &.black {
            background: $color-black-pure;
        }
    }
    ul {
        display: block;
    }
}
#nav .black.nav-item + ul {
    background: $color-black;
    border-color: $color-black-pure;
    .nav-item {
        color: $color-white;
        &:hover {
            background: $color-black-pure;
        }
    }
}

#more-sections .icon {
    transform: scale(1.5);
}

#nav .rich-nav-item {
    display: block;
    width: 20em;
    height: 6.66em;
    position: relative;
    background-color: $color-blue;
    background-size: cover;
    background-position: center;
    color: $color-grey-6;
    a {
        display: block;
        width: 100%;
        height: 100%;
        background: $color-black;
        background: rgba($color-black, .8);
        background: linear-gradient(180deg, rgba($color-black, 0), rgba($color-black, 1));
        opacity: 1;
        transition: opacity .2s ease-in-out;
        &:hover {
            opacity: .75;
        }
    }
    p {
        position: absolute;
        z-index: 2;
        bottom: 0;
        padding: $vr/2;
        font-weight: $bold;
        color: $color-white-pure;
        text-shadow: $color-black 1px 1px 1px;
    }
}
