$logo-bp: "min-width:64em";
$nav-bp: "max-width:54em";
$nav-border: 1px solid $color-grey;
$nav-background: #FFFFFF;
$sidebar-width: 15.625em;
$sidebar-bp: "min-width:72em";

@import 'header';
@import 'footer';
