{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<section class="create organization">
    <header>
        <h1>Create an organization</h1>
    </header>
    <aside class="description">
        <p>Organization members can:</p>
        <ul>
            <li>Embargo permanently</li>
            <li>Share a pool of requests</li>
            <li>Save money on each request filed</li>
        </ul>
        <p>Once you create your organization, you will be asked to activate it.</p>
    </aside>
    <form method="post">
        {% csrf_token %}
        {% include 'lib/pattern/form.html' %}
        <button type="submit" class="blue button">Create Organization</button>
    </form>
</section>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $('#id_monthly_cost').currencyField();
</script>
{% endblock scripts %}
