
{% extends "admin/base_site.html" %}

{% block title %}FOI Requests to {{action}}{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">Home</a> &rsaquo;
     <a href="../../">Foia</a> &rsaquo; 
     <a href="../">FOIA Request</a> &rsaquo;
		 Process
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
  <h1>FOI Requests to Process:</h1>
  {% for foi in page %}
		<div>
			<h2><a href="{% url 'admin:foia_foiarequest_change' foi.pk%}">{{foi.title}}</a></h2>
			<p>{{foi.agency}} of {{foi.jurisdiction}}</p>
				{% if not foi.agency %}
					<p>No agency</p>
				{% else %}
					<h3><a href="{% url 'admin:agency_agency_change' foi.agency.pk %}">{{foi.agency.name}}</a></h3>
					<table>
						<tr><td>Address:</td><td>{{foi.agency.address|linebreaksbr}}</td></tr>
						<tr><td>Email:</td><td><a href="mailto:{{foi.agency.get_primary_contact.email}}?cc=michael@muckrock.com&subject={{foi.title|urlencode}}">{{foi.agency.get_primary_contact.email}}</a></td></tr>
					</table>
				{% endif %}
			<hr />
  {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
