/*
** _colors.scss
**
** Here is where we define our color scheme, and any additional colors.
** The MuckRock color scheme contains 8 shades of grey, from black (1) to white (8).
** It contains a family of four colors, along with light and dark variants: red, yellow, green, and blue.
** Blue is the primary color and signals action.
** Red is the accent color signals an error.
** Yellow signals a warning.
** Green signals success or payment.
*/

body {
    color: $color-black;
    background-color: $color-white;
}

a {
    color: $color-blue;
    &:hover { color: $color-blue-dark; }
}

code {
    color: $color-black;
    i, em { color: $color-blue; }
    b, strong { color: $color-red; }
    u { color: $color-green; }
}

dfn, dt {
    color: $color-grey-3;
}

.default { color: $color-grey; }
.primary { color: $color-blue; }
.success { color: $color-green; }
.warning { color: $color-yellow; }
.failure { color: $color-red; }
.disabled { color: $color-grey-7; }
