    ///////////////////////////////
   //                           //
  //        C O L O R S        //
 //                           //
///////////////////////////////

$color-grey-0: #21262E;
$color-grey-1: #333C47;
$color-grey-2: #495361;
$color-grey-3: #616C7A;
$color-grey-4: #7B8694;
$color-grey-5: #97A1AD;
$color-grey-6: #B5BDC7;
$color-grey-7: #D5DAE0;
$color-grey-8: #F7F8FA;

$color-black: $color-grey-1;
$color-white: $color-grey-8;
$color-grey: $color-grey-5;
$color-black-pure: #000000;
$color-white-pure: #FFFFFF;

$color-red:          #CC5C52;
$color-red-light:    #FACAC8;
$color-red-dark:     #662C29;
$color-yellow-light: #F8E8CA;
$color-yellow:       #D3BC35;
$color-yellow-dark:  #947026;
$color-green:        #52CC66;
$color-green-light:  #BBFAC6;
$color-green-dark:   #296633;
$color-blue:         #4582CC;
$color-blue-light:   #BBD6FA;
$color-blue-dark:    #294366;

$color-disabled: $color-grey-7;

$color-facebook: #3B5998;
$color-twitter: #55ACEE;
$color-reddit: #FF4500;
$color-email: #981e1e;

$color-darken-amount: 10%;
$color-odd-background:  darken($color-grey-8, 5%);

body {
    color: $color-black;
    background-color: $color-white;
}

a {
    color: $color-blue;
    &:hover { color: $color-blue-dark; }
}

code {
    color: $color-black;
    i, em { color: $color-blue; }
    b, strong { color: $color-red; }
    u { color: $color-green; }
}

dfn, dt {
    color: $color-grey-3;
}

.default { color: $color-grey; }
.primary { color: $color-blue; }
.success { color: $color-green; }
.warning { color: $color-yellow; }
.failure { color: $color-red; }
.disabled { color: $color-grey-7; }
