/*
** _grid.scss
**
** 4 column grid when large
** 2 column grid when medium
** 1 column grid when small
*/

.grid__row {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    // max-width: 75em;
}

.grid__column {
    @include flex(1 1 auto);
    min-width: 0;
    height: 100%;
    padding-right: $vr;
    &:first-child {
        padding-left: 0;
    }
    &.quarter, &.one-quarter {
        @include flex-basis(25%);
    }
    &.half, &.two-quarters {
        @include flex-basis(50%);
    }
    &.three-quarters {
        @include flex-basis(75%);
    }
    &.third, &.one-third {
        @include flex-basis(33%);
    }
    &.two-thirds {
        @include flex-basis(66%);
    }
    &.full, &.four-quarters, &.three-thirds {
        @include flex-basis(100%);
        padding-left: 0;
    }
    @media (max-width: 48em) {
        &.quarter, &.one-quarter {
            @include flex-basis(50%);
        }
        &.half, &.two-quarters, &.three-quarters {
            @include flex-basis(100%);
            padding-left: 0;
        }
    }
    @media (max-width: 38em) {
        &.third, &.one-third, &.two-thirds {
            @include flex-basis(100%);
            padding-left: 0;
        }
    }
    @media (max-width: 28em) {
        &.quarter, &.one-quarter {
            @include flex-basis(100%);
            padding-left: 0;
        }
    }
    &.nopadding {
      padding: 0;
    }
}

.space-between {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.align-baseline {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(baseline);
}

.align-center {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: $vr;
}

.mr1 {
  margin-right: $vr;
}
