    ///////////////////////////////
   //                           //
  //    T Y P O G R A P H Y    //
 //                           //
///////////////////////////////

// Headings

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $bold;
    line-height: $lh;
    @include vr;
}
h1, .h1 { font-size: $size-6; }
h2, .h2 { font-size: $size-5; }
h3, .h3 { font-size: $size-4; }
h4, .h4 { font-size: $size-3; }
h5, .h5 { font-size: $size-2; }
h6, .h6 { font-size: $size-1; }

// Body

article, aside, blockquote, body, br, caption, col, colgroup, div, dl, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, img, map, nav, object, ol, output, p, pre, section, summary, table, tbody, textarea, tfoot, th, thead, tr, ul, video {
    @include vr;
}

.nomargin {
    margin: 0;
    margin-bottom: 0;
}

.mono {
    font-family: $monospace;
}

body {
    font-size: 16px;
    font-family: $sans-serif;
    font-weight: $normal;
    line-height: $lh;
    @include font-feature-settings('liga', 'kern');
}

p:empty {
    display: none;
}

b, strong, .bold { font-weight: $bold; }

a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

a.disabled {
    color: $color-grey;
    &:hover {
        color: $color-grey;
        text-decoration: none;
    }
}

blockquote {
    margin-left: 0;
    padding-left: $vr;
    border-left: 1px solid $color-grey;
    font-style: italic;
    i, em { font-style: normal; }
}

small, .small {
    font-size: 0.8125em;
    font-style: normal;
    line-height: $lh;
}

dfn, dt {
    display: block;
    font-size: $size-1;
    font-style: normal;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: $lh;
}

dd {
    -webkit-margin-start: 0;
    & + dt {
        margin-top: $vr;
    }
}

pre {
    background-color: $color-grey-7;
    @include border-radius;
}

code {
    padding: .2em .4em;
    @include border-radius;
    font-family: $monospace;
    font-size: $size-2;
    background-color: $color-grey-7;
}

hr {
    border-top: none;
    border-bottom: 1px solid $color-grey;
}

img, audio, video, embed, iframe {
    max-width: 100%;
}

figcaption {
    font-size: $size-2;
}

th {
    font-size: $size-2;
    font-weight: $bold;
    text-align: left;
    vertical-align: top;
}

td { vertical-align: top; }

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul, ol {
    &.nostyle {
        list-style: none;
        padding-left: 0;
    }
    &.inline li {
        display: inline-block;
        margin: 0 $vr/2 $vr/2 0;
    }
}
