// TYPOGRAPHY
/*
First we try to load our own font. If that doesn't work,
then we try loading the native system font. If that doesn't work,
then we fall back to good ol' Helvetica Neue. And if THAT doesn't
work, then we fall back to the browser's default sans-serif font.
*/
$sans-serif:    'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$monospace:     'Source Code Pro', 'Courier Prime', monospace;

$bold:          500;
$normal:        400;

$size-1:        0.6875rem;
$size-2:        0.8125rem;
$size-3:        1.0000rem;
$size-4:        1.1875rem;
$size-5:        1.4375rem;
$size-6:        1.6875rem;
$size-7:        2.0625rem;
$size-8:        2.5000rem;
$size-9:        3.0000rem;

$lh:            1.4375em;
$vr:            1.1875rem;

// BORDERS

$border-width:  1px;
$border-radius: 4px;
$border:        $border-width solid;

// BREAKPOINTS

$large-bp:      new-breakpoint(min-width 1100px 12);
$medium-bp:     new-breakpoint(min-width 500px 6);
$small-bp:      new-breakpoint(max-width 500px 4);
