{% load tags %}

{% if check %}
  <div class="check note" id="check-{{ check.id }}">
    <header class="note-header">
      <p class="note-author">
        Check sent by {{ check.user.profile.full_name }}
        {% if check.user.is_staff %}
          &nbsp;<span class="small blue badge">Staff</span>
        {% endif %}
      </p>
      <a href="{% if not foia_url %}{{ check.communication.foia.get_absolute_url }}{% endif %}#check-{{check.id}}">
        <time
          datetime="{{ check.created_datetime|date:'c' }}"
          title="{{ check.created_datetime|date:'c' }}"
          class="note-date">
          {{ check.created_datetime|date }}
        </time>
      </a>
    </header>
    <main class="note-body">
      <div class="payto">Pay to the order of: {{ check.mailed_to|linebreaks }}</div>
      <div class="info">
        <div class="number">#{{ check.number }}</div>
        <div class="amount">Amount of: <span>${{ check.amount }}</span></div>
      </div>

      {% with events=check.mail_events %}
        <ul class="progressbar">
          <li {% if events.created %}class="active"{% endif %}>
            Created
            {% if events.created %}
              &mdash;
            {{ events.created|date:"SHORT_DATE_FORMAT" }}{% endif%}
          </li>
          <li {% if events.in_transit %}class="active"{% endif %}>
            In Transit
            {% if events.in_transit %}
              &mdash; {{ events.in_transit|date:"SHORT_DATE_FORMAT" }}
            {% endif%}
          </li>
          <li {% if events.in_local_area %}class="active"{% endif %}>
            In Local Area
            {% if events.in_local_area %}
              &mdash; {{ events.in_local_area|date:"SHORT_DATE_FORMAT" }}
            {% endif%}
          </li>
          <li {% if events.processed_for_delivery %}class="active"{% endif %}>
            Processed For Delivery
            {% if events.processed_for_delivery %}
              &mdash; {{ events.processed_for_delivery|date:"SHORT_DATE_FORMAT" }}
            {% endif%}
          </li>
          <li {% if events.deposited %}class="active"{% endif %}>
            Deposited
            {% if events.deposited %}
              &mdash; {{ events.deposited|date:"SHORT_DATE_FORMAT" }}
            {% endif%}
          </li>
        </ul>
      {% endwith %}


      {% comment %}
      <p>Status: {{ check.mail_status|default:"Unknown" }}</p>
      <p>
        Deposited:
        {% if check.deposit_date %}
          {{ check.deposit_date|date }}
        {% else %}
          No
        {% endif %}
      </p>
      {% endcomment %}
    </main>
  </div>
{% endif %}

