{% extends 'base.html' %}
{% load humanize %}
{% load markdown_deux_tags %}
{% load mathfilters %}
{% load static from staticfiles %}
{% load crowdfund_tags %}
{% load tags %}

{% block title %}MuckRock &bull; {{ foia.title }}{% endblock %}
{% block type %}request{% endblock %}

{% block open_graph %}
<meta property="og:title" content="{{ foia.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% static 'apple-touch-icon.png' %}" />
<meta property="og:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta property="og:site_name" content="MuckRock" />
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@muckrock" />
{% if foia.user.profile.twitter %}
<meta name="twitter:creator" content="{{ foia.user.profile.twitter }}" />
{% endif %}
<meta name="twitter:title" content="{{ foia.title }}" />
<meta name="twitter:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta name="twitter:image:src" content="{% static 'apple-touch-icon.png' %}" />
{% endblock twitter_card %}

{% block content %}
<article class="request detail">
    <section class="request properties">
        <header>
            <section class="identity">
                {% if user.is_staff %}
                <p><span class="muckrock-no"><code>MuckRock # {{ foia.id }}</code></span>{% if foia.tracking_id %}<span class="tracking-id"><code>Tracking # {{ foia.tracking_id }}</code></span>{% endif %}</p>
                {% endif %}
                <h1>{{ foia.title }}</h1>
            </section>
        </header>
        <section class="basic-information">
            <summary class="synopsis"><a href="{% url 'acct-profile' foia.user.username %}">{{ foia.user.get_full_name }}</a> filed this request{% if foia.agency %} with the {% if foia.agency.approved %}<a href="{{ foia.agency.get_absolute_url }}">{{ foia.agency.name }}</a>{% else %}{{ foia.agency.name }}{% endif %} of {% if foia.jurisdiction.level == 'f' %}the {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a>{% if foia.jurisdiction.parent and foia.jurisdiction.level == 'l' %}, <a href="{{ foia.jurisdiction.parent.get_absolute_url }}" title="{{ foia.jurisdiction.parent.name }}">{{ foia.jurisdiction.parent.abbrev }}</a>{% endif %}{% endif %}.</summary>
            {% if foia.parent %}
            <p>It is a clone of <a href="{{ foia.parent.get_absolute_url }}">this request</a>.</p>
            {% endif %}
        </section>
        <section class="actions">
            {% include 'foia/foia_actions.html' %}
        </section>
        <section class="states">
            <section class="status manager" id="request-status">
                <header>
                    <dfn>Status</dfn>
                    {% if foia.status != 'started' and foia.status != 'submitted' %}
                    {% if foia.user == user or user.is_staff %}
                    <div class="edit" id="edit-status" data-manager=".status-manager">Edit</div>
                    {% endif %}
                    {% endif %}
                </header>
                <p class="status state {{ foia.color_code }}">{{foia.get_status_display}}</p>
                {% if foia.status != 'started' and foia.status != 'submitted' %}
                {% if foia.user == user or user.is_staff %}
                <form method="post" class="status-form" id="status-form">
                    {% csrf_token %}
                    <select name="status">
                    {% for choice in status_choices %}
                        <option value="{{ choice|first }}" {% if choice|first == foia.status %}selected{% endif %}>{{ choice|last }}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" name="action" value="status" class="primary button">Save</button>
                    <button class="cancel" id="cancel-status">Cancel</button>
                </form>
                {% endif %}
                {% endif %}
            </section>
            {% if user_can_edit %}
            <section class="embargo manager">
                <header>
                    <dfn>Embargo</dfn>
                    <div class="edit" id="edit-embargo" data-manager=".embargo-manager">Edit</div>
                </header>
                <div class="embargo state">
                {% if foia.embargo %}
                    {% if foia.permanent_embargo %}
                    <p>This request is permanently embargoed.</p>
                    {% else %}
                    <p>This request is embargoed until {% if foia.date_embargo %}{{ foia.date_embargo }}{% else %}30 days after it is finished.{% endif %}</p>
                    {% endif %}
                {% else %}
                    <p>This request has no embargo.</p>
                {% endif %}
                </div>
                <form method="post" action="embargo/" class="embargo-form" id="embargo-form">
                    {% csrf_token %}
                    {{ embargo_form.errors }}
                    {{ embargo_form.non_field_errors }}
                    {% if request.user.profile.can_embargo_permanently %}
                    <div class="permanent">
                        {{ embargo_form.permanent_embargo.label_tag }}
                        {{ embargo_form.permanent_embargo }}
                        <p class="help-text">{{ embargo_form.permanent_embargo.help_text }}</p>
                    </div>
                    {% endif %}
                    {% if embargo_needs_date %}
                    <div class="expiration">
                        {{ embargo_form.date_embargo.label_tag }}
                        {{ embargo_form.date_embargo }}
                        <p class="help-text">{{ embargo_form.date_embargo.help_text }}</p>
                    </div>
                    {% endif %}
                    {% if not foia.embargo %}
                    <button class="primary" type="submit" name="embargo" value="create">Embargo</button>
                    {% else %}
                        {% if embargo_needs_date or request.user.profile.can_embargo_permanently %}
                    <button class="primary" type="submit" name="embargo" value="update">Update</button>
                        {% endif %}
                    <button class="failure" type="submit" name="embargo" value="delete">Remove</button>
                    {% endif %}
                    <button class="cancel" id="cancel-embargo">Cancel</button>
                </form>
            </section>
            {% endif %}
            {% tag_manager foia %}
        </section>
    </section>
    <main class="request main">

        {% if foia.files.count > 0 or user_can_edit %}
        <ul class="tabs">
            <li class="tab active" id="tab-overview">Overview</li>
            <li class="tab" id="tab-request">Request</li>
            {% if foia.files.count > 0 %}
            <li class="tab" id="tab-files">Files</li>
            {% endif %}
            {% if user_can_edit %}
            <li class="tab" id="tab-notes">Notes</li>
            {% endif %}
        </ul>
        {% endif %}

        <section class="tab-section overview visible" id="overview">

            {% if user.is_staff and tasks|length > 0 %}
            <a href="{% url 'request-task-list' pk=foia.pk %}" class="task-link">There {{ tasks|length|pluralize:"is,are" }} {{ tasks|length }} task{{ tasks|length|pluralize}} for this request. {% if open_task_count > 0 %}{{ open_task_count }} {{ open_task_count|pluralize:"is,are" }}{% else %}None are{% endif %} unresolved.</a>
            {% endif %}

            {% if foia.has_crowdfund %}
                {% crowdfund_request foia.crowdfund.pk %}
            {% endif %}

            <table class="dates">
                <tr class="submitted">
                    <td class="label">Date Submitted</td>
                    <td class="date">{{ foia.date_submitted }}</td>
                </tr>
                {% if foia.last_response %}
                <tr class="last-response">
                    <td class="label">Last Response Date</td>
                    <td class="date">{{ foia.last_response.date|timesince }} ago</td>
                </tr>
                {% endif %}
                {% if foia.date_due and foia.status == "processed" %}
                <tr class="due">
                    <td class="label">Date Due</td>
                    {% if past_due %}
                    <td class="date">{{ foia.date_due|timesince }} ago</td>
                    {% else %}
                    <td class="date">{{ foia.date_due|timeuntil }}</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% if show_estimated_date and foia.date_estimate %}
                <tr class="estimated-completion">
                    <td class="label">Completion Date Estimate</td>
                    <td class="date">{{ foia.date_estimate|date }}</td>
                </tr>
                {% endif %}
            </table>

            {% if foia.requested_docs %}
            <div class="requested-docs">
                <header>
                    <p>Initial Request</p>
                </header>
                {{ foia.requested_docs|linebreaks }}
            </div>
            {% endif %}
        </section>

        <section class="tab-section communications" id="request">
            <div class="communications-controls">
                <div class="communications filter">
                    <input id="comms-filter" type="search" placeholder="Filter communications" />
                </div>
            </div>
            <div class="communications-forms">

            </div>
            <div class="communications-list">
            {% for comm in foia.communications.all %}
                {% include 'foia/communication.html' with communication=comm %}
            {% endfor %}
            </div>

            {% if user_can_edit and foia.status == "ack" or foia.status == "processed" %}
            <div class="auto-follow-up">
                {% if foia.disable_autofollowups %}
                <p>Automatic follow ups are disabled.</p>
                <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Enable automatic follow ups">Enable</a>
                {% else %}
                <p>We'll automatically follow-up with the agency{% if foia.date_followup %} in {{ foia.date_followup|timeuntil }}{% endif %}.</p>
                <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Disable automatic follow ups">Disable</a>
                {% endif %}
            </div>
            {% endif %}

            {% if user_can_edit %}
            <div class="communications-composer">
                <div class="composer-actions">
                    <button class="primary" id="follow-up">Follow Up</button>
                    <button class="failure" id="appeal">Appeal</button>
                    {% if request.user.is_staff %}
                    <a href="{% url 'foia-admin-fix' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Make an admin fix" class="button">Admin Fix</a>
                    {% else %}
                    <button id="get-advice">Get Advice</button>
                    {% endif %}
                </div>
                <form class="composer-input">
                    <textarea disabled>You may follow up {% if not foia.disable_autofollowups %}manually {% endif %}with the agency or appeal their decision.</textarea>
                </form>
            </div>
            {% endif %}

        </section>

        {% if foia.files.all %}
        <!-- DOCUMENTS -->
        <section class="tab-section files" id="files">
            {% if not foia.embargo and foia.total_pages > 0 %}
            <h2 id="doc-title"></h2>
            <div class="viewer" id="viewer"></div>
            {% endif %}
            <ul>
            {% for file in foia.files.all %}
                <li>{% include "lib/file.html" %}</li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if foia.user == user or user.is_staff %}
        <!-- NOTES -->
        <section class="tab-section notes" id="notes">
            <header class="notes-controls">
                <div class="notes filter">
                    <input id="notes-filter" type="search" placeholder="Filter notes" />
                </div>
                <a class="primary button" href="{% url 'foia-note' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}">Add a Note</a>
            </header>
            {% for note in foia.notes.all %}
                {% include 'foia/note.html' with note=note %}
            {% empty %}
                <p>Notes are a private way to remember information about this request.</p>
            {% endfor %}
        </section>
            {% endif %}
    </main>
</article>
{% endblock content %}

{% block scripts %}
{% include 'autocomplete_light/static.html' %}
<script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js" type="text/javascript"></script>
{% if foia.has_crowdfund %}
<script src="{% static 'js/autoNumeric.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/crowdfund.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/jquery.quicksearch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/communication.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foiaRequest.js' %}"></script>
<script type="text/javascript">
    $('#comms-filter').quicksearch('#request .communications-list .communication');
    $('#notes-filter').quicksearch('#notes .note');
    $('.datepicker').datepicker({
        maxDate: '+1m',
        minDate: 0,
        firstDay: 1,
        hideIfNoPrevNext: true,
        numberOfMonths: 1,
        {% if foia.date_embargo %}
        defaultDate: '{{ foia.date_embargo|date:"m/d/Y" }}'
        {% endif %}
    });
</script>
{% endblock scripts %}
