{% extends 'base.html' %}
{% load compress %}
{% load humanize %}
{% load markdown_deux_tags %}
{% load mathfilters %}
{% load static from staticfiles %}
{% load crowdfund_tags %}
{% load tags %}

{% block title %}{{ foia.title }}{% endblock %}
{% block type %}request{% endblock %}

{% block open_graph %}
<meta property="og:title" content="{{ foia.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% static 'icons/logo.png' %}" />
<meta property="og:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta property="og:site_name" content="MuckRock" />
{% endblock open_graph %}

{% block twitter_card %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@muckrock" />
{% if foia.user.profile.twitter %}
<meta name="twitter:creator" content="{{ foia.user.profile.twitter }}" />
{% endif %}
<meta name="twitter:title" content="{{ foia.title }}" />
<meta name="twitter:description" content="{{ foia.user.get_full_name }} {% if foia.date_done %}made{% else %}is making{% endif %} this request{% if foia.agency %} to {{ foia.agency.name }} of {% if foia.jurisdiction.name = 'United States of America' %}the {% endif %}{{ foia.jurisdiction.name }}.{% endif %}" />
<meta name="twitter:image:src" content="{% static 'icons/logo.png' %}" />
{% endblock twitter_card %}

{% block content %}
<article class="request detail" id="foia-{{ foia.id }}">
    <section class="request properties">
        <header>
            <section class="identity">
                <h1>{{ foia.title }}</h1>
            </section>
        </header>
        <section class="basic-information">
			<summary class="synopsis"><a href="{% url 'acct-profile' foia.user.username %}">{{ foia.user.get_full_name }}</a> filed this request{% if foia.agency %} with the {{foia.agency.link_display}} of {% if foia.jurisdiction.level == 'f' %}the {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{ foia.jurisdiction.name }}</a>{% if foia.jurisdiction.parent and foia.jurisdiction.level == 'l' %}, <a href="{{ foia.jurisdiction.parent.get_absolute_url }}" title="{{ foia.jurisdiction.parent.name }}">{{ foia.jurisdiction.parent.abbrev }}</a>{% endif %}{% endif %}.</summary>
            {% if foia.parent %}
            <p>It is a clone of <a href="{{ foia.parent.get_absolute_url }}">this request</a>.</p>
            {% endif %}
        </section>
        <span class="toggle-details" id="toggle-specific-information" data-state="0">Show details</span>
        <section class="specific-information">
            {% if request.user.is_staff or foia.tracking_id %}
            <table class="numbers">
                {% if request.user.is_staff %}
                <tr class="muckrock-number">
                    <td>MuckRock #</td>
                    <td>{{ foia.id }}</td>
                </tr>
                {% endif %}
                {% if foia.tracking_id %}
                <tr class="tracking-number">
                    <td>Tracking #</td>
                    <td>{{ foia.tracking_id }}</td>
                </tr>
                {% endif %}
            </table>
            {% endif %}
            <table class="dates">
                <tr class="submitted">
                    <td class="label">Submitted</td>
                    <td class="date">{{ foia.date_submitted }}</td>
                </tr>
                {% if foia.date_due and foia.status == "processed" %}
                <tr class="due">
                    <td class="label">Due</td>
                    {% if past_due %}
                    <td class="date failure">{{ foia.date_due }}</td>
                    {% else %}
                    <td class="date">{{ foia.date_due }}</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% with last_response as foia.last_response %}
                {% if last_response %}
                <tr class="last-response">
                    <td class="label">Last Response</td>
                    <td class="date">{{ last_response.date.date }}</td>
                </tr>
                {% endif %}
                {% endwith %}
                {% if show_estimated_date %}
                <tr class="estimated-completion">
                    <td class="label">Est. Completion</td>
                    <td class="date">{% if foia.date_estimate %}{{ foia.date_estimate|date }}{% else %}None{% endif %}{% if user_can_edit %}<span class="edit">Edit</span>{% endif %}</td>
                </tr>
                {% endif %}
            </table>
            {% if user_can_edit %}
            <form class="change-date" id="change-estimated-completion-date" method="post">
                {% csrf_token %}
                <label for="{{ change_estimated_date.date_estimate.id_for_label }}">{{ change_estimated_date.date_estimate.label }}</label>
                {{ change_estimated_date.date_estimate }}
                <p class="help-text">{{ change_estimated_date.date_estimate.help_text }}</p>
                <button class="primary" type="submit" name="action" value="date_estimate">Save</button>
                <button class="cancel" id="cancel-date-estimate">Cancel</button>
            </form>
            {% endif %}
            <section class="states">
                {% include 'foia/component/status.html' %}
                {% include 'foia/component/embargo.html' %}
                {% tag_manager foia %}
            </section>
        </section>
    </section>
    <main class="request main">

        {% if foia.has_crowdfund %}
            {% crowdfund foia.crowdfund.pk %}
        {% endif %}

        {% include 'foia/foia_actions.html' %}

        <div class="tab-container">
            <ul role="tablist" class="tab-list">
                <li>
                    <a role="tab" class="tab" aria-controls="request" href="#comms">
                        <span class="counter">{{foia.communications.count}}</span>
                        <span class="label">Communication{{foia.communications.count|pluralize}}</span>
                    </a>
                </li>
                <li>
                    <a role="tab" class="tab" aria-controls="files" href="#files">
                        <span class="counter">{{foia.files.count}}</span>
                        <span class="label">File{{foia.files.count|pluralize}}</span>
                    </a>
                </li>
                {% if foia.user == user or user.is_staff %}
                <li>
                    <a role="tab" class="tab" aria-controls="notes" href="#notes">
                        <span class="counter">{{foia.notes.count}}</span>
                        <span class="label">Note{{foia.notes.count|pluralize}}</span>
                    </a>
                </li>
                {% endif %}
                {% if user_can_edit and task_count or user.is_staff %}
                <li>
                    <a role="tab" class="tab {% if task_count %}alert{% endif %}" aria-controls="tasks" href="#tasks">
                        <span class="counter">{{task_count}}</span>
                        <span class="label">Task{{task_count|pluralize}}</span>
                    </a>
                </li>
                {% endif %}
                {% if user_can_edit %}
                <li><a role="tab" class="tab" aria-controls="sharing" href="#sharing">Sharing</a></li>
                {% endif %}
            </ul>

            <section role="tabpanel" class="tab-panel communications" id="comms">
                <h2 class="tab-panel-heading">Communications</h2>
                <div class="communications-controls">
                    <div class="communications filter">
                        <input id="comms-filter" type="search" placeholder="Filter communications" />
                    </div>
                    <button id="toggle-communication-collapse" data-state="0">Collapse All</button>
                </div>
                <div class="communications-list">
                {% with foia_url=foia.get_absolute_url %}
                {% for comm in foia.communications.all %}
                    {% include 'foia/communication.html' with communication=comm %}
                {% endfor %}
                {% endwith %}
                </div>

                {% if user_can_edit %}
                {% if foia.status == "ack" or foia.status == "processed" %}
                <div class="auto-follow-up">
                    {% if foia.disable_autofollowups %}
                    <p>Automatic follow ups are disabled.</p>
                    <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Enable automatic follow ups">Enable</a>
                    {% else %}
                    <p>We'll automatically follow-up with the agency{% if foia.date_followup %} in {{ foia.date_followup|timeuntil }}{% endif %}.</p>
                    <a href="{% url 'foia-toggle-followups' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Disable automatic follow ups">Disable</a>
                    {% endif %}
                </div>
                {% endif %}
                {% endif %}

                {% if user_can_edit %}
                <div class="communications-composer">
                    <div class="composer-actions">
                        <button class="primary" id="follow-up">Follow Up</button>
                        {% if is_thankable %}
                        <button class="success" id="thanks">Thank Agency</button>
                        {% endif %}
                        {% if foia.is_appealable %}
                        <button class="failure" id="appeal">Appeal</button>
                        {% endif %}
                        {% if request.user.is_staff %}
                        <a href="{% url 'foia-admin-fix' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" title="Make an admin fix" class="button">Admin Fix</a>
                        {% else %}
                        <button id="get-advice">Get Advice</button>
                        {% endif %}
                    </div>
                    <div class="inactive composer-input visible">
                        <p>You may <span id="inactive-follow-up">follow up</span> {% if not foia.disable_autofollowups %}manually {% endif %}with the agency{% if foia.is_appealable %} or <span id="inactive-appeal">appeal</span> their decision{% endif %}.</p>
                    </div>
                    <form class="follow-up composer-input" id="follow-up" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="follow_up" />
                        <label for="follow-up-composer">Send a follow up to the {{ foia.agency.name }}</label>
                        <textarea name="text" id="follow-up-composer"></textarea>
                        <div class="buttons">
                            <button class="primary" type="submit" name="appeal" value="1">Send</button>
                            <span class="button cancel">Cancel</span>
                        </div>
                    </form>
                    {% if is_thankable %}
                    <form class="thanks composer-input" id="thanks" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="thanks" />
                        <label for="thanks-composer">Send a thank you note to the {{ foia.agency.name }}</label>
                        <textarea name="text" id="thanks-composer">
    Hi,

    Thanks so much for your help with this request! I really appreciate it.

    Sincerely,
    {{foia.user.get_full_name}}
                        </textarea>
                        <div class="buttons">
                            <button class="primary" type="submit" name="thanks" value="1">Send</button>
                            <span class="button cancel">Cancel</span>
                        </div>
                    </form>
                    {% endif %}
                    {% if foia.is_appealable %}
                    <form class="appeal composer-input" id="appeal" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="appeal" />
                        {% if foia.agency.appeal_agency %}
                        <label for="appeal-composer">Send an appeal to the {{ foia.agency.appeal_agency.name }}</label>
                        {% else %}
                        <label for="appeal-composer">Send an appeal to the {{ foia.agency.name }}</label>
                        {% endif %}
                        <textarea name="text" id="appeal-composer"></textarea>
                        <div class="buttons">
                            <button class="primary" type="submit" name="appeal" value="1">Send</button>
                            <span class="button cancel">Cancel</span>
                        </div>
                    </form>
                    {% endif %}
                    {% if foia.is_payable %}
                    <form class="payment composer-input stripe-checkout" id="pay" method="post" action="{% url 'foia-pay' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}">
                        {% csrf_token %}
                        <input type="hidden" name="stripe_token" value="" />
                        <input type="hidden" name="stripe_pk" value="{{ stripe_pk }}" />
                        <input type="hidden" name="stripe_image" value="{% static 'logo.png' %}" />
                        <input type="hidden" name="stripe_email" value="{{request.user.email}}" />
                        <input type="hidden" name="stripe_label" value="Pay" />
                        <input type="hidden" name="stripe_description" value="Request Fee" />
                        <input type="hidden" name="stripe_bitcoin" value="true" />
                        <input type="hidden" name="stripe_fee" value=".05" />
                        <input type="number" name="stripe_amount" value="{{ foia.get_stripe_amount }}" />
                        <button type="submit">Pay</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}

            </section>

            <!-- DOCUMENTS -->
            <section role="tabpanel" class="tab-panel files" id="files">
                <h2 class="tab-panel-heading">Files</h2>
                {% if foia.total_pages > 0 %}
                <div class="active-document">
                    <header>
                        <h3 id="doc-title"></h3>
                        <div class="file-viewer-actions">
                            <span class="cancel button">Close</span>
                        </div>
                    </header>
                    <div class="viewer" id="viewer"></div>
                </div>
                {% endif %}
                {% with foia.files.all as files %}
                {% if files %}
                <ul class="files-list" id="all-files">
                    {% with foia_url=foia.get_absolute_url %}
                    {% for file in files %}
                    <li>{% include "lib/file.html" %}</li>
                    {% endfor %}
                    {% endwith %}
                </ul>
                {% else %}
                <p class="empty">There are no files associated with this request.</p>
                {% endif %}
                {% endwith %}
            </section>

            {% if user_can_edit %}
            <!-- NOTES -->
            <section role="tabpanel" class="tab-panel notes" id="notes">
                <h2 class="tab-panel-heading">Notes</h2>
                {% with foia.notes.all as notes %}
                {% if notes %}
                <header class="notes-controls">
                    <div class="notes filter">
                        <input id="notes-filter" type="search" placeholder="Filter notes" />
                    </div>
                </header>
                {% endif %}
                {% for note in notes %}
                    {% include 'foia/note.html' with note=note %}
                {% endfor %}
                {% endwith %}
                <form class="add-note" method="post">
                    {% csrf_token %}
                    <header>
                        <h4>Add a note</h4>
                        <p><a href="http://daringfireball.net/projects/markdown/syntax" title="Markdown documentation">Markdown syntax supported</a></p>
                    </header>
                    {{ note_form.note }}
                    <footer>
                        <button class="primary" type="submit" name="action" value="add_note">Save</button>
                        <p>Your notes are visible to you and other editors of this request.</p>
                    </footer>
                </form>
            </section>
            {% endif %}

            {% if task_count and user_can_edit or user.is_staff %}
            <!-- TASKS -->
            <section role="tabpanel" class="tab-panel tasks" id="tasks">
                <h2 class="tab-panel-heading">Tasks</h2>
                {% if user.is_staff and task_count > 0 %}
                <header class="tasks-control">
                    <p><a href="{% url 'request-task-list' pk=foia.pk %}" class="task-link">See all tasks for this request.</a></p>
                </header>
                {% endif %}
                {% for task in open_tasks %}
                    {% include 'lib/task.html' with task=task %}
                {% empty %}
                    {% if task_count > 0 %}
                <p class="empty">There are no open tasks for this request.</p>
                    {% else %}
                <p class="empty">There are no tasks for this request.</p>
                    {% endif %}
                {% endfor %}
            </section>
            {% endif %}

            {% if user_can_edit %}
            <!-- ACCESS -->
            <section role="tabpanel" class="tab-panel access" id="sharing">
                <h2 class="tab-panel-heading">Sharing</h2>
                {% if foia.embargo %}
                <form class="generate-private-link" method="post">
                    {% csrf_token %}
                    <h3>Private Link</h3>
                    {% if foia.access_key %}
                    <input type="text" value="{{ request.get_host }}{{ request.get_full_path }}?key={{ foia.access_key }}" readonly />
                    {% else %}
                    <input type="text" value="No private link" readonly />
                    {% endif %}
                    <button type="submit" name="action" value="generate_key">Create new link</button>
                    <p class="help-text">Share this private link with anyone you want to be able to see this request. If you regenerate this link, it will break any that you have already given out.</p>
                </form>
                {% endif %}
                <form class="grant-access" method="post">
                    {% csrf_token %}
                    <h3>Grant Access</h3>
                    <div class="user search input">
                        <label for="{{ access_form.users.id_for_label}}">Search for MuckRock users</label>
                        {{ access_form.users }}
                    </div>
                    {{ access_form.access }}
                    <button class="primary" type="submit" name="action" value="grant_access">Save</button>
                </form>
                <table class="people with-access">
                    <h3>People with access</h3>
                    <tbody>
                        <tr class="person with-access">
                            <td class="name"><p>{{ foia.user.get_full_name }} <span class="creator badge">Creator</span></p></td>
                            <td class="modify nostretch"></td>
                        </tr>
                        {% for user in foia.edit_collaborators.all %}
                        <tr class="person with-access">
                            <td class="name">
                                <p>{{ user.get_full_name }} <span class="editor badge">Editor</span></p>
                            </td>
                            <td class="modify nostretch">
                                <form class="modify-access" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="user" value="{{ user.id }}" />
                                    <button type="submit" name="action" value="demote">Demote</button>
                                    <button class="failure" type="submit" name="action" value="revoke_access">Revoke</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for user in foia.read_collaborators.all %}
                        <tr class="person with-access">
                            <td class="name">
                                <p>{{ user.get_full_name }} <span class="reader badge">Viewer</span></p>
                            </td>
                            <td class="modify nostretch">
                                <form class="modify-access" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="user" value="{{ user.id }}" />
                                    <button type="submit" name="action" value="promote">Promote</button>
                                    <button class="failure" type="submit" name="action" value="revoke_access">Revoke</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endif %}

        </div>
    </main>
</article>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $('.stripe-checkout').checkout();
    $('#comms-filter').quicksearch('#comms .communications-list .communication');
    $('#notes-filter').quicksearch('#notes .note');
    $('.datepicker').datepicker({
        maxDate: '+1m',
        minDate: 0,
        firstDay: 1,
        hideIfNoPrevNext: true,
        numberOfMonths: 1,
        {% if foia.date_embargo %}
        defaultDate: '{{ foia.date_embargo|date:"m/d/Y" }}'
        {% endif %}
    });
</script>
{% endblock scripts %}
