
{% extends "foia/base-submit.html" %}

{% block content %}
<h1>Which documents do you want to request?</h1>

<em class="large">Use one of our templates below, write your own request from scratch or request a new template (please!) by emailing <a href="mailto:Michael@MuckRock.com">Michael@MuckRock.com</a>.</em>
<div id="progressbar" title="33% Complete"></div><br />

{% if form.errors %}
<div class="error">{{ form.errors }}</div>
{% endif %}
	<div class="form">
  <form action="" method="post">
			{% csrf_token %}
			<dl>
				<dt>
					<input type="radio" name="{{form_step}}-template" id="none" value="none" />
					<label for="none">Write your own request</label>
				</dt>
				<dd>
					If you already know exactly which document you want
				</dd>
			</dl>
			<div id="tabs">
				<ul>
				{% for cat_tuple in extra_context.template_choices %}
					{% if cat_tuple.0 != 'None' %}
						<li><a href="#tabs-{{cat_tuple.0}}">{{cat_tuple.0}}</a></li>
					{% endif %}
				{% endfor %}
				</ul>

				{% for cat_tuple in extra_context.template_choices %}
					{% if cat_tuple.0 != 'None' %}
						<div id="tabs-{{cat_tuple.0}}">
							<dl>
							{% for template in cat_tuple.1 %}
								<dt>
									<input type="radio" name="{{form_step}}-template" id="{{template.0}}" value="{{template.0}}" />
									<label for="{{template.0}}">
										{{template.1.name}}
									</label>
								</dt>
								<dd>{{template.1.short_desc}}</dd>
							{% endfor %}
							</dl>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<input type="submit" name="submit" value="Next" class="button" />
  </form>
	</div>
{% endblock %}
