{% load mathfilters %}

{% if foia.is_payable and user_can_edit %}
<form method="post" action="{% url 'foia-pay' jurisdiction=foia.jurisdiction.slug jidx=foia.jurisdiction.pk idx=foia.id slug=foia.slug %}" class="hidden-stripe-handler" id="payment-form">
    {% csrf_token %}
    <input name="amount" value="{{ foia.get_stripe_amount }}" hidden>
</form>
{% endif %}
{% if user.is_authenticated %}
<form method="post">
{% csrf_token %}
{% for action in user_actions %}
    {% if action.is_possible %}
        {% if action.link %}
            <a href={{ action.link }} class="button{% if action.class_name %} {{ action.class_name }}{% endif %}" title="{{ action.desc }}">{{ action.title }}</a>
        {% endif %}
        {% if action.class_name == 'modal' %}
            <span class="text-area modal-button button">{{ action.title }}</span>
            <div class="modal">
                <h1>{{ action.title }}</h1>
                <h2>{{ action.desc }}</h2>
                <button type="submit" name="action" value="{{ action.action }}" class="primary">{{ action.title }}</button>
                <span class="close-modal button">Close</span>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
{% for action in noncontextual_request_actions %}
    {% if action.is_possible %}
         {% if action.title == 'Pay' %}
        <button data-amount="{{ foia.get_stripe_amount }}"
                data-description="Request Fee (${{ foia.price|mul:1.05|floatformat:2 }})"
                data-email="{{ user.email }}"
                data-form="#payment-form"
                data-label=""
                class="checkout-button{% if action.class_name %} {{ action.class_name }}{% endif %}">
            {{ action.title }}
        </button>
        {% else %}
            {% if action.link %}
                <a href={{ action.link }} class="button{% if action.class_name %} {{ action.class_name }}{% endif %}" title="{{ action.desc }}">{{ action.title }}</a>
            {% endif %}
            {% if action.class_name == 'modal' %}
                <span class="text-area modal-button button">{{ action.title }}</span>
                <div class="modal">
                    <h1>{{ action.title }}</h1>
                    <h2>{{ action.desc }}</h2>
                    <button type="submit" name="action" value="{{ action.action }}" class="primary">{{ action.title }}</button>
                    <span class="close-modal button">Close</span>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</form>
{% else %}
<section class="panel">
    <p>MuckRock users can create, duplicate, track, and share public records requests like this one.</p>
    <a href="{% url 'acct-register' %}" class="primary button">Sign Up Today</a>
</section>
{% endif %}
