{% extends 'base.html' %}

{% block title %}
  {{ composer.title }} &bull; MuckRock
{% endblock %}

{% block content %}

  <article class="request detail grid__row">
    <section class="request properties grid__column one-quarter">
      <header>
        <section class="identity">
          <h1>{{ composer.title }}</h1>
        </section>
      </header>
      <section class="basic-information">
        <summary class="synopsis">
          <a href="{% url 'acct-profile' composer.user.username %}">
            {{ composer.user.get_full_name }}
          </a> is filing this request
          {% if composer.agencies.all|length == 1 %}
            {% with composer.agencies.all.0 as agency %}
              with the {{ agency.link_display }} of
              {% if agency.jurisdiction.level == 'f' %}
                the
              {% endif %}
              <a href="{{ agency.jurisdiction.get_absolute_url }}">
                {{ agency.jurisdiction.name }}
              </a>
              {% if agency.jurisdiction.parent and agency.jurisdiction.level == 'l' %}
                ,
                <a
                 href="{{ agency.jurisdiction.parent.get_absolute_url }}"
                 title="{{ agency.jurisdiction.parent.name }}"
                 >
                 {{ agency.jurisdiction.parent.abbrev }}
                </a>.
              {% endif %}
            {% endwith %}
          {% else %}
            with
            {% for agency in composer.agencies.all %}
              {% if forloop.last %}
                and {{ agency.link_display }}.
              {% elif forloop.revcounter == 2 %}
                {{ agency.link_display }}
              {% else %}
                {{ agency.link_display }},
              {% endif %}
            {% endfor %}
          {% endif %}
        </summary>
        {% if composer.parent %}
          <p>It is a clone of
            <a href="{{ composer.parent.get_absolute_url }}">this request</a>.
          </p>
        {% endif %}
      </section>
      <section class="specific-information">
        <table class="dates">
          <tr class="created">
            <td class="label">Created</td>
            <td class="date">{{ composer.datetime_created|date }}</td>
          </tr>
          <tr class="submitted">
            <td class="label">Submitted</td>
            <td class="date">{{ composer.datetime_submitted|date }}</td>
          </tr>
        </table>
        {% if composer.embargo %}
          <p>
            This request is embargoed.  Only you will be able to view it until
            30 days after it has been completed.  After it has been completed,
            you will be able to extend this deadline if necessary.
          </p>
        {% else %}
          <p>This request is being made publically.</p>
        {% endif %}
        {% if composer.tags.all %}
          <p>Tags:</p>
          <p>
            {% for tag in composer.tags.all %}
              {{ tag }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </section>
    </section>
  <main class="request main grid__column three-quarters">

    <!-- COMMUNICATIONS -->
    <section class="communications" id="comms">
      <p><a href="#" class="primary button">Edit Request</a></p>
      <p>
        Thank you for submitting this request.  Please review it now.
        You will have 30 minutes after submitting it in order to make any
        changes before it is sent to the agency.
      </p>
      <div class="communications-list">
        {% include 'foia/communication.html' with communication=communication hide_options=True %}
      </div>
    </section>

  </main>
</article>
{% endblock content %}
