
{% extends "foia/base-submit.html" %}

{% block content %}
	<h1>Confirm Agencies</h1>
	<p class="large">Are you sure you want to submit this request to these agencies?</p>
	<div class="form">
  <form action="" method="post" enctype="multipart/form-data">
		<fieldset>
			<span class="right">
			<input type="checkbox" checked="true" onclick="$('input[id^=id_agencies]').attr('checked', this.checked)" id="toggle_all" />
      <label for="toggle_all">Select/Unselect All</label>
			</span>
			{% include "form.html" %}
			<input type="submit" name="submit" value="Confirm" class="button" />
			<input type="submit" name="submit" value="Cancel" class="right button" />
		</fieldset>
  </form>
	</div>
{% endblock %}
