
{% extends "foia/base.html" %}
{% load pingback_tags %}
{% load tags %}
{% load staticfiles %}

{% block title %} {{foia.title}} {% endblock %}

{% block content %}
	<h1>FOI Request</h1>
	<h2>{{foia.title}}</h2>
	<p>Requested by <a href="{% url acct-profile foia.user.username %}">{{foia.user.username}}</a>
	{% if foia.date_submitted %} on {{foia.date_submitted|date}}{%endif%}
	for {% if foia.agency %}the {{ foia.agency.link_display|safe }} of {% endif %}<a href="{{ foia.jurisdiction.get_absolute_url }}">{{foia.jurisdiction}}</a>
	{% if foia.date_done %} and {% if foia.status == "rejected" %}rejected{% else %}fufilled{% endif %} on {{foia.date_done|date}}{%endif%}
	</p>
	{% if foia.is_embargo and not foia.embargo_date %}
	<p class="notice">
	This request is embargoed and will not be visible to others until 30 days after a response is received.
	</p>
	{% endif %}
	{% if foia.is_embargo and foia.embargo_date %}
	<p class="notice">
	This request is embargoed and will not be visible until {{ foia.embargo_date|date }}.
	</p>
	{% endif %}
	<div id="progressbar" title="{{foia.percent_complete}}% Complete"></div>
	<p id="status">Status: <span class="request-{{foia.color_code}}">
		{{foia.get_status_display}}{% if foia.date_due and foia.status == "processed" %},
		{% if past_due %}
			past due by {{ foia.date_due|timesince }}
		{% else %}
			due in {{ foia.date_due|timeuntil }}
		{% endif %}
		{% endif %}
		{% if foia.days_until_due and foia.status == 'fix' or foia.days_until_due and foia.status == 'payment' %},
			{% if foia.days_until_due >= 0 %}
				due {{ foia.days_until_due }} day{{foia.days_until_due|pluralize}}
			{% else %}
				will be {{ foia.days_until_due|abs }} day{{foia.days_until_due|pluralize}} past due
			{% endif %}
			from when the {% if foia.status == 'fix' %}fix{% else %}payment{% endif %} is received
		{% endif %}
		</span>
		{% if foia.user == request.user %}
			&nbsp;&mdash;&nbsp;&nbsp;
			<a href="#" onclick="$('#status').hide('slow'); $('#status-edit').show('slow');">Edit</a>
		{% endif %}
	</p>

	{% if foia.has_crowdfund %}
	<p><a href="{% url crowdfund-detail pk=foia.crowdfund.pk %}">Crowdfunding</a></p>
	{% endif %}

	<div id='status-edit' style="display:none;">
		<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="status" />
		<label for="status">Status: </label>
			<select name="status">
				{% for choice in choices %}
					<option value="{{choice.0}}">{{choice.1}}</option>
				{% endfor %}
			</select>
			</select>
			<input type="submit" name="submit" value="Submit" class="button" style="margin-top:2px;"/>
			<div class="clearer">&nbsp;</div>
		</form>
	</div>
	<div id='tag-links'>Tags:
		{% for tag in foia.tags.all %}
			<a href="{% url foia-list-tag tag_slug=tag.slug %}">{{tag.name}}</a>{% if not forloop.last %}, {%endif%}
		{% empty %}
			None
		{% endfor %}
		{% if foia.user == request.user %}
			&nbsp;&mdash;&nbsp;&nbsp;
			<a href="#" onclick="$('#tag-links').hide('slow'); $('#tag-edit').show('slow');
			                     $('#tags').superblyTagField({
														allowNewTags: true,
														showTagsNumber: 10,
														preset: [ {% for tag in foia.tags.all %}'{{tag.name}}',{% endfor %} ], 
														tags: [ {% for tag in all_tags %}'{{tag.name}}',{% endfor %} ]});
													 ">Edit</a>
		{% endif %}
	</div>
	<div id='tag-edit' style="display:none;">
		<form action="" method="post">
		{% csrf_token %}
			<input type="hidden" name="action" value="tags" />
			<input type='text' name="tags" value="{{foia.tag_string}}" id="tags" />
			<input type="submit" name="submit" value="Submit" class="button" style="margin-top:2px;"/>
			<em class="quiet" style="float:left;">Enter tags seperated by Enter or a comma</em>
			<div class="clearer">&nbsp;</div>
		</form>
	</div>
	<br />

	{% if foia.public_documents or foia.user == user %}
	<div id="tabs">
		<ul>
			<li><a href="#tabs-request">Request</a></li>
			{% if foia.public_documents %}
			<li><a href="#tabs-documents" onclick="doc_load(); return true">Documents</a></li>
			{% endif %}
			{% if foia.user == user %}
			<li><a href="#tabs-notes">Notes</a></li>
			{% endif %}
		</ul>
	{% endif %}

		<div id="tabs-request">
			{% for comm in foia.communications.all %}
			<a name="{{comm.anchor}}"></a>
			<div class="{% if comm.response %}response{% else %}request{% endif %}">
				<strong>From {{comm.from_who}} {% if comm.to_who %}to {{comm.to_who}} {% endif %}on {{comm.date|date}}:</strong><br />

				{# html communication #}
				{% if comm.full_html %}
					{% autoescape off %}{{comm.communication}}{% endautoescape %}
				{# text communication #}
				{% else %}
					{{comm.communication|urlize|linebreaks}}
				{% endif %}

        {% for file in comm.files.all %}

          <a name="{{file.anchor}}"></a>
						<div class="request-file">
							<strong>{{file.title}}</strong><br />

							{# document #}
							{% if file.is_doccloud %}
								{% if file.access == "public" and file.doc_id and file.pages > 0 %}
										<a href="#{{file.doc_id}}" onclick="display_doc('{{file.doc_id}}'); return true"><img src="{{file.get_medium_thumbnail}}" alt="{{file.title}}" title="{{file.title}}" class="doc-thumb bordered" /></a><br />
										<a href="#{{file.doc_id}}" onclick="display_doc('{{file.doc_id}}'); return true">View</a> |
										<a href="{{file.ffile.url}}">Download</a><br />
								{% else %}
										<img src="{{file.get_medium_thumbnail}}" alt="{{file.title}}" title="{{file.title}}" class="doc-thumb bordered" /><br />
										<a href="{{file.ffile.url}}">Download</a><br />
									{% if file.doc_id and file.pages > 0 %}
										<p><em><strong>Editor's Note:</strong> As a security measure, embargoed requests are not viewable in the embedded viewer. When the request is made public, the embedded viewer will appear.</em></p>
									{% else %}
										<p><em><strong>Editor's Note:</strong> This document is processing. It will be viewable in the embedded viewer soon.</em></p>
									{% endif %}
								{% endif %}
							{# file #}
							{% else %}
									<a href="{{file.ffile.url}}"><img src="{{file.get_medium_thumbnail}}" alt="{{file.name}}" title="{{file.name}}" class="doc-thumb bordered" /></a><br />
									<a href="{{file.ffile.url}}">Download</a><br />
							{% endif %}

							{{file.description|urlize}}
						</div>
						{% if forloop.counter|divisibleby:"3" %}
							<div class="clearer">&nbsp;</div>
							<br \>
						{% endif %}

        {% endfor %}
				<div class="clearer">&nbsp;</div>
			</div>
			{% endfor %}
			{% if actions.bottom %}
			<form action="" method="post" style="display:none" id="action-form">
				{% csrf_token %}
				<input type="hidden" name="action" value="" />
				<textarea name="text" style="width:612px; height: 200px"></textarea>
				<input type="submit" name="submit" value="Submit" class="button" />
				<a href="#" onclick="cancelActionButton(); return false" class="jqbutton right">Cancel</a>
			</form>
			<p id='action-buttons'>
				{% for action in actions.bottom %}
					<a class="jqbutton tipTip" href="#" title="{{action.title}}" onclick="actionButton('{{action.label}}'); return false">{{action.label}}</a>
				{% endfor %}
			</p>
			{% endif %}
		</div>

	{% if foia.public_documents %}
		<div id="tabs-documents">
			<div id="viewer"></div>
			<script src="https://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js?20120815" type="text/javascript"></script>
			<script type="text/javascript">
				function display_doc(doc_id)
				{
					$("#tabs").tabs("select", "tabs-documents");
					DV.load('https://www.documentcloud.org/documents/' + doc_id + '.js', {
						width: 627,
						height: 600,
						sidebar: false,
						container: "#viewer"
					});

					var embed_code0 = '<div id="viewer-' + doc_id + '"></div>\n<script src="https://s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"><\/script>\n<script>\nDV.load("https://www.documentcloud.org/documents/' + doc_id + '.js", {\n  width: 627,\n  height: 600,\n  sidebar: false,\n  container: "#viewer-' + doc_id + '"});\n<\/script>';
					var embed_code1 = '<a href="https://www.muckrock.com{{foia.get_absolute_url}}#' + doc_id + '"><img src="' + get_thumbnail(doc_id)+ '"></a>';
					$('textarea#embed0').val(embed_code0);
					$('textarea#embed1').val(embed_code1);
				}

				function get_thumbnail(doc_id)
				{
					var idx = doc_id.indexOf('-');
					var num = doc_id.slice(0, idx);
					var name = doc_id.slice(idx + 1);
					return 'https://s3.amazonaws.com/s3.documentcloud.org/documents/' + num + '/pages/' + name + '-p1-small.gif';
				}

				function doc_load() {
					var default_doc_id = "{{foia.public_documents.0.doc_id}}"
					if (!doc_load.loaded) {
						doc_load.loaded = true;
						display_doc(default_doc_id);
					}
				}


				$(function() {
					var hash = window.location.hash.substring(1);
					var default_doc_id = "{{foia.public_documents.0.doc_id}}"
					var documents = [ {%for doc in foia.public_documents%}"{{doc.doc_id}}", {%endfor%} ]

					if (!hash || ($.inArray(hash, documents) == -1)) {
						doc_id = default_doc_id;
					} else {
						doc_id = hash;
					}
					if (hash && hash.substring(0,4) != "tabs") {
						$("#tabs").tabs("select", "#tabs-documents");
						display_doc(doc_id);
						doc_load.loaded = true;
					}

				});

			</script>
			<div class="dc-thumbnails">

				<ul class="dc-thumbnails">
				{% if foia.public_documents|length > 1 %}
					{% for document in foia.public_documents %}
						<li><a href="#{{document.doc_id}}" onclick="display_doc('{{document.doc_id}}'); return true"><img src="{{document.get_thumbnail}}" alt="{{document.title}}" title="{{document.title}}" class="tipTip" /></a></li>
					{% endfor %}
				{% endif %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if foia.user == user %}
		<div id="tabs-notes">
			{% for note in foia.notes.all %}
				<div class="note">
					<strong>{{note.date|date}}:</strong><br />
					{{note.note|linebreaks}}
				</div>
			{% empty %}
				<p>You don't have any notes on this request.  Note can be used to store private information regarding this request.</p>
			{% endfor %}
			<p><a class="jqbutton" href="{% url foia-note jurisdiction=foia.jurisdiction.slug,jidx=foia.jurisdiction.pk,idx=foia.id,slug=foia.slug %}">Add a Note</a></p>
		</div>
		{% endif %}
	{% if foia.public_documents or foia.user == user %}
	</div>
	{% endif %}

{% endblock %}

{% block sidebar %}
	{% if foia.sidebar_html %}
		{{ foia.sidebar_html|safe }}
		<div class="content-separator"></div>
	{% endif %}

	{% if foia.has_crowdfund %}
		<h1>Help Crowdfund</h1>
		<h2>${{foia.crowdfund.payment_received}} raised out of ${{foia.crowdfund.payment_required}}</h2>
		<a href="{% url crowdfund-contribute-reqs pk=foia.crowdfund.pk %}" class="jqbutton">Contribute</a>
		<div class="content-separator"></div>
	{% endif %}

	{% if sidebar %}
		{% autoescape off %}
		{{ sidebar }}
		{% endautoescape %}
		<div class="content-separator"></div>
	{% endif %}

	{% if actions.side %}
		<h2>Actions</h2>
		{% for action in actions.side %}
			<p><a class="jqbutton" href="{{action.link}}"{% if action.id %} id="{{action.id}}"{% endif %}>{{action.label}}</a></p>
		{% endfor %}
	{% endif %}
	<div id="dialog" title="Embed Code">
		<p>Copy and paste this code into your site to embed this document in the document viewer:<p>
		<textarea id="embed0" style="width: 520px; height: 160px"></textarea>
		<p>Copy and paste this code into your site to create a thumbnail link to this document:<p>
		<textarea id="embed1" style="width: 520px; height: 90px"></textarea>
	</div>

	{% if foia.tracking_id %}
		<div>
		<p>Agency Tracking ID: {{foia.tracking_id}}</p>
		</div>
		<div class="content-separator"></div>
	{% endif %}

	{% get_pingback_list for foia as pingbacks %}
	{% if pingbacks %}
	    <h2>News & Opinions:</h2>
	    {% for pingback in pingbacks %}
	        <div class="b-pingback">
						<strong><a href="{{pingback.url}}">{{ pingback.title|striptags|safe }}</a></strong><br />
						<em>{{ pingback.date|date }}</em><br />
	
						<p>{{ pingback.content|striptags|safe }}</p>
	        </div>
	    {% endfor %}
		<div class="content-separator"></div>
	{% endif %}

	<div id="tweet-container" style="display: none;" >
		<div class="comments" id="tweets">
			<!-- Tweets go here -->
		</div>
		<div class="content-separator"></div>
	</div>

	<div id="fb-root"></div><script src="https://connect.facebook.net/en_US/all.js#appId=168527526530618&amp;xfbml=1"></script><fb:comments href="https://www.muckrock.com{{request.path}}" num_posts="3" width="250"></fb:comments>
	<div class="content-separator"></div>

{% endblock %}

{% block media %}

	<script type="text/javascript">
		$(function() {
			// Enable tweetbacks
			var MAX_TWEETS = 5;
			var BASE = 'http://otter.topsy.com/trackbacks.js?callback=?&perpage=' + MAX_TWEETS;
			var ALL = BASE + '&url=';
			var INFL = BASE + '&infonly=1&url=';
			var URL_RE = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
			var TWEET_RE = /@([A-Za-z0-9_]+)/g;

			function urlify(text) {
				return text.replace(URL_RE,"<a href='$1'>$1</a>").
							replace(TWEET_RE, "<a href='http://twitter.com/$1'>@$1</a>");
			}

			function processTweetList(list) {
				$('#tweet-container').show();
				$.each(list, function(index, tweet) {
					$('<div class="comment">' + 
					'<div class="comment_avatar">' +
					'<img src="' + tweet.author.photo_url + '" class="avatar avatar-36 photo" height="36" width="36"/>' +
					'</div>' +
					'<div class="comment_body">' +
					'<span class="comment_author">' + 
					'<a href="' + tweet.permalink_url + '">' +
					tweet.author.name + '</a></span>' +
					'<span class="comment_main"><p>' + urlify(tweet.content) + '</p></span>' +
					'<div class="comment_date">' + tweet.date_alpha + '</div>'+
					'</div>' +
					'</div>').appendTo('#tweets');
				});
			}

			function getTweets(url) {
				$.getJSON(ALL + url, function(data) {
					var response = data.response;
					if (response.total > MAX_TWEETS) {
						$.getJSON(INFL + url, function(infl) {
							processTweetList(infl.response.list);
							var count = (infl.response.total > MAX_TWEETS ? MAX_TWEETS : infl.response.total);
						});        
					} else if (response.total > 0) {
						processTweetList(response.list);
					}
				});
			}
			var url = "http://www.muckrock.com{{request.path}}";
			getTweets(url);

		});
	</script>

{% endblock %}
