
{% extends "foia/base-submit.html" %}

{% block content %}
<h1>What are the details of your request?</h1>
{% if heading %}
<h2>{{heading}}</h2>
{% endif %}
<div id="progressbar" title="67% Complete"></div><br />
	<div class="form">
  <form action="" method="post">
		{{ wizard.management_form }}
		<fieldset>
			{% with wizard.form as form %}
			{% include "form.html" %}
			{% endwith %}
			<input type="submit" name="submit" value="Next" class="button" />
		</fieldset>
  </form>
	</div>
{% endblock %}

{% block sidebar %}
{% if wizard.form.long_desc %}
<h2>About this Template:</h2>
<p>
{{wizard.form.long_desc}}
</p>
{% endif %}
{% endblock %}
