{% extends 'foia/list.html' %}
{% load tags %}
{% load foia_tags %}

{% block list-table-head %}
<th>Title</th>
<th>Agencies</th>
<th>Status</th>
{% endblock %}

{% block list-table-row %}
{% with object as multirequest %}
{% if multirequest.status == 'started' %}
<td><a href="{{multirequest.get_absolute_url}}">{{multirequest.title}}</a></td>
{% else %}
<td>{{multirequest.title}}</td>
{% endif %}
<td>{{multirequest.agencies.count}}</td>
<td><span class="small badge {{multirequest.status|classify_status}}">{{multirequest.get_status_display}}</span></td>
{% endwith %}
{% endblock %}
