{% extends 'foia/list.html' %}
{% load tags %}
{% load foia_tags %}

{% block list-actions %}
<form method="POST" id="my-request-actions">
    {% csrf_token %}
    <button class="button" name="submit" value="Mark as Read">Mark as Read</button>
    <button class="button" name="submit" value="Mark as Unread">Mark as Unread</button>
    <button class="button" name="submit" value="Mark All as Read">Mark All as Read</button>
</form>
{% endblock list-actions %}

{% block list-table-head %}
<thead>
    <tr>
        <th width="3%" class="list-table-checkbox"><input type="checkbox" class="select-all" data-name="foia" /></th>
        <th class="sort-by" data-sort="title">Title</th>
        <th class="sort-by" width="20%" data-sort="status">Status</th>
        <th class="sort-by" width="20%" data-sort="date_submitted">Created</th>
        <th class="sort-by" width="20%" data-sort="date_updated">Updated</th>
    </tr>
</thead>
{% endblock list-table-head %}

{% block list-table-row %}
{% with object as foia %}
<tr class="{% if foia.updated %}unread{% endif %}">
    <td class="list-table-checkbox"><input type="checkbox" name="{{foia.foia_type}}" value="{{foia.pk}}" form="my-request-actions"></td>
    <td><a href="{{foia.get_absolute_url}}">{{foia.title}}</a></td>
    <td><span class="small badge state {{ foia.status|classify_status }}">{{foia.get_status_display}}</span></td>
    <td>{{foia.date_submitted|date:"m/d/Y"}}</td>
    <td>{{foia.date_updated|date:"m/d/Y"}}</td>
</tr>
{% endwith %}
{% endblock %}
