{% extends 'foia/list.html' %}
{% load tags %}
{% load foia_tags %}
{% load rules %}

{% block request-actions %}
  {% has_perm 'crowdsource.add_crowdsource' request.user as can_crowdsource %}
  <p>Select requests below in order to apply a bulk action.</p>
  <select name="action" class="bulk">
    <option value="">---</option>
    {% if can_embargo %}
      <option value="extend-embargo" data-help="Embargo the selected requests and extend the embargo date to 30 days out (if the request is complete).">Extend Embargo</option>
      <option value="remove-embargo" data-help="Remove the embargo from the selected requests.">Remove Embargo</option>
    {% endif %}
    {% if can_perm_embargo %}
      <option value="permanent-embargo" data-help="Permanently embargo the selected requests.">Permanent Embargo</option>
    {% endif %}
    <option value="project" data-help="Add the selected requests to the selected projects.">Add to Project</option>
    <option value="tags" data-help="Add the selected tags to the selected requests. (Seperate tags with commas)">Add Tags</option>
    <option value="share" data-help="Give view or edit permissions to the selected users for the selected requests.">Share</option>
    <option value="autofollowup-on" data-help="Turn autofollowups on for the selected requests.">Turn on Autofollowups</option>
    <option value="autofollowup-off" data-help="Turn autofollowups off for the selected requests.">Turn off Autofollowups</option>
    {% if can_crowdsource %}
      <option value="crowdsource" data-help="Add these requests' files to your assignment">Add files to assignment</option>
      <option value="crowdsource_page" data-help="Add these requests' files to your assignment, split per page">Add files' pages to assignment</option>
    {% endif %}
    <option value="change-owner" data-help="Transfer ownships of these requests to another user.  WARNING: this will cause you to lose access to these documents">Change Owner</option>
  </select>
  <button class="blue button" disabled>Go</button>
  <p class="help"></p>
  <div class="project-form">
    {{ project_form.projects }}
  </div>
  <div class="tag-form">
    {{ tag_form.tags }}
  </div>
  <div class="share-form">
    {{ share_form.users }}
    {{ share_form.access }}
  </div>
  <div class="owner-form">
    {{ owner_form.user }}
  </div>
  {% if can_crowdsource %}
    <div class="crowdsource-form">
      {{ crowdsource_form.crowdsource }}
    </div>
  {% endif %}
{% endblock %}

{% block list-table-head %}
  <th width="3%" class="list-table-checkbox">
    <input type="checkbox" class="select-all" data-name="foias" data-toolbar="#request-actions">
  </th>
  <th data-sort="title">Title</th>
  <th width="20%" data-sort="agency">Agency</th>
  <th width="20%" data-sort="jurisdiction">Jurisdiction</th>
  <th width="10%" data-sort="date_updated">Updated</th>
  <th width="10%" data-sort="date_submitted">Submitted</th>
{% endblock list-table-head %}

{% block list-table-row %}
  {% with object as foia %}
    <td class="list-table-checkbox">
      <input type="checkbox" name="foias" value="{{foia.pk}}" form="request-actions">
    </td>
    <td>
      <a class="bold" href="{{foia.get_absolute_url}}">
        {{foia.title}}
      </a><br>
      <span class="small badge state {{ foia.status|classify_status }}">
        {{foia.get_status_display}}
      </span>
      {% if foia.embargo %}
        <span class="small red badge">Under Embargo</span>
      {% endif %}
      {% if foia.crowdfund and not foia.crowdfund.expired %}
        <span class="small green badge">Active Crowdfund</span>
      {% endif %}
    </td>
    <td>{{ foia.agency }}</td>
    <td>{{ foia.jurisdiction }}</td>
    <td>{{foia.datetime_updated|date:"m/d/Y"}}</td>
    <td>{{ foia.composer.datetime_submitted|date:"m/d/Y" }}</td>
  {% endwith %}
{% endblock %}

{% block empty %}
  {% if request.GET %}
    <p class="empty">None of your requests match this filter.</p>
  {% else %}
    <p class="empty">You haven&rsquo;t filed any requests! Get started by clicking the &ldquo;File Request&rdquo; button above.</p>
  {% endif %}
{% endblock %}
