{% load tags %}

{% if note %}
<div class="note textbox" id="note-{{ note.id }}">
    <header class="note-header">
        <p class="note-author">{% if note.author %}{{ note.author.profile.full_name }}{% if note.author.is_staff %}&nbsp;<span class="small blue badge">Staff</span>{% endif %}{% else %}{{ note.foia.user.profile.full_name }}{% endif %}</p>
        {% if foia_url %}
        <a href="#note-{{ note.id }}">
        {% else %}
        <a href="{{note.foia.get_absolute_url}}#note-{{note.id}}">
        {% endif %}
            <time datetime="{{note.datetime|date:'c'}}" title="{{note.datetime|date:'c'}}" class="note-date">{{note.datetime|date}}</time>
        </a>
    </header>
    <section class="note-metadata textbox__section">
      <p class="small">Notes are visible to you and other editors of this request.</p>
    </section>
    <main class="note-body">
        {{ note.note|markdown }}
    </main>
</div>
{% endif %}
