
{% extends "foia/base.html" %}
{% load pingback_tags %}
{% load tags %}
{% load staticfiles %}
{% load humanize %}
{% load markdown_deux_tags %}

{% block title %} Orphaned Communications {% endblock %}

{% block content %}
	<h1>Orphaned Communications</h1>

		<div id="tabs-request">
			<form action="" method="post">
				{% csrf_token %}
				<input type="hidden" name="action" value="" />
				<input type="hidden" name="comm_pk" value="" />
				<input type="submit" name="submit" value="Delete Selected" class="button" 
							 onclick="$('input[name=action]').val('delete_selected'); return confirm('Are you sure?');" />
				<br \>
				<input type="checkbox" onclick="$('input[name=comm_pks]').attr('checked', this.checked)" id="toggle_all" />
				<label for="toggle_all">Select/Unselect All</label>

			{% for comm in communications %}
			<a name="{{comm.anchor}}"></a>
			<div class="{% if comm.response %}response{% else %}request{% endif %}">
				<strong>From {{comm.priv_from_who}} {% if comm.priv_to_who %}to {{comm.priv_to_who}} {% endif %}on {{comm.date|date}}:</strong><br />

				{# html communication #}
				{% if comm.full_html %}
					{% autoescape off %}{{comm.communication|redact_emails}}{% endautoescape %}
				{# text communication #}
				{% else %}
					{{comm.communication|redact_emails|urlize|linebreaks}}
				{% endif %}

        {% for file in comm.files.all %}

          <a name="{{file.anchor}}"></a>
						<div class="request-file">
							<strong>{{file.title}}</strong><br />

							{# document #}
							{% if file.is_doccloud %}
								{% if file.access == "public" and file.doc_id and file.pages > 0 %}
										<a href="#{{file.doc_id}}" onclick="display_doc('{{file.doc_id}}'); return true"><img src="{{file.get_medium_thumbnail}}" alt="{{file.title}}" title="{{file.title}}" class="doc-thumb bordered" /></a><br />
										<a href="#{{file.doc_id}}" onclick="display_doc('{{file.doc_id}}'); return true">View</a> |
										<a href="{{file.ffile.url}}">Download</a><br />
								{% else %}
										<img src="{{file.get_medium_thumbnail}}" alt="{{file.title}}" title="{{file.title}}" class="doc-thumb bordered" /><br />
										<a href="{{file.ffile.url}}">Download</a><br />
									{% if file.doc_id and file.pages > 0 %}
										<p><em><strong>Editor's Note:</strong> As a security measure, embargoed requests are not viewable in the embedded viewer. When the request is made public, the embedded viewer will appear.</em></p>
									{% else %}
										<p><em><strong>Editor's Note:</strong> This document is processing. It will be viewable in the embedded viewer soon.</em></p>
									{% endif %}
								{% endif %}
							{# file #}
							{% else %}
									<a href="{{file.ffile.url}}"><img src="{{file.get_medium_thumbnail}}" alt="{{file.name}}" title="{{file.name}}" class="doc-thumb bordered" /></a><br />
									<a href="{{file.ffile.url}}">Download</a><br />
							{% endif %}

							{{file.description|urlize}}
						</div>
						{% if forloop.counter|divisibleby:"3" %}
							<div class="clearer">&nbsp;</div>
							<br \>
						{% endif %}

        {% endfor %}

				{% if request.user.is_staff %}
				<span style="{% if not foia_id %}display:none{%endif%}" id="move-{{comm.pk}}-span">
					<label for="new_foia_pk">FOIA:</label>
					<input type="text" name="new_foia_pk_{{comm.pk}}" value="{{foia_id}}" />
					<input type="submit" name="submit" value="Submit" class="button" 
                 onclick="$('input[name=action]').val('move_comm'); $('input[name=comm_pk]').val({{comm.pk}}); return true" />
				</span>
				<span style="display:none" id="delete-{{comm.pk}}-span">
					<input type="hidden" name="action" value="delete_comm" />
					<input type="hidden" name="comm_pk" value="{{comm.pk}}" />
					<input type="submit" name="submit" value="Delete - Are you sure?" class="button"
                 onclick="$('input[name=action]').val('delete_comm'); $('input[name=comm_pk]').val({{comm.pk}}); return true" />
				</span>
				<span class="smaller right">
					<a href="#" onclick="$('#move-{{comm.pk}}-span').show(400); return false">Move</a>
					|
					<a href="#" onclick="$('#delete-{{comm.pk}}-span').show(400); return false">Delete</a>
					|
					<input name="comm_pks" type="checkbox" value="{{comm.pk}}" />
				</span>
				{% endif %}

				<div class="clearer">&nbsp;</div>

			</div>

			{% endfor %}
			</form>
		</div>

<div class="pagination">
    <span class="step-links">
        {% if communications.has_previous %}
            <a href="?page={{ communications.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ communications.number }} of {{ communications.paginator.num_pages }}.
        </span>

        {% if communications.has_next %}
            <a href="?page={{ communications.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

