{% extends "foia/list.html" %}
{% load tags %}

{% block list-table-head %}
  <th data-sort="title">Title</th>
  <th width="10%" data-sort="date_submitted">Created</th>
  <th width="10%" data-sort="date_processing">Processing</th>
  <th width="10%">Task</th>
  <th width="10%">Ticket</th>
  <th width="10%">Category</th>
  <th width="10%">Reason</th>
  <th width="10%">Error</th>
  <th width="10%">MR</th>
  <th width="10%">Status</th>
{% endblock list-table-head %}

{% block list-table-row %}
  {% with object as foia %}
    <td><a class="bold" href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></td>
    <td>{{ foia.composer.datetime_submitted|date:"m/d/Y" }}</td>
    <td>{{ foia.processing_length }} days</td>
    <td>
      {% if foia.portaltask_communications.0.open_portaltasks %}
        Portal
      {% elif foia.snailmailtask_communications.0.open_snailmailtasks %}
        Snail Mail
      {% elif foia.composer.open_multirequesttasks %}
        Multirequest
      {% elif foia.open_paymentinfotasks %}
        Payment Info
      {% elif foia.agency.open_newagencytasks %}
        New Agency
      {% endif %}
    </td>
    <td class="processing-zendesk-cell">
      {% firstof foia.portaltask_communications.0.open_portaltasks.0.zendesk_ticket_id foia.snailmailtask_communications.0.open_snailmailtasks.0.zendesk_ticket_id foia.composer.open_multirequesttasks.0.zendesk_ticket_id foia.open_paymentinfotasks.0.zendesk_ticket_id foia.agency.open_newagencytasks.0.zendesk_ticket_id  as zendesk_ticket_id %}
      {% if zendesk_ticket_id %}
        <a href="https://muckrock.zendesk.com/agent/tickets/{{zendesk_ticket_id}}" target="_blank">
          ZenDesk Ticket
        </a>
      {% else %}
        <form method="post">
          {% csrf_token %}
          {% if foia.portaltask_communications.0.open_portaltasks %}
            <input type="hidden" name="zendesk_pk" value="{{ foia.portaltask_communications.0.open_portaltasks.0.pk }}">
            <input type="hidden" name="zendesk_name" value="PortalTask">
          {% elif foia.snailmailtask_communications.0.open_snailmailtasks %}
            <input type="hidden" name="zendesk_pk" value="{{ foia.snailmailtask_communications.0.open_snailmailtasks.0.pk }}">
            <input type="hidden" name="zendesk_name" value="SnailMailTask">
          {% elif foia.composer.open_multirequesttasks %}
            <input type="hidden" name="zendesk_pk" value="{{ foia.composer.open_multirequesttasks.0.pk }}">
            <input type="hidden" name="zendesk_name" value="MultiRequestTask">
          {% elif foia.open_paymentinfotasks %}
            <input type="hidden" name="zendesk_pk" value="{{ foia.open_paymentinfotasks.0.pk }}">
            <input type="hidden" name="zendesk_name" value="PaymentInfoTask">
          {% elif foia.agency.open_newagencytasks %}
            <input type="hidden" name="zendesk_pk" value="{{ foia.agency.open_newagencytasks.0.pk }}">
            <input type="hidden" name="zendesk_name" value="NewAgencyTask">
          {% endif %}
          <input type="text" name="zendesk_note" placeholder="ZenDesk note...">
          <button type="submit" class="small primary button">Create Ticket</button>
        </form>
      {% endif %}
    </td>
    <td>
      {% if foia.portaltask_communications.0.open_portaltasks %}
        {{ foia.portaltask_communications.0.open_portaltasks.0.get_category_display }}
      {% elif foia.snailmailtask_communications.0.open_snailmailtasks %}
        {{ foia.snailmailtask_communications.0.open_snailmailtasks.0.get_category_display }}
      {% endif %}
    </td>
    <td>
      {% if foia.portaltask_communications.0.open_portaltasks %}
        {{ foia.portaltask_communications.0.open_portaltasks.0.reason }}
      {% elif foia.snailmailtask_communications.0.open_snailmailtasks %}
        {{ foia.snailmailtask_communications.0.open_snailmailtasks.0.get_reason_display }}
      {% endif %}
    </td>
    <td>
      {% if foia.snailmailtask_communications.0.open_snailmailtasks %}
        {{ foia.snailmailtask_communications.0.open_snailmailtasks.0.error_msg }}
      {% endif %}
    </td>
    <td>{{ foia.pk }}</td>
    <td>{{ foia.get_status_display }}</td>
  {% endwith %}
{% endblock list-table-row %}
