{% extends 'foia/list.html' %}
{% load tags %}

{% block list-table-head %}
<thead>
    <tr>
        <th data-sort="title">Title</th>
        <th width="20%" data-sort="date_submitted">Created</th>
        <th width="20%" data-sort="date_processing">Processing</th>
    </tr>
</thead>
{% endblock list-table-head %}

{% block list-table-row %}
{% for foia in object_list %}
<tr class="list-table-item">
    <td><a class="bold" href="{{ foia.get_absolute_url }}">{{ foia.title }}</a></td>
    <td>{{ foia.communications.all.0.date|date:"m/d/Y" }}</td>
    <td>{{ foia.processing_length }} days</td>
</tr>
{% endfor %}
{% endblock list-table-row %}
