{% extends 'base_profile.html' %}
{% load markdown_deux_tags %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; {{ user_obj.username|capfirst }}{% endblock title %}
{% block type %}account{% endblock type %}

{% block metadata %}
<aside class="metadata">
    <dfn>MuckRocker</dfn>
    <h1>{{user_obj.get_full_name}} <small>{{user_obj.username}}</small></h1>
    {% with user_obj.profile.organization as org %}
        {% if org %}
        <h2>{% if org.owner == user_obj %}Owner{% else %}Member{% endif %} of <a href="{% url 'org-detail' org.slug %}" title="{{org}}'s organization page">{{org}}</a></h2>
        {% endif %}
    {% endwith %}
    {% if user == user_obj %}
    <dl class="stats">
        <dt>Information on File</dt>
        <dd>{{user_obj.email}}</dd>
        {% if user_obj.profile.phone %}
        <dd>{{user_obj.profile.phone}}</dd>
        {% endif %}
        {% if user_obj.profile.address1 or user_obj.profile.city %}
            {% if user_obj.profile.address1 %}
        <dd>{{ user_obj.profile.address1 }}</dd>
                {% if user_obj.profile.address2 %}
        <dd>{{ user_obj.profile.address2 }}</dd>
                {% endif %}
            {% endif %}
            {% if user_obj.profile.city and user_obj.profile.state and user_obj.profile.zip_code %}
        <dd>{{user_obj.profile.city}}, {{user_obj.profile.state}}</dd>
        <dd>{{user_obj.profile.zip_code}}</dd>
            {% endif %}
        {% endif %}

        {% if user.profile.get_acct_type_display != 'Community' %}
        <dt>Monthly Requests</dt>
            {% if user_obj.profile.get_monthly_requests %}
        <dd>{{ user_obj.profile.get_monthly_requests }}</dd>
            {% else %}
        <dd>0</dd>
            {% endif %}
        {% endif %}
        <dt>Requests Remaining</dt>
        {% if user_obj.profile.num_requests %}
        <dd>{{ user_obj.profile.num_requests }}</dd>
        {% else %}
        <dd>0</dd>
        {% endif %}
    </dl>
    {% endif %}
</aside>
{% endblock metadata %}

{% block activity %}
<main class="activity">
    {% if request.user == user_obj %}
    <section class="actions">
        <form action="{% url 'acct-buy-requests' %}" method="POST" class="hidden-stripe-handler" id="buy-requests">{% csrf_token %}</form>
        <div class="controls">
            <button data-amount="2000"
                    data-description="4 requests ($20.00)"
                    data-email="{{ request.user.email }}"
                    data-form="#buy-requests"
                    data-label=""
                    class="checkout-button primary">Buy Requests</button>
            {% if not user_obj.profile.email_confirmed %}
            <a href="{% url 'acct-verify-email' %}" class="button">Verify Email</a>
            {% endif %}
            <a href="{% url 'acct-update' %}" class="button">Settings</a>
            <a href="{% url 'acct-change-pw' %}" class="button">Change Password</a>
        {% with user_obj.profile.organization as org %}
            {% if org and org.owner == user_obj %}
            <a href="{% url 'org-detail' org.slug %}" class="button" title="{{org}}'s organization page">Manage Organization</a>
            {% else %}
            <a href="{% url 'acct-subscribe' %}" class="button">Manage Subscription</a>
            {% endif %}
        {% endwith %}
        </div>
    </section>
    {% endif %}
    {% if recent_requests or recent_completed %}
    <section class="requests">
        {% if recent_requests %}
            {% if request.user == user_obj %}
            <h3>My Latest Requests <small><a href="{% url 'foia-mylist' %}">See all</a></small></h3>
            {% else %}
            <h3>Latest Requests <small><a href="{% url 'foia-list' %}?user={{user_obj.pk}}">See all</a></small></h3>
            {% endif %}
            {% include 'lib/foia_table.html' with requests=recent_requests %}
        {% endif %}
        {% if recent_completed %}
            {% if request.user == user_obj %}
            <h3>My Recently Completed Requests <small><a href="{% url 'foia-mylist' %}?status=done">See all</a></small></h3>
            {% else %}
            <h3>Recently Completed Requests <small><a href="{% url 'foia-list' %}?user={{user_obj.pk}}&status=done">See all</a></small></h3>
            {% endif %}
            {% include 'lib/foia_table.html' with requests=recent_completed %}
        {% endif %}
    {% else %}
        {% if request.user == user_obj %}
        <h3>You haven&rsquo;t filed any requests. <small><a href="{% url 'foia-create'%}">Create one now.</a></small></h3>
        {% else %}
        <h3>{{user_obj.first_name}} hasn&rsquo;t filed any requests.</h3>
        {% endif %}
    {% endif %}

    {% if user == user_obj and user_obj.profile.follows_foia.all %}
        <h3>Requests You Follow</h3>
        {% include 'lib/foia_table.html' with requests=user_obj.profile.follows_foia.all %}
    {% endif %}
    </section>
{% endblock activity %}

{% block scripts %}
{% if request.user == user_obj %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    $(document).ready(function() {
        $('.checkout-button').click(function(e){
            e.preventDefault();
            checkoutData = getCheckoutData($(this));
            checkout(
                "{{ stripe_pk }}",
                "{% static 'apple-touch-icon.png' %}",
                checkoutData.description,
                checkoutData.amount,
                checkoutData.email,
                checkoutData.label,
                checkoutData.form
            );
        });
    });
</script>
{% endif %}
{% endblock scripts %}
