{% extends 'base_profile.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}
{% block title %}MuckRock &bull; {{ agency.name }}{% endblock title %}
{% block type %}agency{% endblock type %}

{% block metadata %}
<aside class="metadata">
    <dfn>Agency</dfn>
    {% if agency.image %}
    <figure class="agency image">
        <img src="{% thumbnail agency.image 600x600 %}" class="header-image">
        {% if agency.image_attr_line %}
        <figcaption>{{ agency.image_attr_line | safe }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}
    <h1>{{agency.name}}</h1>
    <h2><a href="{{ agency.jurisdiction.get_absolute_url }}">{{ agency.jurisdiction }}</a></h2>
    {% include 'lib/request_stats.html' %}
    {% include 'lib/appeal_stats.html' %}
    <dl class="stats">

        <dt>Average Response Time</dt>
        {% with agency.average_response_time as average_response_time %}
        <dd>{{average_response_time}} day{{average_response_time|pluralize}}</dd>
        {% endwith %}

        <dt>Commonly Cited Exemptions</dt>
        {% with agency.exemptions as exemptions %}
        {% if exemptions %}
            {% for exmp in exemptions %}
        <dd>{{exmp.tags__name|capfirst}} <small>{{exmp.count}} time{{exmp.count|pluralize}}</small></dd>
            {% endfor %}
        {% else %}
        <dd>None</dd>
        {% endif %}
        {% endwith %}

        <dt>Mailing Address</dt>
        {% if agency.address %}
        <dd>{{ agency.address|linebreaks }}</dd>
        {% else %}
        <dd>Unknown</dd>
        {% endif %}

        <dt>E-mail Address</dt>
        {% if agency.email %}
            {% if request.user.profile.can_view_emails %}
        <dd>{{agency.email}}</dd>
            {% else %}
        <dd><a href="{% url 'accounts' %}">Available to Pro Users</a></dd>
            {% endif %}
        {% else %}
        <dd>Unknown</dd>
        {% endif %}

        <dt>Fax Number</dt>
        {% if agency.fax %}
        <dd>{{agency.fax}}</dd>
        {% else %}
        <dd>Unknown</dd>
        {% endif %}
    </dl>
</aside>
{% endblock metadata %}
{% block activity %}
<main class="activity">
    {% if user.is_authenticated %}
    {% include 'lib/flag_form.html' %}
    {% endif %}
    {% if agency.public_notes %}
    <section class="notes">
        {{ agency.public_notes|markdown:"trusted" }}
    </section>
    {% endif %}
    <h3>Recent Requests <small><a href="{% url 'foia-list' %}?agency={{ agency.pk }}">See All</a></small></h3>
    {% include 'lib/foia_table.html' with requests=foia_requests %}
</main>
{% endblock activity %}
