{% extends 'base_profile.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}
{% load humanize %}
{% block title %}MuckRock &bull; {{ jurisdiction.name }}{% endblock title %}
{% block type %}{% if jurisdiction.name == 'Georgia' %}georgia {% endif %}jurisdiction{% endblock type %}

{% block metadata %}
<aside class="metadata">
    {% if jurisdiction.image %}
    <figure class="jurisdiction image">
        <img src="{% thumbnail jurisdiction.image 600x600 %}" class="header-image">
        {% if jurisdiction.image_attr_line %}
        <figcaption>{{ jurisdiction.image_attr_line | safe }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}
    <h1>{{jurisdiction.name}}</h1>
    {% if jurisdiction.parent and jurisdiction.level != 'f' %}
    <h2><a href="{{ jurisdiction.parent.get_absolute_url }}">{{ jurisdiction.parent }}</a></h2>
    {% endif %}

    {% include 'lib/request_stats.html' %}
    {% include 'lib/appeal_stats.html' %}

    <dl class="stats">

        <dt>Allowed Response Time</dt>
        {% with jurisdiction.get_days as days %}
            {% if days %}
            <dd>{{days}} day{{days|pluralize}}</dd>
            {% else %}
            <dd>No limit</dd>
            {% endif %}
        {% endwith %}

        <dt>Average Response Time</dt>
        {% with jurisdiction.average_response_time as average_response_time %}
        <dd>{{ average_response_time }} day{{ average_response_time|pluralize }}</dd>
        {% endwith %}

        {% with jurisdiction.success_rate as success_rate %}
        {% if success_rate > 0 %}
        <dt>Success Rate</dt>
        <dd>{{ success_rate|floatformat:"2" }}%</dd>
        {% endif %}
        {% endwith %}

        {% with jurisdiction.average_fee as average_fee %}
        {% if average_fee > 0 %}
        <dt>Average Fee</dt>
        <dd>${{ average_fee|floatformat:"2" }}</dd>
        {% endif %}
        {% endwith %}

        {% if proxies %}
		<dt>Proxies</dt>
		{% for proxy in proxies %}
		<dd><a href="{{proxy.get_absolute_url}}">{{proxy.get_full_name}}</a></dd>
		{% endfor %}
		{% endif %}
    </dl>
</aside>
{% endblock metadata %}
{% block activity %}
<main class="activity">
    {% if user.is_authenticated %}
    {% include 'lib/flag_form.html' %}
    {% endif %}
    {% if jurisdiction.public_notes %}
    <section class="notes">
        {{ jurisdiction.public_notes|markdown:"trusted" }}
    </section>
    {% endif %}

    <h3>Recent Requests <small><a href="{% url 'foia-list' %}?jurisdiction={{ jurisdiction.pk }}">See All</a></small></h3>
    {% include 'lib/foia_table.html' with requests=foia_requests %}

    {% if agencies %}
    <h3>Top Agencies <small><a href="{% url 'agency-list' %}?jurisdiction={{ jurisdiction.pk }}">See All</a></small></h3>
    <table>
        <tr>
            <th width="50%">Agency</th>
            <th width="20%">Requests</th>
            <th width="30%">Pages Released</th>
        </tr>
        {% for agency in agencies %}
        <tr>
            <td><a href="{{agency.get_absolute_url}}">{{ agency.name }}</a></td>
            <td>{{ agency.foia_count|intcomma }}</td>
            <td>{% if agency.pages %}{{ agency.pages|intcomma }}{% else %}0{%endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No agencies have been documented for this jurisdiction.</h3>
    {% endif %}
    {% if localities %}
    <h3>Top Localities <small><a href="{% url 'jurisdiction-list' %}?parent={{ jurisdiction.pk }}">See All</a></small></h3>
    <table>
        <tr>
            <th width="50%">Jurisdiction</th>
            <th width="20%">Requests</th>
            <th width="30%">Pages Released</th>
        </tr>
        {% for locality in localities %}
        <tr>
            <td><a href="{{locality.get_absolute_url}}">{{ locality }}</a></td>
            <td>{{ locality.foia_count|intcomma }}</td>
            <td>{% if locality.pages %}{{ locality.pages|intcomma }}{% else %}0{%endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</main>
{% endblock activity %}
