{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}MuckRock &bull; New Crowdsource{% endblock %}

{% block content %}
  <div class="create crowdsource form">
    <header>
      <h1>Create a new crowdsource</h1>
    </header>
    <form method="post" enctype="multipart/form-data" class="create-crowdsource">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="failure errorlist">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      <div class="hidden-fields">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
      </div>
      <div class="visible-fields">
        {% with form.title as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
        {% with form.description as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
        {% with form.data_limit as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
        {% with form.multiple_per_page as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
        {% with form.user_limit as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
        <div class="field">
          <label>Form</label>
          <div id="build-wrap"></div>
        </div>
        <p>Adding data allows your form to be filled out once per data item.  A data item can be things like a document, tweet or video.  URLs which support oEmbed work best (such as Document Cloud, Twitter, or YouTube), but any valid URL should work.  You may add URLs individually using the form below, or add them all at once by uploading them in a CSV file.  The CSV file expects a column named URL which contains the URL for the item.  Any other columns will be saved as metadata with the data and shown with the results.</p>
        {% with form.doccloud_each_page as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
        {% with form.data_csv as field %} {% include 'lib/pattern/field.html' %} {% endwith %}
      </div>

      {{ data_formset.management_form }}
      {% for form in data_formset %}
        <div class="crowdsource-data">
          {% include 'lib/pattern/form.html' %}
        </div>
      {% endfor %}

      <p><a href="#" id="add-crowdsource-data">Add another...</a></p>
      <button type="submit" class="blue button">Submit</button>
    </form>
  </div>
{% endblock %}

