
{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block extrahead %}
{% endblock %}
{% block coltype %}flex{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Home</a>&nbsp;&rsaquo;&nbsp;{{page_title}}</div>{% endblock %}
{% block content %}
<div id="content-main">
	<h1>CSV Import</h1>
	<p>File should be a CSV file with no header line.  The fields in order are:</p>
	<ul>
		{% for field in fields %}
		<li>{{field}}</li>
		{% endfor %}
	</ul>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <section class="failure panel">
        {{ form.non_field_errors }}
        </section>
        {% endif %}
        <div class="hidden-fields">
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        </div>
        <div class="visible-fields">
        {% for field in form.visible_fields %}
            {{ field }}
        {% endfor %}
        </div>
        <input type="submit" name="submit" value="Import" class="primary button" />
    </form>

</div>
{% endblock %}
