{% if field.errors %}
<div class="error field">
{% else %}
<div class="image field">
{% endif %}
    <header>
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {% if field.errors %}
            {{field.errors}}
        {% endif %}
        {% if field.field.required %}
        <span class="required">Required</span>
        {% endif %}
    </header>
    {% if image %}
	<img src="{{ image.url }}" class="preview" />
    {% endif %}
    {{field}}
    <p class="help-text">{{field.help_text}}</p>
</div>
