{% extends 'foia/create/base_create.html' %}

{% block form %}

    <ul class="agencies">
    {% for field in form %}
        {% if field.label != "Other" %}
        <li>
            <label>{{ field.label }}</label>
            {{ field }}
            
        </li>
        {% endif %}        
    {% endfor %}
    </ul>
    
    <div class="other">
        <label>{{ form.other.label }}</label>
        {{ form.other }}
        <small>{{ form.other.help_text }}</small>
    </div>

{% endblock form %}