{% extends 'base.html' %}
{% load humanize %}
{% load mathfilters %}

{% block webpage %}
    {% include 'lib/sidebar.html' with hidden=1 %}
    {% with step=wizard.steps.step1 steps=wizard.steps.count %}
    <div class="container">
        {% include 'lib/header.html' %}
        <div class="create-request step-{{ step }}">
            <header>
                <h1>Create a Request</h1>
                <object class="progress-bar">
                    <span class="meter primary
                                {% if step == steps %} completed{% endif %}"
                          style="width: {{ step|div:steps|mul:100 }}%;">
                    </span>
                </object>
                <noscript>It looks like you have JavaScript disabled. While we designed the submission process to work without a running a single line of JavaScript, the process is much more enjoyable if you allow us to use some scripts for presentation. If you&rsquo;re skeptical, we would encourage you to read our Privacy Policy.</noscript>
            </header>
            {% if form.subject.errors %}
                <ol>
                {% for error in form.subject.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% block forms %}
                        {% for form in wizard.form.forms %}
                            {{ form }}
                        {% endfor %}
                    {% endblock forms %}
                {% else %}
                    {% block form %}
                        {{ wizard.form }}
                    {% endblock form %}
                {% endif %}
                
                <section class="controls">
                    {% if wizard.steps.prev %}
			        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button prev">Back</button>
			        {% endif %}
                    <input class="button primary next" type="submit" value="Next" />
                </section>
            </form>
        </div>
        {% include 'lib/footer.html' %}
    </div>
    {% endwith %}
{% endblock webpage %}

