{% extends 'base.html' %}
{% load humanize %}
{% load mathfilters %}

{% block webpage %}
    {% include 'lib/sidebar.html' with hidden=1 %}
    {% with step=wizard.steps.step1 steps=wizard.steps.count %}
    <div class="container">
        {% include 'lib/header.html' %}
        <div class="create-request step-{{ step }}">
            <header>
                <h1>Create a Request</h1>
                <object class="progress-bar">
                    <span class="meter primary
                                {% if step == steps %} completed{% endif %}"
                          style="width: {{ step|div:steps|mul:100 }}%;">
                        Step {{ step }} of {{ steps }}
                    </span>
                </object>
            </header>
            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% block forms %}
                        {% for form in wizard.form.forms %}
                            {{ form }}
                        {% endfor %}
                    {% endblock forms %}
                {% else %}
                    {% block form %}
                        {{ wizard.form }}
                    {% endblock form %}
                {% endif %}
                <button type="submit">Next</button>
            </form>
        </div>
        {% include 'lib/footer.html' %}
    </div>
    {% endwith %}
{% endblock webpage %}

