{% extends 'foia/create/base_create.html' %}
{% load mathfilters %}

{% block form %}
    {% with remaining=user.get_profile.num_requests requested=agency_names|length %}

    {% csrf_token %}
    <section class="step-confirm overview">
        <dfn>Summary</dfn>
    {% if requested > 0 %}
        <p>You will be sending <em>{{ title }}</em> to
        {% if requested > 1 %}
            {{ requested }} agencies:</p>
        <ul>
            {% for agency in agency_names %}
            <li>{{ agency }}</li>
            {% endfor %}
        </ul>
        {% else %}
            {{ agency_names|first }}.</p>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        <object class="panel">
        {% if not user.get_profile.num_requests %}
            <p>You have no requests and will need to purchase some before submitting.</p>
            <a href="{% url 'acct-buy-requests' %}?next={% url 'foia-submit' %}" class="button primary">Purchase Requests</a>
        {% else %}
            {% if remaining > requested %}
            <p>This request will use {{ requested }} of your {{ remaining }} remaining request{{ remaining|pluralize }}. After submitting, you will be left with a balance of {{ remaining|sub:requested }} request{{ remaining|sub:requested|pluralize }}.</p>
            {% else %}
            <p>You have {{ remaining }} remaining request{{ remaining|pluralize }}, but want to submit {{ request }} new request{{ request|pluralize }}. You will have to purchase {{ requested|sub:remaining|div:5 }} more bundle{{ requested|sub:remaining|div:5|pluralize }} before submitting.</p>
            {% endif %}
        {% endif %}
    {% else %}
        <object class="panel">
            <p>You must have a MuckRock account in order to submit this request.</p>
            <a href="{% url 'acct-register-free'%}?next={% url 'foia-submit' %}" class="button primary">Sign Up</a>
            <a href="{% url 'acct-login' %}?next={% url 'foia-submit' %}" class="button default">Log In</a>    
    {% endif %}
        </object>
    </section>
    
    <section class="step-confirm preview">
        <dfn>Preview</dfn>
        <div class="body">
            {% for paragraph in request_text %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            {% if user.is_authenticated %}
            <p>Sincerely,<br />{{ user.get_full_name }}</p>
            {% endif %}
        </div>
    </section>
    
    {% endwith %}
{% endblock form %}

    
{% block controls %}
<section class="controls">
    <input type="submit" name="submit" value="Submit" class="button primary" id="submit" {% if not user.get_profile.num_requests or requested > remaining or not user.is_authenticated %}disabled=disabled{% endif %} />
    <input type="submit" name="submit" value="Save Draft" class="button default" id="draft" {% if not user.is_authenticated %}disabled{% endif %} />
    <input type="submit" name="submit" value="Delete" class="button failure" id="delete" />
</section>
{% endblock controls %}