{% extends 'foia/create/base_create.html' %}

{% block form %}

    <h2>Summary</h2>
    {{ wizard.form.document }}
    
    {% if wizard.form.agency_names|length > 0 %}
        {% if wizard.form.agency_names|length > 1 %}
    <p>You will be sending <em>{{ wizard.form.title }}</em> to {{ wizard.form.agency_names|length }} agencies:</p>
    <ul>
        {% for agency in wizard.form.agency_names %}
        <li>{{ agency }}</li>
        {% endfor %}
    </ul>
        {% else %}
    <p>You will be requesting <em>{{ wizard.form.title }}</em> from {{ wizard.form.agency_names|first }}.</p>
        {% endif %}
    {% endif %}
    
    <div class="request sample">
        {% for paragraph in wizard.form.request_text %}
        <p>{{ paragraph }}</p>
        {% endfor %}
    </div>

{% endblock form %}