{% extends 'foia/create/base_create.html' %}

{% block form %}

    <section class="step-request introduction">
        <h2>Welcome to the Request Composer</h2>
        <p>This is the heart of MuckRock. This is where we make requesting documents as easy as cake (and the cake is not a lie!).</p>
    </section>
    <section class="step-request forms">
        <label>Title</label>
        {{ form.title }}
        <label>Document Request</label>
        <p class="context">This is a request under the Freedom of Information Act. I hereby request the following records:</p>
        {{ form.document }}
        <p class="context">I also request that, if appropriate, fees be waived as I believe this request is in the public interest.</p>
    </section>

{% endblock form %}