/* Lists */

.list {
  @include padding;
  .empty {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    min-height: 100%;
    color: $color-grey;
    font-weight: $bold;
    text-align: center;
  }
  .filter.form {
    @include border;
    background-color: $color-grey-7;
    .button-group {
      width: 100%;
    }
  }
  .list__toggle {
    display: none;
    width: 100%;
    text-align: center;
    padding: $vr/4 $vr/2;
    @include border;
    .icon {
        vertical-align: middle;
        @include svg-color($color-blue);
    }
    &:hover {
        color: $color-white;
        background: $color-blue;
        .icon {
            @include svg-color($color-white);
        }
    }
  }

  @media(max-width:48em) {
    .grid__column {
        margin-bottom: $vr/2;
    }
    .list__toggle {
        display: block;
        &.list__toggle--hide {
            display: none;
        }
        & ~ * {
            display: none;
        }
        &:target {
            display: none;
            &.list__toggle--hide {
                display: block;
            }
            & ~ * {
                display: block;
            }
        }
    }
    .button-group {
        width: 100%;
    }
  }
}

.list__sections li {
  @include border;
  border-bottom: 0;
  &:last-child {
    border-bottom: 1px solid $color-grey;
  }
}
.list__sections a {
  display: block;
  width: 100%;
  padding: $vr/4 $vr/2;
  font-weight: $bold;
  text-decoration: none;
  &:hover {
    background: $color-blue;
    color: $color-white;
  }
}
.list__sections .current-tab a {
  background: $color-blue;
  color: $color-white;
}
.list__sections .counter {
    min-width: 3em;
    display: inline-block;
    margin-right: $vr/4;
    text-align: center;
}

.list-table-checkbox {
  font-size: 1rem;
}

.list .badge {
  margin-right: $vr/4;
}
.list .project .badge {
  opacity: 1;
}

.news-list-article {
  margin-bottom: $vr;
}

.news-list-article .article__overview {
  padding-bottom: $vr;
  border-bottom: 1px solid $color-grey;
}
.news-list-article:last-child .article__overview {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

@import 'crowdfund';
@import 'search';
