/* Lists */

/*
**  .list
**    .list-head
**      .list-title
**      .list-actions
**    .list-navigation
**      .list-sections
**      .list-filters
**        .list-filters-buttons
**    .list-content
**      .list-table
**        .list-table-head
**        .list-table-body
**          .list-table-item
**    .list-empty
*/

.list {
  @include padding;
  .empty {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    min-height: 100%;
    color: $color-grey;
    font-weight: $bold;
    text-align: center;
  }
  .filter.form {
    @include border;
    background-color: $color-grey-7;
    .button-group {
      width: 100%;
    }
  }
  .list__toggle {
    display: none;
    width: 100%;
    text-align: center;
    @include padding;
    .icon {
        @include svg-color($color-blue);
    }
  }

  @media(max-width:48em) {
    .list__toggle {
        display: block;
        &.list__toggle--hide {
            display: none;
        }
        & ~ * {
            display: none;
        }
        &:target {
            display: none;
            &.list__toggle--hide {
                display: block;
            }
            & ~ * {
                display: block;
            }
        }
    }
    .list__sections li {
        display: none;
        &.current-tab {
            display: block;
        }
    }
    .list__sections:hover li {
        display: block;
    }
    .list__sections .current-tab a::after {
        content: "\25BC";
        float: right;
    }
  }
}

.list__sections li {
  @include border;
  border-bottom: 0;
  &:last-child {
    border-bottom: 1px solid $color-grey;
  }
}
.list__sections a {
  display: block;
  width: 100%;
  padding: $vr/4 $vr/2;
  font-weight: $bold;
  text-decoration: none;
  &:hover {
    background: $color-blue;
    color: $color-white;
  }
}
.list__sections .current-tab a {
  background: $color-blue;
  color: $color-white;
}
.list__sections .counter {
    min-width: 3em;
    display: inline-block;
    margin-right: $vr/4;
    text-align: center;
}

.list-table-checkbox {
  font-size: 1rem;
}

.list .badge {
  margin-right: $vr/4;
}
.list .project .badge {
  opacity: 1;
}

.news-list-article .article__overview {
  margin-bottom: $vr;
  padding-bottom: $vr;
  border-bottom: 1px solid $color-grey;
}
.news-list-article:last-child .article__overview {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

/*
    .list-navigation {
        .list-head .list-title {
            @extend h1;
        }
        .list-sections {
            margin-bottom: $vr/2;
            & ul {
                display: table;
                width: 100%;
                border-collapse: collapse;
            }
            & li {
                display: table-row;
                border: $border $color-grey;
                padding-left: $vr;
                text-align: left;
                vertical-align: middle;
                line-height: 1em;
                .counter {
                    display: table-cell;
                    width: 25%;
                    background: none;
                }
                a {
                    display: table-cell;
                    padding: $vr/2;
                    border-left: $border $color-grey;
                    &:hover {
                        text-decoration: none;
                        background: $color-grey-7;
                    }
                }
                &.current-tab {
                    border-left: $border $color-blue;
                    border-right: $border $color-blue;
                    background: $color-blue;
                    .counter {
                        background: $color-white;
                        color: $color-blue;
                    }
                    a {
                        color: $color-white;
                        border-color: $color-blue;
                        &:hover {
                            background: $color-blue;
                        }
                    }
                }
            }
        }
        .list-filters {
            background: $color-odd-background;
            margin-bottom: $vr/2;
            @include border;
            padding: $vr/2;
            & select, & input[type=text] {
                width: 100%;
                margin-top: $vr/2;
                border-radius: 0;
            }
            .autocomplete-light-widget {
                display: block;
                .choice {
                    margin-top: $vr/2;
                }
            }
        }
        .button-group {
            width: 100%;
            .button {
                width: 50%;
            }
        }
        #list-filters-toggle-label, #list-filters-toggle {
            display: none;
        }
        @include media($small-bp) {
            .list-filters-fields, .list-filters-buttons {
                display: none;
            }
            .list-filters {
                overflow: hidden;
                dfn {
                    float: left;
                }
            }
            #list-filters-toggle-label {
                float: right;
                display: inline-block;
                padding: .1em $vr/2;
                border-radius: $border-radius;
                background: $color-black;
                color: $color-white;
                font-size: .9em;
            }
            #list-filters-toggle:checked {
                & ~ .list-filters-fields, & ~ .list-filters-buttons {
                    display: block;
                }
            }
        }

    }
    .list-content {
        font-size: .9em;
    }
    .list-actions {
        width: 100%;
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);
        & > * {
            margin-bottom: 0;
        }
        &:empty {
            display: none;
        }
    }
    .list-table {
        @include row;
        display: table;
        border: $border $color-grey;
        border-bottom: none;
        border-radius: $border-radius;
        border-collapse: collapse;
        thead {
            display: table-header-group;
        }
        tbody {
            display: table-row-group;
            @include media($medium-bp) {
                border-bottom: $border $color-grey;
            }
        }
        tr {
            display: table-row;
        }
        th, td {
            display: table-cell;
        }
    }
    .list-table-head, .list-table-body {
        display: table-row;
        width: 100%;
    }
    .list-table-head tr {
        display: table-row;
        background: $color-white;
        border: none;
    }
    .list-table-head .sortable {
        cursor: pointer;
        &:hover {
            background: $color-grey-7;
        }
        .arrow {
            font-size: .8em;
            margin-right: $vr/2;
        }
    }
    .list-table-body tr:hover {
        // background: $color-grey-7;
    }
    .list-table-body tr.unread {
        background: lighten($color-blue, 35%);
    }
    .list-empty {
        @extend h2;
        height: 100%;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        color: $color-grey;
        padding: $vr;
    }

    // Makes tables responsive
    @include media($small-bp) {
        .list-table {
            display: block;
            border: none;
            border-radius: 0;
            tr {
                position: relative;
                display: block;
                width: 100%;
                margin: $vr/2 0;
                padding: $vr/2 0;
                border: $border $color-grey;
            }
            th, td {
                display: block;
                width: 100%;
                text-align: left;
                line-height: 1em;
            }
            thead, tbody {
                display: block;
                margin: $vr/2 0;
            }
            .list-table-checkbox {
                width: auto;
                position: absolute;
                top: $vr/2;
                left: $vr/2;
                margin-left: 0;
            }
        }
    }
}
*/

@import 'crowdfund';
@import 'search';
