{% load thumbnail %}
<div class="project manager">
    <header>
        <dfn>Projects</dfn>
        <span class="edit">Edit</span>
    </header>
    {# Active state #}
    <form action="{{endpoint}}" method="post">
        {% csrf_token %}
        {{form.projects}}
        <footer>
            <button type="submit" name="action" value="project">Save</button>
            <span class="cancel button">Cancel</span>
        </footer>
    </form>
    {# Inactive state #}
    {% for project in projects %}
    <div class="project-item">
        <a href="{{project.get_absolute_url}}" title="{{project.title}}">
            <h4 class="project-info title">{{project.title}}</h4>
        {% if project.image %}
            <img src="{% thumbnail project.image 600x600 %}" class="project-image"/>
        {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
