{% load thumbnail %}
{% if projects or authorized %}
<div class="project manager">
    <header>
        <dfn>Projects</dfn>
        {% if authorized %}
        <span class="small action">Edit</span>
        {% endif %}
    </header>
    {# Active state #}
    {% if authorized %}
    <form action="{{endpoint}}" method="post">
        {% csrf_token %}
        {{form.projects}}
        <footer>
            <button class="primary button" type="submit" name="action" value="projects">Save</button>
            <span class="cancel button">Cancel</span>
        </footer>
    </form>
    {% endif %}
    {# Inactive state #}
    <div class="project state">
        {% for project in projects %}
        <div class="project-item">
            <a href="{{project.get_absolute_url}}" title="{{project.title}}">
                <h4 class="project-info title">{{project.title}}</h4>
            {% if project.image %}
                <img src="{% thumbnail project.image 600x600 %}" class="project-image" alt="{{project.title}}"/>
            {% endif %}
            </a>
        </div>
        {% empty %}
        <p>No projects.</p>
        {% endfor %}
    </div>
</div>
{% endif %}
