{% extends 'message/base.html' %}

{% block body %}
    {% block receipt %}
<div class="receipt">
    <div class="purchase-data">
        {% if charge.name %}<p>{{charge.name}}</p>{% endif %}
        <p>{{charge.date|date:"m/d/Y"}}</p>
        <p>Order {{charge.id}}</p>
        {% if charge.card %}
        <p>{{charge.card}} **** **** **** {{charge.last4}}</p>
        {% endif %}
    </div>
    <table class="line-items">
    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.formatted_price}}</td>
        </tr>
    {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td>${{total|floatformat:2}}</td>
        </tr>
    </table>
</div>
    {% endblock %}
<div>
    <p>{% if user %}Hi {{ user.profile.full_name }},{% elif charge.name %}Hi {{charge.name}},{% else %}Hi,{% endif %}</p>
    {% block description %}
    <p>This email confirms your payment to MuckRock.</p>
    {% endblock %}
    <p>For concerns or more information about this charge, please contact {{ settings.DEFAULT_FROM_EMAIL }} or call 1-857-488-3081.</p>
    <p>Thank you,<br/>The MuckRock Team</p>
</div>
{% endblock %}
