<div class="stats">
  <div class="stat">
    <header class="overline">Responsiveness</header>
    <main>
      <dl>
        <dt>Average</dt>
        <dd class="dotted-line"></dd>
        {% with agency.average_response_time as average_response_time %}
        <dd>{{average_response_time}} day{{average_response_time|pluralize}}</dd>
        {% endwith %}
      </dl>
      {% include 'lib/component/grade.html' with grade=grades.rel_response_time.grade text=grades.rel_response_time.text %}

      <dl>
        <dt>By Law</dt>
        <dd class="dotted-line"></dd>
        {% with agency.jurisdiction.days as days %}
          {% if days %}
            <dd>{{days}} day{{days|pluralize}}</dd>
          {% else %}
            <dd>Unlimited</dd>
          {% endif %}
        {% endwith %}
      </dl>
    <div class="grade" style="display: block">
      See
      <a href="{{ agency.jurisdiction.legal.get_absolute_url }}">
        {{ agency.jurisdiction.legal.name }}
      </a> for more detail about what the law in this jurisdiction says about
      response times
    </div>
    </main>
  </div>
  <div class="stat">
    <header class="overline">Results</header>
    <main>
    {% with agency.success_rate as success_rate %}
    <dl>
      <dt>Success Rate</dt>
      <dd class="dotted-line"></dd>
      <dd>{{ success_rate|floatformat:"2" }}%</dd>
    </dl>
    {% include 'lib/component/grade.html' with grade=grades.success_rate.grade text=grades.success_rate.text %}
    {% endwith %}

    {% with agency.average_fee as average_fee %}
    {%  if average_fee > 0 %}
    <dl class="fee-rate">
      <dt>Fee Rate</dt>
      <dd class="dotted-line"></dd>
      <dd>{{ agency.fee_rate|floatformat:"2" }}%</dd>
    </dl>
    {% include 'lib/component/grade.html' with grade=grades.fee_rate.grade text=grades.fee_rate.text %}
    <dl class="fee-average">
      <dt>Fee Average</dt>
      <dd class="dotted-line"></dd>
      <dd><dd>${{ average_fee|floatformat:"2" }}</dd>
    </dl>
    {% include 'lib/component/grade.html' with grade=grades.fee_average.grade text=grades.fee_average.text %}
    {% endif %}
    {% endwith %}
  </div>
</div>
